# Scrapping Buy Properties data

In [ ]:
import selenium
import pandas as pd

In [160]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import csv

In [161]:
#opening the naukari page on automated chrome browser
driver=webdriver.Chrome()
driver.get('https://www.redfin.com/')
driver.maximize_window()

In [162]:
from selenium import webdriver

In [163]:
buy=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/header[2]/div[2]/div[1]")
buy.click()

In [65]:
chicago=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div[2]/div/div[1]/div[3]/div[2]/a")
chicago.click()

In [91]:
table=driver.find_element(By.XPATH,"/html/body/div[1]/div[8]/div[1]/div[2]/div[1]/div[2]/div/div/div/div[2]/div[2]/ul/li[2]/span")
table.click()

In [66]:
address_name=[]
location_name=[]
price_name=[]
beds_name=[]
baths_name=[]
sqft_name=[]
ppsqft_name=[]
balcony_name=[]
propertytype_name=[]

In [67]:
address_name

[]

In [32]:
baths_name.clear()
sqft_name.clear()
address_name.clear()
price_name.clear()
beds_name.clear()
baths_name.clear()
address_name.clear()

In [ ]:
Chicago------------

In [6]:
start=0
end=2
for page in range(start,end):
    price_tag = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in price_tag:
        price_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

NameError: name 'price_name' is not defined

In [68]:
len(price_name)

80

In [76]:
price_name

['$459,000',
 '$1,149,000',
 '$469,999',
 '$385,000',
 '$250,000',
 '$229,900',
 '$335,000',
 '$375,000',
 '$375,000',
 '$950,000',
 '$220,000',
 '$215,000',
 '$739,000',
 '$319,900',
 '$369,900',
 '$175,000',
 '$235,000',
 '$995,000',
 '$269,000',
 '$399,900',
 '$790,000',
 '$230,000',
 '$2,599,000',
 '$379,999',
 '$340,000',
 '$299,999',
 '$790,000',
 '$600,000',
 '$239,900',
 '$360,000',
 '$325,000',
 '$705,000',
 '$360,000',
 '$479,000',
 '$199,000',
 '$280,000',
 '$310,000',
 '$300,000',
 '$379,000',
 '$140,000',
 '$328,900',
 '$449,900',
 '$229,999',
 '$389,900',
 '$129,000',
 '$369,900',
 '$805,000',
 '$380,000',
 '$674,800',
 '$180,000',
 '$250,000',
 '$429,900',
 '$400,000',
 '$319,900',
 '$699,000',
 '$325,000',
 '$225,000',
 '$24,000',
 '$379,900',
 '$430,000',
 '$375,000',
 '$249,900',
 '$284,999',
 '$219,900',
 '$129,000',
 '$649,770',
 '$1,200,000',
 '$1,300,000',
 '$100,000',
 '$490,000',
 '$695,000',
 '$399,900',
 '$124,900',
 '$589,000',
 '$349,700',
 '$405,000',
 '$420,000',
 '$550,000',
 '$200,000',
 '$699,000']

In [18]:
# scrapping beds
beds_tag=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
for i in beds_tag:
    beds=(i.text)
    beds_name.append(beds)

In [77]:
start=0
end=2
for page in range(start,end):
    beds_tag = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag:
        beds_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [78]:
beds_name

['2 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '5 beds',
 '7 beds',
 '5 beds',
 '5 beds',
 '5 beds',
 '3 beds',
 '6 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '6 beds',
 '2 beds',
 '2 beds',
 '5 beds',
 '4 beds',
 '5 beds',
 '2 beds',
 '6 beds',
 '4 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '3 beds',
 '5 beds',
 '1 bed',
 '5 beds',
 '2 beds',
 '4 beds',
 '5 beds',
 '7 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '5 beds',
 '4 beds',
 '1 bed',
 '4 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '1 bed',
 '4 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '9 beds',
 '6 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '8 beds',
 '6 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '8 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '4 beds',
 '4 beds',
 '5 beds',
 '2 beds']

In [79]:
len(beds_name)

80

In [80]:
start=0
end=2
for page in range(start,end):
    baths_tag = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in baths_tag:
        baths_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [81]:
len(baths_name)

80

In [23]:
baths_name

['2.5 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '5 baths',
 '3.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '3 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '1.5 baths',
 '3 baths',
 '3 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '3.5 baths',
 '1 bath',
 '2 baths',
 '3 baths',
 '2.5 baths']

In [69]:
# scrapping sqft
start=0
end=2
for page in range(start,end):
    sqft_tag = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__LockedStat--value"]')
    for i in sqft_tag:
        sqft_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [83]:
sqft_name

['1,914',
 '3,720',
 '1,330',
 '6,250',
 '3,900',
 '2,905',
 '4,000',
 '3,000',
 '4,500',
 '3,779',
 '—',
 '3,484',
 '—',
 '1,550',
 '—',
 '3,750',
 '—',
 '2,613',
 '957',
 '—',
 '6,250',
 '1,800',
 '3,075',
 '625',
 '1,700',
 '4,125',
 '—',
 '1,103',
 '3,639',
 '5,000',
 '2,070',
 '1,300',
 '1,644',
 '—',
 '3,049',
 '—',
 '3,049',
 '1,900',
 '3,750',
 '750',
 '600',
 '1,667',
 '1,000',
 '1,550',
 '—',
 '2,200',
 '1,375',
 '800',
 '1,200',
 '—',
 '1,800',
 '728',
 '4,230',
 '8,276',
 '650',
 '3,900',
 '850',
 '2,000',
 '2,216',
 '7,405',
 '3,700',
 '9,104',
 '1,212',
 '4,791',
 '600',
 '3,598',
 '4,312',
 '1,240',
 '800',
 '1,500',
 '3,300',
 '—',
 '8,000',
 '2,574',
 '1,546',
 '3,920',
 '730',
 '1,986',
 '3,750',
 '3,500',
 '1,200',
 '4,000',
 '1,150',
 '1,150',
 '2,005',
 '1,400',
 '—',
 '4,791',
 '—',
 '700',
 '1,417',
 '—',
 '1,241',
 '2,757',
 '2,995',
 '1,150',
 '720',
 '3,200',
 '3,738',
 '1,464',
 '—',
 '1,248',
 '—',
 '3,049',
 '1,290',
 '—',
 '3,000']

In [133]:
del sqft_name[80]

In [134]:
len(sqft_name)

80

In [119]:
# scrapping address
start=0
end=2
for page in range(start,end):
    address_tag = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag:
        address_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [120]:
 address_name

['',
 '',
 '5349 W Grace St, Chicago, IL 60641',
 '835 N Wood St Unit 102-202, Chicago, IL 60622',
 '1732 W 19th St #2, Chicago, IL 60608',
 '3110 W Berteau Ave #1, Chicago, IL 60618',
 '802 Dobson St #1, Evanston, IL 60202',
 '700 E 51st St Unit 2W, Chicago, IL 60615',
 '2624 W 83rd St, Chicago, IL 60652',
 '1111 S Wabash Ave #2501, Chicago, IL 60605',
 '7910 S Greenwood Ave, Chicago, IL 60619',
 '3915 N Monticello Ave, Chicago, IL 60618',
 '1000 E 53rd St Unit 519S, Chicago, IL 60615',
 '2909 N Sheridan Rd #1607, Chicago, IL 60657',
 '1322 S Wabash Ave Ph 6, Chicago, IL 60605',
 '2057 W Fargo Ave #1, Chicago, IL 60645',
 '2908 N Halsted St #1, Chicago, IL 60657',
 '2421 W Fitch Ave #2, Chicago, IL 60645',
 '1210 W 109th St, Chicago, IL 60643',
 '3111 N Lincoln Ave, Chicago, IL 60657',
 '832 W Oakdale Ave Unit 1G, Chicago, IL 60657',
 '565 W Quincy St #1508, Chicago, IL 60661',
 '2130 W Farragut Ave, Chicago, IL 60625',
 '1360 N Sandburg Ter #1103, Chicago, IL 60610',
 '340 E Randolph St #4606, Chicago, IL 60601',
 '1024 N Humphrey Ave, Oak Park, IL 60302',
 '1347 W Eddy St #402, Chicago, IL 60657',
 '1125 Peterson Ave Unit D, Park Ridge, IL 60068',
 '1612 W Pierce Ave Unit B, Chicago, IL 60622',
 '1819 N Saint Louis Ave Unit 2RN, Chicago, IL 60647',
 '8020 S Manistee Ave, Chicago, IL 60617',
 '2580 W Lyndale St #2, Chicago, IL 60647',
 '3950 N Lake Shore Dr #2310, Chicago, IL 60613',
 '1720 N La Salle Dr #1, Chicago, IL 60614',
 '2530 N Newcastle Ave, Chicago, IL 60707',
 '5124 W George St, Chicago, IL 60641',
 '5646 S Loomis Blvd, Chicago, IL 60636',
 '72 E 136th St, Riverdale, IL 60827',
 '6 N Michigan Ave #606, Chicago, IL 60602',
 '2272 S Archer Ave Unit 5E, Chicago, IL 60616',
 '3607 S Ellis Ave, Chicago, IL 60653',
 '1791 W Howard St #204, Chicago, IL 60626',
 '',
 '3534 W 77th St, Chicago, IL 60652',
 '1512 S Saint Louis Ave, Chicago, IL 60623',
 '6120 S Marshfield Ave, Chicago, IL 60636',
 '7214 S Saint Lawrence Ave, Chicago, IL 60619',
 '6807 S May St, Chicago, IL 60621',
 '1560 N Sandburg Ter Unit 2907J, Chicago, IL 60610',
 '1211 S Prairie Ave #1705, Chicago, IL 60605',
 '4225 S Michigan Ave, Chicago, IL 60653',
 '6209 S Ellis Ave Unit C, Chicago, IL 60637',
 '1226 E 54th St Unit 1W, Chicago, IL 60615',
 '2053 N Natchez Ave, Chicago, IL 60707',
 '1351 W Granville Ave #301, Chicago, IL 60660',
 '900 N Kingsbury St #726, Chicago, IL 60610',
 '7756 S Spaulding Ave, Chicago, IL 60652',
 '505 N Mcclurg Ct #2802, Chicago, IL 60611',
 '10735 S Campbell Ave, Chicago, IL 60655',
 '1831 S Avers Ave, Chicago, IL 60623',
 '235 W Van Buren St Unit P-87, Chicago, IL 60607',
 '2263 W 109th St, Chicago, IL 60643',
 '3442 N Page Ave, Chicago, IL 60634',
 '7025 W 63rd St, Chicago, IL 60638',
 '1642 W 44th St, Chicago, IL 60609',
 '10757 S Peoria St, Chicago, IL 60643',
 '1526 S Christiana Ave, Chicago, IL 60623',
 '530 W 104th St, Chicago, IL 60628',
 '2819 W Sherwin Ave, Chicago, IL 60645',
 '1525 N Bosworth Ave Unit 1N, Chicago, IL 60642',
 '1329 E Madison Park, Chicago, IL 60615',
 '8841 S Elizabeth St, Chicago, IL 60620',
 '1629 S Prairie Ave #1904, Chicago, IL 60616',
 '3454 N Natoma Ave, Chicago, IL 60634',
 '5249 S Kilpatrick Ave, Chicago, IL 60632',
 '7120 S Vernon Ave, Chicago, IL 60619',
 '2904 N Francisco Ave, Chicago, IL 60618',
 '6816 S Komensky Ave, Chicago, IL 60629',
 '2001 S Calumet Ave #305, Chicago, IL 60616',
 '5220 W Patterson Ave, Chicago, IL 60641',
 '2620 N Clybourn Ave N #101, Chicago, IL 60614',
 '161 N Lorel Ave, Chicago, IL 60644',
 '430 W Armitage Ave Unit F, Chicago, IL 60614']

In [117]:
del address_name[0:-1]

In [139]:
ppsqft_name.pop(80)

'$226'

In [140]:
len(ppsqft_name)

80

In [93]:
# scrapping ppsqft
start=0
end=2
for page in range(start,end):
    ppsqft_tag = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag:
        ppsqft_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [94]:
len(ppsqft_name)

82

In [96]:
ppsqft_name

['—',
 '$239',
 '$339',
 '$84',
 '$268',
 '$167',
 '$266',
 '$433',
 '$102',
 '$197',
 '—',
 '$280',
 '$152',
 '—',
 '$397',
 '—',
 '$230',
 '$1,110',
 '$361',
 '—',
 '$227',
 '$438',
 '$85',
 '$229',
 '—',
 '$394',
 '—',
 '$150',
 '—',
 '—',
 '$388',
 '$712',
 '$287',
 '$410',
 '$119',
 '$254',
 '$269',
 '$326',
 '—',
 '—',
 '$288',
 '$447',
 '—',
 '—',
 '$277',
 '$204',
 '$196',
 '$159',
 '$294',
 '$177',
 '—',
 '$405',
 '$892',
 '$344',
 '$292',
 '$314',
 '—',
 '—',
 '$283',
 '$175',
 '—',
 '—',
 '$225',
 '$238',
 '—',
 '—',
 '$415',
 '$233',
 '$514',
 '$859',
 '$261',
 '—',
 '—',
 '—',
 '$302',
 '$466',
 '$186',
 '$183',
 '—',
 '$113',
 '$226',
 '$288']

In [ ]:
# scrapping balcony
start=0
end=2
for page in range(start,end):
    balcony_tag = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in balcony_tag:
        balcony_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [141]:
print(len(address_name),len(price_name),len(beds_name),len(baths_name),len(sqft_name),len(ppsqft_name))

80 80 80 80 80 80

In [ ]:
# scrapping property type
start=0
end=2
for page in range(start,end):
    property_tag = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in property_tag:
        property_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [148]:
import pandas as pd
df=pd.DataFrame({'Address':address_name,'Price':price_name,'Beds':beds_name,'Baths':baths_name,'Total sqft':sqft_name,'Price per sqft':ppsqft_name})
df

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,"$459,000",2 beds,2 baths,"1,914",—
1,,"$1,149,000",3 beds,2 baths,"3,720",$239
2,"5349 W Grace St, Chicago, IL 60641","$469,999",2 beds,4 baths,"1,330",$339
3,"835 N Wood St Unit 102-202, Chicago, IL 60622","$385,000",3 beds,2 baths,"6,250",$84
4,"1732 W 19th St #2, Chicago, IL 60608","$250,000",2 beds,2 baths,"3,900",$268
...,...,...,...,...,...,...
75,"7120 S Vernon Ave, Chicago, IL 60619","$405,000",4 beds,2 baths,"3,920",$466
76,"2904 N Francisco Ave, Chicago, IL 60618","$420,000",4 beds,2 baths,730,$186
77,"6816 S Komensky Ave, Chicago, IL 60629","$550,000",4 beds,3 baths,"1,986",$183
78,"2001 S Calumet Ave #305, Chicago, IL 60616","$200,000",5 beds,2 baths,"3,750",—
79,"5220 W Patterson Ave, Chicago, IL 60641","$699,000",2 beds,3.5 baths,"3,500",$113

In [155]:
df

,Srno,Address,Price,Beds,Baths,Total sqft,Price per sqft,Property Type,Balcony
0,0,"5341 W Grace St, Chicago, IL 60641","$459,000",2 beds,2 baths,"1,914",$250,Home,1
1,1,"825 N Wood St Unit 102-202, Chicago, IL 60622","$1,149,000",3 beds,2 baths,"3,720",$239,Home,1
2,2,"5349 W Grace St, Chicago, IL 60641","$469,999",2 beds,4 baths,"1,330",$339,Home,1
3,3,"835 N Wood St Unit 102-202, Chicago, IL 60622","$385,000",3 beds,2 baths,"6,250",$84,Home,1
4,4,"1732 W 19th St #2, Chicago, IL 60608","$250,000",2 beds,2 baths,"3,900",$268,Home,1
...,...,...,...,...,...,...,...,...,...
75,75,"7120 S Vernon Ave, Chicago, IL 60619","$405,000",4 beds,2 baths,"3,920",$466,Home,1
76,76,"2904 N Francisco Ave, Chicago, IL 60618","$420,000",4 beds,2 baths,730,$186,Home,1
77,77,"6816 S Komensky Ave, Chicago, IL 60629","$550,000",4 beds,3 baths,"1,986",$183,Home,1
78,78,"2001 S Calumet Ave #305, Chicago, IL 60616","$200,000",5 beds,2 baths,"3,500",$113,Home,1
79,79,"5220 W Patterson Ave, Chicago, IL 60641","$699,000",2 beds,3.5 baths,"3,500",$113,Home,1

In [ ]:
--------------Seattle, WA homes------------

In [163]:
seattle=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div[2]/div/div[1]/div[5]/div[2]/a")
seattle.click()

In [164]:
address_name1=[]
location_name1=[]
price_name1=[]
beds_name1=[]
baths_name1=[]
sqft_name1=[]
ppsqft_name1=[]

In [171]:
del next_button

In [172]:
price_name1=[]

In [173]:
# scrapping price type
start=0
end=2
for page in range(start,end):
    price_tag1 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag1:
        price_name1.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [167]:
price_name1

['$535,000',
 '$850,000',
 '$780,000',
 '$425,000',
 '$488,500',
 '$985,000',
 '$299,950',
 '$899,999',
 '$999,995',
 '$675,000',
 '$870,000',
 '$399,000',
 '$489,999',
 '$500,000',
 '$1,275,000',
 '$674,000',
 '$985,000',
 '$470,000',
 '$1,295,000',
 '$2,550,000',
 '$399,000',
 '$724,900',
 '$695,000',
 '$549,950',
 '$1,995,000',
 '$559,950',
 '$985,000',
 '$975,000',
 '$649,000',
 '$699,950',
 '$2,150,000',
 '$969,000',
 '$274,000',
 '$612,000',
 '$1,300,000',
 '$712,500',
 '$1,595,000',
 '$669,000',
 '$870,000',
 '$540,000',
 '$535,000',
 '$850,000',
 '$780,000',
 '$425,000',
 '$488,500',
 '$985,000',
 '$299,950',
 '$899,999',
 '$999,995',
 '$675,000',
 '$870,000',
 '$399,000',
 '$489,999',
 '$500,000',
 '$1,275,000',
 '$674,000',
 '$985,000',
 '$470,000',
 '$1,295,000',
 '$2,550,000',
 '$399,000',
 '$724,900',
 '$695,000',
 '$549,950',
 '$1,995,000',
 '$559,950',
 '$985,000',
 '$975,000',
 '$649,000',
 '$699,950',
 '$2,150,000',
 '$969,000',
 '$274,000',
 '$612,000',
 '$1,300,000',
 '$712,500',
 '$1,595,000',
 '$669,000',
 '$870,000',
 '$540,000',
 '$325,000',
 '$1,399,950',
 '$579,900',
 '$610,000',
 '$669,000',
 '$878,500',
 '$649,880',
 '$975,000',
 '$1,399,000',
 '$2,870,000',
 '$1,795,000',
 '$1,139,950',
 '$3,498,000',
 '$399,900',
 '$580,000',
 '$2,800,000',
 '$3,350,000',
 '$685,000',
 '$825,000',
 '$550,000',
 '$719,000',
 '$500,000',
 '$1,399,000',
 '$1,124,900',
 '$495,000',
 '$895,000',
 '$755,000',
 '$1,350,000',
 '$864,950',
 '$1,675,000',
 '$1,175,000',
 '$665,000',
 '$1,899,000',
 '$1,150,000',
 '$1,099,999',
 '$2,225,000',
 '$1,190,000',
 '$990,000',
 '$330,000',
 '$474,500']

In [174]:
len(price_name1)

80

In [175]:
# scrapping beds
start=0
end=2
for page in range(start,end):
    beds_tag1 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag1:
        beds_name1.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [129]:
beds_name1

['3 beds',
 '1 bed',
 '4 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '4 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '4 beds',
 '4 beds',
 '2 beds',
 '1 bed',
 '5 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '5 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '3 beds',
 '5 beds',
 '3 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '5 beds']

In [176]:
len(beds_name1)

80

In [177]:
# scrapping baths
start=0
end=2
for page in range(start,end):
    baths_tag1=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag1:
        baths_name1.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [132]:
baths_name1

['2.5 baths',
 '1 bath',
 '2.5 baths',
 '3.5 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '3 baths',
 '1 bath',
 '2 baths',
 '3.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '4 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '3.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '3.5 baths',
 '3 baths',
 '3 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '3 baths',
 '3.5 baths']

In [178]:
len(baths_name1)

80

In [185]:
sqft_name1=[]
# scrapping sqft
start=0
end=2
for page in range(start,end):
    sqft_tag1=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__LockedStat--value"]')
    for i in sqft_tag1:
        sqft_name1.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [187]:
sqft_name1

['889',
 '1,225',
 '1,470',
 '958',
 '729',
 '643',
 '1,980',
 '1,873',
 '383',
 '1,760',
 '3,028',
 '2,360',
 '3,062',
 '1,350',
 '5,120',
 '1,540',
 '4,250',
 '904',
 '740',
 '795',
 '2,780',
 '8,400',
 '800',
 '5,250',
 '1,950',
 '8,300',
 '854',
 '2,830',
 '4,000',
 '3,790',
 '5,100',
 '716',
 '1,182',
 '907',
 '1,090',
 '928',
 '1,141',
 '3,071',
 '3,751',
 '925',
 '458',
 '1,208',
 '2,510',
 '3,880',
 '832',
 '4,898',
 '1,220',
 '824',
 '3,680',
 '5,100',
 '1,510',
 '2,386',
 '446',
 '1,620',
 '6,600',
 '2,669',
 '3,000',
 '1,742',
 '6,138',
 '1,588',
 '3,840',
 '1,400',
 '1,000',
 '1,760',
 '4,141',
 '888',
 '1,040',
 '1,848',
 '1',
 '1,080',
 '726',
 '654',
 '1,475',
 '760',
 '1,221',
 '6,038',
 '1,285',
 '1,900',
 '6,120',
 '3,630',
 '4,009',
 '3,930',
 '6,000',
 '2,766',
 '4,205',
 '1,504',
 '1,306',
 '4,002',
 '5,986',
 '795',
 '1,440',
 '1,279',
 '2,237',
 '2,168',
 '1,080',
 '4,836',
 '2,020',
 '0.23',
 '1,260',
 '850',
 '1,430',
 '846',
 '1,415',
 '2,560',
 '4,080',
 '3,007',
 '2,800',
 '774',
 '1,810',
 '6,144',
 '1,370',
 '1,640',
 '3,060',
 '0.28',
 '1,560',
 '881',
 '2,400',
 '2,880',
 '2,140',
 '4,080',
 '1,050',
 '2,100',
 '2,874',
 '2,490',
 '9,842',
 '1,923',
 '1,676',
 '3,200',
 '7,090',
 '2,510',
 '4,033',
 '1,570',
 '917',
 '545',
 '643']

In [186]:
len(sqft_name1)

135

In [182]:
del sqft_tag1

In [195]:
ppsqft_name1=[]

In [196]:

# scrapping price per ppsqft
start=0
end=2
for page in range(start,end):
    ppsqft_tag1=driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag1:
        ppsqft_name1.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [197]:
ppsqft_name1

['$602',
 '$694',
 '$531',
 '$583',
 '$760',
 '$497',
 '$783',
 '$511',
 '$424',
 '$500',
 '$565',
 '$441',
 '$662',
 '$629',
 '$459',
 '$843',
 '$505',
 '$550',
 '$458',
 '$673',
 '$557',
 '$613',
 '$638',
 '$482',
 '$650',
 '$605',
 '$815',
 '$388',
 '$780',
 '$574',
 '$584',
 '$642',
 '$614',
 '$378',
 '$487',
 '$409',
 '$1,004',
 '$478',
 '$494',
 '$608',
 '$573',
 '$313',
 '$758',
 '$537',
 '$933',
 '$454',
 '$719',
 '$506',
 '$513',
 '$385',
 '$730',
 '$649',
 '$758',
 '$874',
 '$503',
 '$403',
 '$1,252',
 '$1,545',
 '$634',
 '$408',
 '$437',
 '$503',
 '$353',
 '$546',
 '$374',
 '$640',
 '$494',
 '$551',
 '$441',
 '$554',
 '$698',
 '$549',
 '$633',
 '$661',
 '$462',
 '$572',
 '$695',
 '$474',
 '$631',
 '$606',
 '$738',
 '$573']

In [198]:
len(ppsqft_name1)

82

In [199]:
# scrapping address
start=0
end=2
for page in range(start,end):
    address_tag1=driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag1:
        address_name1.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [142]:
# scrapping address
address_tag1=driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
for i in address_tag1:
    address1=(i.text)
    address_name1.append(address1)

In [200]:
 address_name1

['',
 '9518 Interlake Ave N, Seattle, WA 98103',
 '1817 24th Ave Unit A, Seattle, WA 98122',
 '2206 28th Ave W, Seattle, WA 98199',
 '912 Martin Luther King Jr Way S, Seattle, WA 98144',
 '4245 NE 89th St, Seattle, WA 98115',
 '6755 25th Ave NW, Seattle, WA 98117',
 '4539 21st Ave SW, Seattle, WA 98106',
 '2904 W Bertona St, Seattle, WA 98199',
 '2911 2nd Ave #319, Seattle, WA 98121',
 '2420 Westlake Ave N #11, Seattle, WA 98109',
 '9071 Matthews Ave NE, Seattle, WA 98115',
 '7500 D 15th Ave NW, Seattle, WA 98117',
 '2033 11th Ave E, Seattle, WA 98102',
 '8418 46th Ave SW, Seattle, WA 98136',
 '919 2nd Ave W #205, Seattle, WA 98119',
 '7101 Highland Park Way SW, Seattle, WA 98106',
 '4457 50th Ave SW, Seattle, WA 98116',
 '4220 Evanston Ave N Unit A, Seattle, WA 98103',
 '1770 19th Ave S Unit C, Seattle, WA 98144',
 '12021 64th Ave S, Seattle, WA 98178',
 '2101 3rd Ave W, Seattle, WA 98119',
 '2440 Western Ave #513, Seattle, WA 98121',
 '3701 Magnolia Blvd W, Seattle, WA 98199',
 '2133 6th Ave W #1, Seattle, WA 98119',
 '9522 1st Ave NE Unit A1, Seattle, WA 98115',
 '2023 24th Ave E, Seattle, WA 98112',
 '545 S 111th St, Seattle, WA 98168',
 '644 NW 85th St, Seattle, WA 98117',
 '2172 SW Elmgrove St, Seattle, WA 98106',
 '2721 1st Ave #505, Seattle, WA 98121',
 '2960 Eastlake Ave E #312, Seattle, WA 98102',
 '1128 N 77th St, Seattle, WA 98103',
 '2601 46th Ave SW, Seattle, WA 98116',
 '1430 1st Ave N #4, Seattle, WA 98109',
 '1406 3rd Ave W #101, Seattle, WA 98119',
 '2821 2nd Ave #1504, Seattle, WA 98121',
 '10104 31st Ave SW, Seattle, WA 98146',
 '4021 Renton Ave S, Seattle, WA 98108',
 '4519 S Henderson St, Seattle, WA 98118',
 '825 NE 96th St, Seattle, WA 98115',
 '',
 '303 13th Ave E #301, Seattle, WA 98102',
 '1703 25th Ave, Seattle, WA 98122',
 '5000 California Ave SW #305, Seattle, WA 98136',
 '2120 8th Ave N #400, Seattle, WA 98109',
 '823 NE 96th St, Seattle, WA 98115',
 '1140 Alki Ave SW #302, Seattle, WA 98116',
 '11214 Rainier Ave S, Seattle, WA 98178',
 '1120 Spring St #1604, Seattle, WA 98104',
 '1723 13th Ave S #102, Seattle, WA 98144',
 '1042 S Director St, Seattle, WA 98108',
 '1118 B 13th Ave, Seattle, WA 98122',
 '13740 42nd Ave NE, Seattle, WA 98125',
 '1547 NW 61st St, Seattle, WA 98107',
 '1114 17th Ave #201, Seattle, WA 98122',
 '707 18th Ave S Unit A, Seattle, WA 98144',
 '6006 18th Ave SW, Seattle, WA 98106',
 '6041 44th Ave SW, Seattle, WA 98136',
 '710 N 45th St Unit A, Seattle, WA 98103',
 '807 NE 80th St, Seattle, WA 98115',
 '1080 W Ewing Pl Unit A-3, Seattle, WA 98119',
 '57 Etruria St #1, Seattle, WA 98109',
 '3025 62nd Ave SW, Seattle, WA 98116',
 '2217 2nd Ave W, Seattle, WA 98119',
 '9013 A 13th Ave NW, Seattle, WA 98117',
 '916 32nd Ave S, Seattle, WA 98144',
 '9257 Densmore Ave N, Seattle, WA 98103',
 '14728 N Meridian St Unit B, Shoreline, WA 98133',
 '355 N 80th St, Seattle, WA 98103',
 '1525 NW 57th St #302, Seattle, WA 98107',
 '9500 Rainier Ave S #504, Seattle, WA 98118',
 '1420 E Pine St Unit E710, Seattle, WA 98122',
 '6006 14th Ave NW Unit B, Seattle, WA 98107',
 '9265 57th Ave S, Seattle, WA 98118',
 '10764 Sand Point Way NE, Seattle, WA 98125',
 '960 NW 96th St, Seattle, WA 98117',
 '960 NW 96th St Unit B, Seattle, WA 98117',
 '827 Hiawatha Pl S #612, Seattle, WA 98144',
 '147 NE 52nd St, Seattle, WA 98105',
 '2410 NW 64th St, Seattle, WA 98107',
 '2139 N 62nd St, Seattle, WA 98103']

In [201]:
len( address_name1)

82

In [219]:
print(len(address_name1),len(price_name1),len(beds_name1),len(baths_name1),len(sqft_name1),len(ppsqft_name1))

80 80 80 80 80 80

In [218]:
del address_name1[80]

In [220]:
import pandas as pd
df1=pd.DataFrame({'Address':address_name1,'Price':price_name1,'Beds':beds_name1,'Baths':baths_name1,'Total sqft':sqft_name1,'Price per sqft':ppsqft_name1})
df1

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,"$535,000",2 beds,2 baths,889,$602
1,"9518 Interlake Ave N, Seattle, WA 98103","$850,000",3 beds,2 baths,"1,225",$694
2,"1817 24th Ave Unit A, Seattle, WA 98122","$780,000",3 beds,3 baths,"1,470",$531
3,"2206 28th Ave W, Seattle, WA 98199","$425,000",3 beds,1 bath,958,$583
4,"912 Martin Luther King Jr Way S, Seattle, WA 9...","$488,500",2 beds,1 bath,729,$760
...,...,...,...,...,...,...
75,"10764 Sand Point Way NE, Seattle, WA 98125","$2,225,000",3 beds,3.5 baths,"6,038",$572
76,"960 NW 96th St, Seattle, WA 98117","$1,190,000",2 beds,3 baths,"1,285",$695
77,"960 NW 96th St Unit B, Seattle, WA 98117","$990,000",2 beds,2.5 baths,"1,900",$474
78,"827 Hiawatha Pl S #612, Seattle, WA 98144","$330,000",3 beds,1 bath,"6,120",$631
79,"147 NE 52nd St, Seattle, WA 98105","$474,500",3 beds,1 bath,"3,630",$606

In [221]:
df1.to_csv('file2.csv')

In [224]:
df1=pd.read_csv('file2.csv')
df1

,Srno,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,0,"1813 24th Ave Unit A, Seattle, WA 98122","$535,000",2 beds,2 baths,889,$602
1,1,"9518 Interlake Ave N, Seattle, WA 98103","$850,000",3 beds,2 baths,"1,225",$694
2,2,"1817 24th Ave Unit A, Seattle, WA 98122","$780,000",3 beds,3 baths,"1,470",$531
3,3,"2206 28th Ave W, Seattle, WA 98199","$425,000",3 beds,1 bath,958,$583
4,4,"912 Martin Luther King Jr Way S, Seattle, WA 9...","$488,500",2 beds,1 bath,729,$760
...,...,...,...,...,...,...,...
75,75,"10764 Sand Point Way NE, Seattle, WA 98125","$2,225,000",3 beds,3.5 baths,"6,038",$572
76,76,"960 NW 96th St, Seattle, WA 98117","$1,190,000",2 beds,3 baths,"1,285",$695
77,77,"960 NW 96th St Unit B, Seattle, WA 98117","$990,000",2 beds,2.5 baths,"1,900",$474
78,78,"827 Hiawatha Pl S #612, Seattle, WA 98144","$330,000",3 beds,1 bath,"6,120",$631
79,79,"147 NE 52nd St, Seattle, WA 98105","$474,500",3 beds,1 bath,"3,630",$606

In [225]:
df1

,Srno,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,0,"1813 24th Ave Unit A, Seattle, WA 98122","$535,000",2 beds,2 baths,889,$602
1,1,"9518 Interlake Ave N, Seattle, WA 98103","$850,000",3 beds,2 baths,"1,225",$694
2,2,"1817 24th Ave Unit A, Seattle, WA 98122","$780,000",3 beds,3 baths,"1,470",$531
3,3,"2206 28th Ave W, Seattle, WA 98199","$425,000",3 beds,1 bath,958,$583
4,4,"912 Martin Luther King Jr Way S, Seattle, WA 9...","$488,500",2 beds,1 bath,729,$760
...,...,...,...,...,...,...,...
75,75,"10764 Sand Point Way NE, Seattle, WA 98125","$2,225,000",3 beds,3.5 baths,"6,038",$572
76,76,"960 NW 96th St, Seattle, WA 98117","$1,190,000",2 beds,3 baths,"1,285",$695
77,77,"960 NW 96th St Unit B, Seattle, WA 98117","$990,000",2 beds,2.5 baths,"1,900",$474
78,78,"827 Hiawatha Pl S #612, Seattle, WA 98144","$330,000",3 beds,1 bath,"6,120",$631
79,79,"147 NE 52nd St, Seattle, WA 98105","$474,500",3 beds,1 bath,"3,630",$606

In [228]:
df=pd.read_csv('file1.csv')
df

,Srno,Address,Price,Beds,Baths,Total sqft,Price per sqft,Property Type,Balcony
0,0,"5341 W Grace St, Chicago, IL 60641","$459,000",2 beds,2 baths,"1,914",$250,Home,1
1,1,"825 N Wood St Unit 102-202, Chicago, IL 60622","$1,149,000",3 beds,2 baths,"3,720",$239,Home,1
2,2,"5349 W Grace St, Chicago, IL 60641","$469,999",2 beds,4 baths,"1,330",$339,Home,1
3,3,"835 N Wood St Unit 102-202, Chicago, IL 60622","$385,000",3 beds,2 baths,"6,250",$84,Home,1
4,4,"1732 W 19th St #2, Chicago, IL 60608","$250,000",2 beds,2 baths,"3,900",$268,Home,1
...,...,...,...,...,...,...,...,...,...
75,75,"7120 S Vernon Ave, Chicago, IL 60619","$405,000",4 beds,2 baths,"3,920",$466,Home,1
76,76,"2904 N Francisco Ave, Chicago, IL 60618","$420,000",4 beds,2 baths,730,$186,Home,1
77,77,"6816 S Komensky Ave, Chicago, IL 60629","$550,000",4 beds,3 baths,"1,986",$183,Home,1
78,78,"2001 S Calumet Ave #305, Chicago, IL 60616","$200,000",5 beds,2 baths,"3,500",$113,Home,1
79,79,"5220 W Patterson Ave, Chicago, IL 60641","$699,000",2 beds,3.5 baths,"3,500",$113,Home,1

In [ ]:
-----------Los Angeles---------

In [6]:
los=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div[2]/div/div[1]/div[7]/div[2]/a")
los.click()

In [24]:
address_name3=[]
location_name3=[]
price_name3=[]
beds_name3=[]
baths_name3=[]
sqft_name3=[]
ppsqft_name3=[]

In [37]:
del ppsqft_name3

In [23]:
del ppsqft_tag3

NameError: name 'ppsqft_tag3' is not defined

In [25]:
## scraping address
start=0
end=2
for page in range(start,end):
    address_tag3 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag3:
        address_name3.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [26]:
address_name3

['7305 Milwood Ave #4, Canoga Park, CA 91303',
 '25481 Dodge Ave #7, Harbor City, CA 90710',
 '3014 S Norton Ave, Los Angeles, CA 90018',
 '7713 Hinds Ave, North Hollywood, CA 91605',
 '6607 Lindley Ave, Reseda, CA 91335',
 '4107 Dalton Ave, Los Angeles, CA 90062',
 '601 N Fuller Ave, Los Angeles, CA 90036',
 '1660 W 220th St #3, Torrance, CA 90501',
 '8121 Canby Ave #6, Reseda, CA 91335',
 '141 S Clark Dr #529, West Hollywood, CA 90048',
 '5102 Escobedo Dr, Woodland Hills, CA 91364',
 '2125 Ames St, Los Angeles, CA 90027',
 '457 S Lorena, Los Angeles, CA 90063',
 '6648 Valley Circle Blvd, West Hills, CA 91307',
 '455 S Lorena, Los Angeles, CA 90063',
 '1509 Greenfield Ave #204, Los Angeles, CA 90025',
 '6520 Tampa Ave #3, Reseda, CA 91335',
 '1087 S Plymouth Blvd, Los Angeles, CA 90019',
 '5745 Aldea Ave, Encino, CA 91316',
 '8408 Moorcroft Ave, West Hills, CA 91304',
 '1051 Via Cordova, San Pedro, CA 90732',
 '1515 E Martin Luther King Jr Blvd, Los Angeles, CA 90011',
 '843 S Cochran Ave, Los Angeles, CA 90036',
 '1155 S Grand Ave #1508, Los Angeles, CA 90015',
 '9255 Doheny Rd #1401, West Hollywood, CA 90069',
 '730 E 78 St, Los Angeles, CA 90001',
 '16230 Meadowcrest Rd, Sherman Oaks, CA 91403',
 '3810 Wilshire Blvd #1712, Los Angeles, CA 90010',
 '6616-6618 S Makee Ave, Los Angeles, CA 90001',
 '8601 International Ave #136, Canoga Park, CA 91304',
 '5349 Newcastle Ave #20, Encino, CA 91316',
 '20647 Lull St, Winnetka, CA 91306',
 '1853 Sunset Plaza Dr, Los Angeles, CA 90069',
 '1015 Larker Ave, Los Angeles, CA 90042',
 '740 N Kings Rd #218, West Hollywood, CA 90069',
 '14123 Valerio St, Van Nuys, CA 91405',
 '848 N Genesee Ave, Los Angeles, CA 90046',
 '2803 Cardiff Ave, Los Angeles, CA 90034',
 '20124 Phaeton Dr, Woodland Hills, CA 91364',
 '4432 W Kling St #4, Burbank, CA 91505',
 '10676 Wilkins Ave #207, Los Angeles, CA 90024',
 '16321 Pacific Coast Hwy #57, Pacific Palisades, CA 90272',
 '1330 N Crescent Heights Blvd #1, West Hollywood, CA 90046',
 '9421-1/2 N Sepulveda Blvd #2, North Hills, CA 91343',
 '115 W 87th W, Los Angeles, CA 90003',
 '644 Brittania St, Los Angeles, CA 90033',
 '3235 Mcmanus Ave, Los Angeles, CA 90034',
 '11919 Mayfield Ave #1, Los Angeles, CA 90049',
 '14349 Emelita St, Van Nuys, CA 91401',
 '1324 Casiano Rd, Los Angeles, CA 90049',
 '13153 Community St, Sun Valley, CA 91352',
 '2222 Avenue Of The Stars #1506, Los Angeles, CA 90067',
 '212 S Woodburn Dr, Los Angeles, CA 90049',
 '2276 Elanita Dr, San Pedro, CA 90732',
 '22434 Itasca St, Chatsworth, CA 91311',
 '5763 Clemson St #7, Los Angeles, CA 90016',
 '1738 W 43rd Pl, Los Angeles, CA 90062',
 '4501 Cedros Ave #240, Sherman Oaks, CA 91403',
 '645 W 9th St #601, Los Angeles, CA 90015',
 '11819 Lindblade St, Culver City, CA 90230',
 '7607 Whitsett Ave, Los Angeles, CA 90001',
 '5223 Ventura Canyon Ave, Sherman Oaks, CA 91401',
 '4445 N Cartwright Ave #217, North Hollywood, CA 91602',
 '8970 Kramerwood Pl, Los Angeles, CA 90034',
 '12943 Winthrop Ave, Granada Hills, CA 91344',
 '12830 Burbank Blvd #114, Valley Village, CA 91607',
 '3302 Fryman Rd, Studio City, CA 91604',
 '360 Aderno Way, Pacific Palisades, CA 90272',
 '3306 London St, Los Angeles, CA 90026',
 '131 N Gale Dr Unit 2A, Beverly Hills, CA 90211',
 '18547 Clymer St, Porter Ranch, CA 91326',
 '9949 Amestoy Ave, Northridge, CA 91325',
 '5651 Denny Ave, North Hollywood, CA 91601',
 '20752 Nashville St, Chatsworth, CA 91311',
 '10724 Wilshire Blvd #711, Los Angeles, CA 90024',
 '6957 Fullbright Ave, Winnetka, CA 91306',
 '2915 Avenel Ter, Los Angeles, CA 90039',
 '11907 Ancona Way, Porter Ranch, CA 91326',
 '19300 Yolie Ln, Tarzana, CA 91356',
 '5545 Calhoun Ave, Sherman Oaks, CA 91401']

In [27]:
len(address_name3)

80

In [44]:
ppsqft_name3=[]

# scrapping ppsqft
start=0
end=2
for page in range(start,end):
    ppsqft_tag3 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag3:
        ppsqft_name3.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [45]:
ppsqft_name3

['$461',
 '$709',
 '$445',
 '$1,024',
 '$598',
 '$660',
 '$657',
 '$1,071',
 '$471',
 '$502',
 '$482',
 '$351',
 '$749',
 '$644',
 '$317',
 '$827',
 '$557',
 '$616',
 '$676',
 '$924',
 '$601',
 '$441',
 '$834',
 '$616',
 '$518',
 '$588',
 '$503',
 '$879',
 '$504',
 '$431',
 '$515',
 '$619',
 '$762',
 '$607',
 '$1,502',
 '$803',
 '$1,027',
 '$555',
 '$841',
 '$732',
 '$688',
 '$465',
 '$1,124',
 '$601',
 '$688',
 '$814',
 '$471',
 '$485',
 '$793',
 '$933',
 '$963',
 '$784',
 '$765',
 '$607',
 '$775',
 '$858',
 '$528',
 '$414',
 '$627',
 '$725',
 '$504',
 '$710',
 '$562',
 '$635',
 '$692',
 '$620',
 '$401',
 '$243',
 '$712',
 '$534',
 '$494',
 '$1,413',
 '$880',
 '$789',
 '$744',
 '$280',
 '$1,687',
 '$972',
 '$610',
 '$550',
 '$973',
 '$688']

In [46]:
len(ppsqft_name3)

82

In [47]:
sqft_name3=[]
# scrapping sqft
start=0
end=2
for page in range(start,end):
    sqft_tag3 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__LockedStat--value"]')
    for i in sqft_tag3:
        sqft_name3.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [48]:
sqft_name3

['',
 '690',
 '1,780',
 '2,500',
 '5,978',
 '811',
 '7,022',
 '1,026',
 '6,002',
 '1,684',
 '6,694',
 '3,258',
 '3,980',
 '1,460',
 '0.37',
 '1,717',
 '6.12',
 '720',
 '1,538',
 '9,106',
 '2,228',
 '0.23',
 '770',
 '3,416',
 '8,233',
 '815',
 '1,698',
 '1,269',
 '2,000',
 '6,000',
 '1,795',
 '6,001',
 '1,959',
 '0.26',
 '2,309',
 '0.41',
 '1,244',
 '5,139',
 '2,402',
 '8,324',
 '856',
 '2,117',
 '1,852',
 '5,973',
 '3,540',
 '0.35',
 '1,290',
 '3,767',
 '7,185',
 '826',
 '905',
 '1,986',
 '7,915',
 '5,400',
 '0.66',
 '1,804',
 '6,505',
 '800',
 '2,262',
 '0.62',
 '5,425',
 '6,478',
 '1,700',
 '6,763',
 '2,362',
 '0.46',
 '1,462',
 '',
 '1,538',
 '935',
 '1,575',
 '972',
 '1,485',
 '1,356',
 '4,315',
 '1,296',
 '5,321',
 '1,430',
 '4,798',
 '1,710',
 '2,422',
 '6,751',
 '2,869',
 '0.49',
 '1,800',
 '6,301',
 '1,461',
 '4,306',
 '0.51',
 '1,250',
 '6,197',
 '3,726',
 '0.40',
 '611',
 '2,335',
 '5,750',
 '1,298',
 '600',
 '1,276',
 '6,005',
 '1,314',
 '6,760',
 '1,824',
 '6,500',
 '1,267',
 '1,482',
 '5,500',
 '2,625',
 '7,986',
 '1,154',
 '3,127',
 '0.58',
 '1,819',
 '6,404',
 '1,422',
 '5,343',
 '1,105',
 '1,559',
 '0.25',
 '1,789',
 '0.25',
 '2,382',
 '6,756',
 '2,273',
 '0.24',
 '2,345',
 '1,202',
 '7,500',
 '2,396',
 '1,770',
 '3,961',
 '7,084',
 '3,311',
 '7,935',
 '8,154',
 '6,460']

In [49]:
len(sqft_name3)

136

In [58]:
sqft_name3=[]
# scrapping sqft
start=0
end=2
for page in range(start,end):
    sqft_tag3 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__LockedStat--value"]')
    for i in sqft_tag3:
        sqft_name3.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [53]:
baths_name1=[]
# scrapping baths
start=0
end=2
for page in range(start,end):
    baths_tag3=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag3:
        baths_name3.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [ ]:
del baths_name3

In [54]:
len(baths_name1)

82

In [64]:
beds_name3=[]
# scrapping beds
start=0
end=2
for page in range(start,end):
    beds_tag3=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag3:
        beds_name3.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [63]:
del beds_tag3

NameError: name 'beds_tag3' is not defined

In [65]:
beds_name3

['',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '5 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '8 beds',
 '3 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '24 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '28 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '',
 '3 beds',
 '5 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '21 beds',
 '20 beds',
 '6 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '6 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '5 beds',
 '8 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '27 beds',
 '3 beds',
 '5 beds',
 '3 beds',
 '4 beds',
 '5 beds']

In [66]:
len(beds_name3)

82

In [71]:
price_name3=[]
# scrapping beds
start=0
end=2
for page in range(start,end):
    price_tag3=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag3:
        price_name3.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [72]:
price_name3

['',
 '$390,000',
 '$775,000',
 '$999,000',
 '$699,000',
 '$799,000',
 '$969,000',
 '$2,795,000',
 '$739,900',
 '$640,000',
 '$649,000',
 '$1,799,999',
 '$2,398,000',
 '$499,900',
 '$1,399,999',
 '$534,900',
 '$1,200,000',
 '$650,000',
 '$2,249,000',
 '$1,100,000',
 '$1,350,000',
 '$1,499,000',
 '$579,500',
 '$2,695,000',
 '$649,000',
 '$3,895,000',
 '$829,999',
 '$2,795,000',
 '$959,000',
 '$975,000',
 '$370,000',
 '$485,000',
 '$925,000',
 '$6,195,000',
 '$1,400,000',
 '$659,000',
 '$1,495,950',
 '$4,399,000',
 '$2,195,000',
 '$1,699,000',
 '$850,000',
 '',
 '$1,169,000',
 '$795,000',
 '$795,000',
 '$729,005',
 '$629,900',
 '$699,900',
 '$1,995,000',
 '$1,385,000',
 '$1,649,900',
 '$4,950,000',
 '$900,000',
 '$1,549,000',
 '$3,999,999',
 '$1,050,000',
 '$2,250,000',
 '$488,888',
 '$1,195,000',
 '$695,000',
 '$435,000',
 '$1,300,000',
 '$650,000',
 '$1,400,000',
 '$659,000',
 '$1,529,000',
 '$1,199,000',
 '$565,000',
 '$3,995,000',
 '$2,995,000',
 '$1,450,000',
 '$899,000',
 '$979,000',
 '$1,050,000',
 '$1,190,000',
 '$1,095,000',
 '$1,975,000',
 '$649,900',
 '$1,899,000',
 '$2,349,000',
 '$1,799,999',
 '$3,895,000']

In [73]:
len(price_name3)

82

In [101]:
print(len(address_name3),len(price_name3),len(beds_name3),len(baths_name1),len(sqft_name3),len(ppsqft_name3))

80 80 80 80 80 80

In [100]:
del ppsqft_name3[80]

In [102]:
print(len(address_name3),len(price_name3),len(beds_name3),len(baths_name1),len(sqft_name3),len(ppsqft_name3))

import pandas as pd
df2=pd.DataFrame({'Address':address_name3,'Price':price_name3,'Beds':beds_name3,'Baths':baths_name1,'Total sqft':sqft_name3,'Price per sqft':ppsqft_name3})
df2

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"7305 Milwood Ave #4, Canoga Park, CA 91303",,,,,$461
1,"25481 Dodge Ave #7, Harbor City, CA 90710","$390,000",2 beds,1 bath,690,$709
2,"3014 S Norton Ave, Los Angeles, CA 90018","$775,000",3 beds,2.5 baths,"1,780",$445
3,"7713 Hinds Ave, North Hollywood, CA 91605","$999,000",3 beds,3 baths,"2,500","$1,024"
4,"6607 Lindley Ave, Reseda, CA 91335","$699,000",3 beds,1 bath,"5,978",$598
...,...,...,...,...,...,...
75,"6957 Fullbright Ave, Winnetka, CA 91306","$1,095,000",1 bed,3 baths,"1,296",$280
76,"2915 Avenel Ter, Los Angeles, CA 90039","$1,975,000",27 beds,2.5 baths,"5,321","$1,687"
77,"11907 Ancona Way, Porter Ranch, CA 91326","$649,900",3 beds,2 baths,"1,430",$972
78,"19300 Yolie Ln, Tarzana, CA 91356","$1,899,000",5 beds,3.5 baths,"4,798",$610
79,"5545 Calhoun Ave, Sherman Oaks, CA 91401","$2,349,000",3 beds,6 baths,"1,710",$550

In [103]:
df2.to_csv('file3.csv')

In [110]:
df2=pd.read_csv('file3.csv')
df2

,Srno,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,0,"7305 Milwood Ave #4, Canoga Park, CA 91303","$775,000",2 beds,1 bath,690,$461
1,1,"25481 Dodge Ave #7, Harbor City, CA 90710","$390,000",2 beds,2.5 baths,"1,780",$709
2,2,"3014 S Norton Ave, Los Angeles, CA 90018","$775,000",3 beds,2.5 baths,"1,780",$445
3,3,"7713 Hinds Ave, North Hollywood, CA 91605","$999,000",3 beds,3 baths,"2,500","$1,024"
4,4,"6607 Lindley Ave, Reseda, CA 91335","$699,000",3 beds,1 bath,"5,978",$598
...,...,...,...,...,...,...,...
75,75,"6957 Fullbright Ave, Winnetka, CA 91306","$1,095,000",1 bed,3 baths,"1,296",$280
76,76,"2915 Avenel Ter, Los Angeles, CA 90039","$1,975,000",27 beds,2.5 baths,"5,321","$1,687"
77,77,"11907 Ancona Way, Porter Ranch, CA 91326","$649,900",3 beds,2 baths,"1,430",$972
78,78,"19300 Yolie Ln, Tarzana, CA 91356","$1,899,000",5 beds,3.5 baths,"4,798",$610
79,79,"5545 Calhoun Ave, Sherman Oaks, CA 91401","$2,349,000",3 beds,6 baths,"1,710",$550

In [ ]:
---------------San Diego------------

In [111]:
san=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div[2]/div/div[1]/div[9]/div[2]/a")
san.click()

In [112]:
address_name4=[]
price_name4=[]
beds_name4=[]
baths_name4=[]
sqft_name4=[]
ppsqft_name4=[]

In [113]:
## scraping address
start=0
end=2
for page in range(start,end):
    address_tag4 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag4:
        address_name4.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [114]:
address_name4

['3535 Monroe Ave #21, San Diego, CA 92116',
 '2119 Illion St, San Diego, CA 92110',
 '11130 Avenida de los Lobos, San Diego, CA 92127',
 '4019 Taos Dr, San Diego, CA 92117',
 'Sign in for address, San Diego, CA 92101',
 'Sign in for address, San Diego, CA 92116',
 '13864 Boquita Dr, Del Mar, CA 92014',
 '12 Via Montisi, Santee, CA 92071',
 '300 W Beech St #4, San Diego, CA 92101',
 '12987 Caminito Dosamantes, San Diego, CA 92128',
 '1643 6th Ave #417, San Diego, CA 92101',
 '2431 Palace Dr, San Diego, CA 92123',
 '7249 Park Village Rd, San Diego, CA 92129',
 '3950 Ohio St #535, San Diego, CA 92104',
 '7046 Park Mesa Way #39, San Diego, CA 92111',
 '1021 Scott St #218, San Diego, CA 92106',
 '3560-62 Island Ave, San Diego, CA 92102',
 '3887 Pell Pl #114, San Diego, CA 92130',
 '500 W Harbor Dr #507, San Diego, CA 92101',
 '17094 Castello Cir, San Diego, CA 92127',
 '6737 Friars #195, San Diego, CA 92108',
 '4455 Home Ave #4, San Diego, CA 92105',
 '12723 Savannah Creek Dr Unit 274, San Diego, CA 92128',
 '4105 Iowa St, San Diego, CA 92104',
 '1956 Hornblend St #4, San Diego, CA 92109',
 '4285 Asher St Unit 28, San Diego, CA 92110',
 '1025 Island Ave #511, San Diego, CA 92101',
 '4282 Robbins St, San Diego, CA 92122',
 '3550 Sunset Ln #5, San Diego, CA 92173',
 '13022 Lemon Pine Ct, San Diego, CA 92129',
 '8652 New Salem St #33, San Diego, CA 92126',
 '8531 Pinecrest Ave, San Diego, CA 92123',
 '5996 Highplace Dr, San Diego, CA 92120',
 '4531 Winona #1, San Diego, CA 92115',
 '1154 Atwater St, San Diego, CA 92154',
 '6140 Calle Mariselda #204, Tierrasanta, CA 92124',
 '7155 Calabria Ct Unit E, San Diego, CA 92122',
 '10435 La Vita Ct, San Diego, CA 92131',
 '12457 Ruette Alliante, San Diego, CA 92130',
 '445 Island Ave #614, San Diego, CA 92101',
 '10686 Briarlake Woods Dr, San Diego, CA 92130',
 '860 Turquoise St #220, San Diego, CA 92109',
 '7146 Celome, San Diego, CA 92129',
 '1611 Hotel Cir S Unit A310, San Diego, CA 92108',
 '7641 Rainswept Ln, San Diego, CA 92119',
 '655 India St #320, San Diego, CA 92101',
 '16913 Laurel Hill Ln #147, San Diego, CA 92127',
 '14490 Rimgate Ct, San Diego, CA 92129',
 '5910 Rancho Mission Rd #27, San Diego, CA 92108',
 '6742 Waterman Ct, San Diego, CA 92111',
 '3950 60Th St #147, San Diego, CA 92115',
 '1080 Park Blvd Unit 617, San Diego, CA 92101',
 '370 Treewood St, San Diego, CA 92114',
 '5122 Edgeworth, San Diego, CA 92109',
 '15484 Paseo Ajanta, San Diego, CA 92129',
 '8030 Columbus St, San Diego, CA 92126',
 '4748 Edgeware Rd, San Diego, CA 92116',
 '9384 Black Hills Way, San Diego, CA 92129',
 '4219 44Th St #4, San Diego, CA 92115',
 '6780 Friars Rd #360, San Diego, CA 92108',
 '4625 Shoshoni Ave, San Diego, CA 92117',
 '1441 9TH #1102, San Diego, CA 92101',
 '5811 Cervantes Ave, San Diego, CA 92114',
 '415-417 W University Ave, San Diego, CA 92103',
 '8145-47 Helm, San Diego, CA 92114',
 '8104 Denali Dr, San Diego, CA 92126',
 '5171 Manhasset Dr, San Diego, CA 92115',
 '1979 Hornblend St, San Diego, CA 92109',
 '850 Beech St #1901, San Diego, CA 92101',
 '912 Joshua Pl, Chula Vista, CA 92154',
 '3912 Casita Way, San Diego, CA 92115',
 '4445 Nobel Dr #56, San Diego, CA 92122',
 '5437 Barclay Ave, San Diego, CA 92120',
 '11412 MAYAPPLE Way, San Diego, CA 92131',
 '17395 Plaza Dolores, San Diego, CA 92128',
 '5353 Aurora Summit Trl, San Diego, CA 92130',
 '4685 Serenata Pl, San Diego, CA 92130',
 '8614 Mission San Carlos Dr #62, Santee, CA 92071',
 '4067 Palmetto Way, San Diego, CA 92103',
 '9018 Chart House St, San Diego, CA 92126']

In [115]:
len(address_name4)

80

In [116]:
ppsqft_name4=[]

# scrapping ppsqft
start=0
end=2
for page in range(start,end):
    ppsqft_tag4 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag4:
        ppsqft_name4.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [117]:
ppsqft_name4

['$580',
 '$773',
 '$610',
 '$629',
 '$785',
 '$871',
 '$712',
 '$1,032',
 '$747',
 '$553',
 '$733',
 '$949',
 '$1,023',
 '$959',
 '$1,573',
 '$465',
 '$931',
 '$1,431',
 '$1,190',
 '$836',
 '$756',
 '$995',
 '$525',
 '$1,000',
 '$2,302',
 '$681',
 '$1,260',
 '$560',
 '$611',
 '$564',
 '$603',
 '$830',
 '$617',
 '$859',
 '$625',
 '$895',
 '$937',
 '$897',
 '$696',
 '$560',
 '$746',
 '$653',
 '$684',
 '$746',
 '$854',
 '$1,149',
 '$1,492',
 '$908',
 '$511',
 '$774',
 '$708',
 '$740',
 '$814',
 '$793',
 '$887',
 '$667',
 '$1,684',
 '$685',
 '$903',
 '$899',
 '$753',
 '$556',
 '$563',
 '$670',
 '$1,110',
 '$816',
 '$662',
 '$716',
 '$680',
 '$538',
 '$631',
 '$746',
 '$1,000',
 '$839',
 '$606',
 '$504',
 '$755',
 '$695',
 '$710',
 '$918',
 '$697',
 '$746']

In [118]:
len(ppsqft_name4)

82

In [122]:
baths_name4=[]
# scrapping beds
start=0
end=2
for page in range(start,end):
    baths_tag4=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag4:
        baths_name4.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [120]:
beds_name4

['',
 '3 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '4 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '6 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '4 beds',
 '3 beds',
 '8 beds',
 '1 bed',
 '4 beds',
 '3 beds',
 '2 beds',
 '— beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '5 beds',
 '2 beds',
 '',
 '2 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '0 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '2 beds',
 '0 beds',
 '5 beds',
 '2 beds',
 '1 bed',
 '6 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds']

In [121]:
len(beds_name4)

82

In [123]:
baths_name4

['',
 '3 baths',
 '2 baths',
 '3 baths',
 '1 bath',
 '2.5 baths',
 '1.5 baths',
 '3.5 baths',
 '3 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '4 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '3 baths',
 '3 baths',
 '2 baths',
 '4.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '1.5 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '5.5 baths',
 '3 baths',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '',
 '1.5 baths',
 '2.5 baths',
 '2 baths',
 '4 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '4.5 baths',
 '2 baths',
 '4.5 baths',
 '5.5 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '4 baths',
 '1.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '3 baths',
 '3 baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '2 baths']

In [124]:
len(baths_name4)

82

In [125]:
# scrapping price type
start=0
end=2
for page in range(start,end):
    price_tag4 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag4:
        price_name4.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [126]:
price_name4

['',
 '$724,900',
 '$799,000',
 '$949,900',
 '$375,000',
 '$1,249,000',
 '$1,699,000',
 '$1,100,000',
 '$2,100,000',
 '$1,249,000',
 '$525,000',
 '$988,800',
 '$939,000',
 '$6,990,000',
 '$1,275,000',
 '$2,650,000',
 '$950,000',
 '$1,425,000',
 '$1,950,000',
 '$2,395,000',
 '$1,150,000',
 '$500,000',
 '$635,000',
 '$1,365,000',
 '$2,765,000',
 '$33,995,000',
 '$539,000',
 '$3,250,000',
 '$779,975',
 '$499,000',
 '$3,050,000',
 '$625,000',
 '$989,000',
 '$949,000',
 '$1,350,000',
 '$1,090,000',
 '$1,350,000',
 '$1,150,000',
 '$4,300,000',
 '$2,175,000',
 '$722,500',
 '',
 '$560,000',
 '$1,999,999',
 '$1,350,000',
 '$1,350,000',
 '$1,478,000',
 '$2,978,000',
 '$3,395,000',
 '$729,900',
 '$1,300,000',
 '$1,259,000',
 '$350,000',
 '$895,000',
 '$1,999,900',
 '$725,000',
 '$715,000',
 '$485,000',
 '$1,199,000',
 '$950,000',
 '$790,000',
 '$3,995,000',
 '$490,000',
 '$439,000',
 '$849,000',
 '$999,000',
 '$1,099,000',
 '$729,000',
 '$550,000',
 '$1,299,000',
 '$440,000',
 '$1,590,000',
 '$620,000',
 '$999,900',
 '$1,199,900',
 '$549,000',
 '$1,049,000',
 '$615,000',
 '$1,125,000',
 '$1,350,000',
 '$1,375,000',
 '$589,900']

In [127]:
len(price_name4)

82

In [134]:
sqft_name4=[]
# scrapping sqft
start=0
end=2
for page in range(start,end):
    sqft_tag4 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag4:
        sqft_name4.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [132]:
del sqft_tag4

In [135]:
len(sqft_name4)

82

In [136]:
sqft_name4

['1,250',
 '1,033',
 '1,556',
 '596',
 '1,591',
 '1,951',
 '1,546',
 '2,035',
 '1,671',
 '950',
 '1,349',
 '989',
 '6,832',
 '1,330',
 '1,685',
 '2,044',
 '1,531',
 '1,363',
 '2,012',
 '1,375',
 '661',
 '638',
 '2,599',
 '2,765',
 '14,768',
 '791',
 '2,579',
 '1,392',
 '817',
 '5,412',
 '1,036',
 '1,191',
 '1,538',
 '1,572',
 '1,743',
 '1,508',
 '1,227',
 '4,795',
 '3,125',
 '1,291',
 '1,458',
 '858',
 '2,922',
 '1,810',
 '1,581',
 '1,286',
 '1,996',
 '3,740',
 '1,427',
 '1,680',
 '1,777',
 '473',
 '1,100',
 '2,522',
 '817',
 '1,072',
 '288',
 '1,750',
 '1,052',
 '879',
 '5,303',
 '882',
 '780',
 '1,267',
 '900',
 '1,346',
 '1,102',
 '768',
 '1,910',
 '818',
 '2,518',
 '831',
 '1,000',
 '1,431',
 '906',
 '2,080',
 '815',
 '1,619',
 '1,902',
 '1,498',
 '846',
 '1,458']

In [152]:
print(len(address_name4),len(price_name4),len(beds_name4),len(baths_name4),len(sqft_name4),len(ppsqft_name4))

80 80 80 80 80 80

In [151]:
del ppsqft_name4[80]

In [153]:
import pandas as pd
df3=pd.DataFrame({'Address':address_name4,'Price':price_name4,'Beds':beds_name4,'Baths':baths_name4,'Total sqft':sqft_name4,'Price per sqft':ppsqft_name4})
df3

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"3535 Monroe Ave #21, San Diego, CA 92116",,,,"1,250",$580
1,"2119 Illion St, San Diego, CA 92110","$724,900",3 beds,3 baths,"1,033",$773
2,"11130 Avenida de los Lobos, San Diego, CA 92127","$799,000",3 beds,2 baths,"1,556",$610
3,"4019 Taos Dr, San Diego, CA 92117","$949,900",2 beds,3 baths,596,$629
4,"Sign in for address, San Diego, CA 92101","$375,000",1 bed,1 bath,"1,591",$785
...,...,...,...,...,...,...
75,"5353 Aurora Summit Trl, San Diego, CA 92130","$549,000",2 beds,2.5 baths,"2,080",$504
76,"4685 Serenata Pl, San Diego, CA 92130","$1,049,000",4 beds,2.5 baths,815,$755
77,"8614 Mission San Carlos Dr #62, Santee, CA 92071","$615,000",1 bed,2 baths,"1,619",$695
78,"4067 Palmetto Way, San Diego, CA 92103","$1,125,000",2 beds,2 baths,"1,902",$710
79,"9018 Chart House St, San Diego, CA 92126","$1,350,000",3 beds,2 baths,"1,498",$918

In [155]:
df3.to_csv('file4.csv')

In [157]:
missing_values = df3.isnull().sum().sort_values(ascending = False)
percentage_missing_values =(missing_values/len(df3))*100
print(pd.concat([missing_values, percentage_missing_values], axis =1, keys =['Missing Values', '% Missing data']))

                Missing Values  % Missing data
Address                      0             0.0
Price                        0             0.0
Beds                         0             0.0
Baths                        0             0.0
Total sqft                   0             0.0
Price per sqft               0             0.0

In [158]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         80 non-null     object
 1   Price           80 non-null     object
 2   Beds            80 non-null     object
 3   Baths           80 non-null     object
 4   Total sqft      80 non-null     object
 5   Price per sqft  80 non-null     object
dtypes: object(6)
memory usage: 3.9+ KB

In [159]:
df3.isnull()

    Address  Price   Beds  Baths  Total sqft  Price per sqft
0     False  False  False  False       False           False
1     False  False  False  False       False           False
2     False  False  False  False       False           False
3     False  False  False  False       False           False
4     False  False  False  False       False           False
..      ...    ...    ...    ...         ...             ...
75    False  False  False  False       False           False
76    False  False  False  False       False           False
77    False  False  False  False       False           False
78    False  False  False  False       False           False
79    False  False  False  False       False           False

[80 rows x 6 columns]

In [160]:
df3.describe()

,Address,Price,Beds,Baths,Total sqft,Price per sqft
count,80,80,80,80,80,80
unique,80,72,10,10,79,76
top,"3535 Monroe Ave #21, San Diego, CA 92116","$1,350,000",3 beds,2 baths,817,$746
freq,1,5,25,33,2,3

In [161]:
df3.isnull().sum()

Address           0
Price             0
Beds              0
Baths             0
Total sqft        0
Price per sqft    0
dtype: int64

In [162]:
df3.head()

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"3535 Monroe Ave #21, San Diego, CA 92116",,,,"1,250",$580
1,"2119 Illion St, San Diego, CA 92110","$724,900",3 beds,3 baths,"1,033",$773
2,"11130 Avenida de los Lobos, San Diego, CA 92127","$799,000",3 beds,2 baths,"1,556",$610
3,"4019 Taos Dr, San Diego, CA 92117","$949,900",2 beds,3 baths,596,$629
4,"Sign in for address, San Diego, CA 92101","$375,000",1 bed,1 bath,"1,591",$785

In [170]:
df3=pd.read_csv('file4.csv')

In [171]:
df3.isnull()

     Srno  Address  Price   Beds  Baths  Total sqft  Price per sqft
0   False    False   True   True   True       False           False
1   False    False  False  False  False       False           False
2   False    False  False  False  False       False           False
3   False    False  False  False  False       False           False
4   False    False  False  False  False       False           False
..    ...      ...    ...    ...    ...         ...             ...
75  False    False  False  False  False       False           False
76  False    False  False  False  False       False           False
77  False    False  False  False  False       False           False
78  False    False  False  False  False       False           False
79  False    False  False  False  False       False           False

[80 rows x 7 columns]

In [167]:
df1.isnull()

NameError: name 'df1' is not defined

In [ ]:
----------Condos----------

In [ ]:
San Diego condos

In [46]:
buy=driver.find_element(By.XPATH,"//a[@class="inheritColor dropdownWidget"]")
buy.click()

WebDriverException: Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=125.0.6422.142)
Stacktrace:
	GetHandleVerifier [0x00007FF654901F52+60322]
	(No symbol) [0x00007FF65487CEC9]
	(No symbol) [0x00007FF654737EBA]
	(No symbol) [0x00007FF65471F1CC]
	(No symbol) [0x00007FF65471F090]
	(No symbol) [0x00007FF65473A4E1]
	(No symbol) [0x00007FF6547CB359]
	(No symbol) [0x00007FF6547ABFC3]
	(No symbol) [0x00007FF654779617]
	(No symbol) [0x00007FF65477A211]
	GetHandleVerifier [0x00007FF654C194AD+3301629]
	GetHandleVerifier [0x00007FF654C636D3+3605283]
	GetHandleVerifier [0x00007FF654C59450+3563680]
	GetHandleVerifier [0x00007FF6549B4326+790390]
	(No symbol) [0x00007FF65488750F]
	(No symbol) [0x00007FF654883404]
	(No symbol) [0x00007FF654883592]
	(No symbol) [0x00007FF654872F9F]
	BaseThreadInitThunk [0x00007FFD02CD257D+29]
	RtlUserThreadStart [0x00007FFD02F2AA48+40]

In [70]:
sandiego=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div[2]/div/div[1]/div[23]/ul/li[1]/a').click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[6]/div[2]/div/div[1]/div[23]/ul/li[1]/a"}
  (Session info: chrome=125.0.6422.142); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF654901F52+60322]
	(No symbol) [0x00007FF65487CEC9]
	(No symbol) [0x00007FF654737EBA]
	(No symbol) [0x00007FF654787676]
	(No symbol) [0x00007FF65478773C]
	(No symbol) [0x00007FF6547CE967]
	(No symbol) [0x00007FF6547AC25F]
	(No symbol) [0x00007FF6547CBC80]
	(No symbol) [0x00007FF6547ABFC3]
	(No symbol) [0x00007FF654779617]
	(No symbol) [0x00007FF65477A211]
	GetHandleVerifier [0x00007FF654C194AD+3301629]
	GetHandleVerifier [0x00007FF654C636D3+3605283]
	GetHandleVerifier [0x00007FF654C59450+3563680]
	GetHandleVerifier [0x00007FF6549B4326+790390]
	(No symbol) [0x00007FF65488750F]
	(No symbol) [0x00007FF654883404]
	(No symbol) [0x00007FF654883592]
	(No symbol) [0x00007FF654872F9F]
	BaseThreadInitThunk [0x00007FFD02CD257D+29]
	RtlUserThreadStart [0x00007FFD02F2AA48+40]

In [76]:
san=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div[2]/div/div[1]/div[9]/div[2]/a').click()

In [56]:
address_condossan=[]
price_condossan=[]
beds_condossan=[]
baths_condossan=[]
sqft_condossan=[]
ppsqft_condossan=[]

In [83]:
address_name5=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag5 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag5:
        address_name5.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [84]:
address_name5

['10846 Lamentin Ct, San Diego, CA 92124',
 '6289 Jeff St, San Diego, CA 92115',
 '6056 Portobelo Ct, San Diego, CA 92124',
 '3645 Ash St #4, San Diego, CA 92105',
 '4995 Rebel Rd, San Diego, CA 92117',
 '3786 Pioneer Pl, San Diego, CA 92103',
 '8655 Lepus Rd, San Diego, CA 92126',
 '920 Moana Dr, San Diego, CA 92106',
 '300 W Beech St #2, San Diego, CA 92101',
 '1605 Hotel Cir S Unit B115, San Diego, CA 92108',
 '3776 Alabama St #313, San Diego, CA 92104',
 '4139 Taos Dr, San Diego, CA 92117',
 '3340 Del Sol Blvd #265, San Diego, CA 92154',
 '8734 Tommy Dr, San Diego, CA 92119',
 '2920 Union St #201, San Diego, CA 92103',
 '10428 Whitcomb Way #119, San Diego, CA 92127',
 '1441 9Th Ave #2103, San Diego, CA 92101',
 '2269 Alta View Dr, San Diego, CA 92139',
 '230 20th St, San Diego, CA 92102',
 '13773 Caminito Anzio, San Diego, CA 92129',
 '620 State St #115, San Diego, CA 92101',
 '8206 Caminito Lacayo, La Jolla, CA 92037',
 '8270 Austin Hill Ct, San Diego, CA 92127',
 '935 Genter St #202, La Jolla, CA 92037',
 '9773 Genesee Ave, San Diego, CA 92121',
 '6322 Caminito Del Pastel, San Diego, CA 92111',
 '5410 Hewlett Dr, San Diego, CA 92115',
 '3574 Sunset Ln #102, San Ysidro, CA 92173',
 '1033 W Spruce, San Diego, CA 92103',
 '10526 Caminito Sulmona, San Diego, CA 92129',
 '2566 Escala Cir, San Diego, CA 92108',
 '15717 Spreckels Pl, San Diego, CA 92127',
 '5651 Ladybird Ln, La Jolla, CA 92037',
 '7257 Steinbeck Ave, San Diego, CA 92122',
 '1087 Pearl St, La Jolla, CA 92037',
 '9530 Compass Point Dr S #5, San Diego, CA 92126',
 '6333 La Jolla Blvd #369, La Jolla, CA 92037',
 '6938 The Preserve Ter, San Diego, CA 92130',
 '4840 Mount La Platta Dr, San Diego, CA 92117',
 '1388 Kettner Blvd #2202, San Diego, CA 92101',
 '815 Joanna Dr, San Diego, CA 92114',
 '6342 Farley Dr, San Diego, CA 92122',
 '1388 Kettner Blvd #3303, San Diego, CA 92101',
 '1976 Pacific Beach Dr, San Diego, CA 92109',
 '11649 Springside Rd, San Diego, CA 92128',
 '6314 Friars Rd #106, San Diego, CA 92108',
 '12570 Carmel Creek Rd #89, San Diego, CA 92130',
 '8866 Trailridge Ave, Santee, CA 92071',
 '2862 6th Ave #102, San Diego, CA 92103',
 '1205 Muirlands Dr, La Jolla, CA 92037',
 '850 Beech St #213, San Diego, CA 92101',
 '2990 Racetrack View Dr, Del Mar, CA 92014',
 '2667 Keen Dr, San Diego, CA 92139',
 '4424 Estrella Ave #3, San Diego, CA 92115',
 '3746 31st St, San Diego, CA 92104',
 '14930 Avenida Venusto #110, San Diego, CA 92128',
 '12602 Carmel Country Rd #1, San Diego, CA 92130',
 '8943 Laddie Ln, San Diego, CA 92123',
 '13042 Jicama, San Diego, CA 92130',
 '7765 Via Solara #4, San Diego, CA 92129',
 '4771 Mount La Palma Dr, San Diego, CA 92117',
 '3329 Orange Ave, San Diego, CA 92104',
 '16770 Crescent Creek Dr, San Diego, CA 92127',
 '11406 Wills Creek Rd, San Diego, CA 92131',
 '1601 India St #414, San Diego, CA 92101',
 '3535 Monroe Ave #21, San Diego, CA 92116',
 '2119 Illion St, San Diego, CA 92110',
 '11130 Avenida de los Lobos, San Diego, CA 92127',
 '4019 Taos Dr, San Diego, CA 92117',
 'Sign in for address, San Diego, CA 92101',
 'Sign in for address, San Diego, CA 92116',
 '13864 Boquita Dr, Del Mar, CA 92014',
 '12 Via Montisi, Santee, CA 92071',
 '300 W Beech St #4, San Diego, CA 92101',
 '12987 Caminito Dosamantes, San Diego, CA 92128',
 '1643 6th Ave #417, San Diego, CA 92101',
 '2431 Palace Dr, San Diego, CA 92123',
 '7249 Park Village Rd, San Diego, CA 92129',
 '3950 Ohio St #535, San Diego, CA 92104',
 '7046 Park Mesa Way #39, San Diego, CA 92111',
 '1021 Scott St #218, San Diego, CA 92106',
 '3560-62 Island Ave, San Diego, CA 92102',
 '3887 Pell Pl #114, San Diego, CA 92130',
 '500 W Harbor Dr #507, San Diego, CA 92101',
 '17094 Castello Cir, San Diego, CA 92127',
 '6737 Friars #195, San Diego, CA 92108',
 '4455 Home Ave #4, San Diego, CA 92105',
 '12723 Savannah Creek Dr Unit 274, San Diego, CA 92128',
 '4105 Iowa St, San Diego, CA 92104',
 '1956 Hornblend St #4, San Diego, CA 92109',
 '4285 Asher St #28, San Diego, CA 92110',
 '1025 Island Ave #511, San Diego, CA 92101',
 '4282 Robbins St, San Diego, CA 92122',
 '3550 Sunset Ln #5, San Diego, CA 92173',
 '13022 Lemon Pine Ct, San Diego, CA 92129',
 '8652 New Salem St #33, San Diego, CA 92126',
 '8531 Pinecrest Ave, San Diego, CA 92123',
 '5996 Highplace Dr, San Diego, CA 92120',
 '4531 Winona #1, San Diego, CA 92115',
 '1154 Atwater St, San Diego, CA 92154',
 '6140 Calle Mariselda #204, Tierrasanta, CA 92124',
 '7155 Calabria Ct Unit E, San Diego, CA 92122',
 '10435 La Vita Ct, San Diego, CA 92131',
 '12457 Ruette Alliante, San Diego, CA 92130',
 '445 Island Ave #614, San Diego, CA 92101',
 '10686 Briarlake Woods Dr, San Diego, CA 92130',
 '860 Turquoise St #220, San Diego, CA 92109',
 '7146 Celome, San Diego, CA 92129',
 '1611 Hotel Cir S Unit A310, San Diego, CA 92108',
 '7641 Rainswept Ln, San Diego, CA 92119',
 '655 India St #320, San Diego, CA 92101',
 '16913 Laurel Hill Ln #147, San Diego, CA 92127',
 '14490 Rimgate Ct, San Diego, CA 92129',
 '5910 Rancho Mission Rd #27, San Diego, CA 92108',
 '6742 Waterman Ct, San Diego, CA 92111',
 '3950 60Th St #147, San Diego, CA 92115',
 '1080 Park Blvd #617, San Diego, CA 92101',
 '370 Treewood St, San Diego, CA 92114',
 '5122 Edgeworth, San Diego, CA 92109',
 '15484 Paseo Ajanta, San Diego, CA 92129']

In [85]:
len(address_name5)

120

In [86]:
price_name5=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag5 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag5:
        price_name5.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [87]:
price_name5

['$724,900',
 '$799,000',
 '$949,900',
 '$375,000',
 '$1,249,000',
 '$1,699,000',
 '$1,100,000',
 '$2,100,000',
 '$1,249,000',
 '$525,000',
 '$299,000',
 '$1,588,000',
 '$245,000',
 '$945,000',
 '$775,000',
 '$1,020,000',
 '$1,175,000',
 '$975,000',
 '$899,000',
 '$529,000',
 '$615,000',
 '$2,595,000',
 '$2,180,000',
 '$685,000',
 '$1,099,000',
 '$997,500',
 '$1,375,000',
 '$399,000',
 '$2,400,000',
 '$525,000',
 '$889,000',
 '$1,649,900',
 '$2,295,000',
 '$1,589,000',
 '$2,750,000',
 '$988,800',
 '$939,000',
 '$6,990,000',
 '$1,275,000',
 '$2,650,000',
 '$950,000',
 '$1,425,000',
 '$1,950,000',
 '$2,395,000',
 '$1,150,000',
 '$500,000',
 '$635,000',
 '$1,365,000',
 '$2,765,000',
 '$33,995,000',
 '$539,000',
 '$3,250,000',
 '$779,975',
 '$499,000',
 '$3,050,000',
 '$625,000',
 '$989,000',
 '$949,000',
 '$1,350,000',
 '$1,090,000',
 '$1,350,000',
 '$1,150,000',
 '$4,300,000',
 '$2,175,000',
 '$722,500',
 '$560,000',
 '$1,999,999',
 '$1,350,000',
 '$1,350,000',
 '$1,478,000',
 '$2,978,000',
 '$3,395,000',
 '$729,900',
 '$1,300,000',
 '$1,259,000',
 '$350,000',
 '$895,000',
 '$1,999,900',
 '$725,000',
 '$715,000',
 '$485,000',
 '$1,199,000',
 '$950,000',
 '$790,000',
 '$3,995,000',
 '$490,000',
 '$439,000',
 '$849,000',
 '$999,000',
 '$1,099,000',
 '$729,000',
 '$550,000',
 '$1,299,000',
 '$440,000',
 '$1,590,000',
 '$620,000',
 '$999,900',
 '$1,199,900',
 '$549,000',
 '$1,049,000',
 '$615,000',
 '$1,125,000',
 '$1,350,000',
 '$1,375,000',
 '$589,900',
 '$2,695,000',
 '$869,000',
 '$1,950,000',
 '$360,000',
 '$900,000',
 '$799,000',
 '$949,000',
 '$1,650,000',
 '$375,000',
 '$1,200,000',
 '$599,900',
 '$495,900',
 '$849,000',
 '$2,295,000',
 '$1,150,000']

In [88]:
len(price_name5)

120

In [89]:
ppsqft_name5=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag5 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag5:
        ppsqft_name5.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [90]:
ppsqft_name5

['$580',
 '$773',
 '$610',
 '$629',
 '$785',
 '$871',
 '$712',
 '$1,032',
 '$747',
 '$553',
 '$791',
 '$737',
 '$107',
 '$643',
 '$547',
 '$714',
 '$867',
 '$599',
 '$690',
 '$600',
 '$837',
 '$807',
 '$762',
 '$924',
 '$723',
 '$792',
 '$637',
 '$488',
 '$1,002',
 '$595',
 '$612',
 '$699',
 '$1,223',
 '$860',
 '$1,186',
 '$733',
 '$949',
 '$1,023',
 '$959',
 '$1,573',
 '$746',
 '$465',
 '$931',
 '$1,431',
 '$1,190',
 '$836',
 '$756',
 '$995',
 '$525',
 '$1,000',
 '$2,302',
 '$681',
 '$1,260',
 '$560',
 '$611',
 '$564',
 '$603',
 '$830',
 '$617',
 '$859',
 '$625',
 '$895',
 '$937',
 '$897',
 '$696',
 '$560',
 '$653',
 '$684',
 '$746',
 '$854',
 '$1,149',
 '$1,492',
 '$908',
 '$511',
 '$774',
 '$708',
 '$740',
 '$814',
 '$793',
 '$887',
 '$667',
 '$746',
 '$1,684',
 '$685',
 '$903',
 '$899',
 '$753',
 '$556',
 '$563',
 '$670',
 '$1,110',
 '$816',
 '$662',
 '$716',
 '$680',
 '$538',
 '$631',
 '$746',
 '$1,000',
 '$839',
 '$606',
 '$504',
 '$755',
 '$695',
 '$710',
 '$918',
 '$697',
 '$949',
 '$1,022',
 '$818',
 '$853',
 '$567',
 '$765',
 '$652',
 '$785',
 '$708',
 '$1,157',
 '$576',
 '$575',
 '$699',
 '$835',
 '$924',
 '$746']

In [91]:
len(ppsqft_name5)

123

In [109]:


beds_name5=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag5 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag5:
        beds_name5.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [111]:
beds_name5

['',
 '3 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '4 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '4 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '4 beds',
 '4 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '6 beds',
 '3 beds',
 '3 beds',
 '',
 '4 beds',
 '4 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '4 beds',
 '3 beds',
 '8 beds',
 '1 bed',
 '4 beds',
 '3 beds',
 '2 beds',
 '— beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '5 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '0 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '2 beds',
 '',
 '0 beds',
 '5 beds',
 '2 beds',
 '1 bed',
 '6 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '5 beds',
 '0 beds',
 '3 beds',
 '1 bed',
 '3 beds',
 '4 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '0 beds',
 '3 beds',
 '5 beds',
 '3 beds']

In [112]:
len(beds_name5)

123

In [96]:
baths_name5=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag5 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag5:
        baths_name5.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [97]:
baths_name5

['',
 '1.5 baths',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '3 baths',
 '3 baths',
 '3 baths',
 '3 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '3.5 baths',
 '2.5 baths',
 '2 baths',
 '7.5 baths',
 '2 baths',
 '2 baths',
 '',
 '3 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '3.5 baths',
 '3.5 baths',
 '8.5 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '— baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '3 baths',
 '3 baths',
 '4.5 baths',
 '4.5 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '3.5 baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '3 baths',
 '1 bath',
 '2.5 baths',
 '',
 '1 bath',
 '3 baths',
 '2 baths',
 '1 bath',
 '5.5 baths',
 '1.5 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '3 baths',
 '2 baths',
 '3 baths',
 '1 bath',
 '2.5 baths',
 '1.5 baths',
 '3.5 baths',
 '3 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '3 baths',
 '2 baths']

In [98]:
len(baths_name5)

123

In [99]:



sqft_name5=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag5 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"] ')
    for i in sqft_tag5:
        sqft_name5.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [100]:
sqft_name5

['1,250',
 '1,033',
 '1,556',
 '596',
 '1,591',
 '1,951',
 '1,546',
 '2,035',
 '1,671',
 '950',
 '378',
 '2,155',
 '2,280',
 '1,470',
 '1,417',
 '1,428',
 '1,355',
 '1,629',
 '1,302',
 '882',
 '735',
 '3,214',
 '2,861',
 '741',
 '1,520',
 '1,260',
 '2,158',
 '818',
 '2,396',
 '882',
 '1,453',
 '2,360',
 '1,876',
 '1,848',
 '2,319',
 '1,349',
 '989',
 '6,832',
 '1,330',
 '1,685',
 '1,453',
 '2,044',
 '1,531',
 '1,363',
 '2,012',
 '1,375',
 '661',
 '638',
 '2,599',
 '2,765',
 '14,768',
 '791',
 '2,579',
 '1,392',
 '817',
 '5,412',
 '1,036',
 '1,191',
 '1,538',
 '1,572',
 '1,743',
 '1,508',
 '1,227',
 '4,795',
 '3,125',
 '1,291',
 '858',
 '2,922',
 '1,810',
 '1,581',
 '1,286',
 '1,996',
 '3,740',
 '1,427',
 '1,680',
 '1,777',
 '473',
 '1,100',
 '2,522',
 '817',
 '1,072',
 '1,453',
 '288',
 '1,750',
 '1,052',
 '879',
 '5,303',
 '882',
 '780',
 '1,267',
 '900',
 '1,346',
 '1,102',
 '768',
 '1,910',
 '818',
 '2,518',
 '831',
 '1,000',
 '1,431',
 '906',
 '2,080',
 '815',
 '1,619',
 '1,902',
 '1,498',
 '846',
 '2,840',
 '850',
 '2,384',
 '422',
 '1,586',
 '1,044',
 '1,455',
 '2,101',
 '530',
 '1,037',
 '1,041',
 '863',
 '1,215',
 '2,750',
 '1,245',
 '1,453']

In [101]:
len(sqft_name5)

123

In [128]:
print(len(address_name5),len(price_name5),len(beds_name5),len(baths_name5),len(sqft_name5),len(ppsqft_name5))

80 80 80 80 80 80

In [127]:
del ppsqft_name5[80:123]

In [129]:
import pandas as pd
df5=pd.DataFrame({'Address':address_name5,'Price':price_name5,'Beds':beds_name5,'Baths':baths_name5,'Total sqft':sqft_name5,'Price per sqft':ppsqft_name5})
df5

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"10846 Lamentin Ct, San Diego, CA 92124","$724,900",,,"1,250",$580
1,"6289 Jeff St, San Diego, CA 92115","$799,000",3 beds,1.5 baths,"1,033",$773
2,"6056 Portobelo Ct, San Diego, CA 92124","$949,900",3 beds,2 baths,"1,556",$610
3,"3645 Ash St #4, San Diego, CA 92105","$375,000",2 beds,2.5 baths,596,$629
4,"4995 Rebel Rd, San Diego, CA 92117","$1,249,000",1 bed,1 bath,"1,591",$785
...,...,...,...,...,...,...
75,"1643 6th Ave #417, San Diego, CA 92101","$350,000",2 beds,2.5 baths,"1,777",$708
76,"2431 Palace Dr, San Diego, CA 92123","$895,000",3 beds,2 baths,473,$740
77,"7249 Park Village Rd, San Diego, CA 92129","$1,999,900",0 beds,1 bath,"1,100",$814
78,"3950 Ohio St #535, San Diego, CA 92104","$725,000",3 beds,2 baths,"2,522",$793
79,"7046 Park Mesa Way #39, San Diego, CA 92111","$715,000",5 beds,3 baths,817,$887

In [130]:
df5.to_csv('file5.csv')

In [ ]:
----------Portland condos-------------

In [137]:
Portland_condos=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div[2]/div/div[1]/div[11]/div[2]/a').click()

In [138]:
address_name6=[]
price_name6=[]
beds_name6=[]
baths_name6=[]
sqft_name6=[]
ppsqft_name6=[]

In [139]:
address_name6=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag6 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag6:
        address_name6.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [140]:
address_name6

['411 NW Flanders St, Portland, OR 97209',
 '111 SW Harrison St Unit 19E, Portland, OR 97201',
 '1638 SW 58th Ave, Portland, OR 97221',
 '7835 SE 92nd Ave #15, Portland, OR 97266',
 '1132 SW 19th Ave, Portland, OR 97205',
 '222 SE Spokane St, Portland, OR 97202',
 '1718 NE 11th Ave, Portland, OR 97212',
 '1134 SW Jefferson St #502, Portland, OR 97201',
 '1829 NW Lovejoy St, Portland, OR 97209',
 '7742 SE Long St Unit A, Portland, OR 97206',
 '47 Eagle Crest Dr #24, Lake Oswego, OR 97035',
 '8517 NE Milton St #4, Portland, OR 97220',
 '8523 NE Milton St #1, Portland, OR 97220',
 '8521 NE Milton St #2, Portland, OR 97220',
 '1025 NW Couch St #1018, Portland, OR 97209',
 '14811 NE Sacramento St #96, Portland, OR 97230',
 '330 NW 116th Ave #107, Portland, OR 97229',
 '1260 NW Naito Pkwy Unit 311B, Portland, OR 97209',
 '5170 S Landing Dr #201, Portland, OR 97239',
 '1130 NW 12th Ave #516, Portland, OR 97209',
 '940 NW Naito Pkwy Unit L12, Portland, OR 97209',
 '1260 NW Naito Pkwy, Portland, OR 97209',
 '305 S Montgomery St #503, Portland, OR 97201',
 '673 NE 162nd Ave, Portland, OR 97230',
 '4226 SE 79th Ave, Portland, OR 97206',
 '7716 SW Barnes Rd Unit D, Portland, OR 97225',
 '4980 S Landing Dr #304, Portland, OR 97239',
 '618 NW 12th Ave #307, Portland, OR 97209',
 '1704 NW Riverscape St, Portland, OR 97209',
 '2245 SW Park Pl Unit 1A, Portland, OR 97205',
 '5321 NE Irving St Unit B, Portland, OR 97213',
 '212 NE 79th Ave #201, Portland, OR 97213',
 '821 NW 11th Ave #101, Portland, OR 97209',
 '20 NW 16th Ave #107, Portland, OR 97209',
 '2732 SE 138th Ave #101, Portland, OR 97236',
 '15054 NW Central Dr #811, Portland, OR 97229',
 '7937 SW 40th Ave, Portland, OR 97219',
 '1030 NW 12th Ave #510, Portland, OR 97209',
 '333 NW 9th Ave #1205, Portland, OR 97209',
 '1125 NW 9th Ave #419, Portland, OR 97209',
 '1221 SW 10th Ave #603, Portland, OR 97205',
 '2907 NE 151st Ave, Portland, OR 97230',
 '1710 S Harbor Way Unit C405, Portland, OR 97201',
 '1933 NE 13th Ave, Portland, OR 97212',
 '1025 NW Couch St #520, Portland, OR 97209',
 '6610 SW Terri Ct #11, Portland, OR 97225',
 '6665 N Fessenden St #23, Portland, OR 97203',
 '6657 N Fessenden St #19, Portland, OR 97203',
 '6611 N Fessenden St #1, Portland, OR 97203',
 '6677 N Fessenden St #15, Portland, OR 97203',
 '6623 N Fessenden St #4, Portland, OR 97203',
 '1620 NE Broadway St #502, Portland, OR 97232',
 '8265 SW Canyon Ln, Portland, OR 97225',
 '63 Oswego, Lake Oswego, OR 97035',
 '1255 NW 9th Ave #314, Portland, OR 97209',
 '7929 SW 40th Ave, Portland, OR 97219',
 '2221 SW 1st Ave #1524, Portland, OR 97201',
 '847 SW Broadway Dr #31, Portland, OR 97201',
 '2204 SW Hoffman Ave, Portland, OR 97201',
 '1022 NW Marshall St #290, Portland, OR 97209',
 '7742 SE Long St Unit B, Portland, OR 97206',
 '5427 SW View Point Ter, Portland, OR 97239',
 '618 NW 12th Ave #302, Portland, OR 97209',
 '5250 S Landing Dr Unit 101/102, Portland, OR 97239',
 '949 NW Overton St #103, Portland, OR 97209',
 '255 SW Harrison St Unit 21F, Portland, OR 97201',
 '2729 SE 50th Ave, Portland, OR 97206',
 '7467 N Nohawk Ave #3, Portland, OR 97203',
 '4325 N Mississippi Ave #6, Portland, OR 97217',
 '82 Cervantes Cir, Lake Oswego, OR 97035',
 '2526 SE 130th Ave, Portland, OR 97236',
 '2221 SW 1st Ave #821, Portland, OR 97201',
 '905 N Harbour Dr #10, Portland, OR 97217',
 '1926 W Burnside St #812, Portland, OR 97209',
 '1130 NW 12th Ave #402, Portland, OR 97209',
 '5180 NW Neakahnie Ave #25, Portland, OR 97229',
 '1410 NW Kearney St #914, Portland, OR 97209',
 '2221 SW 1st Ave #1325, Portland, OR 97201',
 '6937 NE Broadway, Portland, OR 97213',
 '3601 S River Pkwy #1002, Portland, OR 97239',
 '2351 NW Westover Rd #1006, Portland, OR 97210',
 '810 NW Naito Pkwy Unit F23, Portland, OR 97209',
 '1714 NW Couch St #2, Portland, OR 97209',
 '2351 NW Westover Rd #805, Portland, OR 97210',
 '1500 SW 11th Ave #2701, Portland, OR 97201',
 '7453 N Mohawk Ave #10, Portland, OR 97203',
 '132 SE 119th Ave #5, Portland, OR 97216',
 '4956 NE 9th Ave #7, Portland, OR 97211',
 '2515 SE 51st Ave #25, Portland, OR 97206',
 '1255 NW 9th Ave #411, Portland, OR 97209',
 '1310 NW Naito Pkwy #707, Portland, OR 97209',
 '1926 W Burnside St #512, Portland, OR 97209',
 '1930 NW Irving St #101, Portland, OR 97209',
 '590 Waterfront Way #201, Vancouver, WA 98660',
 '7476 N Oswego Ave, Portland, OR 97203',
 '1125 NW 9th Ave #302, Portland, OR 97209',
 '12 NE Fremont St Unit 4E, Portland, OR 97212',
 '2015 SE Columbia River Dr #450, Vancouver, WA 98661',
 '7980 SE Cooper St Unit A, Portland, OR 97206',
 '2027 SE Harold St, Portland, OR 97202',
 '311 NW 12th Ave #203, Portland, OR 97209',
 '1510 NE 19th Ave #4, Portland, OR 97232',
 '333 NW 9th Ave #407, Unknown, OR 97209',
 '841 S Gaines St #2100, Portland, OR 97239',
 '8613 N Curtis Ave, Portland, OR 97217',
 '1400 NW Irving St #408, Portland, OR 97209',
 '7980 SE Cooper St Unit B, Portland, OR 97206',
 '840 NW Naito Pkwy Unit H7, Portland, OR 97209',
 '5110 S Landing Dr #106, Portland, OR 97239',
 '12330 SE Main St, Portland, OR 97233',
 '900 NE 81st Ave #213, Portland, OR 97213',
 '7829 N Portsmouth Ave Unit B, Portland, OR 97203',
 '15715 NE Beech St Unit 4A, Portland, OR 97230',
 '15031 NE Rose Pkwy, Portland, OR 97230',
 '1830 NW Riverscape St #105, Portland, OR 97209',
 '3601 S River Pkwy #2304, Portland, OR 97239',
 '1150 NW Quimby St #812, Portland, OR 97209',
 '1500 SW 5th Ave #304, Portland, OR 97201',
 '2221 SW 1st Ave Unit G22, Portland, OR 97201',
 '1001 NW Lovejoy St #1508, Portland, OR 97209']

In [141]:
len(address_name6)

120

In [173]:
price_name6=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag6 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag6:
        price_name6.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [174]:
price_name6

['',
 '$325,000',
 '$276,000',
 '$525,000',
 '$269,000',
 '$799,000',
 '$849,900',
 '$270,000',
 '$199,000',
 '$219,000',
 '$359,900',
 '$240,000',
 '$319,900',
 '$299,900',
 '$279,900',
 '$475,000',
 '$225,000',
 '$450,000',
 '$425,000',
 '$489,900',
 '$450,000',
 '$319,000',
 '$385,000',
 '$412,000',
 '$244,900',
 '$429,900',
 '$230,000',
 '$400,000',
 '$299,900',
 '$775,000',
 '$425,000',
 '$329,000',
 '$350,000',
 '$415,000',
 '$160,000',
 '$199,900',
 '$375,000',
 '$255,900',
 '$579,000',
 '$419,900',
 '$330,000',
 '',
 '$339,900',
 '$279,000',
 '$375,000',
 '$495,000',
 '$1,100,000',
 '$255,000',
 '$239,900',
 '$249,900',
 '$279,900',
 '$269,900',
 '$259,900',
 '$525,000',
 '$410,000',
 '$235,000',
 '$350,000',
 '$239,900',
 '$485,000',
 '$250,000',
 '$825,000',
 '$347,500',
 '$309,900',
 '$575,000',
 '$485,000',
 '$475,000',
 '$1,095,000',
 '$285,000',
 '$319,900',
 '$329,900',
 '$324,900',
 '$234,997',
 '$379,900',
 '$449,500',
 '$555,000',
 '$280,000',
 '$595,000',
 '$299,900',
 '$339,500',
 '$599,000',
 '$349,000',
 '$290,000',
 '',
 '$578,900',
 '$415,000',
 '$162,000',
 '$649,000',
 '$2,200,000',
 '$314,900',
 '$160,000',
 '$335,000',
 '$331,500',
 '$950,000',
 '$625,000',
 '$279,900',
 '$379,000',
 '$1,299,000',
 '$374,900',
 '$520,000',
 '$859,900',
 '$3,200,000',
 '$364,900',
 '$525,000',
 '$499,000',
 '$185,000',
 '$649,000',
 '$795,000',
 '$400,000',
 '$449,900',
 '$309,900',
 '$289,000',
 '$499,900',
 '$253,000',
 '$219,900',
 '$449,500',
 '$249,999',
 '$275,000',
 '$389,900',
 '$325,000',
 '$850,000',
 '$349,900',
 '$449,999',
 '$1,395,000']

In [175]:
len(price_name6)

123

In [145]:
beds_name6=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag6 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag6:
        beds_name6.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [146]:
beds_name6

['1 bed',
 '1 bed',
 '3 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '0 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '0 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '3 beds',
 '0 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '0 beds',
 '1 bed',
 '2 beds',
 '0 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '0 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '1 bed',
 '0 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '0 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds']

In [147]:
len(beds_name6)

120

In [148]:
baths_name6=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag6 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag6:
        baths_name6.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [149]:
baths_name6

['1 bath',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '1.5 baths',
 '1 bath',
 '2.5 baths',
 '1.5 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '3.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '1.5 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '1.5 baths',
 '3.5 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '3 baths',
 '1 bath',
 '1.5 baths',
 '2.5 baths',
 '1 bath',
 '1.5 baths',
 '2.5 baths',
 '1.5 baths',
 '4 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '1.5 baths',
 '3 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2.5 baths']

In [150]:
len(baths_name6)

120

In [155]:
sqft_name6=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag6 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag6:
        sqft_name6.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [157]:
sqft_name6

['954',
 '579',
 '2,096',
 '1,146',
 '2,001',
 '2,625',
 '689',
 '484',
 '636',
 '1,115',
 '672',
 '889',
 '994',
 '876',
 '998',
 '766',
 '1,300',
 '869',
 '1,045',
 '981',
 '901',
 '817',
 '875',
 '864',
 '1,787',
 '572',
 '1,004',
 '680',
 '1,885',
 '979',
 '718',
 '982',
 '874',
 '312',
 '844',
 '904',
 '712',
 '1,083',
 '1,013',
 '757',
 '955',
 '859',
 '1,638',
 '810',
 '1,330',
 '1,811',
 '954',
 '677',
 '895',
 '933',
 '940',
 '922',
 '1,094',
 '1,859',
 '764',
 '764',
 '724',
 '1,473',
 '1,359',
 '3,303',
 '827',
 '842',
 '1,605',
 '973',
 '1,624',
 '2,587',
 '744',
 '800',
 '915',
 '657',
 '912',
 '1,437',
 '1,267',
 '2,667',
 '730',
 '1,485',
 '742',
 '837',
 '1,950',
 '1,579',
 '636',
 '955',
 '959',
 '1,059',
 '367',
 '1,167',
 '2,927',
 '932',
 '360',
 '715',
 '1,078',
 '2,101',
 '1,592',
 '729',
 '928',
 '1,478',
 '942',
 '1,125',
 '1,869',
 '3,288',
 '1,209',
 '1,816',
 '1,029',
 '335',
 '1,375',
 '1,597',
 '1,019',
 '1,229',
 '921',
 '732',
 '1,003',
 '962',
 '599',
 '884',
 '929',
 '1,305',
 '756',
 '793',
 '1,459',
 '1,050',
 '1,322',
 '1,831',
 '955']

In [159]:
len(sqft_name6)

123

In [160]:
ppsqft_name6=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag6 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag6:
        ppsqft_name6.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [161]:
ppsqft_name6

['$341',
 '$477',
 '$250',
 '$235',
 '$399',
 '$324',
 '$392',
 '$411',
 '$344',
 '$323',
 '$357',
 '$360',
 '$302',
 '$320',
 '$476',
 '$294',
 '$346',
 '$489',
 '$469',
 '$459',
 '$354',
 '$471',
 '$471',
 '$283',
 '$241',
 '$402',
 '$398',
 '$441',
 '$411',
 '$434',
 '$458',
 '$356',
 '$475',
 '$513',
 '$237',
 '$415',
 '$359',
 '$535',
 '$415',
 '$436',
 '$392',
 '$396',
 '$170',
 '$463',
 '$372',
 '$607',
 '$267',
 '$354',
 '$279',
 '$300',
 '$287',
 '$282',
 '$480',
 '$221',
 '$308',
 '$458',
 '$331',
 '$329',
 '$184',
 '$250',
 '$420',
 '$368',
 '$358',
 '$498',
 '$292',
 '$423',
 '$383',
 '$400',
 '$361',
 '$495',
 '$258',
 '$264',
 '$355',
 '$208',
 '$384',
 '$401',
 '$404',
 '$406',
 '$307',
 '$221',
 '$456',
 '$392',
 '$604',
 '$392',
 '$441',
 '$556',
 '$752',
 '$338',
 '$444',
 '$469',
 '$308',
 '$452',
 '$393',
 '$384',
 '$408',
 '$879',
 '$398',
 '$462',
 '$460',
 '$973',
 '$302',
 '$289',
 '$485',
 '$552',
 '$472',
 '$498',
 '$393',
 '$366',
 '$336',
 '$395',
 '$498',
 '$263',
 '$367',
 '$508',
 '$269',
 '$211',
 '$516',
 '$410',
 '$583',
 '$333',
 '$340',
 '$762',
 '$392']

In [162]:
len(ppsqft_name6)

123

In [186]:
print(len(address_name6),len(price_name6),len(beds_name6),len(baths_name6),len(sqft_name6),len(ppsqft_name6))

100 100 100 100 100 100

In [185]:
del ppsqft_name6[100:123]

In [172]:
del price_tag6

In [187]:
import pandas as pd
df6=pd.DataFrame({'Address':address_name6,'Price':price_name6,'Beds':beds_name6,'Baths':baths_name6,'Total sqft':sqft_name6,'Price per sqft':ppsqft_name6})
df6

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"411 NW Flanders St, Portland, OR 97209",,1 bed,1 bath,954,$341
1,"111 SW Harrison St Unit 19E, Portland, OR 97201","$325,000",1 bed,1 bath,579,$477
2,"1638 SW 58th Ave, Portland, OR 97221","$276,000",3 beds,2.5 baths,"2,096",$250
3,"7835 SE 92nd Ave #15, Portland, OR 97266","$525,000",3 beds,2.5 baths,"1,146",$235
4,"1132 SW 19th Ave, Portland, OR 97205","$269,000",2 beds,2 baths,"2,001",$399
...,...,...,...,...,...,...
95,"1125 NW 9th Ave #302, Portland, OR 97209","$379,000",2 beds,2 baths,"1,478",$879
96,"12 NE Fremont St Unit 4E, Portland, OR 97212","$1,299,000",2 beds,2 baths,942,$398
97,"2015 SE Columbia River Dr #450, Vancouver, WA ...","$374,900",3 beds,3.5 baths,"1,125",$462
98,"7980 SE Cooper St Unit A, Portland, OR 97206","$520,000",2 beds,1.5 baths,"1,869",$460
99,"2027 SE Harold St, Portland, OR 97202","$859,900",4 beds,3 baths,"3,288",$973

In [188]:
df6.to_csv('file6.csv')

In [ ]:
-----------Washington DC-----------

In [ ]:
/html/body/div[1]/div[6]/div[2]/div/div[1]/div[13]/div[2]/a

In [27]:
washington_condos=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div[2]/div/div[1]/div[13]/div[2]/a').click()

In [12]:
address_name7=[]
price_name7=[]
beds_name7=[]
baths_name7=[]
sqft_name7=[]
ppsqft_name7=[]

In [13]:
address_name7=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag7 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag7:
        address_name7.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [14]:
address_name7

['1315 Harvard St NW #1, Washington, DC 20009',
 '1315 Harvard St NW #2, Washington, DC 20009',
 '800 4th St SW Unit N812, Washington, DC 20024',
 '1209 G St SE #11, Washington, DC 20003',
 '709 Rock Creek Church Rd NW #2, Washington, DC 20010',
 '4013 Davis Pl NW #8, Washington, DC 20007',
 '3804 Porter St NW #101, Washington, DC 20016',
 '811 4th St NW #618, Washington, DC 20001',
 '57 N St NW Unit N134, Washington, DC 20001',
 '3812 V St SE #301, Washington, DC 20020',
 '2500 Q St NW Unit 141-142, Washington, DC 20007',
 '1454 Belmont St NW #12, Washington, DC 20009',
 '3255 Prospect St NW Unit ONE, Washington, DC 20007',
 '2555 Pennsylvania Ave NW #406, Washington, DC 20037',
 '2125 14th St NW #319, Washington, DC 20009',
 '810 O St NW #207, Washington, DC 20001',
 '732 5th St SE #1, Washington, DC 20003',
 '7700 Georgia Ave NW #301, Washington, DC 20012',
 '1320 13th St NW #21, Washington, DC 20005',
 '5112 Macarthur Blvd NW #104, Washington, DC 20016',
 '1440 N NW #514, Washington, DC 20005',
 '661 Morris Pl NE #2, Washington, DC 20002',
 '400 Evarts St NE #202, Washington, DC 20017',
 '3 Washington Cir NW #607, Washington, DC 20037',
 '1300 N St NW #413, Washington, DC 20005',
 '1316 New Hampshire Ave NW #501, Washington, DC 20036',
 '1825 Florida Ave NW #30, Washington, DC 20009',
 '715 6th St NW #305, Washington, DC 20001',
 '517 Montana Ave NE #2, Washington, DC 20017',
 '2755 Ordway St NW #201, Washington, DC 20008',
 '222 20th St NE #4, Washington, DC 20002',
 '4804 Georgia Ave NW Unit 101, Washington, DC 20011',
 '424 Evarts St NE #1, Washington, DC 20017',
 '2640 Wade Rd SE #23, Washington, DC 20020',
 '2801 New Mexico Ave NW Ph 15, Washington, DC 20007',
 '4201 Cathedral Ave NW Unit 717E, Washington, DC 20016',
 '1420 Clifton St NW #409, Washington, DC 20009',
 '7981 Eastern Ave #211, Silver Spring, MD 20910',
 '1831 California St NW #30, Washington, DC 20009',
 '422 Butternut St NW #111, Washington, DC 20012',
 '1421 Chapin St NW #2, Washington, DC 20009',
 '2030 8th St NW Ph 8, Washington, DC 20001',
 '2920 Georgia Ave NW #401, Washington, DC 20001',
 '5315 Connecticut Ave NW #101, Washington, DC 20015',
 '1026 18th St NE Unit ONE, Washington, DC 20002',
 '4013 8th St NE #1, Washington, DC 20017',
 '50 Florida Ave NE #926, Washington, DC 20002',
 '801 Pennsylvania Ave NW #1014, Washington, DC 20004',
 '111 Quincy Pl NE #1, Washington, DC 20002',
 '1201 O St NW Unit 1B, Washington, DC 20005',
 '1301 20th St NW #108, Washington, DC 20036',
 '149 W St NW #35, Washington, DC 20001',
 '802 21st St NE #2, Washington, DC 20002',
 '1409 G St NE #5, Washington, DC 20002',
 '1210 R St NW #212, Washington, DC 20009',
 '802 21st St NE #1, Washington, DC 20002',
 '440 L St NW #105, Washington, DC 20001',
 '2019 M St NE #4, Washington, DC 20002',
 '224 T St NE #1, Washington, DC 20002',
 '1842 Mintwood Pl NW #1, Washington, DC 20009',
 '8045 Newell St #223, Silver Spring, MD 20910',
 '210 Oakwood St SE #106, Washington, DC 20032',
 '828 Taylor St NE #3, Washington, DC 20017',
 '828 Taylor St NE #8, Washington, DC 20017',
 '828 Taylor St NE #1, Washington, DC 20017',
 '705 Taylor St NW Unit ONE, Washington, DC 20011',
 '3649 13th St NW #2, Washington, DC 20010',
 '2201 L St NW #301, Washington, DC 20037',
 '1736 18th St NW #101, Washington, DC 20009',
 '2212 Washington Ave Unit 2212-W, Silver Spring, MD 20910',
 '1708 16th NW Unit T2, Washington, DC 20009',
 '800 4th St SW Unit N421, Washington, DC 20024',
 '222 4th St SE #1, Washington, DC 20003',
 '2305 18th St NW #302, Washington, DC 20009',
 '3614 12th St NE #5, Washington, DC 20017',
 '1361 K St SE #203, Washington, DC 20003',
 '3927 14th St NW #3, Washington, DC 20011',
 '929 Florida Ave NW Unit 7001, Washington, DC 20001',
 '1511 22nd St NW #44, Washington, DC 20037',
 '1 Scott Cir NW #506, Washington, DC 20036',
 '440 L St NW #1009, Washington, DC 20001',
 '811 4th St NW #1213, Washington, DC 20001',
 '1621 T St SE Unit 2A, Washington, DC 20020',
 '2310 4th St NE #19, Washington, DC 20002',
 '2310 4th St NE #7, Washington, DC 20002',
 '1239 Vermont Ave NW #1008, Washington, DC 20005',
 '4326 Georgia Ave NW #501, Washington, DC 20011',
 '1816 19th St NW #1, Washington, DC 20009',
 '1513 A St NE #1, Washington, DC 20002',
 '3649 13th St NW #1, Washington, DC 20010',
 '2527 Q St NW #202, Washington, DC 20007',
 '2213 M St NE #004, Washington, DC 20002',
 '2213 M St NE #105, Washington, DC 20002',
 '800 25th St NW #903, Washington, DC 20037',
 '2022 Flagler Pl NW Unit F101, Washington, DC 20001',
 '1215 10th St NW #41, Washington, DC 20001',
 '555 Massachusetts Ave NW #1307, Washington, DC 20001',
 '935 M St NW #1, Washington, DC 20001',
 '4100 W W St NW #411, Washington, DC 20007',
 '1025 1st St SE #811, Washington, DC 20003',
 '1441 Euclid St NW #302, Washington, DC 20009',
 '88 V St SW #807, Washington, DC 20024',
 '1750 Harvard St NW Unit 6A, Washington, DC 20009',
 '2615 4th St NE Unit B3, Washington, DC 20002',
 '1740 New Hampshire Ave NW Unit D, Washington, DC 20009',
 '2006 Fort Davis St SE #202, Washington, DC 20020',
 '1520 16th St NW #202, Washington, DC 20036',
 '912 F St NW #201, Washington, DC 20004',
 '1610 Beekman Pl NW Unit A, Washington, DC 20009',
 '2829 Connecticut Ave NW #401, Washington, DC 20008',
 '1620 Corcoran St NW Unit D, Washington, DC 20009',
 '88 V St SW #808, Washington, DC 20024',
 '1111 W St NW #8, Washington, DC 20009',
 '1345 K St SE #103, Washington, DC 20003',
 '2123 California St NW Unit C6, Washington, DC 20008',
 '2250 11th St NW #108, Washington, DC 20001',
 '1628 11th St NW #203, Washington, DC 20001',
 '2709 N N St NW #101, Washington, DC 20007',
 '4014 Georgia Ave NW Unit C02, Washington, DC 20011',
 '1920 Naylor Rd SE #107, Washington, DC 20020']

In [28]:
len(address_name7)

120

In [16]:
price_name7=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag7 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag7:
        price_name7.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [17]:
price_name7

['$649,900',
 '$389,900',
 '$247,000',
 '$1,050,000',
 '$40,000',
 '$244,900',
 '$100,000',
 '$139,900',
 '$1,375,000',
 '$1,200,000',
 '$179,900',
 '$550,000',
 '$260,000',
 '$264,999',
 '$495,000',
 '$419,998',
 '$474,900',
 '$425,000',
 '$305,000',
 '$489,777',
 '$285,000',
 '$204,900',
 '$280,000',
 '$799,000',
 '$1,150,000',
 '$559,900',
 '$438,900',
 '$729,500',
 '$675,000',
 '$173,000',
 '$749,900',
 '$299,000',
 '$849,000',
 '$175,000',
 '$429,000',
 '$609,000',
 '$269,900',
 '$369,000',
 '$930,000',
 '$475,000',
 '$329,000',
 '$315,000',
 '$819,000',
 '$585,000',
 '$559,900',
 '$634,888',
 '$550,000',
 '$299,900',
 '$425,500',
 '$6,900,000',
 '$1,295,000',
 '$365,000',
 '$285,000',
 '$534,900',
 '$499,000',
 '$247,000',
 '$246,600',
 '$949,900',
 '$729,000',
 '$275,000',
 '$399,995',
 '$400,000',
 '$130,000',
 '$275,000',
 '$425,000',
 '$515,000',
 '$639,000',
 '$239,000',
 '$839,000',
 '$350,000',
 '$157,000',
 '$1,595,000',
 '$639,900',
 '$325,000',
 '$379,000',
 '$599,000',
 '$739,000',
 '$299,900',
 '$445,000',
 '$315,000',
 '$1,695,000',
 '$325,000',
 '$469,000',
 '$319,900',
 '$449,999',
 '$650,000',
 '$549,900',
 '$499,900',
 '$1,099,900',
 '$295,000',
 '$1,199,900',
 '$454,900',
 '$1,999,900',
 '$149,900',
 '$415,000',
 '$2,088,000',
 '$415,000',
 '$475,000',
 '$375,000',
 '$545,000',
 '$424,900',
 '$325,000',
 '$429,900',
 '$599,900',
 '$519,900',
 '$410,000',
 '$215,000',
 '$365,000',
 '$879,000',
 '$295,000',
 '$580,000',
 '$549,000',
 '$597,000',
 '$495,000',
 '$789,000',
 '$789,000',
 '$797,000',
 '$479,000',
 '$499,700',
 '$624,900']

In [18]:
len(price_name7)

120

In [29]:
beds_name7=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag7 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag7:
        beds_name7.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [30]:
beds_name7

['3 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '0 beds',
 '0 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '0 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '0 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '1 bed',
 '0 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '1 bed',
 '1 bed',
 '3 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '0 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed',
 '3 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '3 beds',
 '1 bed',
 '3 beds',
 '1 bed',
 '1 bed',
 '0 beds',
 '2 beds',
 '1 bed']

In [31]:
len(beds_name7)

120

In [34]:
baths_name7=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag7 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag7:
        baths_name7.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [36]:
baths_name7

['2.5 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '3.5 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '3 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1.5 baths',
 '2.5 baths',
 '2 baths',
 '1.5 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '1 bath',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '1.5 baths',
 '2 baths',
 '1 bath',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '3 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '1 bath']

In [37]:
len(baths_name7)

120

In [38]:
sqft_name7=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag7 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag7:
        sqft_name7.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [39]:
sqft_name7

['447',
 '816',
 '706',
 '1,978',
 '513',
 '852',
 '1,290',
 '676',
 '1,793',
 '1,460',
 '934',
 '746',
 '517',
 '445',
 '571',
 '649',
 '730',
 '631',
 '833',
 '—',
 '440',
 '565',
 '499',
 '1,500',
 '1,460',
 '711',
 '747',
 '1,135',
 '1,029',
 '749',
 '1,081',
 '588',
 '925',
 '662',
 '689',
 '711',
 '—',
 '687',
 '2,050',
 '1,180',
 '809',
 '585',
 '587',
 '1,121',
 '1,000',
 '746',
 '1,068',
 '526',
 '653',
 '3,968',
 '1,406',
 '843',
 '600',
 '788',
 '1,063',
 '590',
 '592',
 '1,115',
 '1,410',
 '580',
 '768',
 '654',
 '679',
 '517',
 '628',
 '700',
 '836',
 '483',
 '1,270',
 '480',
 '643',
 '1,493',
 '894',
 '547',
 '767',
 '865',
 '1,000',
 '517',
 '1,095',
 '581',
 '1,535',
 '809',
 '688',
 '903',
 '660',
 '801',
 '802',
 '—',
 '—',
 '—',
 '413',
 '—',
 '1,303',
 '—',
 '605',
 '641',
 '1,395',
 '750',
 '809',
 '500',
 '931',
 '1,020',
 '516',
 '787',
 '834',
 '646',
 '648',
 '306',
 '580',
 '1,826',
 '856',
 '1,030',
 '1,154',
 '660',
 '527',
 '869',
 '869',
 '827',
 '532',
 '555',
 '950',
 '1,267',
 '809']

In [40]:
len(sqft_name7)

123

In [41]:
ppsqft_name7=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag7 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag7:
        ppsqft_name7.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [42]:
ppsqft_name7

['$527',
 '$567',
 '$510',
 '$836',
 '$632',
 '$1,065',
 '$503',
 '$634',
 '$755',
 '$252',
 '$440',
 '$643',
 '$1,369',
 '$859',
 '$680',
 '$773',
 '$907',
 '$529',
 '$704',
 '$552',
 '$498',
 '$690',
 '$457',
 '$778',
 '$678',
 '$682',
 '$686',
 '$543',
 '$460',
 '$621',
 '$608',
 '$489',
 '$504',
 '$172',
 '$776',
 '$483',
 '$548',
 '$480',
 '$624',
 '$487',
 '$588',
 '$639',
 '$893',
 '$697',
 '$397',
 '—',
 '$475',
 '$625',
 '$877',
 '$426',
 '$751',
 '$587',
 '$546',
 '$508',
 '$440',
 '$868',
 '$449',
 '$691',
 '$470',
 '$599',
 '$447',
 '$409',
 '$289',
 '$520',
 '$671',
 '$439',
 '$398',
 '$548',
 '$566',
 '$735',
 '$345',
 '$685',
 '$457',
 '$571',
 '$679',
 '$608',
 '$738',
 '$631',
 '$511',
 '$686',
 '$531',
 '$588',
 '$616',
 '$731',
 '$374',
 '—',
 '$596',
 '$645',
 '$590',
 '$654',
 '$474',
 '$465',
 '$592',
 '$588',
 '$463',
 '$452',
 '$680',
 '$748',
 '$718',
 '$689',
 '$447',
 '$648',
 '$636',
 '$974',
 '$689',
 '$432',
 '$529',
 '$238',
 '$893',
 '$570',
 '$713',
 '$479',
 '$839',
 '$1,233',
 '$765',
 '$885',
 '$575',
 '$581',
 '$1,044',
 '$465',
 '$729',
 '$67',
 '$588']

In [43]:
len(ppsqft_name7)

123

In [48]:
print(len(address_name7),len(price_name7),len(beds_name7),len(baths_name7),len(sqft_name7),len(ppsqft_name7))

120 120 120 120 120 120

In [47]:
del ppsqft_name7[120:123]

In [49]:
import pandas as pd
df7=pd.DataFrame({'Address':address_name7,'Price':price_name7,'Beds':beds_name7,'Baths':baths_name7,'Total sqft':sqft_name7,'Price per sqft':ppsqft_name7})
df7

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"1315 Harvard St NW #1, Washington, DC 20009","$649,900",3 beds,2.5 baths,447,$527
1,"1315 Harvard St NW #2, Washington, DC 20009","$389,900",3 beds,2.5 baths,816,$567
2,"800 4th St SW Unit N812, Washington, DC 20024","$247,000",1 bed,1 bath,706,$510
3,"1209 G St SE #11, Washington, DC 20003","$1,050,000",2 beds,1 bath,"1,978",$836
4,"709 Rock Creek Church Rd NW #2, Washington, DC...","$40,000",2 beds,2.5 baths,513,$632
...,...,...,...,...,...,...
115,"2250 11th St NW #108, Washington, DC 20001","$789,000",1 bed,1 bath,869,$885
116,"1628 11th St NW #203, Washington, DC 20001","$797,000",1 bed,1 bath,869,$575
117,"2709 N N St NW #101, Washington, DC 20007","$479,000",0 beds,1 bath,827,$581
118,"4014 Georgia Ave NW Unit C02, Washington, DC 2...","$499,700",2 beds,2.5 baths,532,"$1,044"
119,"1920 Naylor Rd SE #107, Washington, DC 20020","$624,900",1 bed,1 bath,555,$465

In [50]:
df7.to_csv('file7.csv')

In [56]:
SanFrancisco_condos=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div[2]/div/div[1]/div[15]/div[2]/a').click()

In [57]:
address_name8=[]
price_name8=[]
beds_name8=[]
baths_name8=[]
sqft_name8=[]
ppsqft_name8=[]

In [58]:
address_name8=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag8 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag8:
        address_name8.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [59]:
address_name8

['368 Elm St #304, San Francisco, CA 94102',
 '960 Natoma St #4, San Francisco, CA 94103',
 '288 Union St #3, San Francisco, CA 94133',
 '960 Market St #509, San Francisco, CA 94102',
 '2 Mint Plz #308, San Francisco, CA 94103',
 '403 Main St Unit 608N, San Francisco, CA 94105',
 '333 Main St Unit 5K, San Francisco, CA 94105',
 '4537 California St, San Francisco, CA 94118',
 '1585 10th Ave #3, San Francisco, CA 94122',
 '200 Brannan St #136, San Francisco, CA 94107',
 '239 Brannan St Unit 10G, San Francisco, CA 94107',
 '597 21st Ave, San Francisco, CA 94121',
 '875 La Playa St #182, San Francisco, CA 94121',
 '338 Potrero Ave #607, San Francisco, CA 94103',
 '1624 Larkin St #1, San Francisco, CA 94109',
 '1028 Sanchez St, San Francisco, CA 94114',
 '152 Lombard St #707, San Francisco, CA 94111',
 '425 1st St #3406, San Francisco, CA 94105',
 '875 California St #601, San Francisco, CA 94108',
 '719 Clementina St #2, San Francisco, CA 94103',
 '3379 22nd St, San Francisco, CA 94110',
 '875 California St #602, San Francisco, CA 94108',
 '11 Haight St #6, San Francisco, CA 94102',
 '3241 21st St, San Francisco, CA 94110',
 '260 King St #1507, San Francisco, CA 94107',
 '3122 Clay St, San Francisco, CA 94115',
 '123 San Jose Ave Unit C, San Francisco, CA 94110',
 '31 Page St #501, San Francisco, CA 94102',
 '1580 Lombard St #2, San Francisco, CA 94123',
 '201 Harrison St #312, San Francisco, CA 94105',
 '3163 Sacramento St, San Francisco, CA 94115',
 '999 Wisconsin St #7, San Francisco, CA 94107',
 '1910 Divisadero St #1, San Francisco, CA 94115',
 '400 Beale St #1805, San Francisco, CA 94105',
 '3535 Wawona St #512, San Francisco, CA 94116',
 '1299 Bush St #402, San Francisco, CA 94109',
 '1515 15th St #308, San Francisco, CA 94103',
 '530 Douglass St, San Francisco, CA 94114',
 '190 Arguello Blvd #2, San Francisco, CA 94118',
 '190 Arguello Blvd #3, San Francisco, CA 94118',
 '55 Page St #824, San Francisco, CA 94102',
 '623 Broderick St Unit C, San Francisco, CA 94117',
 '192 Arguello Blvd, San Francisco, CA 94118',
 '1301 Indiana St #302, San Francisco, CA 94107',
 '2875 Jackson St #2, San Francisco, CA 94115',
 '821 Taraval St Unit B, San Francisco, CA 94116',
 '1738 Lombard St #3, San Francisco, CA 94123',
 '520 Chestnut St #301, San Francisco, CA 94133',
 '1175 Tennessee St, San Francisco, CA 94107',
 '1380 Greenwich St #110, San Francisco, CA 94109',
 '914 Stanyan St, San Francisco, CA 94117',
 '460 Filbert St #3, San Francisco, CA 94133',
 '81 Eureka St, San Francisco, CA 94114',
 '88 Summit Way, San Francisco, CA 94132',
 '240 Liberty St Unit D, San Francisco, CA 94114',
 '2152 15th St, San Francisco, CA 94114',
 '730 Florida St #21, San Francisco, CA 94110',
 '730 Florida St #11, San Francisco, CA 94110',
 '1 Rebecca Ln, San Francisco, CA 94124',
 '7 Casa Way #5, San Francisco, CA 94123',
 '3208 Pierce St #102, San Francisco, CA 94123',
 '323 Lincoln Way, San Francisco, CA 94122',
 '3002 Clay St, San Francisco, CA 94115',
 '927 Kansas St, San Francisco, CA 94107',
 '323 29th St Unit C201, San Francisco, CA 94131',
 '451 Donahue St #203, San Francisco, CA 94124',
 '72 Townsend St #607, San Francisco, CA 94107',
 '3321 17th St #7, San Francisco, CA 94110',
 '50 Lansing St #301, San Francisco, CA 94105',
 '3230 Washington St, San Francisco, CA 94115',
 '2001 Mcallister St #255, San Francisco, CA 94118',
 '55 Page St #427, San Francisco, CA 94102',
 '1221 Harrison St #16, San Francisco, CA 94103',
 '181 Fremont St Unit 60D, San Francisco, CA 94105',
 '22 Blake St, San Francisco, CA 94118',
 '20 Blake St, San Francisco, CA 94118',
 '1218 Jackson St, San Francisco, CA 94109',
 '318 Spear St Unit 6F, San Francisco, CA 94105',
 '3110 California St Unit 3B, San Francisco, CA 94115',
 '2525 Van Ness Ave #203, San Francisco, CA 94109',
 '2525 Van Ness Ave #504, San Francisco, CA 94109',
 '333 Main St Unit 8E, San Francisco, CA 94105',
 '2525 Van Ness Ave #602, San Francisco, CA 94109',
 '441 Mason St #1402, San Francisco, CA 94102',
 '380 Monterey Blvd #102, San Francisco, CA 94131',
 '3182 Washington St, San Francisco, CA 94115',
 '246 2nd St #706, San Francisco, CA 94105',
 '400 Spear St #116, San Francisco, CA 94105',
 '370 Church St Unit A, San Francisco, CA 94114',
 '2177 3rd St #104, San Francisco, CA 94107',
 '2177 3rd St #605, San Francisco, CA 94107',
 '301 Main St Unit 9D, San Francisco, CA 94105',
 '36 Alma St, San Francisco, CA 94117',
 '850 Corbett Ave #3, San Francisco, CA 94131',
 '145 Gardenside Dr #5, San Francisco, CA 94131',
 '105 8th Ave, San Francisco, CA 94118',
 '562 14th St, San Francisco, CA 94103',
 '420 Mission Bay Blvd #405, San Francisco, CA 94158',
 '829 Folsom St #200, San Francisco, CA 94107',
 '700 Illinois St #108, San Francisco, CA 94107',
 '3041 Webster St Unit A, San Francisco, CA 94123',
 '1471 19th Ave #3, San Francisco, CA 94122',
 '3208 Pierce St #404, San Francisco, CA 94123',
 '601 Van Ness Ave #244, San Francisco, CA 94102',
 '301 Mission St Unit 41B, San Francisco, CA 94105',
 '181 Fremont St Unit 60C, San Francisco, CA 94105',
 '680 Alvarado St, San Francisco, CA 94114',
 '525 Gough St #102, San Francisco, CA 94102',
 '19 Rosemont Pl, San Francisco, CA 94103',
 '170 King St #714, San Francisco, CA 94107',
 '338 Spear St Unit 35D, San Francisco, CA 94105',
 '4038 18th St, San Francisco, CA 94114',
 '355 Bryant St #209, San Francisco, CA 94107',
 '177 Henry St, San Francisco, CA 94114',
 '455 Vallejo St #105, San Francisco, CA 94133',
 '2412 Harrison St #114, San Francisco, CA 94110',
 '119 St Marys Ave, San Francisco, CA 94112',
 '555 4th St #103, San Francisco, CA 94107',
 '944 South South Van Ness Ave, San Francisco, CA 94110',
 '1348 Scott St #17, San Francisco, CA 94115']

In [61]:
len(address_name8)

120

In [62]:
price_name8=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag8 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag8:
        price_name8.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [ ]:
price_name8

In [63]:
len(price_name8)

120

In [64]:
beds_name8=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag8 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag8:
        beds_name8.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [65]:
beds_name8

['2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '2 beds',
 '0 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '4 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '4 beds',
 '0 beds',
 '0 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '0 beds',
 '1 bed',
 '1 bed',
 '0 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '0 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '3 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '1 bed',
 '1 bed',
 '3 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '2 beds']

In [66]:
len(beds_name8)

120

In [73]:
baths_name8=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag8 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag8:
        baths_name8.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [74]:
baths_tag8

[<selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85103")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85040")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84980")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84917")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84854")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84795")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84742")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84706")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84674")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84621")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84564")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84507")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84454")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84397")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.84344")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85588")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85531")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85478")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85421")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85368")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85275")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85222")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.86500")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.86447")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.86390")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.86337")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.86284")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.86227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.86174")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.86117")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.86064")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.86007")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85950")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85893")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85840")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85781")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85722")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe82916cfe2bb1ccf1dad1985910c058", element="f.11507EF77D504AAE45C4AD3EE6D8FF7E.d.EA9CD2567B43C08E158BF5338A63C1C1.e.85665")>]

In [75]:
len(baths_name8)

120

In [81]:
sqft_name8=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag8 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag8:
        sqft_name8.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [80]:
del sqft_tag8

In [82]:
sqft_name8

['699',
 '904',
 '970',
 '970',
 '727',
 '539',
 '829',
 '2,206',
 '732',
 '866',
 '1,516',
 '1,248',
 '986',
 '653',
 '—',
 '1,270',
 '1,460',
 '1,238',
 '1,408',
 '2,175',
 '2,290',
 '1,358',
 '843',
 '1,637',
 '896',
 '2,065',
 '551',
 '882',
 '485',
 '427',
 '1,080',
 '1,034',
 '825',
 '828',
 '1,068',
 '655',
 '650',
 '1,645',
 '600',
 '1,275',
 '1,102',
 '1,023',
 '1,100',
 '1,505',
 '1,374',
 '1,128',
 '1,493',
 '—',
 '868',
 '1,413',
 '1,131',
 '1,479',
 '760',
 '1,309',
 '1,850',
 '—',
 '1,792',
 '1,571',
 '941',
 '1,237',
 '1,079',
 '1,284',
 '1,538',
 '2,039',
 '2,300',
 '968',
 '738',
 '851',
 '500',
 '1,202',
 '1,600',
 '1,405',
 '1,023',
 '1,311',
 '1,658',
 '—',
 '—',
 '—',
 '846',
 '1,086',
 '1,192',
 '1,102',
 '1,353',
 '568',
 '1,951',
 '1,370',
 '598',
 '1,875',
 '1,101',
 '1,378',
 '1,050',
 '828',
 '719',
 '1,317',
 '1,415',
 '1,795',
 '1,062',
 '1,762',
 '1,378',
 '934',
 '837',
 '863',
 '1,903',
 '—',
 '1,100',
 '754',
 '1,652',
 '1,262',
 '1,873',
 '1,451',
 '2,145',
 '1,029',
 '1,730',
 '—',
 '1,551',
 '1,521',
 '825',
 '1,347',
 '1,060',
 '475',
 '1,949',
 '653',
 '1,102']

In [83]:
len(sqft_name8)

123

In [84]:
ppsqft_name8=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag8 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag8:
        ppsqft_name8.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [85]:
ppsqft_name8

['$856',
 '$773',
 '$2,500',
 '$1,015',
 '$860',
 '$963',
 '$995',
 '$768',
 '$990',
 '$1,039',
 '$1,186',
 '$841',
 '$862',
 '$1,217',
 '—',
 '$941',
 '$925',
 '$1,413',
 '$1,634',
 '$667',
 '$1,037',
 '$1,619',
 '$1,062',
 '$886',
 '$876',
 '$1,308',
 '$1,134',
 '$1,076',
 '$1,289',
 '$1,054',
 '$1,097',
 '$927',
 '$927',
 '$905',
 '$1,215',
 '$1,107',
 '$1,115',
 '$1,213',
 '$1,100',
 '$1,098',
 '$1,015',
 '$1,271',
 '$1,077',
 '$1,096',
 '$797',
 '$1,100',
 '$737',
 '—',
 '$1,066',
 '$919',
 '$880',
 '$1,011',
 '$1,183',
 '$1,066',
 '$754',
 '—',
 '$1,054',
 '$859',
 '$923',
 '$614',
 '$1,108',
 '$1,246',
 '$647',
 '$1,175',
 '$1,128',
 '$1,235',
 '$676',
 '$1,055',
 '$1,040',
 '$914',
 '$1,122',
 '$853',
 '$508',
 '$645',
 '$1,806',
 '—',
 '—',
 '—',
 '$1,022',
 '$1,169',
 '$1,174',
 '$1,015',
 '$1,401',
 '$1,144',
 '$1,922',
 '$872',
 '$911',
 '$853',
 '$997',
 '$725',
 '$809',
 '$1,001',
 '$1,014',
 '$1,135',
 '$1,127',
 '$766',
 '$800',
 '$1,075',
 '$942',
 '$1,017',
 '$656',
 '$1,042',
 '$1,469',
 '—',
 '$1,135',
 '$557',
 '$1,059',
 '$1,581',
 '$745',
 '$951',
 '$1,025',
 '$960',
 '$1,731',
 '—',
 '$806',
 '$983',
 '$1,194',
 '$961',
 '$942',
 '$1,000',
 '$1,024',
 '$710',
 '$1,015']

In [86]:
len(ppsqft_name8)

123

In [90]:
print(len(address_name8),len(price_name8),len(beds_name8),len(baths_name8),len(sqft_name8),len(ppsqft_name8))

120 120 120 120 120 120

In [89]:
del ppsqft_name8[120:123]

In [91]:
import pandas as pd
df8=pd.DataFrame({'Address':address_name8,'Price':price_name8,'Beds':beds_name8,'Baths':baths_name8,'Total sqft':sqft_name8,'Price per sqft':ppsqft_name8})
df8

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"368 Elm St #304, San Francisco, CA 94102","$598,000",2 beds,1 bath,699,$856
1,"960 Natoma St #4, San Francisco, CA 94103","$699,000",2 beds,2 baths,904,$773
2,"288 Union St #3, San Francisco, CA 94133","$2,425,000",1 bed,1 bath,970,"$2,500"
3,"960 Market St #509, San Francisco, CA 94102","$985,000",3 beds,2 baths,970,"$1,015"
4,"2 Mint Plz #308, San Francisco, CA 94103","$625,000",3 beds,1 bath,727,$860
...,...,...,...,...,...,...
115,"2412 Harrison St #114, San Francisco, CA 94110","$1,295,000",3 beds,2 baths,"1,521",$983
116,"119 St Marys Ave, San Francisco, CA 94112","$998,000",3 beds,1 bath,825,"$1,194"
117,"555 4th St #103, San Francisco, CA 94107","$474,999",3 beds,1 bath,"1,347",$961
118,"944 South South Van Ness Ave, San Francisco, C...","$1,995,000",1 bed,3.5 baths,"1,060",$942
119,"1348 Scott St #17, San Francisco, CA 94115","$463,876",2 beds,1 bath,475,"$1,000"

In [92]:
df8.to_csv('file8.csv')

In [ ]:
----San JoseSan ----------------

In [6]:
sanjose_condos=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div[2]/div/div[1]/div[17]/div[2]/a').click()

In [7]:
address_name9=[]
price_name9=[]
beds_name9=[]
baths_name9=[]
sqft_name9=[]
ppsqft_name9=[]

In [8]:
address_name9=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag9 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag9:
        address_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [9]:
address_name9

['4691 Albany Cir #133, San Jose, CA 95129',
 '30 E Julian St #309, San Jose, CA 95112',
 '214 Fairway Glen Ln, San Jose, CA 95139',
 '5007 Cribari Vale, San Jose, CA 95135',
 '3223 Lake Albano Cir, San Jose, CA 95135',
 '3458 Wine Cask Way, San Jose, CA 95124',
 '6822 Shutter Ct, San Jose, CA 95119',
 '411 Park Ave #125, San Jose, CA 95110',
 '1501 Desdemona Ct, San Jose, CA 95121',
 '4779 Pine Forest Ln, San Jose, CA 95118',
 '800 N 8th St #220, San Jose, CA 95112',
 '92 Rancho Dr Unit C, San Jose, CA 95111',
 '334 Santana Row #240, San Jose, CA 95128',
 '1509 Briartree Dr, San Jose, CA 95131',
 '848 Printempo Pl, San Jose, CA 95134',
 '125 Patterson St #333, San Jose, CA 95112',
 '820 Blossom Hill Rd #3, San Jose, CA 95123',
 '5482 Sean Cir #20, San Jose, CA 95123',
 '2881 Meridian Ave #367, San Jose, CA 95124',
 '477 Tower Hill Ave, San Jose, CA 95136',
 '38 N Almaden Blvd #1620, San Jose, CA 95110',
 '1820 Ashmeade Ct, San Jose, CA 95125',
 '1375 Lick Ave #828, San Jose, CA 95110',
 '6810 Canine Ct, San Jose, CA 95119',
 '516 Martha St #203, San Jose, CA 95112',
 '8114 Cabernet Ct, San Jose, CA 95135',
 '38 North Almaden Blvd #1720, San Jose, CA 95110',
 '38 N Almaden Blvd #1303, San Jose, CA 95110',
 '1550 Technology Dr #4005, San Jose, CA 95110',
 '5518 Sean Cir #45, San Jose, CA 95123',
 '905 Apricot Ave Unit J, Campbell, CA 95008',
 '133 Laurel Grove Ln, San Jose, CA 95126',
 '88 N Jackson Ave #307, San Jose, CA 95116',
 '185 San Pedro Cir, San Jose, CA 95110',
 '1055 N Capitol Ave #72, San Jose, CA 95133',
 '7730 Kilmarnok Dr, San Jose, CA 95135',
 '1853 Almaden Rd #524, San Jose, CA 95124',
 '1853 Almaden Rd #508, San Jose, CA 95125',
 '1853 Almaden Rd #507, San Jose, CA 95125',
 '1853 Almaden Rd #505, San Jose, CA 95125',
 '1853 Almaden Rd #427, San Jose, CA 95125',
 '1853 Almaden Rd #413, San Jose, CA 95125',
 '1853 Almaden Rd #402, San Jose, CA 95125',
 '1853 Almaden Rd #225, San Jose, CA 95124',
 '1853 Almaden Rd #207, San Jose, CA 95125',
 '6953 Rodling Dr Unit E, San Jose, CA 95138',
 '926 Catkin Ct, San Jose, CA 95128',
 '2042 Donovan Ct, San Jose, CA 95125',
 '586 Manzana Pl, San Jose, CA 95112',
 '1087 Foxchase Dr, San Jose, CA 95123',
 '7053 Rainbow Dr #4, San Jose, CA 95129',
 '94 Saddle Brook Dr, San Jose, CA 95136',
 '3852 Panda Pl, San Jose, CA 95117',
 '1853 Almaden Rd #102, San Jose, CA 95125',
 '6653 Optimum Loop, San Jose, CA 95119',
 '6634 Optimum Loop, San Jose, CA 95119',
 '259 N Capitol Ave #137, San Jose, CA 95127',
 '399 Mullinix Way, San Jose, CA 95136',
 '1840 Camino Leonor, San Jose, CA 95131',
 '490 Auburn Way #12, San Jose, CA 95129',
 '885 Wyman Way #4, San Jose, CA 95133',
 '296 Tradewinds Dr #6, San Jose, CA 95123',
 '285 Tradewinds Dr #8, San Jose, CA 95123',
 '5398 Cribari Crst, San Jose, CA 95135',
 '5239 Cribari Hls, San Jose, CA 95135',
 '6665 Optimum Loop, San Jose, CA 95119',
 '3079 Elk Ridge Ct, San Jose, CA 95136',
 '4661 Albany Cir #149, San Jose, CA 95129',
 '199 Sunwood Meadows Pl, San Jose, CA 95119',
 '5766 Stealth Loop, San Jose, CA 95119',
 '88 E San Fernando St #303, San Jose, CA 95113',
 '247 N Capitol Ave #230, San Jose, CA 95127',
 '1060 S 3rd St #251, San Jose, CA 95112',
 '732 Northrup St #111, San Jose, CA 95126',
 '5395 Palm Grove Ct, San Jose, CA 95123',
 '1121 Sierra Madres Ter, San Jose, CA 95126',
 '350 N 2nd St #127, San Jose, CA 95112',
 '3061 Elk Ridge Ct, San Jose, CA 95136',
 '5498 Tyhurst Wkwy #2, San Jose, CA 95123',
 '38 N Almaden Blvd #1320, San Jose, CA 95110',
 '88 N Jackson Ave #127, San Jose, CA 95116',
 '1898 Meridian Ave #28, San Jose, CA 95125',
 '566 Elk Ridge Way, San Jose, CA 95136',
 '1445 Fruitdale Ave #226, San Jose, CA 95128',
 '1815 Snell Pl, Milpitas, CA 95035',
 '5468 Cribari Grn, San Jose, CA 95135',
 '5445 Silver Vista Way, San Jose, CA 95138',
 '1358 McKinley Ct, San Jose, CA 95126',
 '5700 Calmor Ave #4, San Jose, CA 95123',
 '2328 La Terrace Cir, San Jose, CA 95123',
 '4425 Norwalk Dr #2, San Jose, CA 95129',
 '3356 Petunia Ct Unit 304 / 68-06, San Jose, CA 95117',
 '3356 Petunia Ct Unit 301 / 66, San Jose, CA 95117',
 '3356 Petunia Ct Unit 302 / 63-06, San Jose, CA 95117',
 '284 Stonegate Cir, San Jose, CA 95110',
 '3207 Mallard Ct #401, San Jose, CA 95117',
 '7145 Rainbow Dr #4, San Jose, CA 95129',
 '5567 Judith St #1, San Jose, CA 95123',
 '125 Patterson #121, San Jose, CA 95112',
 '907 Apricot Ave Unit A, Campbell, CA 95008',
 '808 Lenzen Ave #109, San Jose, CA 95126',
 '35 Bassett St, San Jose, CA 95110',
 '539 Elk Ridge Way, San Jose, CA 95136',
 '6050 Montgomery Bnd, San Jose, CA 95135',
 '920 Lake Tahoe Ct, San Jose, CA 95123',
 '3177 Heather Ridge Dr, San Jose, CA 95136',
 '2881 Meridian Ave #247, San Jose, CA 95124',
 '350 Llano De Los Robles Ave #9, San Jose, CA 95136',
 '6716 Magnetic Loop, San Jose, CA 95119',
 '350 E Mission St #203, San Jose, CA 95112',
 '785 Warring Dr #4, San Jose, CA 95123',
 '536 Adeline Ave, San Jose, CA 95136',
 '125 Patterson St #206, San Jose, CA 95112',
 '5480 Tyhurst Walkway #1, San Jose, CA 95123',
 '3137 Heather Ridge Dr, San Jose, CA 95136',
 '1487 Tierra Buena Dr, San Jose, CA 95121',
 '888 Catkin Ct, San Jose, CA 95128',
 '88 Bush St #3207, San Jose, CA 95126',
 '2503 Easton Pl #40, San Jose, CA 95133',
 '333 Santana Row #208, San Jose, CA 95128']

In [10]:
len(address_name9)

120

In [12]:
price_name9=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag9 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag9:
        price_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [13]:
price_name9

['$880,000',
 '$798,000',
 '$789,000',
 '$575,000',
 '$925,000',
 '$558,998',
 '$1,080,000',
 '$669,000',
 '$749,000',
 '$595,000',
 '$799,888',
 '$550,000',
 '$798,000',
 '$699,800',
 '$849,000',
 '$685,000',
 '$569,950',
 '$649,950',
 '$725,000',
 '$798,000',
 '$1,148,000',
 '$988,000',
 '$735,000',
 '$1,399,000',
 '$399,000',
 '$649,888',
 '$1,200,000',
 '$749,000',
 '$565,000',
 '$800,000',
 '$800,000',
 '$1,099,000',
 '$599,000',
 '$699,000',
 '$410,000',
 '$738,898',
 '$708,800',
 '$848,800',
 '$809,800',
 '$809,800',
 '$807,800',
 '$713,800',
 '$807,800',
 '$941,800',
 '$789,800',
 '$760,000',
 '$675,000',
 '$898,000',
 '$795,000',
 '$698,000',
 '$800,000',
 '$610,888',
 '$899,000',
 '$739,800',
 '$1,016,900',
 '$1,244,239',
 '$549,999',
 '$1,288,000',
 '$1,069,000',
 '$599,000',
 '$515,000',
 '$599,999',
 '$680,000',
 '$485,000',
 '$540,000',
 '$1,409,900',
 '$699,000',
 '$578,000',
 '$630,000',
 '$1,198,888',
 '$798,000',
 '$449,999',
 '$479,800',
 '$689,000',
 '$699,888',
 '$888,000',
 '$675,000',
 '$799,999',
 '$499,900',
 '$1,128,800',
 '$629,000',
 '$725,000',
 '$699,000',
 '$780,000',
 '$999,888',
 '$559,888',
 '$1,399,888',
 '$1,100,000',
 '$495,000',
 '$808,000',
 '$669,000',
 '$1,399,039',
 '$1,205,132',
 '$1,264,982',
 '$459,950',
 '$1,348,888',
 '$838,000',
 '$535,000',
 '$449,888',
 '$850,000',
 '$799,950',
 '$999,999',
 '$798,000',
 '$759,000',
 '$749,999',
 '$749,950',
 '$1,199,800',
 '$1,025,000',
 '$1,068,000',
 '$900,000',
 '$479,900',
 '$1,085,000',
 '$585,000',
 '$479,880',
 '$699,999',
 '$650,000',
 '$475,000',
 '$949,000',
 '$599,000',
 '$1,300,000']

In [14]:
len(price_name9)

120

In [16]:
beds_name9=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag9 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag9:
        beds_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [17]:
beds_name9

['2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '4 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '3 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '0 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds']

In [18]:
len(beds_name9)

120

In [20]:
baths_name9=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag9 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag9:
        baths_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [21]:
baths_name9

['2 baths',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '3 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '3 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '3.5 baths',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1.5 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '1.5 baths',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1.5 baths']

In [22]:
len( baths_name9)

120

In [23]:
sqft_name9=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag9 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag9:
        sqft_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [24]:
sqft_name9

['1,350',
 '1,271',
 '1,220',
 '1,223',
 '1,457',
 '498',
 '1,563',
 '1,048',
 '1,292',
 '817',
 '1,214',
 '918',
 '736',
 '913',
 '925',
 '1,218',
 '903',
 '1,060',
 '971',
 '1,104',
 '1,296',
 '1,529',
 '1,096',
 '2,506',
 '482',
 '1,138',
 '1,296',
 '1,097',
 '831',
 '1,245',
 '1,187',
 '1,581',
 '1,056',
 '1,242',
 '632',
 '1,490',
 '902',
 '1,119',
 '1,067',
 '1,067',
 '1,138',
 '1,067',
 '938',
 '1,067',
 '1,295',
 '1,067',
 '1,093',
 '922',
 '1,071',
 '1,420',
 '1,066',
 '700',
 '988',
 '1,267',
 '1,034',
 '1,291',
 '1,690',
 '955',
 '2,099',
 '1,422',
 '1,099',
 '798',
 '959',
 '1,252',
 '1,223',
 '1,223',
 '2,029',
 '1,067',
 '813',
 '920',
 '1,855',
 '1,317',
 '777',
 '667',
 '990',
 '1,156',
 '1,127',
 '1,178',
 '1,250',
 '903',
 '1,296',
 '1,138',
 '1,056',
 '1,116',
 '1,067',
 '1,193',
 '1,359',
 '1,223',
 '2,154',
 '1,539',
 '798',
 '1,138',
 '1,099',
 '1,491',
 '1,313',
 '1,345',
 '468',
 '1,313',
 '700',
 '810',
 '710',
 '1,187',
 '1,049',
 '1,580',
 '1,173',
 '1,307',
 '1,002',
 '1,173',
 '1,676',
 '1,196',
 '1,601',
 '1,483',
 '798',
 '1,777',
 '894',
 '810',
 '1,067',
 '988',
 '658',
 '1,275',
 '975',
 '1,250',
 '1,138']

In [25]:
len(sqft_name9)

123

In [26]:
ppsqft_name9=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag9 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag9:
        ppsqft_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [27]:
ppsqft_name9

['$652',
 '$628',
 '$647',
 '$470',
 '$635',
 '$1,122',
 '$691',
 '$638',
 '$580',
 '$728',
 '$659',
 '$599',
 '$1,084',
 '$766',
 '$918',
 '$562',
 '$631',
 '$613',
 '$747',
 '$723',
 '$886',
 '$646',
 '$671',
 '$558',
 '$828',
 '$571',
 '$926',
 '$683',
 '$680',
 '$643',
 '$674',
 '$695',
 '$567',
 '$563',
 '$649',
 '$496',
 '$786',
 '$759',
 '$759',
 '$759',
 '$671',
 '$757',
 '$761',
 '$757',
 '$727',
 '$740',
 '$695',
 '$732',
 '$838',
 '$560',
 '$655',
 '$1,143',
 '$618',
 '$710',
 '$715',
 '$788',
 '$736',
 '$576',
 '$614',
 '$752',
 '$545',
 '$645',
 '$626',
 '$543',
 '$397',
 '$442',
 '$695',
 '$655',
 '$711',
 '$685',
 '$646',
 '$606',
 '$579',
 '$719',
 '$696',
 '$605',
 '$788',
 '$573',
 '$640',
 '$554',
 '$871',
 '$671',
 '$596',
 '$650',
 '$655',
 '$654',
 '$736',
 '$458',
 '$650',
 '$715',
 '$620',
 '$710',
 '$609',
 '$938',
 '$918',
 '$941',
 '$983',
 '$1,027',
 '$1,197',
 '$660',
 '$634',
 '$716',
 '$763',
 '$633',
 '$680',
 '$581',
 '$749',
 '$639',
 '$716',
 '$857',
 '$667',
 '$607',
 '$601',
 '$611',
 '$654',
 '$592',
 '$656',
 '$658',
 '$722',
 '$744',
 '$614',
 '$1,040',
 '$671']

In [28]:
len(ppsqft_name9)

123

In [33]:
print(len(address_name9),len(price_name9),len(beds_name9),len(baths_name9),len(sqft_name9),len(ppsqft_name9))

120 120 120 120 120 120

In [32]:
del ppsqft_name9[120:123]

In [34]:
import pandas as pd
df9=pd.DataFrame({'Address':address_name9,'Price':price_name9,'Beds':beds_name9,'Baths':baths_name9,'Total sqft':sqft_name9,'Price per sqft':ppsqft_name9})
df9

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"4691 Albany Cir #133, San Jose, CA 95129","$880,000",2 beds,2 baths,"1,350",$652
1,"30 E Julian St #309, San Jose, CA 95112","$798,000",2 beds,2 baths,"1,271",$628
2,"214 Fairway Glen Ln, San Jose, CA 95139","$789,000",3 beds,1.5 baths,"1,220",$647
3,"5007 Cribari Vale, San Jose, CA 95135","$575,000",2 beds,2 baths,"1,223",$470
4,"3223 Lake Albano Cir, San Jose, CA 95135","$925,000",2 beds,2 baths,"1,457",$635
...,...,...,...,...,...,...
115,"1487 Tierra Buena Dr, San Jose, CA 95121","$650,000",2 beds,1.5 baths,810,$592
116,"888 Catkin Ct, San Jose, CA 95128","$475,000",1 bed,1 bath,"1,067",$656
117,"88 Bush St #3207, San Jose, CA 95126","$949,000",2 beds,2 baths,988,$658
118,"2503 Easton Pl #40, San Jose, CA 95133","$599,000",2 beds,2 baths,658,$722
119,"333 Santana Row #208, San Jose, CA 95128","$1,300,000",2 beds,1.5 baths,"1,275",$744

In [35]:
df9.to_csv('file9.csv')

In [ ]:
------------Austin-------

In [41]:
austin_condos=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div[2]/div/div[1]/div[19]/div[2]/a').click()

In [9]:
address_name10=[]
price_name10=[]
beds_name10=[]
baths_name10=[]
sqft_name10=[]
ppsqft_name10=[]

In [10]:
address_name10=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag10 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag10:
        address_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=126.0.6478.61)
Stacktrace:
	GetHandleVerifier [0x00007FF643363E52+31618]
	(No symbol) [0x00007FF6432DB0B9]
	(No symbol) [0x00007FF6431986B9]
	(No symbol) [0x00007FF6431E98B2]
	(No symbol) [0x00007FF6431DC281]
	(No symbol) [0x00007FF64320D10A]
	(No symbol) [0x00007FF6431DBBA6]
	(No symbol) [0x00007FF64320D320]
	(No symbol) [0x00007FF64322CA80]
	(No symbol) [0x00007FF64320CEB3]
	(No symbol) [0x00007FF6431DA46B]
	(No symbol) [0x00007FF6431DB001]
	GetHandleVerifier [0x00007FF64366A02D+3202397]
	GetHandleVerifier [0x00007FF6436B6A4D+3516285]
	GetHandleVerifier [0x00007FF6436AC4C0+3473904]
	GetHandleVerifier [0x00007FF643415D56+760454]
	(No symbol) [0x00007FF6432E6B5F]
	(No symbol) [0x00007FF6432E1CF4]
	(No symbol) [0x00007FF6432E1E82]
	(No symbol) [0x00007FF6432D122F]
	BaseThreadInitThunk [0x00007FFE5F28257D+29]
	RtlUserThreadStart [0x00007FFE6056AF28+40]

In [44]:
 address_name10

['2906 Kuhlman Ave Unit B, Austin, TX 78702',
 '2906 S 1st St #203, Austin, TX 78704',
 '12166 Metric Blvd #213, Austin, TX 78758',
 '2207 Leon St #302, Austin, TX 78705',
 'Undisclosed address, Austin, TX 78703',
 '313 Hackberry Ln Unit B, Austin, TX 78753',
 '5924 S Congress Ave Unit 71-S, Austin, TX 78745',
 '1010 W 23rd St #16, Austin, TX 78705',
 '908 Nueces St #32, Austin, TX 78701',
 '1212 Guadalupe St #803, Austin, TX 78701',
 '501 West Ave #1306, Austin, TX 78701',
 '5820 Berkman Dr #215, Austin, TX 78723',
 '4801 Springdale Rd #1211, Austin, TX 78723',
 '360 Nueces St #2508, Austin, TX 78701',
 '14618 Mansfield Dam Ct #11, Austin, TX 78734',
 '7401 Evening Sky Cir Unit G1, Austin, TX 78735',
 '14001 Avery Ranch Blvd #2203, Austin, TX 78717',
 '4209 Burnet Rd #206, Austin, TX 78756',
 '13420 Lyndhurst St #505, Austin, TX 78729',
 '1701 Simond Ave #520, Austin, TX 78723',
 '3815 Guadalupe St #304, Austin, TX 78751',
 '1707 Ulit Ave #1, Austin, TX 78702',
 '2209 Hancock Dr #3, Austin, TX 78756',
 '715 W 22 1/2 St #207, Austin, TX 78705',
 '502 Tillery St #1, Austin, TX 78702',
 '44 East Ave #1509, Austin, TX 78701',
 '8303 Summer Side Dr, Austin, TX 78759',
 '1015 E Yager Ln #84, Austin, TX 78753',
 '2020 S Congress Ave #1312, Austin, TX 78704',
 '403 S Meadowlark St Unit A, Lakeway, TX 78734',
 '1910 Rue De St Tropez #4, Austin, TX 78746',
 '606 W Lynn St #17, Austin, TX 78703',
 '12001 Vista Parke Dr #401, Austin, TX 78726',
 '7411 Merrick Ln, Austin, TX 78745',
 '5924 S Congress Ave Unit 53-S, Austin, TX 78745',
 '2002 E 7th St #203, Austin, TX 78702',
 'Undisclosed address, Austin, TX 78705',
 '1209 Kinney Ave Unit 7-E, Austin, TX 78704',
 '702 Valdez St Unit A, Austin, TX 78741',
 '2110 Rio Grande St #207, Austin, TX 78705',
 '2213 Poquito St #310, Austin, TX 78722',
 '5616 S 1st St #28, Austin, TX 78745',
 '11117 Lost Maples Trl, Austin, TX 78748',
 '222 West Ave #2211, Austin, TX 78701',
 '222 West Ave #2612, Austin, TX 78701',
 '806 W 24th St #326, Austin, TX 78705',
 '1320 Robert Browning St #307, Austin, TX 78723',
 '7901 Southwest Pkwy #8, Austin, TX 78735',
 '900 S 1st St #414, Austin, TX 78704',
 '1602 Perez St Unit A, Austin, TX 78721',
 '7115 Silver Star Ln, Austin, TX 78744',
 '2425 Ashdale Dr #93, Austin, TX 78757',
 '1800 Lavaca St Unit A508, Austin, TX 78701',
 '1900 Scofield Ridge Pkwy #5103, Austin, TX 78727',
 '2006 Tasmanian Tiger Trce, Austin, TX 78728',
 '11117 Bright Leaf Ter #11117, Austin, TX 78748',
 '1304 Summit St #201, Austin, TX 78741',
 '4315 S Congress Ave #317, Austin, TX 78745',
 '601 E Brushy St #204, Austin, TX 78702',
 '48 East Ave #1602, Austin, TX 78701',
 '1735 Spyglass Dr #115, Austin, TX 78746',
 '1015 E Yager Ln #133, Austin, TX 78753',
 '360 Nueces St #3608, Austin, TX 78701',
 '10819 Crown Colony Dr #26, Austin, TX 78747',
 '808 W 29th St #305, Austin, TX 78705',
 '2803 Hemphill Park #105, Austin, TX 78705',
 '1910 Robbins Pl #101, Austin, TX 78705',
 '3124 Sorin St, Austin, TX 78723',
 '935 La Posada Dr #156, Austin, TX 78752',
 '1812 West Ave #202, Austin, TX 78701',
 '1206 Deloney St Unit B, Austin, TX 78721',
 '1906 Albury Cv Unit C, Austin, TX 78758',
 '210 Lavaca St #2505, Austin, TX 78701',
 '2502 Leon St #316, Austin, TX 78705',
 '501 West Ave #705, Austin, TX 78701',
 '603 N Cuernavaca Dr #2004, Austin, TX 78733',
 '2320 Gracy Farms Ln #1114, Austin, TX 78758',
 '2504 Sutherland St, Austin, TX 78746',
 '935 La Posada Dr #241, Austin, TX 78752',
 '8210 Bent Tree Rd #231, Austin, TX 78759',
 '3806 Southway #102, Austin, TX 78704',
 '5701 Westslope Dr #17, Austin, TX 78731',
 '6501 E Hill Dr #102, Austin, TX 78731',
 '84 East Ave #1909, Austin, TX 78701',
 '84 East Ave #1703, Austin, TX 78701',
 '84 East Ave #1804, Austin, TX 78701',
 '2529 Rio Grande St #81, Austin, TX 78705',
 '2500 Rosewood Ave #201, Austin, TX 78702',
 '2500 Rosewood Ave #105, Austin, TX 78702',
 '4901 Springdale Rd #102, Austin, TX 78723',
 '4008 Valley View Rd Unit F, Austin, TX 78704',
 '10616 Mellow Meadows Dr Unit 20D, Austin, TX 78750',
 '2020 S Congress Ave #1117, Austin, TX 78704',
 '8008 Lennon Dr, Austin, TX 78744',
 '2323 S Lamar Blvd #412, Austin, TX 78704',
 '2205 Thornton Rd Unit B, Austin, TX 78704',
 '7406 Shadow Hill Dr #102, Austin, TX 78731',
 '1201 Grove Blvd #1102, Austin, TX 78741',
 '2107 Thornton Rd Unit B, Austin, TX 78704',
 '500 E Riverside Dr #113, Austin, TX 78704',
 '3309 Grooms St Unit 203-2, Austin, TX 78705',
 '707 Cardinal Ln Unit N2, Austin, TX 78704',
 '210 Lavaca St #2201, Austin, TX 78701',
 '4361 S Congress Ave #303, Austin, TX 78745',
 'Undisclosed address, Austin, TX 78741',
 '2450 Wickersham Ln #2023, Austin, TX 78741',
 '1205 Hollow Creek Dr #202, Austin, TX 78704',
 '2323 S Lamar Blvd #410, Austin, TX 78704',
 '44 East Ave #3010, Austin, TX 78701',
 '103 Cartwheel Bnd #51, Austin, TX 78738',
 '6000 Shepherd Mountain Cv #1409, Austin, TX 78730',
 '900 S 1st St #410, Austin, TX 78704',
 '2304 S Lakeline Blvd #402, Cedar Park, TX 78613',
 '8901 Parker Ranch Cir Unit A, Austin, TX 78748',
 '11014 Cut Plains Loop, Austin, TX 78726',
 '2701 Northeast Dr Unit B2, Austin, TX 78723',
 '2525 S Lamar Blvd #218, Austin, TX 78704',
 '935 La Posada Dr #116, Austin, TX 78752',
 '1900 Albury Cv Unit B, Austin, TX 78758',
 '2303 E Side Dr #102, Austin, TX 78704']

In [45]:
len( address_name10)

120

In [46]:
price_name10=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag10 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag10:
        price_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [ ]:
price_name10

In [47]:
len(price_name10)

120

In [48]:
beds_name10=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag10 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag10:
        beds_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [49]:
beds_name10

['2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '1 bed',
 '4 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '4 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '0 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '4 beds',
 '1 bed',
 '1 bed',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds']

In [50]:
len(beds_name10)

120

In [51]:
baths_name10=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag10 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag10:
        baths_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [52]:
baths_name10

['2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1.5 baths',
 '1 bath',
 '3 baths',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '3.5 baths',
 '1 bath',
 '2 baths',
 '3.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '3.5 baths',
 '2.5 baths',
 '1.5 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '1.5 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '3.5 baths',
 '2 baths',
 '3.5 baths',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '1.5 baths',
 '2.5 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '3.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '3.5 baths',
 '1 bath',
 '1 bath',
 '3.5 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '3 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths']

In [53]:
len(baths_name10)

120

In [54]:
sqft_name10=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag10 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag10:
        sqft_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [55]:
sqft_name10

['1,100',
 '1,040',
 '516',
 '550',
 '1,211',
 '2,187',
 '1,380',
 '394',
 '1,146',
 '850',
 '652',
 '633',
 '872',
 '732',
 '3,058',
 '2,276',
 '1,571',
 '750',
 '1,376',
 '1,131',
 '880',
 '2,078',
 '713',
 '750',
 '1,932',
 '796',
 '935',
 '1,004',
 '403',
 '2,607',
 '3,248',
 '878',
 '1,500',
 '2,197',
 '1,373',
 '1,033',
 '756',
 '2,244',
 '1,837',
 '777',
 '1,142',
 '820',
 '1,839',
 '1,236',
 '689',
 '1,322',
 '904',
 '796',
 '2,119',
 '1,565',
 '2,087',
 '2,000',
 '652',
 '857',
 '1,550',
 '2,003',
 '1,753',
 '764',
 '811',
 '701',
 '450',
 '1,476',
 '1,004',
 '732',
 '1,207',
 '981',
 '450',
 '945',
 '2,252',
 '515',
 '1,614',
 '2,009',
 '1,144',
 '2,871',
 '1,108',
 '1,092',
 '1,480',
 '918',
 '1,983',
 '515',
 '633',
 '1,142',
 '992',
 '1,350',
 '1,080',
 '1,176',
 '969',
 '892',
 '1,172',
 '968',
 '724',
 '1,569',
 '1,819',
 '952',
 '416',
 '1,437',
 '677',
 '1,635',
 '968',
 '1,151',
 '2,070',
 '579',
 '505',
 '1,826',
 '1,953',
 '1,355',
 '1,060',
 '940',
 '672',
 '1,060',
 '1,260',
 '2,359',
 '608',
 '840',
 '1,862',
 '2,090',
 '3,155',
 '1,236',
 '958',
 '528',
 '1,144',
 '1,098',
 '1,142']

In [56]:
len(sqft_name10)

123

In [57]:
ppsqft_name10=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag10 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag10:
        ppsqft_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [58]:
ppsqft_name10

['$258',
 '$421',
 '$430',
 '$580',
 '$441',
 '$386',
 '$983',
 '$342',
 '$238',
 '$301',
 '$298',
 '$338',
 '$1,132',
 '$323',
 '$312',
 '$404',
 '$293',
 '$605',
 '$455',
 '$280',
 '$258',
 '$428',
 '$446',
 '$281',
 '$421',
 '$262',
 '$329',
 '$545',
 '$271',
 '$390',
 '$400',
 '$382',
 '$362',
 '$333',
 '$358',
 '$351',
 '$224',
 '$556',
 '$252',
 '$453',
 '$393',
 '$248',
 '$448',
 '$321',
 '$548',
 '$528',
 '$443',
 '$367',
 '$904',
 '$2,721',
 '$2,364',
 '$268',
 '$343',
 '$1,058',
 '$642',
 '$574',
 '$360',
 '$352',
 '$385',
 '$353',
 '$357',
 '$703',
 '$512',
 '$239',
 '$176',
 '$263',
 '$284',
 '$520',
 '$528',
 '$203',
 '$506',
 '$919',
 '$321',
 '$568',
 '$251',
 '$477',
 '$437',
 '$495',
 '$330',
 '$651',
 '$307',
 '$393',
 '$346',
 '$489',
 '$251',
 '$275',
 '$313',
 '$351',
 '$966',
 '$353',
 '$398',
 '$210',
 '$307',
 '$579',
 '$328',
 '$441',
 '$465',
 '$602',
 '$470',
 '$218',
 '$256',
 '$428',
 '$715',
 '$239',
 '$296',
 '$1,121',
 '$294',
 '$359',
 '$431',
 '$197',
 '$330',
 '$275',
 '$348',
 '$413',
 '$911',
 '$357',
 '$444',
 '$268',
 '$266',
 '$554',
 '$1,017',
 '$578',
 '$393']

In [59]:
len(ppsqft_name10)

123

In [65]:
print(len(address_name10),len(price_name10),len(beds_name10),len(baths_name10),len(sqft_name10),len(ppsqft_name10))

120 120 120 120 120 120

In [64]:
del ppsqft_name10[120:123]

In [66]:
import pandas as pd
df10=pd.DataFrame({'Address':address_name10,'Price':price_name10,'Beds':beds_name10,'Baths':baths_name10,'Total sqft':sqft_name10,'Price per sqft':ppsqft_name10})
df10

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"2906 Kuhlman Ave Unit B, Austin, TX 78702","$575,000",2 beds,2 baths,"1,100",$258
1,"2906 S 1st St #203, Austin, TX 78704","$439,000",1 bed,1 bath,"1,040",$421
2,"12166 Metric Blvd #213, Austin, TX 78758","$179,900",1 bed,1 bath,516,$430
3,"2207 Leon St #302, Austin, TX 78705","$235,000",1 bed,1 bath,550,$580
4,"Undisclosed address, Austin, TX 78703","$535,000",2 beds,2 baths,"1,211",$441
...,...,...,...,...,...,...
115,"2701 Northeast Dr Unit B2, Austin, TX 78723","$319,000",3 beds,2.5 baths,"2,090",$357
116,"2525 S Lamar Blvd #218, Austin, TX 78704","$549,000",2 beds,1 bath,"3,155",$444
117,"935 La Posada Dr #116, Austin, TX 78752","$229,900",1 bed,1 bath,"1,236",$268
118,"1900 Albury Cv Unit B, Austin, TX 78758","$399,900",2 beds,2 baths,958,$266
119,"2303 E Side Dr #102, Austin, TX 78704","$349,950",2 beds,2 baths,528,$554

In [67]:
df10.to_csv('file10.csv')

In [ ]:
----------Las Vegas------------

In [ ]:
/html/body/div[1]/div[6]/div[2]/div/div[1]/div[21]/div[2]/a

In [73]:
lasvagas_condos=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div[2]/div/div[1]/div[21]/div[2]/a').click()

In [76]:
address_name10=[]
price_name10=[]
beds_name10=[]
baths_name10=[]
sqft_name10=[]
ppsqft_name10=[]

In [77]:
address_name10=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag10 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag10:
        address_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [78]:
address_name10

['2451 N Rainbow Blvd #2149, Las Vegas, NV 89108',
 '353 E Bonneville Ave #145, Las Vegas, NV 89101',
 '6512 Ironbark Ln, Las Vegas, NV 89107',
 '35 Agate Ave #405, Las Vegas, NV 89123',
 '3450 Erva St #252, Las Vegas, NV 89117',
 '10550 W Alexander Rd #2227, Las Vegas, NV 89129',
 '322 Karen Ave #2003, Las Vegas, NV 89109',
 '353 E Bonneville Ave #762, Las Vegas, NV 89101',
 '4575 Dean Martin Dr #601, Las Vegas, NV 89103',
 '7950 W Flamingo Rd #1096, Las Vegas, NV 89147',
 '8255 Las Vegas Blvd #1318, Las Vegas, NV 89123',
 '5260 Indian River Dr #247, Las Vegas, NV 89103',
 '1725 Pacific Breeze Dr, Las Vegas, NV 89144',
 '6170 E Sahara Ave #1063, Las Vegas, NV 89142',
 '4720 Obannon Dr Unit D, Las Vegas, NV 89102',
 '8725 W Flamingo Rd #139, Las Vegas, NV 89147',
 '7203 Mission Hills Dr, Las Vegas, NV 89113',
 '7123 S Durango Dr #206, Las Vegas, NV 89113',
 '3750 Las Vegas Blvd #4603, Las Vegas, NV 89158',
 '5062 S Rainbow Blvd #101, Las Vegas, NV 89118',
 '135 E Harmon Ave #2120, Las Vegas, NV 89109',
 '2750 S Durango Dr #1065, Las Vegas, NV 89117',
 '2300 E Silverado Ranch Blvd #2063, Las Vegas, NV 89183',
 '43 E Agate Ave #301, Las Vegas, NV 89123',
 '2116 Willowbury Dr Unit A, Las Vegas, NV 89108',
 '8410 Eldora Ave #2058, Las Vegas, NV 89117',
 '8070 W Russell Rd #1061, Las Vegas, NV 89113',
 '3109 Pinehurst Dr Unit D, Las Vegas, NV 89109',
 '2615 W Gary Ave #2090, Las Vegas, NV 89123',
 '2633 S Durango Dr #101, Las Vegas, NV 89117',
 '3750 S Las Vegas Blvd #2409, Las Vegas, NV 89158',
 '7200 Pirates Cove Rd #2074, Las Vegas, NV 89145',
 '3927 Starfield Ln, Las Vegas, NV 89147',
 '6868 Sky Pointe Dr #1115, Las Vegas, NV 89131',
 '4340 Sandy River Dr #79, Las Vegas, NV 89103',
 '71 E Agate Ave #303, Las Vegas, NV 89123',
 '2801 N Rainbow Blvd #205, Las Vegas, NV 89108',
 '2300 Silverado Ranch Blvd #1070, Las Vegas, NV 89183',
 '270 E Flamingo Rd #224, Las Vegas, NV 89169',
 '7952 Diamond Rock Way #102, Las Vegas, NV 89128',
 '10537 Gold Shadow Ave, Las Vegas, NV 89129',
 '1336 Huntdale Ln #101, Las Vegas, NV 89128',
 '10550 W Alexander Rd #2138, Las Vegas, NV 89129',
 '5261 Mission Carmel Ln #103, Las Vegas, NV 89107',
 '3400 Cabana Dr #2102, Las Vegas, NV 89122',
 '5251 Mission Carmel Ln #106, Las Vegas, NV 89107',
 '5650 E Sahara Ave #2030, Las Vegas, NV 89142',
 '2725 S Nellis Blvd #2019, Las Vegas, NV 89121',
 '1320 Red Gable Ln #102, Las Vegas, NV 89144',
 '1822 N Decatur Blvd #102, Las Vegas, NV 89108',
 '5330 Duralite St #103, Las Vegas, NV 89122',
 '417 N Lamb Blvd Unit A, Las Vegas, NV 89110',
 '135 E Harmon Ave #414, Las Vegas, NV 89109',
 '4575 Dean Martin Dr #1203, Las Vegas, NV 89103',
 '3047 Casey Dr #202, Las Vegas, NV 89120',
 '5125 W Reno Ave #1004, Las Vegas, NV 89118',
 '750 S Royal Crest Cir #354, Las Vegas, NV 89169',
 '7033 Knob Creek St #101, Las Vegas, NV 89149',
 '3750 Las Vegas Blvd #3509, Las Vegas, NV 89158',
 '3150 Soft Breezes Dr #2220, Las Vegas, NV 89128',
 '200 W Sahara Ave #3607, Las Vegas, NV 89102',
 '5543 Orchard Ln, Las Vegas, NV 89110',
 '6251 Milford Sound St, Las Vegas, NV 89148',
 '5420 Centurion Ct #202, Las Vegas, NV 89122',
 '3320 S Fort Apache Rd #209, Las Vegas, NV 89117',
 '125 E Harmon Ave #321, Las Vegas, NV 89109',
 '1455 E Katie Ave Unit D12, Las Vegas, NV 89119',
 '3539 Villa Knolls South Dr, Las Vegas, NV 89120',
 '1455 E Katie Ave Unit G27, Las Vegas, NV 89119',
 '350 E Desert Inn Rd Unit D108, Las Vegas, NV 89109',
 '3151 Soaring Gulls Dr #1192, Las Vegas, NV 89128',
 '353 E Bonneville Ave #1006, Las Vegas, NV 89101',
 '2200 S Fort Apache Rd #2108, Las Vegas, NV 89117',
 '1541 Linnbaker Ln #203, Las Vegas, NV 89110',
 '8600 W Charleston Blvd #1094, Las Vegas, NV 89117',
 '5650 E Sahara Ave #1052, Las Vegas, NV 89142',
 '850 N Sloan Ln #104, Las Vegas, NV 89110',
 '8805 Jeffreys St #2062, Las Vegas, NV 89123',
 '10245 S Maryland Pkwy #231, Las Vegas, NV 89183',
 '7300 Pirates Cove Rd #1033, Las Vegas, NV 89145',
 '2000 Fashion Show Dr Unit 3318 & 3319, Las Vegas, NV 89109',
 '3726 Las Vegas Blvd #2511, Las Vegas, NV 89158',
 '4575 Dean Martin Dr #3107, Las Vegas, NV 89103',
 '4955 Lindell Rd #209, Las Vegas, NV 89118',
 '11356 Belmont Lake Dr #104, Las Vegas, NV 89135',
 '5265 Caspian Springs Dr #203, Las Vegas, NV 89120',
 '277 Kyland Cove Ave, Las Vegas, NV 89123',
 '3089 Casey Dr #202, Las Vegas, NV 89120',
 '2769 Ferrin Rd Unit N/A, Las Vegas, NV 89117',
 '7241 Indian Creek Ln #203, Las Vegas, NV 89149',
 '714 Oakmont Ave #1108, Las Vegas, NV 89109',
 '9000 Las Vegas Blvd #1049, Las Vegas, NV 89123',
 '11290 Kraft Mountain Ave #101, Las Vegas, NV 89135',
 '3200 Cameron St Unit D, Las Vegas, NV 89102',
 '1711 Jupiter Ct Unit C, Las Vegas, NV 89119',
 '2675 Heritage Ct, Las Vegas, NV 89121',
 '11258 Essence Point Ave #211, Las Vegas, NV 89135',
 '8101 W Flamingo Rd #2057, Las Vegas, NV 89147',
 '2710 Yellow Blaze Way #3, Las Vegas, NV 89183',
 '578 Roxella Ln Unit C, Las Vegas, NV 89110',
 '2074 Cary Grant Ct, Las Vegas, NV 89142',
 '3425 E Russell Rd #228, Las Vegas, NV 89120',
 '3111 Bel Air Dr Unit 23F, Las Vegas, NV 89109',
 '4311 Gannet Cir #189, Las Vegas, NV 89103',
 '2200 S Fort Apache Rd #2120, Las Vegas, NV 89117',
 '5710 E Tropicana Ave #2112, Las Vegas, NV 89122',
 '353 E Bonneville Ave #475, Las Vegas, NV 89101',
 '5360 Golden Barrel Ave, Las Vegas, NV 89141',
 '1675 Jupiter Ct Unit C, Las Vegas, NV 89119',
 '5154 S Jones Blvd #208, Las Vegas, NV 89118',
 '150 N Las Vegas Blvd #2103, Las Vegas, NV 89101',
 '150 N Las Vegas Blvd #2302, Las Vegas, NV 89101',
 '808 Peachy Canyon Cir #202, Las Vegas, NV 89144',
 '5080 Indian River Dr #360, Las Vegas, NV 89103',
 '145 E Harmon Ave Unit 1120-1118, Las Vegas, NV 89109',
 '908 Duckhorn Ct #205, Las Vegas, NV 89144',
 '322 Karen Ave #202, Las Vegas, NV 89109',
 '7255 W Sunset Rd #2018, Las Vegas, NV 89113',
 '2838 Geary Pl #4002, Las Vegas, NV 89109',
 '2000 Fashion Show Dr #2922, Las Vegas, NV 89109']

In [79]:
len(address_name10)

120

In [80]:
price_name10=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag10 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag10:
        price_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [81]:
 price_name10

['$175,000',
 '$480,000',
 '$289,999',
 '$299,500',
 '$260,000',
 '$330,000',
 '$405,000',
 '$449,900',
 '$397,000',
 '$290,000',
 '$385,000',
 '$225,000',
 '$459,900',
 '$238,000',
 '$204,900',
 '$310,000',
 '$487,500',
 '$275,000',
 '$8,995,000',
 '$255,000',
 '$409,888',
 '$279,000',
 '$220,000',
 '$265,000',
 '$232,000',
 '$238,000',
 '$235,000',
 '$333,000',
 '$237,000',
 '$300,000',
 '$1,249,000',
 '$170,000',
 '$339,000',
 '$250,000',
 '$242,000',
 '$298,900',
 '$177,000',
 '$229,900',
 '$364,900',
 '$259,000',
 '$319,000',
 '$255,888',
 '$290,000',
 '$214,900',
 '$265,000',
 '$220,000',
 '$170,000',
 '$240,000',
 '$335,000',
 '$207,500',
 '$175,000',
 '$225,000',
 '$360,000',
 '$530,000',
 '$249,900',
 '$319,900',
 '$215,000',
 '$299,900',
 '$3,500,000',
 '$260,000',
 '$549,000',
 '$240,000',
 '$455,000',
 '$190,000',
 '$249,995',
 '$499,000',
 '$205,000',
 '$249,000',
 '$205,000',
 '$190,000',
 '$239,999',
 '$480,000',
 '$265,000',
 '$149,900',
 '$245,000',
 '$175,000',
 '$200,000',
 '$280,000',
 '$287,000',
 '$199,900',
 '$549,900',
 '$398,888',
 '$1,298,000',
 '$255,000',
 '$599,999',
 '$226,000',
 '$375,000',
 '$259,000',
 '$360,000',
 '$305,000',
 '$184,999',
 '$239,999',
 '$525,000',
 '$209,000',
 '$250,000',
 '$299,999',
 '$415,000',
 '$215,000',
 '$370,000',
 '$239,900',
 '$295,000',
 '$220,000',
 '$620,000',
 '$189,000',
 '$249,900',
 '$230,000',
 '$449,000',
 '$430,000',
 '$200,000',
 '$218,000',
 '$464,000',
 '$495,000',
 '$344,900',
 '$249,800',
 '$899,000',
 '$335,000',
 '$580,000',
 '$248,000',
 '$195,000',
 '$495,000']

In [82]:
len( price_name10)

120

In [ ]:
//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]

In [84]:
beds_name10=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag10 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag10:
        beds_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [85]:
beds_name10

['1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '3 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '0 beds',
 '0 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed']

In [86]:
len(beds_name10)

120

In [87]:
first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
first_button.click()

In [88]:
baths_name10=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag10 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag10:
        baths_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [89]:
baths_name10

['1 bath',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths']

In [90]:
len(baths_name10)

120

In [98]:
sqft_name10=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag10 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag10:
        sqft_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)

In [100]:
sqft_name10

['720',
 '1,271',
 '1,374',
 '1,155',
 '882',
 '1,180',
 '814',
 '1,194',
 '955',
 '1,023',
 '1,338',
 '978',
 '1,694',
 '1,047',
 '1,073',
 '1,253',
 '1,398',
 '943',
 '3,980',
 '1,091',
 '874',
 '1,098',
 '705',
 '786',
 '1,074',
 '959',
 '752',
 '1,248',
 '940',
 '1,234',
 '1,106',
 '593',
 '1,343',
 '862',
 '816',
 '1,198',
 '695',
 '776',
 '974',
 '1,136',
 '1,038',
 '1,396',
 '996',
 '1,180',
 '876',
 '1,053',
 '876',
 '774',
 '1,008',
 '1,208',
 '945',
 '724',
 '942',
 '847',
 '1,054',
 '987',
 '1,279',
 '1,122',
 '1,183',
 '2,094',
 '981',
 '1,295',
 '1,186',
 '1,805',
 '806',
 '963',
 '874',
 '1,050',
 '1,026',
 '1,050',
 '849',
 '1,071',
 '1,183',
 '1,053',
 '668',
 '998',
 '774',
 '1,068',
 '1,127',
 '1,053',
 '636',
 '1,038',
 '1,067',
 '542',
 '1,612',
 '998',
 '2,455',
 '987',
 '1,337',
 '1,190',
 '1,417',
 '1,394',
 '620',
 '853',
 '1,546',
 '922',
 '980',
 '1,610',
 '1,125',
 '728',
 '1,376',
 '1,008',
 '1,245',
 '1,015',
 '1,856',
 '684',
 '1,053',
 '1,047',
 '1,209',
 '1,202',
 '980',
 '920',
 '1,333',
 '1,333',
 '1,282',
 '978',
 '1,394',
 '1,269',
 '1,405',
 '705',
 '793',
 '974',
 '1,038']

In [101]:
first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
first_button.click()

In [103]:
ppsqft_name10=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag10 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag10:
        ppsqft_name10.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [104]:
ppsqft_name10

['$243',
 '$378',
 '$211',
 '$259',
 '$295',
 '$280',
 '$498',
 '$377',
 '$416',
 '$283',
 '$288',
 '$230',
 '$271',
 '$227',
 '$191',
 '$247',
 '$349',
 '$292',
 '$2,260',
 '$234',
 '$469',
 '$254',
 '$312',
 '$337',
 '$216',
 '$248',
 '$313',
 '$267',
 '$252',
 '$243',
 '$1,129',
 '$287',
 '$252',
 '$290',
 '$297',
 '$249',
 '$255',
 '$296',
 '$375',
 '$228',
 '$263',
 '$243',
 '$378',
 '$211',
 '$259',
 '$295',
 '$280',
 '$498',
 '$377',
 '$416',
 '$283',
 '$288',
 '$230',
 '$271',
 '$227',
 '$191',
 '$247',
 '$349',
 '$292',
 '$2,260',
 '$234',
 '$469',
 '$254',
 '$312',
 '$337',
 '$216',
 '$248',
 '$313',
 '$267',
 '$252',
 '$243',
 '$1,129',
 '$287',
 '$252',
 '$290',
 '$297',
 '$249',
 '$255',
 '$296',
 '$375',
 '$228',
 '$263',
 '$243',
 '$378',
 '$211',
 '$259',
 '$295',
 '$280',
 '$498',
 '$377',
 '$416',
 '$283',
 '$288',
 '$230',
 '$271',
 '$227',
 '$191',
 '$247',
 '$349',
 '$292',
 '$2,260',
 '$234',
 '$469',
 '$254',
 '$312',
 '$337',
 '$216',
 '$248',
 '$313',
 '$267',
 '$252',
 '$243',
 '$1,129',
 '$287',
 '$252',
 '$290',
 '$297',
 '$249',
 '$255',
 '$296',
 '$375',
 '$228',
 '$263']

In [105]:
len(ppsqft_name10)

123

In [111]:
print(len(address_name10),len(price_name10),len(beds_name10),len(baths_name10),len(sqft_name10),len(ppsqft_name10))

120 120 120 120 120 120

In [110]:
del ppsqft_name10[120:123]

In [112]:
import pandas as pd
df10=pd.DataFrame({'Address':address_name10,'Price':price_name10,'Beds':beds_name10,'Baths':baths_name10,'Total sqft':sqft_name10,'Price per sqft':ppsqft_name10})
df10

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"2451 N Rainbow Blvd #2149, Las Vegas, NV 89108","$175,000",1 bed,1 bath,720,$243
1,"353 E Bonneville Ave #145, Las Vegas, NV 89101","$480,000",2 beds,2 baths,"1,271",$378
2,"6512 Ironbark Ln, Las Vegas, NV 89107","$289,999",2 beds,2.5 baths,"1,374",$211
3,"35 Agate Ave #405, Las Vegas, NV 89123","$299,500",2 beds,2 baths,"1,155",$259
4,"3450 Erva St #252, Las Vegas, NV 89117","$260,000",2 beds,2 baths,882,$295
...,...,...,...,...,...,...
115,"908 Duckhorn Ct #205, Las Vegas, NV 89144","$335,000",2 beds,2 baths,978,$290
116,"322 Karen Ave #202, Las Vegas, NV 89109","$580,000",2 beds,1 bath,"1,394",$297
117,"7255 W Sunset Rd #2018, Las Vegas, NV 89113","$248,000",1 bed,1 bath,"1,269",$249
118,"2838 Geary Pl #4002, Las Vegas, NV 89109","$195,000",1 bed,2 baths,"1,405",$255
119,"2000 Fashion Show Dr #2922, Las Vegas, NV 89109","$495,000",1 bed,2 baths,705,$296

In [113]:
df10.to_csv('file10.csv')

In [ ]:
----------New York homes---------

In [119]:
address_name11=[]
price_name11=[]
beds_name11=[]
baths_name11=[]
sqft_name11=[]
ppsqft_name11=[]

In [120]:
address_name11=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag11 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag11:
        address_name11.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [122]:
address_name11

['25 Tudor City Pl #1605, New York, NY 10017',
 '141-17 Union Tpke #2, Kew Garden Hills, NY 11367',
 '1 Plaza St W Unit 10C, Brooklyn, NY 11217',
 '261 W 112th St Unit 5E, New York, NY 10026',
 '103 Beach 221st St, New York, NY 11697',
 '750 Kappock St #807, Bronx, NY 10463',
 '350 W 42nd St Unit 18B, New York, NY 10036',
 '135 W 58th St Unit 4C5C, New York, NY 10019',
 '549 41st St Unit 2A, Brooklyn, NY 11232',
 '485 Central Park W Unit 2-G, New York, NY 10025',
 '460 E 79th St Unit 15-A, New York, NY 10075',
 '785 Park Ave Unit 19B, New York, NY 10021',
 '137 Covington Cir, Staten Island, NY 10312',
 '123 Ridgeway Ave, Staten Island, NY 10314',
 '240 W 121st St, New York, NY 10027',
 '231 Berry St, Brooklyn, NY 11249',
 '780 W End Ave Unit 5B, New York, NY 10025',
 '49 W 12th St Unit 10C, New York, NY 10011',
 '231 E 60th St, New York, NY 10022',
 '345 E 80th St Unit 6EF, New York, NY 10075',
 '4380 Vireo Ave Unit 1D, Bronx, NY 10470',
 '183 Arbutus Ave, Staten Island, NY 10312',
 '215 W 95th St Unit 14L, New York, NY 10025',
 '145 W 86th St Unit 12B, New York, NY 10024',
 '1311 Brightwater Ave Unit 8DE, Brooklyn, NY 11235',
 '466 15th St #3, Brooklyn, NY 11215',
 '175 E 62nd St Unit 14B, New York, NY 10065',
 '164 E 72nd St Unit PHC, New York, NY 10021',
 '1340 84th St, Brooklyn, NY 11228',
 '148-09 Northern Blvd Unit 1F, Flushing, NY 11354',
 '19 7th Ave Unit 3F, Brooklyn, NY 11217',
 '166-25 Powells Cove Blv Unit 20G, Beechhurst, NY 11357',
 '100 Overlook Ter #421, New York, NY 10040',
 '77 E 12th St Unit 9K, New York, NY 10003',
 '536 W 111th St #57, New York, NY 10025',
 '201 E 79th St Unit 4D, New York, NY 10075',
 '21-61 47th St, Astoria, NY 11105',
 '112 Hicks St #3, Brooklyn, NY 11201',
 '475 Park Ave Unit 11-BC, New York, NY 10022',
 '13 W 13th St Unit 1A, New York, NY 10011',
 '25 Tudor City Pl #1605, New York, NY 10017',
 '141-17 Union Tpke #2, Kew Garden Hills, NY 11367',
 '1 Plaza St W Unit 10C, Brooklyn, NY 11217',
 '261 W 112th St Unit 5E, New York, NY 10026',
 '103 Beach 221st St, New York, NY 11697',
 '750 Kappock St #807, Bronx, NY 10463',
 '350 W 42nd St Unit 18B, New York, NY 10036',
 '135 W 58th St Unit 4C5C, New York, NY 10019',
 '549 41st St Unit 2A, Brooklyn, NY 11232',
 '485 Central Park W Unit 2-G, New York, NY 10025',
 '460 E 79th St Unit 15-A, New York, NY 10075',
 '785 Park Ave Unit 19B, New York, NY 10021',
 '137 Covington Cir, Staten Island, NY 10312',
 '123 Ridgeway Ave, Staten Island, NY 10314',
 '240 W 121st St, New York, NY 10027',
 '231 Berry St, Brooklyn, NY 11249',
 '780 W End Ave Unit 5B, New York, NY 10025',
 '49 W 12th St Unit 10C, New York, NY 10011',
 '231 E 60th St, New York, NY 10022',
 '345 E 80th St Unit 6EF, New York, NY 10075',
 '4380 Vireo Ave Unit 1D, Bronx, NY 10470',
 '183 Arbutus Ave, Staten Island, NY 10312',
 '215 W 95th St Unit 14L, New York, NY 10025',
 '145 W 86th St Unit 12B, New York, NY 10024',
 '1311 Brightwater Ave Unit 8DE, Brooklyn, NY 11235',
 '466 15th St #3, Brooklyn, NY 11215',
 '175 E 62nd St Unit 14B, New York, NY 10065',
 '164 E 72nd St Unit PHC, New York, NY 10021',
 '1340 84th St, Brooklyn, NY 11228',
 '148-09 Northern Blvd Unit 1F, Flushing, NY 11354',
 '19 7th Ave Unit 3F, Brooklyn, NY 11217',
 '166-25 Powells Cove Blv Unit 20G, Beechhurst, NY 11357',
 '100 Overlook Ter #421, New York, NY 10040',
 '77 E 12th St Unit 9K, New York, NY 10003',
 '536 W 111th St #57, New York, NY 10025',
 '201 E 79th St Unit 4D, New York, NY 10075',
 '21-61 47th St, Astoria, NY 11105',
 '112 Hicks St #3, Brooklyn, NY 11201',
 '475 Park Ave Unit 11-BC, New York, NY 10022',
 '13 W 13th St Unit 1A, New York, NY 10011',
 '25 Tudor City Pl #1605, New York, NY 10017',
 '141-17 Union Tpke #2, Kew Garden Hills, NY 11367',
 '1 Plaza St W Unit 10C, Brooklyn, NY 11217',
 '261 W 112th St Unit 5E, New York, NY 10026',
 '103 Beach 221st St, New York, NY 11697',
 '750 Kappock St #807, Bronx, NY 10463',
 '350 W 42nd St Unit 18B, New York, NY 10036',
 '135 W 58th St Unit 4C5C, New York, NY 10019',
 '549 41st St Unit 2A, Brooklyn, NY 11232',
 '485 Central Park W Unit 2-G, New York, NY 10025',
 '460 E 79th St Unit 15-A, New York, NY 10075',
 '785 Park Ave Unit 19B, New York, NY 10021',
 '137 Covington Cir, Staten Island, NY 10312',
 '123 Ridgeway Ave, Staten Island, NY 10314',
 '240 W 121st St, New York, NY 10027',
 '231 Berry St, Brooklyn, NY 11249',
 '780 W End Ave Unit 5B, New York, NY 10025',
 '49 W 12th St Unit 10C, New York, NY 10011',
 '231 E 60th St, New York, NY 10022',
 '345 E 80th St Unit 6EF, New York, NY 10075',
 '4380 Vireo Ave Unit 1D, Bronx, NY 10470',
 '183 Arbutus Ave, Staten Island, NY 10312',
 '215 W 95th St Unit 14L, New York, NY 10025',
 '145 W 86th St Unit 12B, New York, NY 10024',
 '1311 Brightwater Ave Unit 8DE, Brooklyn, NY 11235',
 '466 15th St #3, Brooklyn, NY 11215',
 '175 E 62nd St Unit 14B, New York, NY 10065',
 '164 E 72nd St Unit PHC, New York, NY 10021',
 '1340 84th St, Brooklyn, NY 11228',
 '148-09 Northern Blvd Unit 1F, Flushing, NY 11354',
 '19 7th Ave Unit 3F, Brooklyn, NY 11217',
 '166-25 Powells Cove Blv Unit 20G, Beechhurst, NY 11357',
 '100 Overlook Ter #421, New York, NY 10040',
 '77 E 12th St Unit 9K, New York, NY 10003',
 '536 W 111th St #57, New York, NY 10025',
 '201 E 79th St Unit 4D, New York, NY 10075',
 '21-61 47th St, Astoria, NY 11105',
 '112 Hicks St #3, Brooklyn, NY 11201',
 '475 Park Ave Unit 11-BC, New York, NY 10022',
 '13 W 13th St Unit 1A, New York, NY 10011']

In [121]:
len(address_name11)

120

In [123]:
price_name11=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag11 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag11:
        price_name11.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [124]:
price_name11

['$499,000',
 '$275,000',
 '$925,000',
 '$995,000',
 '$1,495,000',
 '$569,999',
 '$998,000',
 '$1,495,000',
 '$599,000',
 '$599,995',
 '$1,695,000',
 '$4,500,000',
 '$1,425,000',
 '$599,999',
 '$3,595,000',
 '$2,500,000',
 '$2,300,000',
 '$1,995,000',
 '$4,495,000',
 '$2,200,000',
 '$179,000',
 '$1,379,999',
 '$690,000',
 '$2,195,000',
 '$1,975,000',
 '$980,000',
 '$525,000',
 '$4,500,000',
 '$998,000',
 '$950,000',
 '$599,000',
 '$688,800',
 '$749,000',
 '$850,000',
 '$1,295,000',
 '$1,850,000',
 '$1,425,000',
 '$1,900,000',
 '$5,200,000',
 '$1,250,000',
 '$499,000',
 '$275,000',
 '$925,000',
 '$995,000',
 '$1,495,000',
 '$569,999',
 '$998,000',
 '$1,495,000',
 '$599,000',
 '$599,995',
 '$1,695,000',
 '$4,500,000',
 '$1,425,000',
 '$599,999',
 '$3,595,000',
 '$2,500,000',
 '$2,300,000',
 '$1,995,000',
 '$4,495,000',
 '$2,200,000',
 '$179,000',
 '$1,379,999',
 '$690,000',
 '$2,195,000',
 '$1,975,000',
 '$980,000',
 '$525,000',
 '$4,500,000',
 '$998,000',
 '$950,000',
 '$599,000',
 '$688,800',
 '$749,000',
 '$850,000',
 '$1,295,000',
 '$1,850,000',
 '$1,425,000',
 '$1,900,000',
 '$5,200,000',
 '$1,250,000',
 '$499,000',
 '$275,000',
 '$925,000',
 '$995,000',
 '$1,495,000',
 '$569,999',
 '$998,000',
 '$1,495,000',
 '$599,000',
 '$599,995',
 '$1,695,000',
 '$4,500,000',
 '$1,425,000',
 '$599,999',
 '$3,595,000',
 '$2,500,000',
 '$2,300,000',
 '$1,995,000',
 '$4,495,000',
 '$2,200,000',
 '$179,000',
 '$1,379,999',
 '$690,000',
 '$2,195,000',
 '$1,975,000',
 '$980,000',
 '$525,000',
 '$4,500,000',
 '$998,000',
 '$950,000',
 '$599,000',
 '$688,800',
 '$749,000',
 '$850,000',
 '$1,295,000',
 '$1,850,000',
 '$1,425,000',
 '$1,900,000',
 '$5,200,000',
 '$1,250,000']

In [125]:
len(price_name11)

120

In [126]:
beds_name11=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag11 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag11:
        beds_name11.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [128]:
beds_name11

['1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '4 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '10 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '0 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '3 beds',
 '3 beds',
 '4 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '4 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '10 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '0 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '3 beds',
 '3 beds',
 '4 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '4 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '10 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '0 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '1 bed',
 '3 beds',
 '3 beds',
 '4 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '2 beds']

In [127]:
len(beds_name11)

120

In [129]:
baths_name11=[]
# scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag11 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag11:
        baths_name11.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [130]:
baths_name11

['1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '3 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '3.5 baths',
 '3.5 baths',
 '2 baths',
 '3.5 baths',
 '3.5 baths',
 '3 baths',
 '2 baths',
 '4.5 baths',
 '2.5 baths',
 '1 bath',
 '4.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1.5 baths',
 '4.5 baths',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '4 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '3 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '3.5 baths',
 '3.5 baths',
 '2 baths',
 '3.5 baths',
 '3.5 baths',
 '3 baths',
 '2 baths',
 '4.5 baths',
 '2.5 baths',
 '1 bath',
 '4.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1.5 baths',
 '4.5 baths',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '4 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '3 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '3.5 baths',
 '3.5 baths',
 '2 baths',
 '3.5 baths',
 '3.5 baths',
 '3 baths',
 '2 baths',
 '4.5 baths',
 '2.5 baths',
 '1 bath',
 '4.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1.5 baths',
 '4.5 baths',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '4 baths',
 '2 baths']

In [135]:
sqft_name11=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag11 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag11:
        sqft_name11.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [134]:
del sqft_tag11

In [137]:
sqft_name11

['—',
 '—',
 '—',
 '1,061',
 '—',
 '1,500',
 '712',
 '—',
 '850',
 '600',
 '1,241',
 '—',
 '2,554',
 '1,204',
 '4,080',
 '1,800',
 '1,562',
 '—',
 '5,100',
 '1,550',
 '750',
 '2,838',
 '502',
 '—',
 '2,000',
 '838',
 '—',
 '—',
 '1,635',
 '1,679',
 '—',
 '—',
 '1,085',
 '—',
 '—',
 '—',
 '—',
 '—',
 '2,630',
 '—',
 '1,826',
 '—',
 '—',
 '—',
 '1,061',
 '—',
 '1,500',
 '712',
 '—',
 '850',
 '600',
 '1,241',
 '—',
 '2,554',
 '1,204',
 '4,080',
 '1,800',
 '1,562',
 '—',
 '5,100',
 '1,550',
 '750',
 '2,838',
 '502',
 '—',
 '2,000',
 '838',
 '—',
 '—',
 '1,635',
 '1,679',
 '—',
 '—',
 '1,085',
 '—',
 '—',
 '—',
 '—',
 '—',
 '2,630',
 '—',
 '1,826',
 '—',
 '—',
 '—',
 '1,061',
 '—',
 '1,500',
 '712',
 '—',
 '850',
 '600',
 '1,241',
 '—',
 '2,554',
 '1,204',
 '4,080',
 '1,800',
 '1,562',
 '—',
 '5,100',
 '1,550',
 '750',
 '2,838',
 '502',
 '—',
 '2,000',
 '838',
 '—',
 '—',
 '1,635',
 '1,679',
 '—',
 '—',
 '1,085',
 '—',
 '—',
 '—',
 '—',
 '—',
 '2,630',
 '—',
 '1,826']

In [138]:
ppsqft_name9=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag11 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag11:
        ppsqft_name11.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [139]:
ppsqft_name11

['—',
 '—',
 '—',
 '$938',
 '—',
 '$380',
 '$1,402',
 '—',
 '$705',
 '$1,000',
 '$1,366',
 '—',
 '$558',
 '$498',
 '$881',
 '$1,389',
 '$1,472',
 '—',
 '$881',
 '$1,419',
 '$239',
 '$486',
 '$1,375',
 '—',
 '$988',
 '$1,169',
 '—',
 '—',
 '$610',
 '$566',
 '—',
 '—',
 '$690',
 '—',
 '—',
 '—',
 '—',
 '—',
 '$1,977',
 '—',
 '$938',
 '—',
 '—',
 '—',
 '$938',
 '—',
 '$380',
 '$1,402',
 '—',
 '$705',
 '$1,000',
 '$1,366',
 '—',
 '$558',
 '$498',
 '$881',
 '$1,389',
 '$1,472',
 '—',
 '$881',
 '$1,419',
 '$239',
 '$486',
 '$1,375',
 '—',
 '$988',
 '$1,169',
 '—',
 '—',
 '$610',
 '$566',
 '—',
 '—',
 '$690',
 '—',
 '—',
 '—',
 '—',
 '—',
 '$1,977',
 '—',
 '$938',
 '—',
 '—',
 '—',
 '$938',
 '—',
 '$380',
 '$1,402',
 '—',
 '$705',
 '$1,000',
 '$1,366',
 '—',
 '$558',
 '$498',
 '$881',
 '$1,389',
 '$1,472',
 '—',
 '$881',
 '$1,419',
 '$239',
 '$486',
 '$1,375',
 '—',
 '$988',
 '$1,169',
 '—',
 '—',
 '$610',
 '$566',
 '—',
 '—',
 '$690',
 '—',
 '—',
 '—',
 '—',
 '—',
 '$1,977',
 '—',
 '$938']

In [144]:
print(len(address_name11),len(price_name11),len(beds_name11),len(baths_name11),len(sqft_name11),len(ppsqft_name11))

120 120 120 120 120 120

In [143]:
del ppsqft_name11[120:123]

In [145]:
import pandas as pd
df11=pd.DataFrame({'Address':address_name11,'Price':price_name9,'Beds':beds_name11,'Baths':baths_name11,'Total sqft':sqft_name11,'Price per sqft':ppsqft_name11})
df11

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"25 Tudor City Pl #1605, New York, NY 10017","$880,000",1 bed,1 bath,—,—
1,"141-17 Union Tpke #2, Kew Garden Hills, NY 11367","$798,000",1 bed,1 bath,—,—
2,"1 Plaza St W Unit 10C, Brooklyn, NY 11217","$789,000",1 bed,1 bath,—,—
3,"261 W 112th St Unit 5E, New York, NY 10026","$575,000",2 beds,2 baths,"1,061",$938
4,"103 Beach 221st St, New York, NY 11697","$925,000",4 beds,2.5 baths,—,—
...,...,...,...,...,...,...
115,"201 E 79th St Unit 4D, New York, NY 10075","$650,000",2 beds,2 baths,—,—
116,"21-61 47th St, Astoria, NY 11105","$475,000",3 beds,2.5 baths,—,—
117,"112 Hicks St #3, Brooklyn, NY 11201","$949,000",2 beds,2 baths,—,—
118,"475 Park Ave Unit 11-BC, New York, NY 10022","$599,000",3 beds,4 baths,—,—
119,"13 W 13th St Unit 1A, New York, NY 10011","$1,300,000",2 beds,2 baths,—,—

In [146]:
df11.to_csv('file11.csv')

In [ ]:
------------Raleigh homes---

In [148]:
address_name12=[]
price_name12=[]
beds_name12=[]
baths_name12=[]
sqft_name12=[]
ppsqft_name12=[]

In [155]:
address_name12=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag12 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag12:
        address_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [156]:
address_name12

['412 Grosvenor Dr, Raleigh, NC 27615',
 '651 Pine Ridge Pl #651, Raleigh, NC 27609',
 '7406 Randshire Way, Raleigh, NC 27616',
 '6220 Braidwood Ct, Raleigh, NC 27612',
 '1213 Brookside Dr, Raleigh, NC 27604',
 '1921 Carthage Cir, Raleigh, NC 27604',
 '5908 Crepe Myrtle Ct, Raleigh, NC 27609',
 '10651 Tarton Fields Cir, Raleigh, NC 27617',
 '511 S Saunders St, Raleigh, NC 27603',
 '4441 Moss Spring Dr, Raleigh, NC 27616',
 '3635 Water Mist Ln, Raleigh, NC 27604',
 '5500 Southern Cross Ave, Raleigh, NC 27606',
 '8600 Colville Ct, Raleigh, NC 27617',
 '1308 Hedgelawn Way, Raleigh, NC 27615',
 '5935 Paducah Dr, Raleigh, NC 27610',
 '1201 Shaw View Aly #201, Raleigh, NC 27601',
 '318 Glen Valley Dr, Raleigh, NC 27609',
 '8618 Red Canyon Way, Raleigh, NC 27616',
 '2329 Big Sky Ln #5, Raleigh, NC 27615',
 '4233 Timberwood Dr, Raleigh, NC 27612',
 '2805 London Bridge Ct, Raleigh, NC 27613',
 '701 Hardin Hill Ln Unit Landrum, Knightdale, NC 27545',
 '729 Hardin Hill Ln Unit Mayflower, Knightdale, NC 27545',
 '709 Hardin Hill Ln Unit Tryon, Knightdale, NC 27545',
 '8221 Allyns Landing Way #204, Raleigh, NC 27615',
 '4964 Caddis Bnd, Raleigh, NC 27604',
 '6508 Camellia Creek Dr, Raleigh, NC 27603',
 '6812 Hickory Dr, Raleigh, NC 27603',
 '3828 Mason Bluff Dr Unit Tessa, Raleigh, NC 27616',
 '704 Sunnybrook Rd, Raleigh, NC 27610',
 '2413 Big Sky Ln, Raleigh, NC 27615',
 '1619 Roanoke St, Raleigh, NC 27606',
 '607 Calloway Dr, Raleigh, NC 27610',
 '2909 Bethlehem Rd, Raleigh, NC 27610',
 '2669 Pivot Ridge Dr, Raleigh, NC 27616',
 '6405 Dry Fork Ln, Raleigh, NC 27617',
 '7900 Berry Crest Ave, Raleigh, NC 27617',
 '3742 Mason Bluff Dr Unit Leighton, Raleigh, NC 27616',
 '5308 Montclair Dr, Raleigh, NC 27609',
 '100 N Bloodworth St, Raleigh, NC 27601',
 '412 Grosvenor Dr, Raleigh, NC 27615',
 '651 Pine Ridge Pl #651, Raleigh, NC 27609',
 '7406 Randshire Way, Raleigh, NC 27616',
 '6220 Braidwood Ct, Raleigh, NC 27612',
 '1213 Brookside Dr, Raleigh, NC 27604',
 '1921 Carthage Cir, Raleigh, NC 27604',
 '5908 Crepe Myrtle Ct, Raleigh, NC 27609',
 '10651 Tarton Fields Cir, Raleigh, NC 27617',
 '511 S Saunders St, Raleigh, NC 27603',
 '4441 Moss Spring Dr, Raleigh, NC 27616',
 '3635 Water Mist Ln, Raleigh, NC 27604',
 '5500 Southern Cross Ave, Raleigh, NC 27606',
 '8600 Colville Ct, Raleigh, NC 27617',
 '1308 Hedgelawn Way, Raleigh, NC 27615',
 '5935 Paducah Dr, Raleigh, NC 27610',
 '1201 Shaw View Aly #201, Raleigh, NC 27601',
 '318 Glen Valley Dr, Raleigh, NC 27609',
 '8618 Red Canyon Way, Raleigh, NC 27616',
 '2329 Big Sky Ln #5, Raleigh, NC 27615',
 '4233 Timberwood Dr, Raleigh, NC 27612',
 '2805 London Bridge Ct, Raleigh, NC 27613',
 '701 Hardin Hill Ln Unit Landrum, Knightdale, NC 27545',
 '729 Hardin Hill Ln Unit Mayflower, Knightdale, NC 27545',
 '709 Hardin Hill Ln Unit Tryon, Knightdale, NC 27545',
 '8221 Allyns Landing Way #204, Raleigh, NC 27615',
 '4964 Caddis Bnd, Raleigh, NC 27604',
 '6508 Camellia Creek Dr, Raleigh, NC 27603',
 '6812 Hickory Dr, Raleigh, NC 27603',
 '3828 Mason Bluff Dr Unit Tessa, Raleigh, NC 27616',
 '704 Sunnybrook Rd, Raleigh, NC 27610',
 '2413 Big Sky Ln, Raleigh, NC 27615',
 '1619 Roanoke St, Raleigh, NC 27606',
 '607 Calloway Dr, Raleigh, NC 27610',
 '2909 Bethlehem Rd, Raleigh, NC 27610',
 '2669 Pivot Ridge Dr, Raleigh, NC 27616',
 '6405 Dry Fork Ln, Raleigh, NC 27617',
 '7900 Berry Crest Ave, Raleigh, NC 27617',
 '3742 Mason Bluff Dr Unit Leighton, Raleigh, NC 27616',
 '5308 Montclair Dr, Raleigh, NC 27609',
 '100 N Bloodworth St, Raleigh, NC 27601',
 '412 Grosvenor Dr, Raleigh, NC 27615',
 '651 Pine Ridge Pl #651, Raleigh, NC 27609',
 '7406 Randshire Way, Raleigh, NC 27616',
 '6220 Braidwood Ct, Raleigh, NC 27612',
 '1213 Brookside Dr, Raleigh, NC 27604',
 '1921 Carthage Cir, Raleigh, NC 27604',
 '5908 Crepe Myrtle Ct, Raleigh, NC 27609',
 '10651 Tarton Fields Cir, Raleigh, NC 27617',
 '511 S Saunders St, Raleigh, NC 27603',
 '4441 Moss Spring Dr, Raleigh, NC 27616',
 '3635 Water Mist Ln, Raleigh, NC 27604',
 '5500 Southern Cross Ave, Raleigh, NC 27606',
 '8600 Colville Ct, Raleigh, NC 27617',
 '1308 Hedgelawn Way, Raleigh, NC 27615',
 '5935 Paducah Dr, Raleigh, NC 27610',
 '1201 Shaw View Aly #201, Raleigh, NC 27601',
 '318 Glen Valley Dr, Raleigh, NC 27609',
 '8618 Red Canyon Way, Raleigh, NC 27616',
 '2329 Big Sky Ln #5, Raleigh, NC 27615',
 '4233 Timberwood Dr, Raleigh, NC 27612',
 '2805 London Bridge Ct, Raleigh, NC 27613',
 '701 Hardin Hill Ln Unit Landrum, Knightdale, NC 27545',
 '729 Hardin Hill Ln Unit Mayflower, Knightdale, NC 27545',
 '709 Hardin Hill Ln Unit Tryon, Knightdale, NC 27545',
 '8221 Allyns Landing Way #204, Raleigh, NC 27615',
 '4964 Caddis Bnd, Raleigh, NC 27604',
 '6508 Camellia Creek Dr, Raleigh, NC 27603',
 '6812 Hickory Dr, Raleigh, NC 27603',
 '3828 Mason Bluff Dr Unit Tessa, Raleigh, NC 27616',
 '704 Sunnybrook Rd, Raleigh, NC 27610',
 '2413 Big Sky Ln, Raleigh, NC 27615',
 '1619 Roanoke St, Raleigh, NC 27606',
 '607 Calloway Dr, Raleigh, NC 27610',
 '2909 Bethlehem Rd, Raleigh, NC 27610',
 '2669 Pivot Ridge Dr, Raleigh, NC 27616',
 '6405 Dry Fork Ln, Raleigh, NC 27617',
 '7900 Berry Crest Ave, Raleigh, NC 27617',
 '3742 Mason Bluff Dr Unit Leighton, Raleigh, NC 27616',
 '5308 Montclair Dr, Raleigh, NC 27609',
 '100 N Bloodworth St, Raleigh, NC 27601']

In [157]:
price_name12=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag12 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag12:
        price_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [158]:
price_name12

['$879,900',
 '$249,000',
 '$599,000',
 '$430,000',
 '$495,000',
 '$375,000',
 '$485,000',
 '$1,099,000',
 '$400,000',
 '$370,000',
 '$345,000',
 '$579,000',
 '$525,000',
 '$3,600,000',
 '$385,000',
 '$595,240',
 '$650,000',
 '$370,000',
 '$575,000',
 '$375,000',
 '$675,000',
 '$524,990',
 '$499,800',
 '$549,965',
 '$293,000',
 '$338,049',
 '$947,000',
 '$725,000',
 '$509,725',
 '$350,000',
 '$600,000',
 '$289,500',
 '$324,900',
 '$1,189,000',
 '$433,801',
 '$489,000',
 '$563,268',
 '$480,990',
 '$1,650,000',
 '$995,000',
 '$879,900',
 '$249,000',
 '$599,000',
 '$430,000',
 '$495,000',
 '$375,000',
 '$485,000',
 '$1,099,000',
 '$400,000',
 '$370,000',
 '$345,000',
 '$579,000',
 '$525,000',
 '$3,600,000',
 '$385,000',
 '$595,240',
 '$650,000',
 '$370,000',
 '$575,000',
 '$375,000',
 '$675,000',
 '$524,990',
 '$499,800',
 '$549,965',
 '$293,000',
 '$338,049',
 '$947,000',
 '$725,000',
 '$509,725',
 '$350,000',
 '$600,000',
 '$289,500',
 '$324,900',
 '$1,189,000',
 '$433,801',
 '$489,000',
 '$563,268',
 '$480,990',
 '$1,650,000',
 '$995,000',
 '$879,900',
 '$249,000',
 '$599,000',
 '$430,000',
 '$495,000',
 '$375,000',
 '$485,000',
 '$1,099,000',
 '$400,000',
 '$370,000',
 '$345,000',
 '$579,000',
 '$525,000',
 '$3,600,000',
 '$385,000',
 '$595,240',
 '$650,000',
 '$370,000',
 '$575,000',
 '$375,000',
 '$675,000',
 '$524,990',
 '$499,800',
 '$549,965',
 '$293,000',
 '$338,049',
 '$947,000',
 '$725,000',
 '$509,725',
 '$350,000',
 '$600,000',
 '$289,500',
 '$324,900',
 '$1,189,000',
 '$433,801',
 '$489,000',
 '$563,268',
 '$480,990',
 '$1,650,000',
 '$995,000']

In [159]:
beds_name12=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag12 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag12:
        beds_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [160]:
beds_name12

['4 beds',
 '3 beds',
 '6 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '6 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '5 beds',
 '4 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '5 beds',
 '3 beds',
 '5 beds',
 '5 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '6 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '6 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '5 beds',
 '4 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '5 beds',
 '3 beds',
 '5 beds',
 '5 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '6 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '6 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '5 beds',
 '4 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '5 beds',
 '3 beds',
 '5 beds',
 '5 beds',
 '4 beds']

In [161]:
baths_name12=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag12 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag12:
        baths_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [162]:
baths_name12

['3.5 baths',
 '2 baths',
 '4 baths',
 '3.5 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '5.5 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '4.5 baths',
 '2.5 baths',
 '2.5 baths',
 '3 baths',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '2.5 baths',
 '3 baths',
 '3 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '4.5 baths',
 '3 baths',
 '4 baths',
 '1.5 baths',
 '4 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '3 baths',
 '4.5 baths',
 '2.5 baths',
 '3.5 baths',
 '2 baths',
 '4 baths',
 '3.5 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '5.5 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '4.5 baths',
 '2.5 baths',
 '2.5 baths',
 '3 baths',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '2.5 baths',
 '3 baths',
 '3 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '4.5 baths',
 '3 baths',
 '4 baths',
 '1.5 baths',
 '4 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '3 baths',
 '4.5 baths',
 '2.5 baths',
 '3.5 baths',
 '2 baths',
 '4 baths',
 '3.5 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '5.5 baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '4.5 baths',
 '2.5 baths',
 '2.5 baths',
 '3 baths',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '2.5 baths',
 '3 baths',
 '3 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '4.5 baths',
 '3 baths',
 '4 baths',
 '1.5 baths',
 '4 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '3 baths',
 '4.5 baths',
 '2.5 baths']

In [163]:
sqft_name12=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag12 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag12:
        sqft_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [164]:
 sqft_name12

['3,550',
 '1,168',
 '3,449',
 '2,296',
 '1,156',
 '1,410',
 '1,873',
 '5,302',
 '748',
 '1,285',
 '1,679',
 '2,777',
 '1,693',
 '5,413',
 '2,377',
 '2,599',
 '1,868',
 '2,106',
 '2,387',
 '938',
 '2,511',
 '2,619',
 '2,472',
 '3,037',
 '1,094',
 '1,560',
 '3,920',
 '3,500',
 '3,000',
 '1,330',
 '2,746',
 '1,145',
 '1,052',
 '2,386',
 '1,501',
 '2,187',
 '2,095',
 '2,714',
 '4,238',
 '2,626',
 '2,199',
 '3,550',
 '1,168',
 '3,449',
 '2,296',
 '1,156',
 '1,410',
 '1,873',
 '5,302',
 '748',
 '1,285',
 '1,679',
 '2,777',
 '1,693',
 '5,413',
 '2,377',
 '2,599',
 '1,868',
 '2,106',
 '2,387',
 '938',
 '2,511',
 '2,619',
 '2,472',
 '3,037',
 '1,094',
 '1,560',
 '3,920',
 '3,500',
 '3,000',
 '1,330',
 '2,746',
 '1,145',
 '1,052',
 '2,386',
 '1,501',
 '2,187',
 '2,095',
 '2,714',
 '4,238',
 '2,626',
 '2,199',
 '3,550',
 '1,168',
 '3,449',
 '2,296',
 '1,156',
 '1,410',
 '1,873',
 '5,302',
 '748',
 '1,285',
 '1,679',
 '2,777',
 '1,693',
 '5,413',
 '2,377',
 '2,599',
 '1,868',
 '2,106',
 '2,387',
 '938',
 '2,511',
 '2,619',
 '2,472',
 '3,037',
 '1,094',
 '1,560',
 '3,920',
 '3,500',
 '3,000',
 '1,330',
 '2,746',
 '1,145',
 '1,052',
 '2,386',
 '1,501',
 '2,187',
 '2,095',
 '2,714',
 '4,238',
 '2,626',
 '2,199']

In [165]:
ppsqft_name12=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag12 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag12:
        ppsqft_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [166]:
ppsqft_name12

['$248',
 '$213',
 '$174',
 '$187',
 '$428',
 '$266',
 '$259',
 '$207',
 '$535',
 '$288',
 '$205',
 '$208',
 '$310',
 '$665',
 '$162',
 '$229',
 '$348',
 '$176',
 '$241',
 '$400',
 '$269',
 '$200',
 '$202',
 '$181',
 '$268',
 '$217',
 '$242',
 '$207',
 '$170',
 '$263',
 '$218',
 '$253',
 '$309',
 '$498',
 '$289',
 '$224',
 '$269',
 '$177',
 '$389',
 '$379',
 '$246',
 '$248',
 '$213',
 '$174',
 '$187',
 '$428',
 '$266',
 '$259',
 '$207',
 '$535',
 '$288',
 '$205',
 '$208',
 '$310',
 '$665',
 '$162',
 '$229',
 '$348',
 '$176',
 '$241',
 '$400',
 '$269',
 '$200',
 '$202',
 '$181',
 '$268',
 '$217',
 '$242',
 '$207',
 '$170',
 '$263',
 '$218',
 '$253',
 '$309',
 '$498',
 '$289',
 '$224',
 '$269',
 '$177',
 '$389',
 '$379',
 '$246',
 '$248',
 '$213',
 '$174',
 '$187',
 '$428',
 '$266',
 '$259',
 '$207',
 '$535',
 '$288',
 '$205',
 '$208',
 '$310',
 '$665',
 '$162',
 '$229',
 '$348',
 '$176',
 '$241',
 '$400',
 '$269',
 '$200',
 '$202',
 '$181',
 '$268',
 '$217',
 '$242',
 '$207',
 '$170',
 '$263',
 '$218',
 '$253',
 '$309',
 '$498',
 '$289',
 '$224',
 '$269',
 '$177',
 '$389',
 '$379',
 '$246']

In [170]:
print(len(address_name12),len(price_name12),len(beds_name12),len(baths_name12),len(sqft_name12),len(ppsqft_name12))

120 120 120 120 120 120

In [169]:
del ppsqft_name12[120:123]

In [171]:
import pandas as pd
df12=pd.DataFrame({'Address':address_name12,'Price':price_name12,'Beds':beds_name12,'Baths':baths_name12,'Total sqft':sqft_name12,'Price per sqft':ppsqft_name12})
df12

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"412 Grosvenor Dr, Raleigh, NC 27615","$879,900",4 beds,3.5 baths,"3,550",$248
1,"651 Pine Ridge Pl #651, Raleigh, NC 27609","$249,000",3 beds,2 baths,"1,168",$213
2,"7406 Randshire Way, Raleigh, NC 27616","$599,000",6 beds,4 baths,"3,449",$174
3,"6220 Braidwood Ct, Raleigh, NC 27612","$430,000",4 beds,3.5 baths,"2,296",$187
4,"1213 Brookside Dr, Raleigh, NC 27604","$495,000",3 beds,1.5 baths,"1,156",$428
...,...,...,...,...,...,...
115,"6405 Dry Fork Ln, Raleigh, NC 27617","$489,000",5 beds,3.5 baths,"2,386",$498
116,"7900 Berry Crest Ave, Raleigh, NC 27617","$563,268",3 beds,2.5 baths,"1,501",$289
117,"3742 Mason Bluff Dr Unit Leighton, Raleigh, NC...","$480,990",5 beds,3 baths,"2,187",$224
118,"5308 Montclair Dr, Raleigh, NC 27609","$1,650,000",5 beds,4.5 baths,"2,095",$269
119,"100 N Bloodworth St, Raleigh, NC 27601","$995,000",4 beds,2.5 baths,"2,714",$177

In [172]:
df12.to_csv('file12.csv')

In [ ]:
-----------philadelphia -----------

In [6]:
address_name13=[]
price_name13=[]
beds_name13=[]
baths_name13=[]
sqft_name13=[]
ppsqft_name13=[]

In [12]:
address_name12=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag12 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag12:
        address_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [14]:
address_name12

['2135 Clymer St, Philadelphia, PA 19146',
 '912 E Phil Ellena St, Philadelphia, PA 19150',
 '3013 Glenview St, Philadelphia, PA 19149',
 '2001 Hamilton St #1501, Philadelphia, PA 19130',
 '224 W Ontario St, Philadelphia, PA 19140',
 '1227 N 5th St #1, Philadelphia, PA 19122',
 '1205 E Durham St, Philadelphia, PA 19150',
 '6333-35 N Norwood St, Philadelphia, PA 19138',
 '2456 N 19th St, Philadelphia, PA 19132',
 '2825 Guilford St, Philadelphia, PA 19152',
 '6144 Vandike St, Philadelphia, PA 19135',
 '3301 Fitler St, Philadelphia, PA 19114',
 '2838 N Mutter St, Philadelphia, PA 19133',
 '2122 S Frazier St, Philadelphia, PA 19143',
 '148 W Sharpnack St, Philadelphia, PA 19119',
 '4328 Benner St, Philadelphia, PA 19135',
 '1632 W Mentor St, Philadelphia, PA 19141',
 '2504 E Hagert St, Philadelphia, PA 19125',
 '7206 N Broad St, Philadelphia, PA 19126',
 '2401 Pennsylvania Ave Unit 7B34, Philadelphia, PA 19130',
 '3591 Calumet St, Philadelphia, PA 19129',
 '200-10 Lombard St #639, Philadelphia, PA 19147',
 '2610 S Robinson St, Philadelphia, PA 19142',
 '5965 Chester Ave, Philadelphia, PA 19143',
 '4028 N 8th St, Philadelphia, PA 19140',
 '837 N 2nd St #208, Philadelphia, PA 19123',
 '1154 S 6th St, Philadelphia, PA 19147',
 '4521 Pulaski Ave, Philadelphia, PA 19144',
 '200-10 Lombard St #701, Philadelphia, PA 19147',
 '3515 Morrell Ave, Philadelphia, PA 19114',
 '32 E Willow Grove Ave, Philadelphia, PA 19118',
 '2024 E Chelten Ave, Philadelphia, PA 19138',
 '3338 Wellington St, Philadelphia, PA 19149',
 '739 Brighton St, Philadelphia, PA 19111',
 '1520 Reed St, Philadelphia, PA 19146',
 '8657 Michener Ave, Philadelphia, PA 19150',
 '2045 Brandywine St, Philadelphia, PA 19130',
 '5541 Pulaski Ave, Philadelphia, PA 19144',
 '2226 Moore St, Philadelphia, PA 19145',
 '5426 Christian St, Philadelphia, PA 19143',
 '2135 Clymer St, Philadelphia, PA 19146',
 '912 E Phil Ellena St, Philadelphia, PA 19150',
 '3013 Glenview St, Philadelphia, PA 19149',
 '2001 Hamilton St #1501, Philadelphia, PA 19130',
 '224 W Ontario St, Philadelphia, PA 19140',
 '1227 N 5th St #1, Philadelphia, PA 19122',
 '1205 E Durham St, Philadelphia, PA 19150',
 '6333-35 N Norwood St, Philadelphia, PA 19138',
 '2456 N 19th St, Philadelphia, PA 19132',
 '2825 Guilford St, Philadelphia, PA 19152',
 '6144 Vandike St, Philadelphia, PA 19135',
 '3301 Fitler St, Philadelphia, PA 19114',
 '2838 N Mutter St, Philadelphia, PA 19133',
 '2122 S Frazier St, Philadelphia, PA 19143',
 '148 W Sharpnack St, Philadelphia, PA 19119',
 '4328 Benner St, Philadelphia, PA 19135',
 '1632 W Mentor St, Philadelphia, PA 19141',
 '2504 E Hagert St, Philadelphia, PA 19125',
 '7206 N Broad St, Philadelphia, PA 19126',
 '2401 Pennsylvania Ave Unit 7B34, Philadelphia, PA 19130',
 '3591 Calumet St, Philadelphia, PA 19129',
 '200-10 Lombard St #639, Philadelphia, PA 19147',
 '2610 S Robinson St, Philadelphia, PA 19142',
 '5965 Chester Ave, Philadelphia, PA 19143',
 '4028 N 8th St, Philadelphia, PA 19140',
 '837 N 2nd St #208, Philadelphia, PA 19123',
 '1154 S 6th St, Philadelphia, PA 19147',
 '4521 Pulaski Ave, Philadelphia, PA 19144',
 '200-10 Lombard St #701, Philadelphia, PA 19147',
 '3515 Morrell Ave, Philadelphia, PA 19114',
 '32 E Willow Grove Ave, Philadelphia, PA 19118',
 '2024 E Chelten Ave, Philadelphia, PA 19138',
 '3338 Wellington St, Philadelphia, PA 19149',
 '739 Brighton St, Philadelphia, PA 19111',
 '1520 Reed St, Philadelphia, PA 19146',
 '8657 Michener Ave, Philadelphia, PA 19150',
 '2045 Brandywine St, Philadelphia, PA 19130',
 '5541 Pulaski Ave, Philadelphia, PA 19144',
 '2226 Moore St, Philadelphia, PA 19145',
 '5426 Christian St, Philadelphia, PA 19143',
 '2135 Clymer St, Philadelphia, PA 19146',
 '912 E Phil Ellena St, Philadelphia, PA 19150',
 '3013 Glenview St, Philadelphia, PA 19149',
 '2001 Hamilton St #1501, Philadelphia, PA 19130',
 '224 W Ontario St, Philadelphia, PA 19140',
 '1227 N 5th St #1, Philadelphia, PA 19122',
 '1205 E Durham St, Philadelphia, PA 19150',
 '6333-35 N Norwood St, Philadelphia, PA 19138',
 '2456 N 19th St, Philadelphia, PA 19132',
 '2825 Guilford St, Philadelphia, PA 19152',
 '6144 Vandike St, Philadelphia, PA 19135',
 '3301 Fitler St, Philadelphia, PA 19114',
 '2838 N Mutter St, Philadelphia, PA 19133',
 '2122 S Frazier St, Philadelphia, PA 19143',
 '148 W Sharpnack St, Philadelphia, PA 19119',
 '4328 Benner St, Philadelphia, PA 19135',
 '1632 W Mentor St, Philadelphia, PA 19141',
 '2504 E Hagert St, Philadelphia, PA 19125',
 '7206 N Broad St, Philadelphia, PA 19126',
 '2401 Pennsylvania Ave Unit 7B34, Philadelphia, PA 19130',
 '3591 Calumet St, Philadelphia, PA 19129',
 '200-10 Lombard St #639, Philadelphia, PA 19147',
 '2610 S Robinson St, Philadelphia, PA 19142',
 '5965 Chester Ave, Philadelphia, PA 19143',
 '4028 N 8th St, Philadelphia, PA 19140',
 '837 N 2nd St #208, Philadelphia, PA 19123',
 '1154 S 6th St, Philadelphia, PA 19147',
 '4521 Pulaski Ave, Philadelphia, PA 19144',
 '200-10 Lombard St #701, Philadelphia, PA 19147',
 '3515 Morrell Ave, Philadelphia, PA 19114',
 '32 E Willow Grove Ave, Philadelphia, PA 19118',
 '2024 E Chelten Ave, Philadelphia, PA 19138',
 '3338 Wellington St, Philadelphia, PA 19149',
 '739 Brighton St, Philadelphia, PA 19111',
 '1520 Reed St, Philadelphia, PA 19146',
 '8657 Michener Ave, Philadelphia, PA 19150',
 '2045 Brandywine St, Philadelphia, PA 19130',
 '5541 Pulaski Ave, Philadelphia, PA 19144',
 '2226 Moore St, Philadelphia, PA 19145',
 '5426 Christian St, Philadelphia, PA 19143']

In [16]:
len(address_name12)

120

In [17]:
price_name12=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag12 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag12:
        price_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [18]:
price_name12

['$374,999',
 '$495,000',
 '$271,000',
 '$464,900',
 '$199,999',
 '$405,000',
 '$424,900',
 '$184,900',
 '$130,000',
 '$374,900',
 '$199,900',
 '$434,900',
 '$105,000',
 '$169,900',
 '$364,900',
 '$139,999',
 '$219,900',
 '$279,000',
 '$389,000',
 '$775,000',
 '$285,000',
 '$218,000',
 '$237,000',
 '$84,000',
 '$69,900',
 '$430,000',
 '$429,000',
 '$275,000',
 '$225,000',
 '$284,900',
 '$689,000',
 '$369,900',
 '$279,900',
 '$250,000',
 '$354,000',
 '$172,500',
 '$754,900',
 '$395,000',
 '$299,900',
 '$200,000',
 '$374,999',
 '$495,000',
 '$271,000',
 '$464,900',
 '$199,999',
 '$405,000',
 '$424,900',
 '$184,900',
 '$130,000',
 '$374,900',
 '$199,900',
 '$434,900',
 '$105,000',
 '$169,900',
 '$364,900',
 '$139,999',
 '$219,900',
 '$279,000',
 '$389,000',
 '$775,000',
 '$285,000',
 '$218,000',
 '$237,000',
 '$84,000',
 '$69,900',
 '$430,000',
 '$429,000',
 '$275,000',
 '$225,000',
 '$284,900',
 '$689,000',
 '$369,900',
 '$279,900',
 '$250,000',
 '$354,000',
 '$172,500',
 '$754,900',
 '$395,000',
 '$299,900',
 '$200,000',
 '$374,999',
 '$495,000',
 '$271,000',
 '$464,900',
 '$199,999',
 '$405,000',
 '$424,900',
 '$184,900',
 '$130,000',
 '$374,900',
 '$199,900',
 '$434,900',
 '$105,000',
 '$169,900',
 '$364,900',
 '$139,999',
 '$219,900',
 '$279,000',
 '$389,000',
 '$775,000',
 '$285,000',
 '$218,000',
 '$237,000',
 '$84,000',
 '$69,900',
 '$430,000',
 '$429,000',
 '$275,000',
 '$225,000',
 '$284,900',
 '$689,000',
 '$369,900',
 '$279,900',
 '$250,000',
 '$354,000',
 '$172,500',
 '$754,900',
 '$395,000',
 '$299,900',
 '$200,000']

In [19]:
len(price_name12)

120

In [20]:
beds_name12=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag12 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag12:
        beds_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [21]:
beds_name12

['2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '— beds',
 '3 beds',
 '3 beds',
 '— beds',
 '2 beds',
 '4 beds',
 '6 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '4 beds',
 '0 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '6 beds',
 '1 bed',
 '3 beds',
 '5 beds',
 '— beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '— beds',
 '3 beds',
 '3 beds',
 '— beds',
 '2 beds',
 '4 beds',
 '6 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '4 beds',
 '0 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '6 beds',
 '1 bed',
 '3 beds',
 '5 beds',
 '— beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '— beds',
 '3 beds',
 '3 beds',
 '— beds',
 '2 beds',
 '4 beds',
 '6 beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '4 beds',
 '0 beds',
 '3 beds',
 '2 beds',
 '4 beds',
 '6 beds',
 '1 bed',
 '3 beds',
 '5 beds',
 '— beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds']

In [22]:
len(beds_name12)

120

In [23]:
baths_name12=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag12 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag12:
        baths_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [24]:
baths_name12

['1 bath',
 '3.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '1.5 baths',
 '— baths',
 '2.5 baths',
 '1 bath',
 '— baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '1.5 baths',
 '3.5 baths',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '— baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '3 baths',
 '1 bath',
 '1.5 baths',
 '2 baths',
 '— baths',
 '1.5 baths',
 '2 baths',
 '2.5 baths',
 '1.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '3 baths',
 '1 bath',
 '3.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '1.5 baths',
 '— baths',
 '2.5 baths',
 '1 bath',
 '— baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '1.5 baths',
 '3.5 baths',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '— baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '3 baths',
 '1 bath',
 '1.5 baths',
 '2 baths',
 '— baths',
 '1.5 baths',
 '2 baths',
 '2.5 baths',
 '1.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '3 baths',
 '1 bath',
 '3.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '1.5 baths',
 '— baths',
 '2.5 baths',
 '1 bath',
 '— baths',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '1 bath',
 '1.5 baths',
 '3.5 baths',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '— baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '3 baths',
 '1 bath',
 '1.5 baths',
 '2 baths',
 '— baths',
 '1.5 baths',
 '2 baths',
 '2.5 baths',
 '1.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '3 baths']

In [25]:
len(baths_name12)

120

In [26]:
sqft_name12=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag12 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag12:
        sqft_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [27]:
sqft_name12

['864',
 '1,701',
 '1,703',
 '978',
 '1,120',
 '1,566',
 '1,672',
 '1,138',
 '2,053',
 '1,472',
 '1,056',
 '2,070',
 '840',
 '1,350',
 '2,688',
 '1,152',
 '1,524',
 '976',
 '3,050',
 '1,876',
 '900',
 '626',
 '1,585',
 '1,429',
 '1,110',
 '1,346',
 '2,139',
 '3,024',
 '626',
 '1,260',
 '2,240',
 '2,627',
 '1,656',
 '1,054',
 '1,068',
 '1,158',
 '1,734',
 '1,664',
 '1,400',
 '1,390',
 '1,408',
 '864',
 '1,701',
 '1,703',
 '978',
 '1,120',
 '1,566',
 '1,672',
 '1,138',
 '2,053',
 '1,472',
 '1,056',
 '2,070',
 '840',
 '1,350',
 '2,688',
 '1,152',
 '1,524',
 '976',
 '3,050',
 '1,876',
 '900',
 '626',
 '1,585',
 '1,429',
 '1,110',
 '1,346',
 '2,139',
 '3,024',
 '626',
 '1,260',
 '2,240',
 '2,627',
 '1,656',
 '1,054',
 '1,068',
 '1,158',
 '1,734',
 '1,664',
 '1,400',
 '1,390',
 '1,408',
 '864',
 '1,701',
 '1,703',
 '978',
 '1,120',
 '1,566',
 '1,672',
 '1,138',
 '2,053',
 '1,472',
 '1,056',
 '2,070',
 '840',
 '1,350',
 '2,688',
 '1,152',
 '1,524',
 '976',
 '3,050',
 '1,876',
 '900',
 '626',
 '1,585',
 '1,429',
 '1,110',
 '1,346',
 '2,139',
 '3,024',
 '626',
 '1,260',
 '2,240',
 '2,627',
 '1,656',
 '1,054',
 '1,068',
 '1,158',
 '1,734',
 '1,664',
 '1,400',
 '1,390',
 '1,408']

In [28]:
len(sqft_name12)

123

In [29]:
ppsqft_name12=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag12 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag12:
        ppsqft_name12.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [30]:
ppsqft_name12

['$434',
 '$291',
 '$159',
 '$475',
 '$179',
 '$259',
 '$254',
 '$162',
 '$63',
 '$255',
 '$189',
 '$210',
 '$125',
 '$126',
 '$136',
 '$122',
 '$144',
 '$286',
 '$128',
 '$413',
 '$317',
 '$348',
 '$150',
 '$59',
 '$63',
 '$319',
 '$201',
 '$91',
 '$359',
 '$226',
 '$308',
 '$141',
 '$169',
 '$237',
 '$331',
 '$149',
 '$435',
 '$237',
 '$214',
 '$144',
 '$214',
 '$434',
 '$291',
 '$159',
 '$475',
 '$179',
 '$259',
 '$254',
 '$162',
 '$63',
 '$255',
 '$189',
 '$210',
 '$125',
 '$126',
 '$136',
 '$122',
 '$144',
 '$286',
 '$128',
 '$413',
 '$317',
 '$348',
 '$150',
 '$59',
 '$63',
 '$319',
 '$201',
 '$91',
 '$359',
 '$226',
 '$308',
 '$141',
 '$169',
 '$237',
 '$331',
 '$149',
 '$435',
 '$237',
 '$214',
 '$144',
 '$214',
 '$434',
 '$291',
 '$159',
 '$475',
 '$179',
 '$259',
 '$254',
 '$162',
 '$63',
 '$255',
 '$189',
 '$210',
 '$125',
 '$126',
 '$136',
 '$122',
 '$144',
 '$286',
 '$128',
 '$413',
 '$317',
 '$348',
 '$150',
 '$59',
 '$63',
 '$319',
 '$201',
 '$91',
 '$359',
 '$226',
 '$308',
 '$141',
 '$169',
 '$237',
 '$331',
 '$149',
 '$435',
 '$237',
 '$214',
 '$144',
 '$214']

In [31]:
len(ppsqft_name12)

123

In [35]:
print(len(address_name12),len(price_name12),len(beds_name12),len(baths_name12),len(sqft_name12),len(ppsqft_name12))

120 120 120 120 120 120

In [34]:
del ppsqft_name12[120:123]

In [37]:
import pandas as pd
df13=pd.DataFrame({'Address':address_name12,'Price':price_name12,'Beds':beds_name12,'Baths':baths_name12,'Total sqft':sqft_name12,'Price per sqft':ppsqft_name12})
df13

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"2135 Clymer St, Philadelphia, PA 19146","$374,999",2 beds,1 bath,864,$434
1,"912 E Phil Ellena St, Philadelphia, PA 19150","$495,000",3 beds,3.5 baths,"1,701",$291
2,"3013 Glenview St, Philadelphia, PA 19149","$271,000",3 beds,2 baths,"1,703",$159
3,"2001 Hamilton St #1501, Philadelphia, PA 19130","$464,900",2 beds,2 baths,978,$475
4,"224 W Ontario St, Philadelphia, PA 19140","$199,999",3 beds,2 baths,"1,120",$179
...,...,...,...,...,...,...
115,"8657 Michener Ave, Philadelphia, PA 19150","$172,500",3 beds,1.5 baths,"1,054",$237
116,"2045 Brandywine St, Philadelphia, PA 19130","$754,900",3 beds,2 baths,"1,068",$331
117,"5541 Pulaski Ave, Philadelphia, PA 19144","$395,000",4 beds,2.5 baths,"1,158",$149
118,"2226 Moore St, Philadelphia, PA 19145","$299,900",3 beds,2.5 baths,"1,734",$435
119,"5426 Christian St, Philadelphia, PA 19143","$200,000",3 beds,3 baths,"1,664",$237

In [38]:
df13.to_csv('file13.csv')

In [ ]:
-----------------Nashville--------------

In [39]:
address_name14=[]
price_name14=[]
beds_name14=[]
baths_name14=[]
sqft_name14=[]
ppsqft_name14=[]

In [40]:
address_name14=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag14 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag14:
        address_name14.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [41]:
address_name14

['',
 '7277 Charlotte Pike #208, Nashville, TN 37209',
 '903 Churchill Xing, Madison, TN 37115',
 '119 Highland Villa Dr, Nashville, TN 37211',
 '1212 Laurel St #701, Nashville, TN 37203',
 '1518 Long Ave, Nashville, TN 37206',
 '115 Forest Park Rd, Madison, TN 37115',
 '1441 Pawnee Trl, Madison, TN 37115',
 '553 Huntington Pkwy, Nashville, TN 37211',
 '6609 Broken Bow Dr, Antioch, TN 37013',
 '2508 Pleasant Green Rd, Nashville, TN 37214',
 '4929 Hickory Woods E, Antioch, TN 37013',
 '3605 Bentfield Dr, Antioch, TN 37013',
 '209 Leonard Ave, Nashville, TN 37205',
 '1815 Forest Ave, Nashville, TN 37206',
 '4369 Chickering Ln, Nashville, TN 37215',
 '3712 Belle Oaks Dr, Antioch, TN 37013',
 '4005 Indiana Ave, Nashville, TN 37209',
 '3176 Penn Meade Way, Nashville, TN 37214',
 '810 S 12th St, Nashville, TN 37206',
 '2016 Jones Cir, Nashville, TN 37207',
 '2411 Old Hickory Blvd W, Nashville, TN 37221',
 '919 Fairwin Ave, Nashville, TN 37216',
 '3337 Towne Ridge Dr, Antioch, TN 37013',
 '1143 Battery Ln, Nashville, TN 37220',
 '407 W Meade Dr, Nashville, TN 37205',
 '600 Garfield St #14, Nashville, TN 37208',
 '215 S 11th St, Nashville, TN 37206',
 '700 12th Ave S #704, Nashville, TN 37203',
 '256 Summit Ridge Dr, Nashville, TN 37215',
 '485 Huntington Ridge Dr, Nashville, TN 37211',
 '1836 Grace Point Ln, Nolensville, TN 37135',
 '227 Brattlesboro Pl, Nashville, TN 37204',
 '416 Normandy Cir, Nashville, TN 37209',
 '5853 Mount View Rd, Antioch, TN 37013',
 '5721 Templegate Dr, Nashville, TN 37221',
 '612 Davidson Rd, Nashville, TN 37205',
 '4212 Sandstone Dr, Antioch, TN 37013',
 '605 Waterway Ct, Nashville, TN 37221',
 '513 Maxine Dr, Antioch, TN 37013',
 '711 Chesterfield Way, Nashville, TN 37212',
 '',
 '7277 Charlotte Pike #208, Nashville, TN 37209',
 '903 Churchill Xing, Madison, TN 37115',
 '119 Highland Villa Dr, Nashville, TN 37211',
 '1212 Laurel St #701, Nashville, TN 37203',
 '1518 Long Ave, Nashville, TN 37206',
 '115 Forest Park Rd, Madison, TN 37115',
 '1441 Pawnee Trl, Madison, TN 37115',
 '553 Huntington Pkwy, Nashville, TN 37211',
 '6609 Broken Bow Dr, Antioch, TN 37013',
 '2508 Pleasant Green Rd, Nashville, TN 37214',
 '4929 Hickory Woods E, Antioch, TN 37013',
 '3605 Bentfield Dr, Antioch, TN 37013',
 '209 Leonard Ave, Nashville, TN 37205',
 '1815 Forest Ave, Nashville, TN 37206',
 '4369 Chickering Ln, Nashville, TN 37215',
 '3712 Belle Oaks Dr, Antioch, TN 37013',
 '4005 Indiana Ave, Nashville, TN 37209',
 '3176 Penn Meade Way, Nashville, TN 37214',
 '810 S 12th St, Nashville, TN 37206',
 '2016 Jones Cir, Nashville, TN 37207',
 '2411 Old Hickory Blvd W, Nashville, TN 37221',
 '919 Fairwin Ave, Nashville, TN 37216',
 '3337 Towne Ridge Dr, Antioch, TN 37013',
 '1143 Battery Ln, Nashville, TN 37220',
 '407 W Meade Dr, Nashville, TN 37205',
 '600 Garfield St #14, Nashville, TN 37208',
 '215 S 11th St, Nashville, TN 37206',
 '700 12th Ave S #704, Nashville, TN 37203',
 '256 Summit Ridge Dr, Nashville, TN 37215',
 '485 Huntington Ridge Dr, Nashville, TN 37211',
 '1836 Grace Point Ln, Nolensville, TN 37135',
 '227 Brattlesboro Pl, Nashville, TN 37204',
 '416 Normandy Cir, Nashville, TN 37209',
 '5853 Mount View Rd, Antioch, TN 37013',
 '5721 Templegate Dr, Nashville, TN 37221',
 '612 Davidson Rd, Nashville, TN 37205',
 '4212 Sandstone Dr, Antioch, TN 37013',
 '605 Waterway Ct, Nashville, TN 37221',
 '513 Maxine Dr, Antioch, TN 37013',
 '711 Chesterfield Way, Nashville, TN 37212',
 '',
 '7277 Charlotte Pike #208, Nashville, TN 37209',
 '903 Churchill Xing, Madison, TN 37115',
 '119 Highland Villa Dr, Nashville, TN 37211',
 '1212 Laurel St #701, Nashville, TN 37203',
 '1518 Long Ave, Nashville, TN 37206',
 '115 Forest Park Rd, Madison, TN 37115',
 '1441 Pawnee Trl, Madison, TN 37115',
 '553 Huntington Pkwy, Nashville, TN 37211',
 '6609 Broken Bow Dr, Antioch, TN 37013',
 '2508 Pleasant Green Rd, Nashville, TN 37214',
 '4929 Hickory Woods E, Antioch, TN 37013',
 '3605 Bentfield Dr, Antioch, TN 37013',
 '209 Leonard Ave, Nashville, TN 37205',
 '1815 Forest Ave, Nashville, TN 37206',
 '4369 Chickering Ln, Nashville, TN 37215',
 '3712 Belle Oaks Dr, Antioch, TN 37013',
 '4005 Indiana Ave, Nashville, TN 37209',
 '3176 Penn Meade Way, Nashville, TN 37214',
 '810 S 12th St, Nashville, TN 37206',
 '2016 Jones Cir, Nashville, TN 37207',
 '2411 Old Hickory Blvd W, Nashville, TN 37221',
 '919 Fairwin Ave, Nashville, TN 37216',
 '3337 Towne Ridge Dr, Antioch, TN 37013',
 '1143 Battery Ln, Nashville, TN 37220',
 '407 W Meade Dr, Nashville, TN 37205',
 '600 Garfield St #14, Nashville, TN 37208',
 '215 S 11th St, Nashville, TN 37206',
 '700 12th Ave S #704, Nashville, TN 37203',
 '256 Summit Ridge Dr, Nashville, TN 37215',
 '485 Huntington Ridge Dr, Nashville, TN 37211',
 '1836 Grace Point Ln, Nolensville, TN 37135',
 '227 Brattlesboro Pl, Nashville, TN 37204',
 '416 Normandy Cir, Nashville, TN 37209',
 '5853 Mount View Rd, Antioch, TN 37013',
 '5721 Templegate Dr, Nashville, TN 37221',
 '612 Davidson Rd, Nashville, TN 37205',
 '4212 Sandstone Dr, Antioch, TN 37013',
 '605 Waterway Ct, Nashville, TN 37221',
 '513 Maxine Dr, Antioch, TN 37013',
 '711 Chesterfield Way, Nashville, TN 37212']

In [42]:
len(address_name14)

123

In [43]:
price_name14=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag14 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag14:
        price_name14.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [44]:
price_name14

['',
 '$398,500',
 '$280,000',
 '$365,000',
 '$2,250,000',
 '$1,075,000',
 '$379,000',
 '$950,000',
 '$599,900',
 '$489,000',
 '$649,900',
 '$535,000',
 '$450,000',
 '$2,995,000',
 '$820,000',
 '$3,750,000',
 '$400,000',
 '$1,760,000',
 '$404,750',
 '$495,000',
 '$399,000',
 '$3,399,000',
 '$424,900',
 '$294,700',
 '$2,400,000',
 '$4,300,000',
 '$549,000',
 '$469,000',
 '$585,000',
 '$385,000',
 '$418,000',
 '$399,900',
 '$409,900',
 '$540,000',
 '$1,100,000',
 '$875,000',
 '$1,070,000',
 '$439,900',
 '$672,500',
 '$199,900',
 '$699,999',
 '',
 '$398,500',
 '$280,000',
 '$365,000',
 '$2,250,000',
 '$1,075,000',
 '$379,000',
 '$950,000',
 '$599,900',
 '$489,000',
 '$649,900',
 '$535,000',
 '$450,000',
 '$2,995,000',
 '$820,000',
 '$3,750,000',
 '$400,000',
 '$1,760,000',
 '$404,750',
 '$495,000',
 '$399,000',
 '$3,399,000',
 '$424,900',
 '$294,700',
 '$2,400,000',
 '$4,300,000',
 '$549,000',
 '$469,000',
 '$585,000',
 '$385,000',
 '$418,000',
 '$399,900',
 '$409,900',
 '$540,000',
 '$1,100,000',
 '$875,000',
 '$1,070,000',
 '$439,900',
 '$672,500',
 '$199,900',
 '$699,999',
 '',
 '$398,500',
 '$280,000',
 '$365,000',
 '$2,250,000',
 '$1,075,000',
 '$379,000',
 '$950,000',
 '$599,900',
 '$489,000',
 '$649,900',
 '$535,000',
 '$450,000',
 '$2,995,000',
 '$820,000',
 '$3,750,000',
 '$400,000',
 '$1,760,000',
 '$404,750',
 '$495,000',
 '$399,000',
 '$3,399,000',
 '$424,900',
 '$294,700',
 '$2,400,000',
 '$4,300,000',
 '$549,000',
 '$469,000',
 '$585,000',
 '$385,000',
 '$418,000',
 '$399,900',
 '$409,900',
 '$540,000',
 '$1,100,000',
 '$875,000',
 '$1,070,000',
 '$439,900',
 '$672,500',
 '$199,900',
 '$699,999']

In [45]:
len(price_name14)

123

In [46]:
beds_name14=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag14 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag14:
        beds_name14.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [47]:
beds_name14

['',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '4 beds',
 '5 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '5 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '4 beds',
 '5 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '5 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '4 beds',
 '5 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '5 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '3 beds',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '4 beds',
 '2 beds',
 '3 beds']

In [48]:
len(beds_name14)

123

In [49]:
baths_name14=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag14 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag14:
        baths_name14.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [50]:
baths_name14

['',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '3 baths',
 '3 baths',
 '2 baths',
 '2.5 baths',
 '3.5 baths',
 '2.5 baths',
 '6 baths',
 '3 baths',
 '5 baths',
 '2.5 baths',
 '3.5 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '4.5 baths',
 '2 baths',
 '1 bath',
 '3.5 baths',
 '6 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '1.5 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '4 baths',
 '',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '3 baths',
 '3 baths',
 '2 baths',
 '2.5 baths',
 '3.5 baths',
 '2.5 baths',
 '6 baths',
 '3 baths',
 '5 baths',
 '2.5 baths',
 '3.5 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '4.5 baths',
 '2 baths',
 '1 bath',
 '3.5 baths',
 '6 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '1.5 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '4 baths',
 '',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '3 baths',
 '3 baths',
 '2 baths',
 '2.5 baths',
 '3.5 baths',
 '2.5 baths',
 '6 baths',
 '3 baths',
 '5 baths',
 '2.5 baths',
 '3.5 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '4.5 baths',
 '2 baths',
 '1 bath',
 '3.5 baths',
 '6 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '1.5 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '1 bath',
 '4 baths']

In [51]:
len(baths_name14)

123

In [52]:
sqft_name14=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag14 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag14:
        sqft_name14.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [53]:
sqft_name14

['1,512',
 '1,139',
 '1,348',
 '1,916',
 '2,632',
 '1,552',
 '2,601',
 '2,235',
 '2,151',
 '1,793',
 '2,694',
 '2,370',
 '8,265',
 '2,215',
 '5,826',
 '2,253',
 '2,108',
 '1,820',
 '952',
 '757',
 '7,061',
 '1,299',
 '1,051',
 '4,165',
 '7,108',
 '897',
 '1,020',
 '1,029',
 '1,298',
 '2,249',
 '1,880',
 '1,132',
 '1,422',
 '1,959',
 '3,211',
 '2,641',
 '2,240',
 '3,091',
 '754',
 '2,054',
 '1,856',
 '1,512',
 '1,139',
 '1,348',
 '1,916',
 '2,632',
 '1,552',
 '2,601',
 '2,235',
 '2,151',
 '1,793',
 '2,694',
 '2,370',
 '8,265',
 '2,215',
 '5,826',
 '2,253',
 '2,108',
 '1,820',
 '952',
 '757',
 '7,061',
 '1,299',
 '1,051',
 '4,165',
 '7,108',
 '897',
 '1,020',
 '1,029',
 '1,298',
 '2,249',
 '1,880',
 '1,132',
 '1,422',
 '1,959',
 '3,211',
 '2,641',
 '2,240',
 '3,091',
 '754',
 '2,054',
 '1,856',
 '1,512',
 '1,139',
 '1,348',
 '1,916',
 '2,632',
 '1,552',
 '2,601',
 '2,235',
 '2,151',
 '1,793',
 '2,694',
 '2,370',
 '8,265',
 '2,215',
 '5,826',
 '2,253',
 '2,108',
 '1,820',
 '952',
 '757',
 '7,061',
 '1,299',
 '1,051',
 '4,165',
 '7,108',
 '897',
 '1,020',
 '1,029',
 '1,298',
 '2,249',
 '1,880',
 '1,132',
 '1,422',
 '1,959',
 '3,211',
 '2,641',
 '2,240',
 '3,091',
 '754',
 '2,054',
 '1,856']

In [54]:
len(sqft_name14)

123

In [55]:
ppsqft_name14=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag14 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag14:
        ppsqft_name14.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [56]:
ppsqft_name14

['$264',
 '$246',
 '$271',
 '$1,174',
 '$408',
 '$244',
 '$365',
 '$268',
 '$227',
 '$362',
 '$199',
 '$190',
 '$362',
 '$370',
 '$644',
 '$178',
 '$835',
 '$222',
 '$520',
 '$527',
 '$481',
 '$327',
 '$280',
 '$576',
 '$605',
 '$612',
 '$460',
 '$569',
 '$297',
 '$186',
 '$213',
 '$362',
 '$380',
 '$562',
 '$273',
 '$405',
 '$196',
 '$218',
 '$265',
 '$341',
 '$302',
 '$264',
 '$246',
 '$271',
 '$1,174',
 '$408',
 '$244',
 '$365',
 '$268',
 '$227',
 '$362',
 '$199',
 '$190',
 '$362',
 '$370',
 '$644',
 '$178',
 '$835',
 '$222',
 '$520',
 '$527',
 '$481',
 '$327',
 '$280',
 '$576',
 '$605',
 '$612',
 '$460',
 '$569',
 '$297',
 '$186',
 '$213',
 '$362',
 '$380',
 '$562',
 '$273',
 '$405',
 '$196',
 '$218',
 '$265',
 '$341',
 '$302',
 '$264',
 '$246',
 '$271',
 '$1,174',
 '$408',
 '$244',
 '$365',
 '$268',
 '$227',
 '$362',
 '$199',
 '$190',
 '$362',
 '$370',
 '$644',
 '$178',
 '$835',
 '$222',
 '$520',
 '$527',
 '$481',
 '$327',
 '$280',
 '$576',
 '$605',
 '$612',
 '$460',
 '$569',
 '$297',
 '$186',
 '$213',
 '$362',
 '$380',
 '$562',
 '$273',
 '$405',
 '$196',
 '$218',
 '$265',
 '$341',
 '$302']

In [57]:
len(ppsqft_name14)

123

In [65]:
print(len(address_name14),len(price_name14),len(beds_name14),len(baths_name14),len(sqft_name14),len(ppsqft_name14))

120 120 120 120 120 120

In [64]:
del ppsqft_name14[120:123]

In [66]:
import pandas as pd
df14=pd.DataFrame({'Address':address_name14,'Price':price_name14,'Beds':beds_name14,'Baths':baths_name14,'Total sqft':sqft_name14,'Price per sqft':ppsqft_name14})
df14

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,"1,512",$264
1,"7277 Charlotte Pike #208, Nashville, TN 37209","$398,500",3 beds,2.5 baths,"1,139",$246
2,"903 Churchill Xing, Madison, TN 37115","$280,000",2 beds,2 baths,"1,348",$271
3,"119 Highland Villa Dr, Nashville, TN 37211","$365,000",2 beds,2.5 baths,"1,916","$1,174"
4,"1212 Laurel St #701, Nashville, TN 37203","$2,250,000",2 beds,2.5 baths,"2,632",$408
...,...,...,...,...,...,...
115,"416 Normandy Cir, Nashville, TN 37209","$540,000",2 beds,2.5 baths,"1,959",$562
116,"5853 Mount View Rd, Antioch, TN 37013","$1,100,000",3 beds,2 baths,"3,211",$273
117,"5721 Templegate Dr, Nashville, TN 37221","$875,000",4 beds,2.5 baths,"2,641",$405
118,"612 Davidson Rd, Nashville, TN 37205","$1,070,000",3 beds,2 baths,"2,240",$196
119,"4212 Sandstone Dr, Antioch, TN 37013","$439,900",4 beds,2.5 baths,"3,091",$218

In [67]:
df14.to_csv('file14.csv')

In [ ]:
----------Miami----------

In [68]:
address_name15=[]
price_name15=[]
beds_name15=[]
baths_name15=[]
sqft_name15=[]
ppsqft_name15=[]

In [69]:
address_name15=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag15 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag15:
        address_name15.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [70]:
address_name15

['',
 '1613 Sienna Ct, Orlando, FL 32825',
 '1133 Pando Loop, Orlando, FL 32824',
 '3616 Bellington Dr, Orlando, FL 32835',
 'Undisclosed address, Orlando, FL 32808',
 '15079 Willow Arbor Cir, Orlando, FL 32824',
 '14533 Broadhaven Blvd, Orlando, FL 32828',
 '8101 Resort Village Dr, Orlando, FL 32821',
 '62 W Muriel St, Orlando, FL 32806',
 '9443 Merrifield St, Orlando, FL 32827',
 '3345 Knightsbridge Rd, Orlando, FL 32818',
 '2614 Lyndscape St, Orlando, FL 32833',
 '10305 Rocking A Run, Orlando, FL 32825',
 '8125 Resort Village Dr #5705, Orlando, FL 32821',
 '802 Rugby St Unit 802C, Orlando, FL 32804',
 '8801 Villa View Cir #107, Orlando, FL 32821',
 '6912 Salinas Dr, Orlando, FL 32822',
 '2759 L B Mcleod Rd, Orlando, FL 32805',
 '4213 Boca Woods Dr, Orlando, FL 32826',
 '2217 Woodwind Dr, Orlando, FL 32808',
 '3002 Bargate St, Orlando, FL 32824',
 '300 E South St #4001, Orlando, FL 32801',
 '860 N Orange Ave #310, Orlando, FL 32801',
 '14229 Turning Leaf Dr, Orlando, FL 32828',
 '1928 Conway Rd #18, Orlando, FL 32812',
 '515 Altaloma Ave, Orlando, FL 32803',
 '14141 Sunriver Ave, Orlando, FL 32828',
 '1732 N Shore Ter, Orlando, FL 32804',
 '14250 Lanikai Beach Dr, Orlando, FL 32827',
 '4364 Aqua Vista Dr Unit C, Orlando, FL 32839',
 '400 Fred St, Orlando, FL 32811',
 '12946 Promise Pl, Orlando, FL 32832',
 '1828 Lockwood Ave, Orlando, FL 32812',
 '14037 Fairway Island Dr Apt 218, Orlando, FL 32837',
 '14020 Sanibel Isle Dr, Orlando, FL 32824',
 '1519 Indiana St, Orlando, FL 32805',
 '719 Dawson Ave, Orlando, FL 32825',
 '2047 Dixie Belle Dr Unit 2047K, Orlando, FL 32812',
 '3280 Soho St #202, Orlando, FL 32835',
 '6907 Higgs Aly, Orlando, FL 32827',
 '11610 Baltic St, Orlando, FL 32817',
 '',
 '1613 Sienna Ct, Orlando, FL 32825',
 '1133 Pando Loop, Orlando, FL 32824',
 '3616 Bellington Dr, Orlando, FL 32835',
 'Undisclosed address, Orlando, FL 32808',
 '15079 Willow Arbor Cir, Orlando, FL 32824',
 '14533 Broadhaven Blvd, Orlando, FL 32828',
 '8101 Resort Village Dr, Orlando, FL 32821',
 '62 W Muriel St, Orlando, FL 32806',
 '9443 Merrifield St, Orlando, FL 32827',
 '3345 Knightsbridge Rd, Orlando, FL 32818',
 '2614 Lyndscape St, Orlando, FL 32833',
 '10305 Rocking A Run, Orlando, FL 32825',
 '8125 Resort Village Dr #5705, Orlando, FL 32821',
 '802 Rugby St Unit 802C, Orlando, FL 32804',
 '8801 Villa View Cir #107, Orlando, FL 32821',
 '6912 Salinas Dr, Orlando, FL 32822',
 '2759 L B Mcleod Rd, Orlando, FL 32805',
 '4213 Boca Woods Dr, Orlando, FL 32826',
 '2217 Woodwind Dr, Orlando, FL 32808',
 '3002 Bargate St, Orlando, FL 32824',
 '300 E South St #4001, Orlando, FL 32801',
 '860 N Orange Ave #310, Orlando, FL 32801',
 '14229 Turning Leaf Dr, Orlando, FL 32828',
 '1928 Conway Rd #18, Orlando, FL 32812',
 '515 Altaloma Ave, Orlando, FL 32803',
 '14141 Sunriver Ave, Orlando, FL 32828',
 '1732 N Shore Ter, Orlando, FL 32804',
 '14250 Lanikai Beach Dr, Orlando, FL 32827',
 '4364 Aqua Vista Dr Unit C, Orlando, FL 32839',
 '400 Fred St, Orlando, FL 32811',
 '12946 Promise Pl, Orlando, FL 32832',
 '1828 Lockwood Ave, Orlando, FL 32812',
 '14037 Fairway Island Dr Apt 218, Orlando, FL 32837',
 '14020 Sanibel Isle Dr, Orlando, FL 32824',
 '1519 Indiana St, Orlando, FL 32805',
 '719 Dawson Ave, Orlando, FL 32825',
 '2047 Dixie Belle Dr Unit 2047K, Orlando, FL 32812',
 '3280 Soho St #202, Orlando, FL 32835',
 '6907 Higgs Aly, Orlando, FL 32827',
 '11610 Baltic St, Orlando, FL 32817',
 '',
 '1613 Sienna Ct, Orlando, FL 32825',
 '1133 Pando Loop, Orlando, FL 32824',
 '3616 Bellington Dr, Orlando, FL 32835',
 'Undisclosed address, Orlando, FL 32808',
 '15079 Willow Arbor Cir, Orlando, FL 32824',
 '14533 Broadhaven Blvd, Orlando, FL 32828',
 '8101 Resort Village Dr, Orlando, FL 32821',
 '62 W Muriel St, Orlando, FL 32806',
 '9443 Merrifield St, Orlando, FL 32827',
 '3345 Knightsbridge Rd, Orlando, FL 32818',
 '2614 Lyndscape St, Orlando, FL 32833',
 '10305 Rocking A Run, Orlando, FL 32825',
 '8125 Resort Village Dr #5705, Orlando, FL 32821',
 '802 Rugby St Unit 802C, Orlando, FL 32804',
 '8801 Villa View Cir #107, Orlando, FL 32821',
 '6912 Salinas Dr, Orlando, FL 32822',
 '2759 L B Mcleod Rd, Orlando, FL 32805',
 '4213 Boca Woods Dr, Orlando, FL 32826',
 '2217 Woodwind Dr, Orlando, FL 32808',
 '3002 Bargate St, Orlando, FL 32824',
 '300 E South St #4001, Orlando, FL 32801',
 '860 N Orange Ave #310, Orlando, FL 32801',
 '14229 Turning Leaf Dr, Orlando, FL 32828',
 '1928 Conway Rd #18, Orlando, FL 32812',
 '515 Altaloma Ave, Orlando, FL 32803',
 '14141 Sunriver Ave, Orlando, FL 32828',
 '1732 N Shore Ter, Orlando, FL 32804',
 '14250 Lanikai Beach Dr, Orlando, FL 32827',
 '4364 Aqua Vista Dr Unit C, Orlando, FL 32839',
 '400 Fred St, Orlando, FL 32811',
 '12946 Promise Pl, Orlando, FL 32832',
 '1828 Lockwood Ave, Orlando, FL 32812',
 '14037 Fairway Island Dr Apt 218, Orlando, FL 32837',
 '14020 Sanibel Isle Dr, Orlando, FL 32824',
 '1519 Indiana St, Orlando, FL 32805',
 '719 Dawson Ave, Orlando, FL 32825',
 '2047 Dixie Belle Dr Unit 2047K, Orlando, FL 32812',
 '3280 Soho St #202, Orlando, FL 32835',
 '6907 Higgs Aly, Orlando, FL 32827',
 '11610 Baltic St, Orlando, FL 32817']

In [71]:
len(address_name15)

123

In [72]:
price_name15=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag15 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag15:
        price_name15.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [73]:
price_name15

['',
 '$435,000',
 '$550,000',
 '$925,000',
 '$300,000',
 '$460,000',
 '$725,000',
 '$205,000',
 '$425,000',
 '$749,000',
 '$369,000',
 '$411,000',
 '$375,000',
 '$199,950',
 '$210,000',
 '$319,990',
 '$70,000',
 '$81,000',
 '$379,900',
 '$369,900',
 '$375,000',
 '$255,000',
 '$325,000',
 '$399,900',
 '$147,000',
 '$499,750',
 '$475,000',
 '$446,500',
 '$699,000',
 '$110,000',
 '$420,000',
 '$687,990',
 '$475,000',
 '$242,000',
 '$585,900',
 '$385,000',
 '$450,000',
 '$170,000',
 '$221,900',
 '$549,000',
 '$279,900',
 '',
 '$435,000',
 '$550,000',
 '$925,000',
 '$300,000',
 '$460,000',
 '$725,000',
 '$205,000',
 '$425,000',
 '$749,000',
 '$369,000',
 '$411,000',
 '$375,000',
 '$199,950',
 '$210,000',
 '$319,990',
 '$70,000',
 '$81,000',
 '$379,900',
 '$369,900',
 '$375,000',
 '$255,000',
 '$325,000',
 '$399,900',
 '$147,000',
 '$499,750',
 '$475,000',
 '$446,500',
 '$699,000',
 '$110,000',
 '$420,000',
 '$687,990',
 '$475,000',
 '$242,000',
 '$585,900',
 '$385,000',
 '$450,000',
 '$170,000',
 '$221,900',
 '$549,000',
 '$279,900',
 '',
 '$435,000',
 '$550,000',
 '$925,000',
 '$300,000',
 '$460,000',
 '$725,000',
 '$205,000',
 '$425,000',
 '$749,000',
 '$369,000',
 '$411,000',
 '$375,000',
 '$199,950',
 '$210,000',
 '$319,990',
 '$70,000',
 '$81,000',
 '$379,900',
 '$369,900',
 '$375,000',
 '$255,000',
 '$325,000',
 '$399,900',
 '$147,000',
 '$499,750',
 '$475,000',
 '$446,500',
 '$699,000',
 '$110,000',
 '$420,000',
 '$687,990',
 '$475,000',
 '$242,000',
 '$585,900',
 '$385,000',
 '$450,000',
 '$170,000',
 '$221,900',
 '$549,000',
 '$279,900']

In [74]:
len(price_name15)

123

In [75]:
beds_name15=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag15 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag15:
        beds_name15.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [76]:
beds_name15

['',
 '3 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '0 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '5 beds',
 '4 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '',
 '3 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '0 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '5 beds',
 '4 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '',
 '3 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '0 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '4 beds',
 '3 beds',
 '2 beds',
 '5 beds',
 '4 beds',
 '4 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '2 beds']

In [77]:
len(beds_name15)

123

In [78]:
baths_name15=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag15 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag15:
        baths_name15.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [79]:
 baths_name15

['',
 '2.5 baths',
 '3.5 baths',
 '4.5 baths',
 '2 baths',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '1 bath',
 '3.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '— baths',
 '2.5 baths',
 '1 bath',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '',
 '2.5 baths',
 '3.5 baths',
 '4.5 baths',
 '2 baths',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '1 bath',
 '3.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '— baths',
 '2.5 baths',
 '1 bath',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '',
 '2.5 baths',
 '3.5 baths',
 '4.5 baths',
 '2 baths',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '1 bath',
 '3.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '— baths',
 '2.5 baths',
 '1 bath',
 '2.5 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath']

In [80]:
len( baths_name15)

123

In [81]:
sqft_name15=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag15 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag15:
        sqft_name15.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [82]:
sqft_name15

['1,403',
 '2,117',
 '3,361',
 '1,108',
 '2,094',
 '2,668',
 '1,060',
 '1,052',
 '2,367',
 '1,721',
 '2,309',
 '1,311',
 '1,060',
 '779',
 '1,378',
 '929',
 '780',
 '1,719',
 '1,554',
 '1,717',
 '1,115',
 '1,004',
 '1,708',
 '825',
 '1,177',
 '1,655',
 '1,707',
 '2,191',
 '642',
 '1,555',
 '2,365',
 '2,052',
 '1,388',
 '2,532',
 '1,686',
 '2,270',
 '830',
 '1,107',
 '1,589',
 '720',
 '1,670',
 '1,403',
 '2,117',
 '3,361',
 '1,108',
 '2,094',
 '2,668',
 '1,060',
 '1,052',
 '2,367',
 '1,721',
 '2,309',
 '1,311',
 '1,060',
 '779',
 '1,378',
 '929',
 '780',
 '1,719',
 '1,554',
 '1,717',
 '1,115',
 '1,004',
 '1,708',
 '825',
 '1,177',
 '1,655',
 '1,707',
 '2,191',
 '642',
 '1,555',
 '2,365',
 '2,052',
 '1,388',
 '2,532',
 '1,686',
 '2,270',
 '830',
 '1,107',
 '1,589',
 '720',
 '1,670',
 '1,403',
 '2,117',
 '3,361',
 '1,108',
 '2,094',
 '2,668',
 '1,060',
 '1,052',
 '2,367',
 '1,721',
 '2,309',
 '1,311',
 '1,060',
 '779',
 '1,378',
 '929',
 '780',
 '1,719',
 '1,554',
 '1,717',
 '1,115',
 '1,004',
 '1,708',
 '825',
 '1,177',
 '1,655',
 '1,707',
 '2,191',
 '642',
 '1,555',
 '2,365',
 '2,052',
 '1,388',
 '2,532',
 '1,686',
 '2,270',
 '830',
 '1,107',
 '1,589',
 '720',
 '1,670']

In [83]:
len(sqft_name15)

123

In [84]:
ppsqft_name15=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag15 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag15:
        ppsqft_name15.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [85]:
ppsqft_name15

['$310',
 '$260',
 '$275',
 '$271',
 '$220',
 '$272',
 '$193',
 '$404',
 '$316',
 '$214',
 '$178',
 '$286',
 '$189',
 '$270',
 '$232',
 '$75',
 '$104',
 '$221',
 '$238',
 '$218',
 '$229',
 '$324',
 '$234',
 '$178',
 '$425',
 '$287',
 '$262',
 '$319',
 '$171',
 '$270',
 '$291',
 '$231',
 '$174',
 '$231',
 '$228',
 '$198',
 '$205',
 '$200',
 '$346',
 '$389',
 '$263',
 '$310',
 '$260',
 '$275',
 '$271',
 '$220',
 '$272',
 '$193',
 '$404',
 '$316',
 '$214',
 '$178',
 '$286',
 '$189',
 '$270',
 '$232',
 '$75',
 '$104',
 '$221',
 '$238',
 '$218',
 '$229',
 '$324',
 '$234',
 '$178',
 '$425',
 '$287',
 '$262',
 '$319',
 '$171',
 '$270',
 '$291',
 '$231',
 '$174',
 '$231',
 '$228',
 '$198',
 '$205',
 '$200',
 '$346',
 '$389',
 '$263',
 '$310',
 '$260',
 '$275',
 '$271',
 '$220',
 '$272',
 '$193',
 '$404',
 '$316',
 '$214',
 '$178',
 '$286',
 '$189',
 '$270',
 '$232',
 '$75',
 '$104',
 '$221',
 '$238',
 '$218',
 '$229',
 '$324',
 '$234',
 '$178',
 '$425',
 '$287',
 '$262',
 '$319',
 '$171',
 '$270',
 '$291',
 '$231',
 '$174',
 '$231',
 '$228',
 '$198',
 '$205',
 '$200',
 '$346',
 '$389',
 '$263']

In [86]:
len(ppsqft_name15)

123

In [87]:
print(len(address_name15),len(price_name15),len(beds_name15),len(baths_name15),len(sqft_name15),len(ppsqft_name15))

123 123 123 123 123 123

In [88]:
import pandas as pd
df15=pd.DataFrame({'Address':address_name15,'Price':price_name15,'Beds':beds_name15,'Baths':baths_name15,'Total sqft':sqft_name15,'Price per sqft':ppsqft_name15})
df15

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,"1,403",$310
1,"1613 Sienna Ct, Orlando, FL 32825","$435,000",3 beds,2.5 baths,"2,117",$260
2,"1133 Pando Loop, Orlando, FL 32824","$550,000",4 beds,3.5 baths,"3,361",$275
3,"3616 Bellington Dr, Orlando, FL 32835","$925,000",5 beds,4.5 baths,"1,108",$271
4,"Undisclosed address, Orlando, FL 32808","$300,000",3 beds,2 baths,"2,094",$220
...,...,...,...,...,...,...
118,"719 Dawson Ave, Orlando, FL 32825","$450,000",4 beds,2 baths,830,$205
119,"2047 Dixie Belle Dr Unit 2047K, Orlando, FL 32812","$170,000",2 beds,1 bath,"1,107",$200
120,"3280 Soho St #202, Orlando, FL 32835","$221,900",2 beds,2 baths,"1,589",$346
121,"6907 Higgs Aly, Orlando, FL 32827","$549,000",3 beds,2 baths,720,$389
122,"11610 Baltic St, Orlando, FL 32817","$279,900",2 beds,1 bath,"1,670",$263

In [89]:
df15.to_csv('file15.csv')

In [90]:
address_name16=[]
price_name16=[]
beds_name16=[]
baths_name16=[]
sqft_name16=[]
ppsqft_name16=[]

In [91]:
address_name16=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag16 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag16:
        address_name16.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [92]:
address_name16

['',
 '12432 Caracara Ct, Charlotte, NC 28278',
 '8509 Aspen Ct, Charlotte, NC 28227',
 '1109 Pamlico St, Charlotte, NC 28205',
 '7923 Oratorio Pl, Charlotte, NC 28270',
 '1220 Berry Ridge Rd, Charlotte, NC 28270',
 '803 Herrin Ave, Charlotte, NC 28205',
 '1321 Ferncliff Rd, Charlotte, NC 28211',
 '2515 Dalston Ln, Charlotte, NC 28210',
 '12427 Elkhorn Dr, Charlotte, NC 28278',
 '3620 Speer Blvd, Charlotte, NC 28217',
 '4735 Hedgemore Dr, Charlotte, NC 28209',
 '331 Austin Dr, Charlotte, NC 28213',
 '16418 Bunch Walnuts Rd, Charlotte, NC 28278',
 '8113 Strawberry Point Dr, Charlotte, NC 28215',
 '709 Aberdeen Glen Pl, Charlotte, NC 28214',
 '5730 Closeburn Rd Unit G, Charlotte, NC 28210',
 '6131 Trotters Ridge Rd, Charlotte, NC 28227',
 '12018 Portobello Way, Charlotte, NC 28273',
 '431 Nottingham Dr, Charlotte, NC 28211',
 '1320 Fillmore Ave #102, Charlotte, NC 28203',
 '248 Kingston Ave, Charlotte, NC 28203',
 '3311 Indian Meadows Ln, Charlotte, NC 28210',
 '5415 Larchmont Ave, Charlotte, NC 28215',
 '9637 Misenheimer Rd, Charlotte, NC 28215',
 '10119 Oxford Landing Ln, Charlotte, NC 28270',
 '6529 Honeymeade Cir, Charlotte, NC 28277',
 '6524 Morganford Rd, Charlotte, NC 28211',
 '8306 Christmas Ct, Charlotte, NC 28216',
 '6250 Rosecroft Dr, Charlotte, NC 28215',
 '224 Charndon Village Ct, Charlotte, NC 28211',
 '1824 Blanche St, Charlotte, NC 28262',
 '1820 Blanche St, Charlotte, NC 28262',
 '4723 Polo Gate Blvd #4723, Charlotte, NC 28216',
 '1816 Blanche St, Charlotte, NC 28262',
 '1812 Blanche St, Charlotte, NC 28262',
 '6719 Woodshed Cir, Charlotte, NC 28270',
 '3244 Harrow Pl, Charlotte, NC 28205',
 '3663 Vallette Ct, Charlotte, NC 28203',
 '1808 Blanche St, Charlotte, NC 28262',
 '705 Templeton Ave, Charlotte, NC 28203',
 '',
 '12432 Caracara Ct, Charlotte, NC 28278',
 '8509 Aspen Ct, Charlotte, NC 28227',
 '1109 Pamlico St, Charlotte, NC 28205',
 '7923 Oratorio Pl, Charlotte, NC 28270',
 '1220 Berry Ridge Rd, Charlotte, NC 28270',
 '803 Herrin Ave, Charlotte, NC 28205',
 '1321 Ferncliff Rd, Charlotte, NC 28211',
 '2515 Dalston Ln, Charlotte, NC 28210',
 '12427 Elkhorn Dr, Charlotte, NC 28278',
 '3620 Speer Blvd, Charlotte, NC 28217',
 '4735 Hedgemore Dr, Charlotte, NC 28209',
 '331 Austin Dr, Charlotte, NC 28213',
 '16418 Bunch Walnuts Rd, Charlotte, NC 28278',
 '8113 Strawberry Point Dr, Charlotte, NC 28215',
 '709 Aberdeen Glen Pl, Charlotte, NC 28214',
 '5730 Closeburn Rd Unit G, Charlotte, NC 28210',
 '6131 Trotters Ridge Rd, Charlotte, NC 28227',
 '12018 Portobello Way, Charlotte, NC 28273',
 '431 Nottingham Dr, Charlotte, NC 28211',
 '1320 Fillmore Ave #102, Charlotte, NC 28203',
 '248 Kingston Ave, Charlotte, NC 28203',
 '3311 Indian Meadows Ln, Charlotte, NC 28210',
 '5415 Larchmont Ave, Charlotte, NC 28215',
 '9637 Misenheimer Rd, Charlotte, NC 28215',
 '10119 Oxford Landing Ln, Charlotte, NC 28270',
 '6529 Honeymeade Cir, Charlotte, NC 28277',
 '6524 Morganford Rd, Charlotte, NC 28211',
 '8306 Christmas Ct, Charlotte, NC 28216',
 '6250 Rosecroft Dr, Charlotte, NC 28215',
 '224 Charndon Village Ct, Charlotte, NC 28211',
 '1824 Blanche St, Charlotte, NC 28262',
 '1820 Blanche St, Charlotte, NC 28262',
 '4723 Polo Gate Blvd #4723, Charlotte, NC 28216',
 '1816 Blanche St, Charlotte, NC 28262',
 '1812 Blanche St, Charlotte, NC 28262',
 '6719 Woodshed Cir, Charlotte, NC 28270',
 '3244 Harrow Pl, Charlotte, NC 28205',
 '3663 Vallette Ct, Charlotte, NC 28203',
 '1808 Blanche St, Charlotte, NC 28262',
 '705 Templeton Ave, Charlotte, NC 28203',
 '',
 '12432 Caracara Ct, Charlotte, NC 28278',
 '8509 Aspen Ct, Charlotte, NC 28227',
 '1109 Pamlico St, Charlotte, NC 28205',
 '7923 Oratorio Pl, Charlotte, NC 28270',
 '1220 Berry Ridge Rd, Charlotte, NC 28270',
 '803 Herrin Ave, Charlotte, NC 28205',
 '1321 Ferncliff Rd, Charlotte, NC 28211',
 '2515 Dalston Ln, Charlotte, NC 28210',
 '12427 Elkhorn Dr, Charlotte, NC 28278',
 '3620 Speer Blvd, Charlotte, NC 28217',
 '4735 Hedgemore Dr, Charlotte, NC 28209',
 '331 Austin Dr, Charlotte, NC 28213',
 '16418 Bunch Walnuts Rd, Charlotte, NC 28278',
 '8113 Strawberry Point Dr, Charlotte, NC 28215',
 '709 Aberdeen Glen Pl, Charlotte, NC 28214',
 '5730 Closeburn Rd Unit G, Charlotte, NC 28210',
 '6131 Trotters Ridge Rd, Charlotte, NC 28227',
 '12018 Portobello Way, Charlotte, NC 28273',
 '431 Nottingham Dr, Charlotte, NC 28211',
 '1320 Fillmore Ave #102, Charlotte, NC 28203',
 '248 Kingston Ave, Charlotte, NC 28203',
 '3311 Indian Meadows Ln, Charlotte, NC 28210',
 '5415 Larchmont Ave, Charlotte, NC 28215',
 '9637 Misenheimer Rd, Charlotte, NC 28215',
 '10119 Oxford Landing Ln, Charlotte, NC 28270',
 '6529 Honeymeade Cir, Charlotte, NC 28277',
 '6524 Morganford Rd, Charlotte, NC 28211',
 '8306 Christmas Ct, Charlotte, NC 28216',
 '6250 Rosecroft Dr, Charlotte, NC 28215',
 '224 Charndon Village Ct, Charlotte, NC 28211',
 '1824 Blanche St, Charlotte, NC 28262',
 '1820 Blanche St, Charlotte, NC 28262',
 '4723 Polo Gate Blvd #4723, Charlotte, NC 28216',
 '1816 Blanche St, Charlotte, NC 28262',
 '1812 Blanche St, Charlotte, NC 28262',
 '6719 Woodshed Cir, Charlotte, NC 28270',
 '3244 Harrow Pl, Charlotte, NC 28205',
 '3663 Vallette Ct, Charlotte, NC 28203',
 '1808 Blanche St, Charlotte, NC 28262',
 '705 Templeton Ave, Charlotte, NC 28203']

In [93]:
len(address_name16)

123

In [94]:
price_name16=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag16 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag16:
        price_name16.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [95]:
price_name16

['',
 '$385,000',
 '$724,500',
 '$1,450,000',
 '$635,000',
 '$500,000',
 '$824,900',
 '$1,250,000',
 '$439,500',
 '$798,000',
 '$410,000',
 '$279,000',
 '$340,900',
 '$1,499,999',
 '$280,000',
 '$335,000',
 '$389,999',
 '$341,000',
 '$345,000',
 '$844,000',
 '$424,900',
 '$1,295,000',
 '$1,450,000',
 '$399,000',
 '$425,000',
 '$485,000',
 '$799,500',
 '$549,900',
 '$283,000',
 '$185,000',
 '$799,000',
 '$419,555',
 '$404,894',
 '$419,000',
 '$397,225',
 '$397,737',
 '$450,000',
 '$825,000',
 '$575,000',
 '$399,781',
 '$1,595,000',
 '',
 '$385,000',
 '$724,500',
 '$1,450,000',
 '$635,000',
 '$500,000',
 '$824,900',
 '$1,250,000',
 '$439,500',
 '$798,000',
 '$410,000',
 '$279,000',
 '$340,900',
 '$1,499,999',
 '$280,000',
 '$335,000',
 '$389,999',
 '$341,000',
 '$345,000',
 '$844,000',
 '$424,900',
 '$1,295,000',
 '$1,450,000',
 '$399,000',
 '$425,000',
 '$485,000',
 '$799,500',
 '$549,900',
 '$283,000',
 '$185,000',
 '$799,000',
 '$419,555',
 '$404,894',
 '$419,000',
 '$397,225',
 '$397,737',
 '$450,000',
 '$825,000',
 '$575,000',
 '$399,781',
 '$1,595,000',
 '',
 '$385,000',
 '$724,500',
 '$1,450,000',
 '$635,000',
 '$500,000',
 '$824,900',
 '$1,250,000',
 '$439,500',
 '$798,000',
 '$410,000',
 '$279,000',
 '$340,900',
 '$1,499,999',
 '$280,000',
 '$335,000',
 '$389,999',
 '$341,000',
 '$345,000',
 '$844,000',
 '$424,900',
 '$1,295,000',
 '$1,450,000',
 '$399,000',
 '$425,000',
 '$485,000',
 '$799,500',
 '$549,900',
 '$283,000',
 '$185,000',
 '$799,000',
 '$419,555',
 '$404,894',
 '$419,000',
 '$397,225',
 '$397,737',
 '$450,000',
 '$825,000',
 '$575,000',
 '$399,781',
 '$1,595,000']

In [96]:
len(price_name16)

123

In [97]:
beds_name16=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag16 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag16:
        beds_name16.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [98]:
baths_name16=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag16 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag16:
        baths_name16.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [99]:
 baths_name16

['',
 '2.5 baths',
 '3.5 baths',
 '4 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '3.5 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '0.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '4 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '3.5 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '2.5 baths',
 '3.5 baths',
 '',
 '2.5 baths',
 '3.5 baths',
 '4 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '3.5 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '0.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '4 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '3.5 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '2.5 baths',
 '3.5 baths',
 '',
 '2.5 baths',
 '3.5 baths',
 '4 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3.5 baths',
 '3.5 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '0.5 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '4 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '3.5 baths',
 '4 baths',
 '2 baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '3.5 baths',
 '2.5 baths',
 '2.5 baths',
 '3.5 baths']

In [100]:
len( baths_name16)

123

In [101]:
sqft_name16=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag16 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag16:
        sqft_name16.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [102]:
sqft_name16

['1,854',
 '3,414',
 '3,378',
 '2,690',
 '1,543',
 '2,358',
 '2,154',
 '1,298',
 '3,695',
 '1,994',
 '1,076',
 '1,200',
 '2,238',
 '1,175',
 '1,673',
 '1,075',
 '1,548',
 '1,214',
 '2,250',
 '1,154',
 '2,753',
 '3,034',
 '1,113',
 '2,140',
 '2,585',
 '2,908',
 '1,404',
 '1,615',
 '1,176',
 '2,819',
 '1,895',
 '1,849',
 '1,850',
 '1,895',
 '1,895',
 '1,490',
 '2,320',
 '1,310',
 '1,849',
 '3,517',
 '1,886',
 '1,854',
 '3,414',
 '3,378',
 '2,690',
 '1,543',
 '2,358',
 '2,154',
 '1,298',
 '3,695',
 '1,994',
 '1,076',
 '1,200',
 '2,238',
 '1,175',
 '1,673',
 '1,075',
 '1,548',
 '1,214',
 '2,250',
 '1,154',
 '2,753',
 '3,034',
 '1,113',
 '2,140',
 '2,585',
 '2,908',
 '1,404',
 '1,615',
 '1,176',
 '2,819',
 '1,895',
 '1,849',
 '1,850',
 '1,895',
 '1,895',
 '1,490',
 '2,320',
 '1,310',
 '1,849',
 '3,517',
 '1,886',
 '1,854',
 '3,414',
 '3,378',
 '2,690',
 '1,543',
 '2,358',
 '2,154',
 '1,298',
 '3,695',
 '1,994',
 '1,076',
 '1,200',
 '2,238',
 '1,175',
 '1,673',
 '1,075',
 '1,548',
 '1,214',
 '2,250',
 '1,154',
 '2,753',
 '3,034',
 '1,113',
 '2,140',
 '2,585',
 '2,908',
 '1,404',
 '1,615',
 '1,176',
 '2,819',
 '1,895',
 '1,849',
 '1,850',
 '1,895',
 '1,895',
 '1,490',
 '2,320',
 '1,310',
 '1,849',
 '3,517',
 '1,886']

In [103]:
len(sqft_name16)

123

In [106]:
ppsqft_name16=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag16 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag16:
        ppsqft_name16.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [107]:
ppsqft_name16

['$208',
 '$212',
 '$429',
 '$236',
 '$324',
 '$350',
 '$580',
 '$339',
 '$216',
 '$206',
 '$259',
 '$284',
 '$670',
 '$238',
 '$200',
 '$363',
 '$220',
 '$284',
 '$375',
 '$368',
 '$470',
 '$478',
 '$358',
 '$199',
 '$188',
 '$275',
 '$392',
 '$175',
 '$157',
 '$283',
 '$221',
 '$219',
 '$226',
 '$210',
 '$210',
 '$302',
 '$356',
 '$439',
 '$216',
 '$454',
 '$258',
 '$208',
 '$212',
 '$429',
 '$236',
 '$324',
 '$350',
 '$580',
 '$339',
 '$216',
 '$206',
 '$259',
 '$284',
 '$670',
 '$238',
 '$200',
 '$363',
 '$220',
 '$284',
 '$375',
 '$368',
 '$470',
 '$478',
 '$358',
 '$199',
 '$188',
 '$275',
 '$392',
 '$175',
 '$157',
 '$283',
 '$221',
 '$219',
 '$226',
 '$210',
 '$210',
 '$302',
 '$356',
 '$439',
 '$216',
 '$454',
 '$258',
 '$208',
 '$212',
 '$429',
 '$236',
 '$324',
 '$350',
 '$580',
 '$339',
 '$216',
 '$206',
 '$259',
 '$284',
 '$670',
 '$238',
 '$200',
 '$363',
 '$220',
 '$284',
 '$375',
 '$368',
 '$470',
 '$478',
 '$358',
 '$199',
 '$188',
 '$275',
 '$392',
 '$175',
 '$157',
 '$283',
 '$221',
 '$219',
 '$226',
 '$210',
 '$210',
 '$302',
 '$356',
 '$439',
 '$216',
 '$454',
 '$258']

In [108]:
len(ppsqft_name16)

123

In [109]:
print(len(address_name16),len(price_name16),len(beds_name16),len(baths_name16),len(sqft_name16),len(ppsqft_name16))

123 123 123 123 123 123

In [110]:
import pandas as pd
df16=pd.DataFrame({'Address':address_name16,'Price':price_name16,'Beds':beds_name16,'Baths':baths_name16,'Total sqft':sqft_name16,'Price per sqft':ppsqft_name16})
df16

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,"1,854",$208
1,"12432 Caracara Ct, Charlotte, NC 28278","$385,000",3 beds,2.5 baths,"3,414",$212
2,"8509 Aspen Ct, Charlotte, NC 28227","$724,500",4 beds,3.5 baths,"3,378",$429
3,"1109 Pamlico St, Charlotte, NC 28205","$1,450,000",5 beds,4 baths,"2,690",$236
4,"7923 Oratorio Pl, Charlotte, NC 28270","$635,000",3 beds,2.5 baths,"1,543",$324
...,...,...,...,...,...,...
118,"6719 Woodshed Cir, Charlotte, NC 28270","$450,000",3 beds,2 baths,"2,320",$356
119,"3244 Harrow Pl, Charlotte, NC 28205","$825,000",4 beds,3.5 baths,"1,310",$439
120,"3663 Vallette Ct, Charlotte, NC 28203","$575,000",2 beds,2.5 baths,"1,849",$216
121,"1808 Blanche St, Charlotte, NC 28262","$399,781",3 beds,2.5 baths,"3,517",$454
122,"705 Templeton Ave, Charlotte, NC 28203","$1,595,000",4 beds,3.5 baths,"1,886",$258

In [111]:
df16.to_csv('file16.csv')

In [ ]:
------------Pittsburgh condos------------

In [112]:
address_name17=[]
price_name17=[]
beds_name17=[]
baths_name17=[]
sqft_name17=[]
ppsqft_name17=[]

In [119]:
address_name17=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag17 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag17:
        address_name17.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [122]:
address_name17

['',
 '5100 Fifth Ave #514, Shadyside, PA 15232',
 '3725 Butler St #206, Lawrenceville, PA 15201',
 '306 4th Ave #902, Downtown Pgh, PA 15222',
 '5 Bayard Rd #500, Shadyside, PA 15213',
 '424 S Winebiddle St, Bloomfield, PA 15224',
 '196 36th St Unit 3F, Lawrenceville, PA 15201',
 '3809 Liberty Ave #404, Lawrenceville, PA 15201',
 '4601 Fifth Avene #323, Oakland, PA 15213',
 '320 Fort Duquesne Blvd Unit 23E, Downtown Pgh, PA 15222',
 '5425 5th Ave #102, Shadyside, PA 15232',
 '5523 Ellsworth Ave Unit 7B, Shadyside, PA 15232',
 '5900 Babcock Blvd #31, Ross Twp, PA 15237',
 '5825 5th Ave Unit 207A, Shadyside, PA 15232',
 '372 S Highland Ave #202, Shadyside, PA 15206',
 '471 Cherry Ct, Ross Twp, PA 15237',
 '350 Oliver Ave #908, Downtown Pgh, PA 15222',
 '350 Oliver Ave #1205, Downtown Pgh, PA 15222',
 '4002 Lenox Oval, Ross Twp, PA 15237',
 '300 Gilkeson Rd Unit 10A, Mt. Lebanon, PA 15228',
 '3809 Liberty #207, Lawrenceville, PA 15201',
 '571 Coal St #6, Wilkinsburg, PA 15221',
 '320 Fort Duquesne Blvd Unit 22NO, Downtown Pgh, PA 15222',
 '6433 Carver St, Lincoln-larimer, PA 15206',
 '5120 5th Ave #304, Shadyside, PA 15232',
 '825 Morewood Ave Unit G10, Shadyside, PA 15213',
 '220 N Dithridge St #906, Oakland, PA 15213',
 '201 Kingsberry Cir #419, Mt. Lebanon, PA 15234',
 '1479 Spreading Oak Dr Unit A, Scott Twp - Sal, PA 15220',
 '1987 Centurion Dr Unit 001, Forest Hills Boro, PA 15221',
 '128 N Craig St #903, Oakland, PA 15213',
 '1845 Clayton Ave #106, Perry Hilltop, PA 15214',
 '3809 Liberty #201, Lawrenceville, PA 15201',
 '552 N Neville St #31, Oakland, PA 15213',
 '765 College St #106, Shadyside, PA 15232',
 '220 N Dithridge St #506, Oakland, PA 15213',
 '501 Grandview Ave #1001, Mt Washington, PA 15211',
 '3809 Liberty Ave #208, Lawrenceville, PA 15201',
 '3809 Liberty Ave #304, Lawrenceville, PA 15201',
 '3809 Liberty Ave #402, Lawrenceville, PA 15201',
 '1987 Centurion Dr #611, Forest Hills Boro, PA 15221',
 '',
 '5100 Fifth Ave #514, Shadyside, PA 15232',
 '3725 Butler St #206, Lawrenceville, PA 15201',
 '306 4th Ave #902, Downtown Pgh, PA 15222',
 '5 Bayard Rd #500, Shadyside, PA 15213',
 '424 S Winebiddle St, Bloomfield, PA 15224',
 '196 36th St Unit 3F, Lawrenceville, PA 15201',
 '3809 Liberty Ave #404, Lawrenceville, PA 15201',
 '4601 Fifth Avene #323, Oakland, PA 15213',
 '320 Fort Duquesne Blvd Unit 23E, Downtown Pgh, PA 15222',
 '5425 5th Ave #102, Shadyside, PA 15232',
 '5523 Ellsworth Ave Unit 7B, Shadyside, PA 15232',
 '5900 Babcock Blvd #31, Ross Twp, PA 15237',
 '5825 5th Ave Unit 207A, Shadyside, PA 15232',
 '372 S Highland Ave #202, Shadyside, PA 15206',
 '471 Cherry Ct, Ross Twp, PA 15237',
 '350 Oliver Ave #908, Downtown Pgh, PA 15222',
 '350 Oliver Ave #1205, Downtown Pgh, PA 15222',
 '4002 Lenox Oval, Ross Twp, PA 15237',
 '300 Gilkeson Rd Unit 10A, Mt. Lebanon, PA 15228',
 '3809 Liberty #207, Lawrenceville, PA 15201',
 '571 Coal St #6, Wilkinsburg, PA 15221',
 '320 Fort Duquesne Blvd Unit 22NO, Downtown Pgh, PA 15222',
 '6433 Carver St, Lincoln-larimer, PA 15206',
 '5120 5th Ave #304, Shadyside, PA 15232',
 '825 Morewood Ave Unit G10, Shadyside, PA 15213',
 '220 N Dithridge St #906, Oakland, PA 15213',
 '201 Kingsberry Cir #419, Mt. Lebanon, PA 15234',
 '1479 Spreading Oak Dr Unit A, Scott Twp - Sal, PA 15220',
 '1987 Centurion Dr Unit 001, Forest Hills Boro, PA 15221',
 '128 N Craig St #903, Oakland, PA 15213',
 '1845 Clayton Ave #106, Perry Hilltop, PA 15214',
 '3809 Liberty #201, Lawrenceville, PA 15201',
 '552 N Neville St #31, Oakland, PA 15213',
 '765 College St #106, Shadyside, PA 15232',
 '220 N Dithridge St #506, Oakland, PA 15213',
 '501 Grandview Ave #1001, Mt Washington, PA 15211',
 '3809 Liberty Ave #208, Lawrenceville, PA 15201',
 '3809 Liberty Ave #304, Lawrenceville, PA 15201',
 '3809 Liberty Ave #402, Lawrenceville, PA 15201',
 '1987 Centurion Dr #611, Forest Hills Boro, PA 15221',
 '',
 '5100 Fifth Ave #514, Shadyside, PA 15232',
 '3725 Butler St #206, Lawrenceville, PA 15201',
 '306 4th Ave #902, Downtown Pgh, PA 15222',
 '5 Bayard Rd #500, Shadyside, PA 15213',
 '424 S Winebiddle St, Bloomfield, PA 15224',
 '196 36th St Unit 3F, Lawrenceville, PA 15201',
 '3809 Liberty Ave #404, Lawrenceville, PA 15201',
 '4601 Fifth Avene #323, Oakland, PA 15213',
 '320 Fort Duquesne Blvd Unit 23E, Downtown Pgh, PA 15222',
 '5425 5th Ave #102, Shadyside, PA 15232',
 '5523 Ellsworth Ave Unit 7B, Shadyside, PA 15232',
 '5900 Babcock Blvd #31, Ross Twp, PA 15237',
 '5825 5th Ave Unit 207A, Shadyside, PA 15232',
 '372 S Highland Ave #202, Shadyside, PA 15206',
 '471 Cherry Ct, Ross Twp, PA 15237',
 '350 Oliver Ave #908, Downtown Pgh, PA 15222',
 '350 Oliver Ave #1205, Downtown Pgh, PA 15222',
 '4002 Lenox Oval, Ross Twp, PA 15237',
 '300 Gilkeson Rd Unit 10A, Mt. Lebanon, PA 15228',
 '3809 Liberty #207, Lawrenceville, PA 15201',
 '571 Coal St #6, Wilkinsburg, PA 15221',
 '320 Fort Duquesne Blvd Unit 22NO, Downtown Pgh, PA 15222',
 '6433 Carver St, Lincoln-larimer, PA 15206',
 '5120 5th Ave #304, Shadyside, PA 15232',
 '825 Morewood Ave Unit G10, Shadyside, PA 15213',
 '220 N Dithridge St #906, Oakland, PA 15213',
 '201 Kingsberry Cir #419, Mt. Lebanon, PA 15234',
 '1479 Spreading Oak Dr Unit A, Scott Twp - Sal, PA 15220',
 '1987 Centurion Dr Unit 001, Forest Hills Boro, PA 15221',
 '128 N Craig St #903, Oakland, PA 15213',
 '1845 Clayton Ave #106, Perry Hilltop, PA 15214',
 '3809 Liberty #201, Lawrenceville, PA 15201',
 '552 N Neville St #31, Oakland, PA 15213',
 '765 College St #106, Shadyside, PA 15232',
 '220 N Dithridge St #506, Oakland, PA 15213',
 '501 Grandview Ave #1001, Mt Washington, PA 15211',
 '3809 Liberty Ave #208, Lawrenceville, PA 15201',
 '3809 Liberty Ave #304, Lawrenceville, PA 15201',
 '3809 Liberty Ave #402, Lawrenceville, PA 15201',
 '1987 Centurion Dr #611, Forest Hills Boro, PA 15221']

In [123]:
len(address_name17)

123

In [124]:
price_name17=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag17 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag17:
        price_name17.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [125]:
price_name17

['',
 '$239,000',
 '$450,000',
 '$369,900',
 '$279,900',
 '$179,900',
 '$300,000',
 '$565,000',
 '$225,000',
 '$249,000',
 '$250,000',
 '$160,000',
 '$125,000',
 '$225,000',
 '$289,000',
 '$259,900',
 '$349,900',
 '$574,000',
 '$242,900',
 '$190,000',
 '$299,000',
 '$129,900',
 '$452,500',
 '$350,000',
 '$269,900',
 '$399,000',
 '$415,000',
 '$300,000',
 '$169,900',
 '$99,000',
 '$320,000',
 '$160,000',
 '$595,000',
 '$195,000',
 '$329,500',
 '$350,000',
 '$725,000',
 '$293,607',
 '$339,000',
 '$699,000',
 '$103,900',
 '',
 '$239,000',
 '$450,000',
 '$369,900',
 '$279,900',
 '$179,900',
 '$300,000',
 '$565,000',
 '$225,000',
 '$249,000',
 '$250,000',
 '$160,000',
 '$125,000',
 '$225,000',
 '$289,000',
 '$259,900',
 '$349,900',
 '$574,000',
 '$242,900',
 '$190,000',
 '$299,000',
 '$129,900',
 '$452,500',
 '$350,000',
 '$269,900',
 '$399,000',
 '$415,000',
 '$300,000',
 '$169,900',
 '$99,000',
 '$320,000',
 '$160,000',
 '$595,000',
 '$195,000',
 '$329,500',
 '$350,000',
 '$725,000',
 '$293,607',
 '$339,000',
 '$699,000',
 '$103,900',
 '',
 '$239,000',
 '$450,000',
 '$369,900',
 '$279,900',
 '$179,900',
 '$300,000',
 '$565,000',
 '$225,000',
 '$249,000',
 '$250,000',
 '$160,000',
 '$125,000',
 '$225,000',
 '$289,000',
 '$259,900',
 '$349,900',
 '$574,000',
 '$242,900',
 '$190,000',
 '$299,000',
 '$129,900',
 '$452,500',
 '$350,000',
 '$269,900',
 '$399,000',
 '$415,000',
 '$300,000',
 '$169,900',
 '$99,000',
 '$320,000',
 '$160,000',
 '$595,000',
 '$195,000',
 '$329,500',
 '$350,000',
 '$725,000',
 '$293,607',
 '$339,000',
 '$699,000',
 '$103,900']

In [126]:
len(price_name17)

123

In [127]:
beds_name17=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag17 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag17:
        beds_name17.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [128]:
beds_name17

['',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '4 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '0 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed',
 '',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '4 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '0 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed',
 '',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '4 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '1 bed',
 '2 beds',
 '0 beds',
 '3 beds',
 '1 bed',
 '2 beds',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '2 beds',
 '1 bed']

In [129]:
len(beds_name17)

123

In [130]:
baths_name17=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag17 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag17:
        baths_name17.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [131]:
baths_name17

['',
 '1.5 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '',
 '1.5 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '',
 '1.5 baths',
 '1.5 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '2.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '1.5 baths',
 '1.5 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '2 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '2 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath']

In [132]:
len(baths_name17)

123

In [133]:
sqft_name17=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag17 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag17:
        sqft_name17.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [134]:
 sqft_name17

['—',
 '1,094',
 '1,485',
 '1,270',
 '936',
 '1,167',
 '1,442',
 '1,023',
 '1,140',
 '828',
 '640',
 '1,000',
 '1,210',
 '1,106',
 '1,534',
 '641',
 '1,050',
 '1,474',
 '979',
 '745',
 '1,367',
 '1,602',
 '2,060',
 '1,162',
 '1,609',
 '1,546',
 '1,500',
 '1,200',
 '—',
 '1,680',
 '763',
 '1,800',
 '—',
 '1,082',
 '—',
 '1,837',
 '590',
 '848',
 '1,773',
 '500',
 '1,298',
 '—',
 '1,094',
 '1,485',
 '1,270',
 '936',
 '1,167',
 '1,442',
 '1,023',
 '1,140',
 '828',
 '640',
 '1,000',
 '1,210',
 '1,106',
 '1,534',
 '641',
 '1,050',
 '1,474',
 '979',
 '745',
 '1,367',
 '1,602',
 '2,060',
 '1,162',
 '1,609',
 '1,546',
 '1,500',
 '1,200',
 '—',
 '1,680',
 '763',
 '1,800',
 '—',
 '1,082',
 '—',
 '1,837',
 '590',
 '848',
 '1,773',
 '500',
 '1,298',
 '—',
 '1,094',
 '1,485',
 '1,270',
 '936',
 '1,167',
 '1,442',
 '1,023',
 '1,140',
 '828',
 '640',
 '1,000',
 '1,210',
 '1,106',
 '1,534',
 '641',
 '1,050',
 '1,474',
 '979',
 '745',
 '1,367',
 '1,602',
 '2,060',
 '1,162',
 '1,609',
 '1,546',
 '1,500',
 '1,200',
 '—',
 '1,680',
 '763',
 '1,800',
 '—',
 '1,082',
 '—',
 '1,837',
 '590',
 '848',
 '1,773',
 '500',
 '1,298']

In [135]:
len( sqft_name17)

123

In [136]:
ppsqft_name17=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag17 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag17:
        ppsqft_name17.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [137]:
ppsqft_name17

['—',
 '$411',
 '$249',
 '$220',
 '$192',
 '$257',
 '$392',
 '$220',
 '$218',
 '$302',
 '$250',
 '$125',
 '$186',
 '$261',
 '$169',
 '$546',
 '$547',
 '$165',
 '$194',
 '$401',
 '$95',
 '$282',
 '$170',
 '$232',
 '$248',
 '$268',
 '$200',
 '$142',
 '—',
 '$190',
 '$210',
 '$331',
 '—',
 '$305',
 '—',
 '$395',
 '$498',
 '$400',
 '$394',
 '$208',
 '$293',
 '—',
 '$411',
 '$249',
 '$220',
 '$192',
 '$257',
 '$392',
 '$220',
 '$218',
 '$302',
 '$250',
 '$125',
 '$186',
 '$261',
 '$169',
 '$546',
 '$547',
 '$165',
 '$194',
 '$401',
 '$95',
 '$282',
 '$170',
 '$232',
 '$248',
 '$268',
 '$200',
 '$142',
 '—',
 '$190',
 '$210',
 '$331',
 '—',
 '$305',
 '—',
 '$395',
 '$498',
 '$400',
 '$394',
 '$208',
 '$293',
 '—',
 '$411',
 '$249',
 '$220',
 '$192',
 '$257',
 '$392',
 '$220',
 '$218',
 '$302',
 '$250',
 '$125',
 '$186',
 '$261',
 '$169',
 '$546',
 '$547',
 '$165',
 '$194',
 '$401',
 '$95',
 '$282',
 '$170',
 '$232',
 '$248',
 '$268',
 '$200',
 '$142',
 '—',
 '$190',
 '$210',
 '$331',
 '—',
 '$305',
 '—',
 '$395',
 '$498',
 '$400',
 '$394',
 '$208',
 '$293']

In [138]:
len(ppsqft_name17)

123

In [139]:
print(len(address_name17),len(price_name17),len(beds_name17),len(baths_name17),len(sqft_name17),len(ppsqft_name17))

123 123 123 123 123 123

In [140]:
import pandas as pd
df17=pd.DataFrame({'Address':address_name17,'Price':price_name17,'Beds':beds_name17,'Baths':baths_name17,'Total sqft':sqft_name17,'Price per sqft':ppsqft_name17})
df17

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,—,—
1,"5100 Fifth Ave #514, Shadyside, PA 15232","$239,000",1 bed,1.5 baths,"1,094",$411
2,"3725 Butler St #206, Lawrenceville, PA 15201","$450,000",1 bed,1.5 baths,"1,485",$249
3,"306 4th Ave #902, Downtown Pgh, PA 15222","$369,900",2 beds,2 baths,"1,270",$220
4,"5 Bayard Rd #500, Shadyside, PA 15213","$279,900",2 beds,2 baths,936,$192
...,...,...,...,...,...,...
118,"501 Grandview Ave #1001, Mt Washington, PA 15211","$725,000",2 beds,2 baths,590,$498
119,"3809 Liberty Ave #208, Lawrenceville, PA 15201","$293,607",1 bed,1 bath,848,$400
120,"3809 Liberty Ave #304, Lawrenceville, PA 15201","$339,000",1 bed,1 bath,"1,773",$394
121,"3809 Liberty Ave #402, Lawrenceville, PA 15201","$699,000",2 beds,2 baths,500,$208
122,"1987 Centurion Dr #611, Forest Hills Boro, PA ...","$103,900",1 bed,1 bath,"1,298",$293

In [141]:
df17.to_csv('file17.csv')

In [ ]:
-------------Jacksonville, FL, USA homes-----------

In [147]:
address_name18=[]
price_name18=[]
beds_name18=[]
baths_name18=[]
sqft_name18=[]
ppsqft_name18=[]

In [157]:
address_name18=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag18 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag18:
        address_name18.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [158]:
address_name18

['',
 '311 W Ashley St #503, Jacksonville, FL 32202',
 '311 W Ashley St #602, Jacksonville, FL 32202',
 '311 W Ashley St #311, Jacksonville, FL 32202',
 '311 W Ashley St #1206, Jacksonville, FL 32202',
 '311 W Ashley St #710, Jacksonville, FL 32202',
 '311 Ashley St W #509, Jacksonville, FL 32202',
 '311 W Ashley St #302, Jacksonville, FL 32202',
 '311 W Ashley St #507, Jacksonville, FL 32202',
 '0 W 2nd St, Jacksonville, FL 32206',
 '111 E 1st St #35, Jacksonville, FL 32206',
 '217 E 1st St, Jacksonville, FL 32206',
 '1125 N Market St, Jacksonville, FL 32206',
 '1315 N Laura St, Jacksonville, FL 32206',
 '0 4th St, Jacksonville, FL 32206',
 '400 E Bay St #1610-1611, Jacksonville, FL 32202',
 '400 E Bay St #6, Jacksonville, FL 32202',
 '400 E Bay St #1007, Jacksonville, FL 32202',
 '400 E Bay St #311, Jacksonville, FL 32202',
 '400 E Bay St #411, Jacksonville, FL 32202',
 '400 E Bay St #1902, Jacksonville, FL 32202',
 '400 Bay St #1810, Jacksonville, FL 32202',
 '400 E Bay St #1508, Jacksonville, FL 32202',
 '400 E Bay St #1210, Jacksonville, FL 32202',
 '400 E Bay St #402, Jacksonville, FL 32202',
 '112 E 4th St, Jacksonville, FL 32206',
 '303 E 3rd St, Jacksonville, FL 32206',
 '1343/1345 Pearl St #(DUPLEX), Jacksonville, FL 32206',
 '00 Pearl St, Jacksonville, FL 32233',
 '0 Ionia St, Jacksonville, FL 32206',
 '1225 Walnut St, Jacksonville, FL 32206',
 '426 E Bay St #12, Jacksonville, FL 32202',
 '1420 N Market St, Jacksonville, FL 32206',
 '408 E Bay St, Jacksonville, FL 32202',
 '247 E 4th St, Jacksonville, FL 32206',
 '1508 N Laura St, Jacksonville, FL 32206',
 '17 W 5th St, Jacksonville, FL 32206',
 '219 E 5th St, Jacksonville, FL 32206',
 '1222 Clark St, Jacksonville, FL 32206',
 '36 W 6th St, Jacksonville, FL 32206',
 '1532 N Pearl St, Jacksonville, FL 32206',
 '',
 '311 W Ashley St #503, Jacksonville, FL 32202',
 '311 W Ashley St #602, Jacksonville, FL 32202',
 '311 W Ashley St #311, Jacksonville, FL 32202',
 '311 W Ashley St #1206, Jacksonville, FL 32202',
 '311 W Ashley St #710, Jacksonville, FL 32202',
 '311 Ashley St W #509, Jacksonville, FL 32202',
 '311 W Ashley St #302, Jacksonville, FL 32202',
 '311 W Ashley St #507, Jacksonville, FL 32202',
 '0 W 2nd St, Jacksonville, FL 32206',
 '111 E 1st St #35, Jacksonville, FL 32206',
 '217 E 1st St, Jacksonville, FL 32206',
 '1125 N Market St, Jacksonville, FL 32206',
 '1315 N Laura St, Jacksonville, FL 32206',
 '0 4th St, Jacksonville, FL 32206',
 '400 E Bay St #1610-1611, Jacksonville, FL 32202',
 '400 E Bay St #6, Jacksonville, FL 32202',
 '400 E Bay St #1007, Jacksonville, FL 32202',
 '400 E Bay St #311, Jacksonville, FL 32202',
 '400 E Bay St #411, Jacksonville, FL 32202',
 '400 E Bay St #1902, Jacksonville, FL 32202',
 '400 Bay St #1810, Jacksonville, FL 32202',
 '400 E Bay St #1508, Jacksonville, FL 32202',
 '400 E Bay St #1210, Jacksonville, FL 32202',
 '400 E Bay St #402, Jacksonville, FL 32202',
 '112 E 4th St, Jacksonville, FL 32206',
 '303 E 3rd St, Jacksonville, FL 32206',
 '1343/1345 Pearl St #(DUPLEX), Jacksonville, FL 32206',
 '00 Pearl St, Jacksonville, FL 32233',
 '0 Ionia St, Jacksonville, FL 32206',
 '1225 Walnut St, Jacksonville, FL 32206',
 '426 E Bay St #12, Jacksonville, FL 32202',
 '1420 N Market St, Jacksonville, FL 32206',
 '408 E Bay St, Jacksonville, FL 32202',
 '247 E 4th St, Jacksonville, FL 32206',
 '1508 N Laura St, Jacksonville, FL 32206',
 '17 W 5th St, Jacksonville, FL 32206',
 '219 E 5th St, Jacksonville, FL 32206',
 '1222 Clark St, Jacksonville, FL 32206',
 '36 W 6th St, Jacksonville, FL 32206',
 '1532 N Pearl St, Jacksonville, FL 32206',
 '',
 '311 W Ashley St #503, Jacksonville, FL 32202',
 '311 W Ashley St #602, Jacksonville, FL 32202',
 '311 W Ashley St #311, Jacksonville, FL 32202',
 '311 W Ashley St #1206, Jacksonville, FL 32202',
 '311 W Ashley St #710, Jacksonville, FL 32202',
 '311 Ashley St W #509, Jacksonville, FL 32202',
 '311 W Ashley St #302, Jacksonville, FL 32202',
 '311 W Ashley St #507, Jacksonville, FL 32202',
 '0 W 2nd St, Jacksonville, FL 32206',
 '111 E 1st St #35, Jacksonville, FL 32206',
 '217 E 1st St, Jacksonville, FL 32206',
 '1125 N Market St, Jacksonville, FL 32206',
 '1315 N Laura St, Jacksonville, FL 32206',
 '0 4th St, Jacksonville, FL 32206',
 '400 E Bay St #1610-1611, Jacksonville, FL 32202',
 '400 E Bay St #6, Jacksonville, FL 32202',
 '400 E Bay St #1007, Jacksonville, FL 32202',
 '400 E Bay St #311, Jacksonville, FL 32202',
 '400 E Bay St #411, Jacksonville, FL 32202',
 '400 E Bay St #1902, Jacksonville, FL 32202',
 '400 Bay St #1810, Jacksonville, FL 32202',
 '400 E Bay St #1508, Jacksonville, FL 32202',
 '400 E Bay St #1210, Jacksonville, FL 32202',
 '400 E Bay St #402, Jacksonville, FL 32202',
 '112 E 4th St, Jacksonville, FL 32206',
 '303 E 3rd St, Jacksonville, FL 32206',
 '1343/1345 Pearl St #(DUPLEX), Jacksonville, FL 32206',
 '00 Pearl St, Jacksonville, FL 32233',
 '0 Ionia St, Jacksonville, FL 32206',
 '1225 Walnut St, Jacksonville, FL 32206',
 '426 E Bay St #12, Jacksonville, FL 32202',
 '1420 N Market St, Jacksonville, FL 32206',
 '408 E Bay St, Jacksonville, FL 32202',
 '247 E 4th St, Jacksonville, FL 32206',
 '1508 N Laura St, Jacksonville, FL 32206',
 '17 W 5th St, Jacksonville, FL 32206',
 '219 E 5th St, Jacksonville, FL 32206',
 '1222 Clark St, Jacksonville, FL 32206',
 '36 W 6th St, Jacksonville, FL 32206',
 '1532 N Pearl St, Jacksonville, FL 32206']

In [159]:
len(address_name18)

123

In [160]:
price_name18=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag18 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag18:
        price_name18.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [161]:
price_name18

['',
 '$98,000',
 '$115,000',
 '$95,000',
 '$120,000',
 '$94,900',
 '$94,500',
 '$104,900',
 '$114,900',
 '$15,000',
 '$157,000',
 '$219,000',
 '$779,000',
 '$419,900',
 '$12,000',
 '$659,900',
 '$1,299,900',
 '$469,000',
 '$329,900',
 '$319,900',
 '$329,000',
 '$399,999',
 '$469,900',
 '$379,900',
 '$335,000',
 '$399,000',
 '$425,000',
 '$685,000',
 '$250,000',
 '$99,000',
 '$85,000',
 '$600,000',
 '$418,000',
 '$724,900',
 '$479,000',
 '$439,900',
 '$65,000',
 '$399,000',
 '$264,500',
 '$529,770',
 '$475,000',
 '',
 '$98,000',
 '$115,000',
 '$95,000',
 '$120,000',
 '$94,900',
 '$94,500',
 '$104,900',
 '$114,900',
 '$15,000',
 '$157,000',
 '$219,000',
 '$779,000',
 '$419,900',
 '$12,000',
 '$659,900',
 '$1,299,900',
 '$469,000',
 '$329,900',
 '$319,900',
 '$329,000',
 '$399,999',
 '$469,900',
 '$379,900',
 '$335,000',
 '$399,000',
 '$425,000',
 '$685,000',
 '$250,000',
 '$99,000',
 '$85,000',
 '$600,000',
 '$418,000',
 '$724,900',
 '$479,000',
 '$439,900',
 '$65,000',
 '$399,000',
 '$264,500',
 '$529,770',
 '$475,000',
 '',
 '$98,000',
 '$115,000',
 '$95,000',
 '$120,000',
 '$94,900',
 '$94,500',
 '$104,900',
 '$114,900',
 '$15,000',
 '$157,000',
 '$219,000',
 '$779,000',
 '$419,900',
 '$12,000',
 '$659,900',
 '$1,299,900',
 '$469,000',
 '$329,900',
 '$319,900',
 '$329,000',
 '$399,999',
 '$469,900',
 '$379,900',
 '$335,000',
 '$399,000',
 '$425,000',
 '$685,000',
 '$250,000',
 '$99,000',
 '$85,000',
 '$600,000',
 '$418,000',
 '$724,900',
 '$479,000',
 '$439,900',
 '$65,000',
 '$399,000',
 '$264,500',
 '$529,770',
 '$475,000']

In [162]:
len(price_name18)

123

In [163]:
beds_name18=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag18 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag18:
        beds_name18.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [164]:
beds_name18

['',
 '1 bed',
 '1 bed',
 '0 beds',
 '1 bed',
 '0 beds',
 '0 beds',
 '1 bed',
 '1 bed',
 '— beds',
 '2 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '— beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '6 beds',
 '— beds',
 '— beds',
 '— beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '— beds',
 '3 beds',
 '5 beds',
 '4 beds',
 '4 beds',
 '',
 '1 bed',
 '1 bed',
 '0 beds',
 '1 bed',
 '0 beds',
 '0 beds',
 '1 bed',
 '1 bed',
 '— beds',
 '2 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '— beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '6 beds',
 '— beds',
 '— beds',
 '— beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '— beds',
 '3 beds',
 '5 beds',
 '4 beds',
 '4 beds',
 '',
 '1 bed',
 '1 bed',
 '0 beds',
 '1 bed',
 '0 beds',
 '0 beds',
 '1 bed',
 '1 bed',
 '— beds',
 '2 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '— beds',
 '3 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '1 bed',
 '1 bed',
 '2 beds',
 '2 beds',
 '2 beds',
 '1 bed',
 '3 beds',
 '3 beds',
 '6 beds',
 '— beds',
 '— beds',
 '— beds',
 '3 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '4 beds',
 '— beds',
 '3 beds',
 '5 beds',
 '4 beds',
 '4 beds']

In [165]:
len(beds_name18)

123

In [166]:
baths_name18=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag18 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag18:
        baths_name18.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [167]:
 baths_name18

['',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '— baths',
 '1.5 baths',
 '3 baths',
 '5 baths',
 '2.5 baths',
 '— baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '3 baths',
 '— baths',
 '— baths',
 '— baths',
 '2.5 baths',
 '3 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '— baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '— baths',
 '1.5 baths',
 '3 baths',
 '5 baths',
 '2.5 baths',
 '— baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '3 baths',
 '— baths',
 '— baths',
 '— baths',
 '2.5 baths',
 '3 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '— baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '1 bath',
 '— baths',
 '1.5 baths',
 '3 baths',
 '5 baths',
 '2.5 baths',
 '— baths',
 '2.5 baths',
 '2.5 baths',
 '2 baths',
 '1 bath',
 '1.5 baths',
 '1 bath',
 '1 bath',
 '2 baths',
 '1 bath',
 '1 bath',
 '2.5 baths',
 '2.5 baths',
 '3 baths',
 '— baths',
 '— baths',
 '— baths',
 '2.5 baths',
 '3 baths',
 '2.5 baths',
 '2.5 baths',
 '2.5 baths',
 '— baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '3 baths']

In [168]:
len( baths_name18)

123

In [169]:
sqft_name18=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag18 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag18:
        sqft_name18.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [170]:
sqft_name18

['456',
 '573',
 '425',
 '456',
 '425',
 '401',
 '573',
 '573',
 '—',
 '953',
 '3,237',
 '4,371',
 '1,638',
 '—',
 '2,100',
 '2,922',
 '1,338',
 '920',
 '920',
 '1,175',
 '1,100',
 '1,578',
 '1,100',
 '1,175',
 '1,872',
 '1,476',
 '3,608',
 '—',
 '—',
 '—',
 '2,084',
 '2,354',
 '2,321',
 '1,820',
 '1,838',
 '—',
 '1,936',
 '2,024',
 '1,848',
 '2,554',
 '1,356',
 '456',
 '573',
 '425',
 '456',
 '425',
 '401',
 '573',
 '573',
 '—',
 '953',
 '3,237',
 '4,371',
 '1,638',
 '—',
 '2,100',
 '2,922',
 '1,338',
 '920',
 '920',
 '1,175',
 '1,100',
 '1,578',
 '1,100',
 '1,175',
 '1,872',
 '1,476',
 '3,608',
 '—',
 '—',
 '—',
 '2,084',
 '2,354',
 '2,321',
 '1,820',
 '1,838',
 '—',
 '1,936',
 '2,024',
 '1,848',
 '2,554',
 '1,356',
 '456',
 '573',
 '425',
 '456',
 '425',
 '401',
 '573',
 '573',
 '—',
 '953',
 '3,237',
 '4,371',
 '1,638',
 '—',
 '2,100',
 '2,922',
 '1,338',
 '920',
 '920',
 '1,175',
 '1,100',
 '1,578',
 '1,100',
 '1,175',
 '1,872',
 '1,476',
 '3,608',
 '—',
 '—',
 '—',
 '2,084',
 '2,354',
 '2,321',
 '1,820',
 '1,838',
 '—',
 '1,936',
 '2,024',
 '1,848',
 '2,554',
 '1,356']

In [171]:
len(sqft_name18)

123

In [172]:
ppsqft_name18=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag18 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag18:
        ppsqft_name18.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [173]:
ppsqft_name18

['$215',
 '$201',
 '$224',
 '$263',
 '$223',
 '$236',
 '$183',
 '$201',
 '—',
 '$165',
 '$68',
 '$178',
 '$256',
 '—',
 '$314',
 '$445',
 '$351',
 '$359',
 '$348',
 '$280',
 '$364',
 '$298',
 '$345',
 '$285',
 '$213',
 '$288',
 '$190',
 '—',
 '—',
 '—',
 '$288',
 '$178',
 '$312',
 '$263',
 '$239',
 '—',
 '$206',
 '$131',
 '$287',
 '$186',
 '$184',
 '$215',
 '$201',
 '$224',
 '$263',
 '$223',
 '$236',
 '$183',
 '$201',
 '—',
 '$165',
 '$68',
 '$178',
 '$256',
 '—',
 '$314',
 '$445',
 '$351',
 '$359',
 '$348',
 '$280',
 '$364',
 '$298',
 '$345',
 '$285',
 '$213',
 '$288',
 '$190',
 '—',
 '—',
 '—',
 '$288',
 '$178',
 '$312',
 '$263',
 '$239',
 '—',
 '$206',
 '$131',
 '$287',
 '$186',
 '$184',
 '$215',
 '$201',
 '$224',
 '$263',
 '$223',
 '$236',
 '$183',
 '$201',
 '—',
 '$165',
 '$68',
 '$178',
 '$256',
 '—',
 '$314',
 '$445',
 '$351',
 '$359',
 '$348',
 '$280',
 '$364',
 '$298',
 '$345',
 '$285',
 '$213',
 '$288',
 '$190',
 '—',
 '—',
 '—',
 '$288',
 '$178',
 '$312',
 '$263',
 '$239',
 '—',
 '$206',
 '$131',
 '$287',
 '$186',
 '$184']

In [174]:
len(ppsqft_name18)

123

In [175]:
print(len(address_name18),len(price_name18),len(beds_name18),len(baths_name18),len(sqft_name18),len(ppsqft_name18))

123 123 123 123 123 123

In [176]:
import pandas as pd
df18=pd.DataFrame({'Address':address_name18,'Price':price_name18,'Beds':beds_name18,'Baths':baths_name18,'Total sqft':sqft_name18,'Price per sqft':ppsqft_name18})
df18

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,456,$215
1,"311 W Ashley St #503, Jacksonville, FL 32202","$98,000",1 bed,1 bath,573,$201
2,"311 W Ashley St #602, Jacksonville, FL 32202","$115,000",1 bed,1 bath,425,$224
3,"311 W Ashley St #311, Jacksonville, FL 32202","$95,000",0 beds,1 bath,456,$263
4,"311 W Ashley St #1206, Jacksonville, FL 32202","$120,000",1 bed,1 bath,425,$223
...,...,...,...,...,...,...
118,"17 W 5th St, Jacksonville, FL 32206","$65,000",— beds,— baths,"1,936",$206
119,"219 E 5th St, Jacksonville, FL 32206","$399,000",3 beds,2.5 baths,"2,024",$131
120,"1222 Clark St, Jacksonville, FL 32206","$264,500",5 beds,2 baths,"1,848",$287
121,"36 W 6th St, Jacksonville, FL 32206","$529,770",4 beds,2 baths,"2,554",$186
122,"1532 N Pearl St, Jacksonville, FL 32206","$475,000",4 beds,3 baths,"1,356",$184

In [177]:
df18.to_csv('file18.csv')

In [ ]:
--------Phoenix homes---------

In [178]:
address_name19=[]
price_name19=[]
beds_name19=[]
baths_name19=[]
sqft_name19=[]
ppsqft_name19=[]

In [179]:
address_name19=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag19 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag19:
        address_name19.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [180]:
 address_name19

['',
 '3434 E Baseline Rd #259, Phoenix, AZ 85042',
 '6900 E Princess Dr #1192, Phoenix, AZ 85054',
 '2636 E Hidalgo Ave, Phoenix, AZ 85040',
 '3540 E Wayland Dr, Phoenix, AZ 85040',
 '4126 E Sunnyside Dr, Phoenix, AZ 85028',
 '1416 W Clarendon Ave, Phoenix, AZ 85013',
 '2417 E Yucca St, Phoenix, AZ 85028',
 '4056 W Charlotte Dr, Glendale, AZ 85310',
 '4423 W Westcott Dr, Glendale, AZ 85308',
 '531 E Sack Dr, Phoenix, AZ 85024',
 '4201 E Darrow St, Phoenix, AZ 85042',
 '3406 E Libby St, Phoenix, AZ 85032',
 '5655 E Saint John Rd, Scottsdale, AZ 85254',
 '520 W Clarendon Ave Unit G2, Phoenix, AZ 85013',
 '3607 W Alice Ave, Phoenix, AZ 85051',
 '2531 E Mine Creek Rd, Phoenix, AZ 85024',
 '2309 W Hadley St, Phoenix, AZ 85009',
 '7231 W Carter Rd, Laveen, AZ 85339',
 '6230 N 33rd Ave #135, Phoenix, AZ 85017',
 '7805 W Warner St, Phoenix, AZ 85043',
 '2431 E Tracy Ln #2, Phoenix, AZ 85032',
 '2431 W Dusty Wren Dr, Phoenix, AZ 85085',
 '4622 N 71st Ln, Phoenix, AZ 85033',
 '4047 E Hidalgo Ave, Phoenix, AZ 85040',
 '3237 W Via Dona Rd, Phoenix, AZ 85083',
 '3240 W Caleb Rd, Phoenix, AZ 85083',
 '10410 N Cave Creek Rd #2213, Phoenix, AZ 85020',
 '3177 W Caleb Rd, Phoenix, AZ 85083',
 '3018 E Weldon Ave, Phoenix, AZ 85016',
 '3173 W Caleb Rd, Phoenix, AZ 85083',
 '3620 E Agave Rd, Phoenix, AZ 85044',
 '4630 W Sandra Terrace Ave, Glendale, AZ 85306',
 '4220 N 32nd St #33, Phoenix, AZ 85018',
 '2030 E Michigan Ave #24, Phoenix, AZ 85022',
 '17017 N 12th St #2124, Phoenix, AZ 85022',
 '7346 W Roma Ave, Phoenix, AZ 85033',
 '2801 E Avalon Dr, Phoenix, AZ 85016',
 '1716 W Cortez St #149, Phoenix, AZ 85029',
 '4628 N 71st Ave, Phoenix, AZ 85033',
 '9418 N 19th St, Phoenix, AZ 85020',
 '',
 '3434 E Baseline Rd #259, Phoenix, AZ 85042',
 '6900 E Princess Dr #1192, Phoenix, AZ 85054',
 '2636 E Hidalgo Ave, Phoenix, AZ 85040',
 '3540 E Wayland Dr, Phoenix, AZ 85040',
 '4126 E Sunnyside Dr, Phoenix, AZ 85028',
 '1416 W Clarendon Ave, Phoenix, AZ 85013',
 '2417 E Yucca St, Phoenix, AZ 85028',
 '4056 W Charlotte Dr, Glendale, AZ 85310',
 '4423 W Westcott Dr, Glendale, AZ 85308',
 '531 E Sack Dr, Phoenix, AZ 85024',
 '4201 E Darrow St, Phoenix, AZ 85042',
 '3406 E Libby St, Phoenix, AZ 85032',
 '5655 E Saint John Rd, Scottsdale, AZ 85254',
 '520 W Clarendon Ave Unit G2, Phoenix, AZ 85013',
 '3607 W Alice Ave, Phoenix, AZ 85051',
 '2531 E Mine Creek Rd, Phoenix, AZ 85024',
 '2309 W Hadley St, Phoenix, AZ 85009',
 '7231 W Carter Rd, Laveen, AZ 85339',
 '6230 N 33rd Ave #135, Phoenix, AZ 85017',
 '7805 W Warner St, Phoenix, AZ 85043',
 '2431 E Tracy Ln #2, Phoenix, AZ 85032',
 '2431 W Dusty Wren Dr, Phoenix, AZ 85085',
 '4622 N 71st Ln, Phoenix, AZ 85033',
 '4047 E Hidalgo Ave, Phoenix, AZ 85040',
 '3237 W Via Dona Rd, Phoenix, AZ 85083',
 '3240 W Caleb Rd, Phoenix, AZ 85083',
 '10410 N Cave Creek Rd #2213, Phoenix, AZ 85020',
 '3177 W Caleb Rd, Phoenix, AZ 85083',
 '3018 E Weldon Ave, Phoenix, AZ 85016',
 '3173 W Caleb Rd, Phoenix, AZ 85083',
 '3620 E Agave Rd, Phoenix, AZ 85044',
 '4630 W Sandra Terrace Ave, Glendale, AZ 85306',
 '4220 N 32nd St #33, Phoenix, AZ 85018',
 '2030 E Michigan Ave #24, Phoenix, AZ 85022',
 '17017 N 12th St #2124, Phoenix, AZ 85022',
 '7346 W Roma Ave, Phoenix, AZ 85033',
 '2801 E Avalon Dr, Phoenix, AZ 85016',
 '1716 W Cortez St #149, Phoenix, AZ 85029',
 '4628 N 71st Ave, Phoenix, AZ 85033',
 '9418 N 19th St, Phoenix, AZ 85020',
 '',
 '3434 E Baseline Rd #259, Phoenix, AZ 85042',
 '6900 E Princess Dr #1192, Phoenix, AZ 85054',
 '2636 E Hidalgo Ave, Phoenix, AZ 85040',
 '3540 E Wayland Dr, Phoenix, AZ 85040',
 '4126 E Sunnyside Dr, Phoenix, AZ 85028',
 '1416 W Clarendon Ave, Phoenix, AZ 85013',
 '2417 E Yucca St, Phoenix, AZ 85028',
 '4056 W Charlotte Dr, Glendale, AZ 85310',
 '4423 W Westcott Dr, Glendale, AZ 85308',
 '531 E Sack Dr, Phoenix, AZ 85024',
 '4201 E Darrow St, Phoenix, AZ 85042',
 '3406 E Libby St, Phoenix, AZ 85032',
 '5655 E Saint John Rd, Scottsdale, AZ 85254',
 '520 W Clarendon Ave Unit G2, Phoenix, AZ 85013',
 '3607 W Alice Ave, Phoenix, AZ 85051',
 '2531 E Mine Creek Rd, Phoenix, AZ 85024',
 '2309 W Hadley St, Phoenix, AZ 85009',
 '7231 W Carter Rd, Laveen, AZ 85339',
 '6230 N 33rd Ave #135, Phoenix, AZ 85017',
 '7805 W Warner St, Phoenix, AZ 85043',
 '2431 E Tracy Ln #2, Phoenix, AZ 85032',
 '2431 W Dusty Wren Dr, Phoenix, AZ 85085',
 '4622 N 71st Ln, Phoenix, AZ 85033',
 '4047 E Hidalgo Ave, Phoenix, AZ 85040',
 '3237 W Via Dona Rd, Phoenix, AZ 85083',
 '3240 W Caleb Rd, Phoenix, AZ 85083',
 '10410 N Cave Creek Rd #2213, Phoenix, AZ 85020',
 '3177 W Caleb Rd, Phoenix, AZ 85083',
 '3018 E Weldon Ave, Phoenix, AZ 85016',
 '3173 W Caleb Rd, Phoenix, AZ 85083',
 '3620 E Agave Rd, Phoenix, AZ 85044',
 '4630 W Sandra Terrace Ave, Glendale, AZ 85306',
 '4220 N 32nd St #33, Phoenix, AZ 85018',
 '2030 E Michigan Ave #24, Phoenix, AZ 85022',
 '17017 N 12th St #2124, Phoenix, AZ 85022',
 '7346 W Roma Ave, Phoenix, AZ 85033',
 '2801 E Avalon Dr, Phoenix, AZ 85016',
 '1716 W Cortez St #149, Phoenix, AZ 85029',
 '4628 N 71st Ave, Phoenix, AZ 85033',
 '9418 N 19th St, Phoenix, AZ 85020']

In [181]:
len( address_name19)

123

In [182]:
price_name19=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag19 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag19:
        price_name19.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [183]:
 price_name19

['',
 '$289,950',
 '$399,000',
 '$374,000',
 '$449,000',
 '$685,000',
 '$735,000',
 '$775,000',
 '$575,000',
 '$350,000',
 '$485,000',
 '$415,000',
 '$605,000',
 '$899,000',
 '$260,000',
 '$359,000',
 '$619,900',
 '$218,900',
 '$510,000',
 '$258,000',
 '$625,000',
 '$315,000',
 '$505,000',
 '$210,000',
 '$384,999',
 '$747,990',
 '$479,990',
 '$360,000',
 '$454,990',
 '$849,000',
 '$479,990',
 '$435,000',
 '$465,000',
 '$708,000',
 '$485,000',
 '$236,000',
 '$399,000',
 '$543,000',
 '$329,900',
 '$339,000',
 '$1,399,000',
 '',
 '$289,950',
 '$399,000',
 '$374,000',
 '$449,000',
 '$685,000',
 '$735,000',
 '$775,000',
 '$575,000',
 '$350,000',
 '$485,000',
 '$415,000',
 '$605,000',
 '$899,000',
 '$260,000',
 '$359,000',
 '$619,900',
 '$218,900',
 '$510,000',
 '$258,000',
 '$625,000',
 '$315,000',
 '$505,000',
 '$210,000',
 '$384,999',
 '$747,990',
 '$479,990',
 '$360,000',
 '$454,990',
 '$849,000',
 '$479,990',
 '$435,000',
 '$465,000',
 '$708,000',
 '$485,000',
 '$236,000',
 '$399,000',
 '$543,000',
 '$329,900',
 '$339,000',
 '$1,399,000',
 '',
 '$289,950',
 '$399,000',
 '$374,000',
 '$449,000',
 '$685,000',
 '$735,000',
 '$775,000',
 '$575,000',
 '$350,000',
 '$485,000',
 '$415,000',
 '$605,000',
 '$899,000',
 '$260,000',
 '$359,000',
 '$619,900',
 '$218,900',
 '$510,000',
 '$258,000',
 '$625,000',
 '$315,000',
 '$505,000',
 '$210,000',
 '$384,999',
 '$747,990',
 '$479,990',
 '$360,000',
 '$454,990',
 '$849,000',
 '$479,990',
 '$435,000',
 '$465,000',
 '$708,000',
 '$485,000',
 '$236,000',
 '$399,000',
 '$543,000',
 '$329,900',
 '$339,000',
 '$1,399,000']

In [184]:
len( price_name19)

123

In [185]:
beds_name19=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag19 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag19:
        beds_name19.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [186]:
beds_name19

['',
 '2 beds',
 '2 beds',
 '3 beds',
 '5 beds',
 '3 beds',
 '6 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '',
 '2 beds',
 '2 beds',
 '3 beds',
 '5 beds',
 '3 beds',
 '6 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '',
 '2 beds',
 '2 beds',
 '3 beds',
 '5 beds',
 '3 beds',
 '6 beds',
 '4 beds',
 '4 beds',
 '3 beds',
 '4 beds',
 '5 beds',
 '3 beds',
 '4 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '5 beds',
 '2 beds',
 '3 beds',
 '2 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '1 bed',
 '4 beds',
 '3 beds',
 '3 beds',
 '3 beds',
 '3 beds']

In [187]:
len(beds_name19)

123

In [188]:
baths_name19=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag19 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag19:
        baths_name19.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [189]:
baths_name19

['',
 '2 baths',
 '1.75 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '3 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '1.5 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '3.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '3 baths',
 '',
 '2 baths',
 '1.75 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '3 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '1.5 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '3.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '3 baths',
 '',
 '2 baths',
 '1.75 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '3 baths',
 '2.5 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '2.5 baths',
 '2 baths',
 '2.5 baths',
 '1.5 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '2 baths',
 '3 baths',
 '3.5 baths',
 '1 bath',
 '2 baths',
 '2 baths',
 '3 baths',
 '2 baths',
 '3 baths']

In [190]:
len(baths_name19)

123

In [191]:
sqft_name19=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag19 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag19:
        sqft_name19.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [192]:
 sqft_name19

['944',
 '985',
 '1,341',
 '2,252',
 '1,998',
 '—',
 '2,628',
 '2,723',
 '1,437',
 '1,950',
 '2,095',
 '1,560',
 '1,941',
 '1,320',
 '1,100',
 '1,827',
 '1,384',
 '2,712',
 '951',
 '2,390',
 '952',
 '1,882',
 '1,050',
 '1,120',
 '2,649',
 '1,400',
 '1,367',
 '1,232',
 '2,010',
 '1,411',
 '1,172',
 '2,109',
 '1,487',
 '1,734',
 '849',
 '1,916',
 '1,992',
 '1,460',
 '1,126',
 '2,459',
 '1,701',
 '944',
 '985',
 '1,341',
 '2,252',
 '1,998',
 '—',
 '2,628',
 '2,723',
 '1,437',
 '1,950',
 '2,095',
 '1,560',
 '1,941',
 '1,320',
 '1,100',
 '1,827',
 '1,384',
 '2,712',
 '951',
 '2,390',
 '952',
 '1,882',
 '1,050',
 '1,120',
 '2,649',
 '1,400',
 '1,367',
 '1,232',
 '2,010',
 '1,411',
 '1,172',
 '2,109',
 '1,487',
 '1,734',
 '849',
 '1,916',
 '1,992',
 '1,460',
 '1,126',
 '2,459',
 '1,701',
 '944',
 '985',
 '1,341',
 '2,252',
 '1,998',
 '—',
 '2,628',
 '2,723',
 '1,437',
 '1,950',
 '2,095',
 '1,560',
 '1,941',
 '1,320',
 '1,100',
 '1,827',
 '1,384',
 '2,712',
 '951',
 '2,390',
 '952',
 '1,882',
 '1,050',
 '1,120',
 '2,649',
 '1,400',
 '1,367',
 '1,232',
 '2,010',
 '1,411',
 '1,172',
 '2,109',
 '1,487',
 '1,734',
 '849',
 '1,916',
 '1,992',
 '1,460',
 '1,126',
 '2,459',
 '1,701']

In [193]:
 len(sqft_name19)

123

In [194]:
ppsqft_name19=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag19 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag19:
        ppsqft_name19.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [195]:
 ppsqft_name19

['$307',
 '$405',
 '$279',
 '$199',
 '$343',
 '—',
 '$295',
 '$211',
 '$244',
 '$249',
 '$198',
 '$388',
 '$463',
 '$197',
 '$326',
 '$339',
 '$158',
 '$188',
 '$271',
 '$262',
 '$331',
 '$268',
 '$200',
 '$344',
 '$282',
 '$343',
 '$263',
 '$369',
 '$422',
 '$340',
 '$371',
 '$220',
 '$476',
 '$280',
 '$278',
 '$208',
 '$273',
 '$226',
 '$301',
 '$569',
 '$295',
 '$307',
 '$405',
 '$279',
 '$199',
 '$343',
 '—',
 '$295',
 '$211',
 '$244',
 '$249',
 '$198',
 '$388',
 '$463',
 '$197',
 '$326',
 '$339',
 '$158',
 '$188',
 '$271',
 '$262',
 '$331',
 '$268',
 '$200',
 '$344',
 '$282',
 '$343',
 '$263',
 '$369',
 '$422',
 '$340',
 '$371',
 '$220',
 '$476',
 '$280',
 '$278',
 '$208',
 '$273',
 '$226',
 '$301',
 '$569',
 '$295',
 '$307',
 '$405',
 '$279',
 '$199',
 '$343',
 '—',
 '$295',
 '$211',
 '$244',
 '$249',
 '$198',
 '$388',
 '$463',
 '$197',
 '$326',
 '$339',
 '$158',
 '$188',
 '$271',
 '$262',
 '$331',
 '$268',
 '$200',
 '$344',
 '$282',
 '$343',
 '$263',
 '$369',
 '$422',
 '$340',
 '$371',
 '$220',
 '$476',
 '$280',
 '$278',
 '$208',
 '$273',
 '$226',
 '$301',
 '$569',
 '$295']

In [196]:
len( ppsqft_name19)

123

In [197]:
print(len(address_name19),len(price_name19),len(beds_name19),len(baths_name19),len(sqft_name19),len(ppsqft_name19))

123 123 123 123 123 123

In [199]:
import pandas as pd
df19=pd.DataFrame({'Address':address_name19,'Price':price_name19,'Beds':beds_name19,'Baths':baths_name19,'Total sqft':sqft_name19,'Price per sqft':ppsqft_name19})
df19

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,944,$307
1,"3434 E Baseline Rd #259, Phoenix, AZ 85042","$289,950",2 beds,2 baths,985,$405
2,"6900 E Princess Dr #1192, Phoenix, AZ 85054","$399,000",2 beds,1.75 baths,"1,341",$279
3,"2636 E Hidalgo Ave, Phoenix, AZ 85040","$374,000",3 beds,2 baths,"2,252",$199
4,"3540 E Wayland Dr, Phoenix, AZ 85040","$449,000",5 beds,2.5 baths,"1,998",$343
...,...,...,...,...,...,...
118,"7346 W Roma Ave, Phoenix, AZ 85033","$399,000",4 beds,2 baths,"1,992",$273
119,"2801 E Avalon Dr, Phoenix, AZ 85016","$543,000",3 beds,2 baths,"1,460",$226
120,"1716 W Cortez St #149, Phoenix, AZ 85029","$329,900",3 beds,3 baths,"1,126",$301
121,"4628 N 71st Ave, Phoenix, AZ 85033","$339,000",3 beds,2 baths,"2,459",$569
122,"9418 N 19th St, Phoenix, AZ 85020","$1,399,000",3 beds,3 baths,"1,701",$295

In [200]:
df19.to_csv('file19.csv')

In [ ]:
----------Salt Lake City, UT homes ------------

In [201]:
address_name20=[]
price_name20=[]
beds_name20=[]
baths_name20=[]
sqft_name20=[]
ppsqft_name20=[]

In [209]:
address_name20=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag20 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag20:
        address_name20.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

In [210]:
address_name20

['',
 '234 E 100 S Unit B6, Salt Lake City, UT 84111',
 '374 N I St E, Salt Lake City, UT 84103',
 '122 N St #7, Salt Lake City, UT 84103',
 '1512 E Claridge Dr S, Salt Lake City, UT 84124',
 '1036 S 800 W, Salt Lake City, UT 84104',
 '260 W 500 N #6, Salt Lake City, UT 84103',
 '1506 W 2250 S, West Valley City, UT 84119',
 '4314 S Jupiter Dr, Salt Lake City, UT 84124',
 '4595 W 5175 S, Kearns, UT 84118',
 '1340 E Browning Ave, Salt Lake City, UT 84105',
 '3578 S 805 E #238, Millcreek, UT 84106',
 '1957 E 3300 S #9, Millcreek, UT 84106',
 '1945 E 3300 S #12, Millcreek, UT 84106',
 '4950 S 4820 W, Salt Lake City, UT 84118',
 '5778 S Lodestone Ave, Salt Lake City, UT 84118',
 '813 S 800 E, Salt Lake City, UT 84102',
 '934 E 700 S #10, Salt Lake City, UT 84102',
 '4538 S Thousand Oaks Dr, Millcreek, UT 84124',
 '4993 W Niagara Cir, Salt Lake City, UT 84118',
 '3597 E Millcreek Canyon Rd Rd, Millcreek, UT 84109',
 '439 N 268 W Unit 4-18, Salt Lake City, UT 84103',
 '281 W 430 N Unit 1-02, Salt Lake City, UT 84103',
 '3584 S 805 St E #220, Millcreek, UT 84106',
 '756 E Lisonbee Ave S, Salt Lake City, UT 84106',
 '2322 E Lakeview Dr S, Salt Lake City, UT 84109',
 '2430 S Elizabeth St E #5, Salt Lake City, UT 84106',
 '1827 E Yalecrest Ave, Salt Lake City, UT 84108',
 '1584 E 1300 South S, Salt Lake City, UT 84105',
 '2150 S Main St #215, Salt Lake City, UT 84115',
 '339 E 600 S #1403, Salt Lake City, UT 84111',
 '2245 E Vimont Ave, Salt Lake City, UT 84109',
 '99 W South Temple Street St S #1403, Salt Lake City, UT 84101',
 '4743 S Coopers Hawk Bay, Salt Lake City, UT 84117',
 '608 E 3990 S, Millcreek, UT 84107',
 '2024 E Windham Cir, Millcreek, UT 84109',
 '962 S Lake St, Salt Lake City, UT 84105',
 '537 S Montgomery St W, Salt Lake City, UT 84104',
 '417 N 1400 W, Salt Lake City, UT 84116',
 '882 N Catherine St, Salt Lake City, UT 84116',
 '620 E 3945 S, Salt Lake City, UT 84107',
 '',
 '234 E 100 S Unit B6, Salt Lake City, UT 84111',
 '374 N I St E, Salt Lake City, UT 84103',
 '122 N St #7, Salt Lake City, UT 84103',
 '1512 E Claridge Dr S, Salt Lake City, UT 84124',
 '1036 S 800 W, Salt Lake City, UT 84104',
 '260 W 500 N #6, Salt Lake City, UT 84103',
 '1506 W 2250 S, West Valley City, UT 84119',
 '4314 S Jupiter Dr, Salt Lake City, UT 84124',
 '4595 W 5175 S, Kearns, UT 84118',
 '1340 E Browning Ave, Salt Lake City, UT 84105',
 '3578 S 805 E #238, Millcreek, UT 84106',
 '1957 E 3300 S #9, Millcreek, UT 84106',
 '1945 E 3300 S #12, Millcreek, UT 84106',
 '4950 S 4820 W, Salt Lake City, UT 84118',
 '5778 S Lodestone Ave, Salt Lake City, UT 84118',
 '813 S 800 E, Salt Lake City, UT 84102',
 '934 E 700 S #10, Salt Lake City, UT 84102',
 '4538 S Thousand Oaks Dr, Millcreek, UT 84124',
 '4993 W Niagara Cir, Salt Lake City, UT 84118',
 '3597 E Millcreek Canyon Rd Rd, Millcreek, UT 84109',
 '439 N 268 W Unit 4-18, Salt Lake City, UT 84103',
 '281 W 430 N Unit 1-02, Salt Lake City, UT 84103',
 '3584 S 805 St E #220, Millcreek, UT 84106',
 '756 E Lisonbee Ave S, Salt Lake City, UT 84106',
 '2322 E Lakeview Dr S, Salt Lake City, UT 84109',
 '2430 S Elizabeth St E #5, Salt Lake City, UT 84106',
 '1827 E Yalecrest Ave, Salt Lake City, UT 84108',
 '1584 E 1300 South S, Salt Lake City, UT 84105',
 '2150 S Main St #215, Salt Lake City, UT 84115',
 '339 E 600 S #1403, Salt Lake City, UT 84111',
 '2245 E Vimont Ave, Salt Lake City, UT 84109',
 '99 W South Temple Street St S #1403, Salt Lake City, UT 84101',
 '4743 S Coopers Hawk Bay, Salt Lake City, UT 84117',
 '608 E 3990 S, Millcreek, UT 84107',
 '2024 E Windham Cir, Millcreek, UT 84109',
 '962 S Lake St, Salt Lake City, UT 84105',
 '537 S Montgomery St W, Salt Lake City, UT 84104',
 '417 N 1400 W, Salt Lake City, UT 84116',
 '882 N Catherine St, Salt Lake City, UT 84116',
 '620 E 3945 S, Salt Lake City, UT 84107',
 '',
 '234 E 100 S Unit B6, Salt Lake City, UT 84111',
 '374 N I St E, Salt Lake City, UT 84103',
 '122 N St #7, Salt Lake City, UT 84103',
 '1512 E Claridge Dr S, Salt Lake City, UT 84124',
 '1036 S 800 W, Salt Lake City, UT 84104',
 '260 W 500 N #6, Salt Lake City, UT 84103',
 '1506 W 2250 S, West Valley City, UT 84119',
 '4314 S Jupiter Dr, Salt Lake City, UT 84124',
 '4595 W 5175 S, Kearns, UT 84118',
 '1340 E Browning Ave, Salt Lake City, UT 84105',
 '3578 S 805 E #238, Millcreek, UT 84106',
 '1957 E 3300 S #9, Millcreek, UT 84106',
 '1945 E 3300 S #12, Millcreek, UT 84106',
 '4950 S 4820 W, Salt Lake City, UT 84118',
 '5778 S Lodestone Ave, Salt Lake City, UT 84118',
 '813 S 800 E, Salt Lake City, UT 84102',
 '934 E 700 S #10, Salt Lake City, UT 84102',
 '4538 S Thousand Oaks Dr, Millcreek, UT 84124',
 '4993 W Niagara Cir, Salt Lake City, UT 84118',
 '3597 E Millcreek Canyon Rd Rd, Millcreek, UT 84109',
 '439 N 268 W Unit 4-18, Salt Lake City, UT 84103',
 '281 W 430 N Unit 1-02, Salt Lake City, UT 84103',
 '3584 S 805 St E #220, Millcreek, UT 84106',
 '756 E Lisonbee Ave S, Salt Lake City, UT 84106',
 '2322 E Lakeview Dr S, Salt Lake City, UT 84109',
 '2430 S Elizabeth St E #5, Salt Lake City, UT 84106',
 '1827 E Yalecrest Ave, Salt Lake City, UT 84108',
 '1584 E 1300 South S, Salt Lake City, UT 84105',
 '2150 S Main St #215, Salt Lake City, UT 84115',
 '339 E 600 S #1403, Salt Lake City, UT 84111',
 '2245 E Vimont Ave, Salt Lake City, UT 84109',
 '99 W South Temple Street St S #1403, Salt Lake City, UT 84101',
 '4743 S Coopers Hawk Bay, Salt Lake City, UT 84117',
 '608 E 3990 S, Millcreek, UT 84107',
 '2024 E Windham Cir, Millcreek, UT 84109',
 '962 S Lake St, Salt Lake City, UT 84105',
 '537 S Montgomery St W, Salt Lake City, UT 84104',
 '417 N 1400 W, Salt Lake City, UT 84116',
 '882 N Catherine St, Salt Lake City, UT 84116',
 '620 E 3945 S, Salt Lake City, UT 84107']

In [211]:
len(address_name20)

123

In [212]:
price_name20=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag20 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag20:
        price_name20.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name20)

print(len(price_name20))

['', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000', '', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000', '', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000']
123

In [214]:
beds_name20=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag20 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag20:
        beds_name20.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name20)

print(len(price_name20))

['', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000', '', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000', '', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000']
123

In [215]:
baths_name20=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag20 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag20:
        baths_name20.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name20)

print(len(price_name20))

['', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000', '', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000', '', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000']
123

In [216]:
sqft_name20=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag20 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag20:
        sqft_name20.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name20)

print(len(price_name20))

['', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000', '', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000', '', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000']
123

In [217]:
ppsqft_name20=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag20 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag20:
        ppsqft_name20.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name20)

print(len(price_name20))

['', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000', '', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000', '', '$305,000', '$1,060,000', '$349,000', '$459,000', '$875,000', '$1,150,000', '$400,000', '$800,000', '$450,000', '$655,000', '$354,999', '$724,900', '$724,900', '$424,900', '$430,000', '$925,000', '$339,000', '$4,250,000', '$462,000', '$1,775,000', '$559,685', '$561,967', '$363,900', '$399,000', '$659,000', '$305,000', '$1,295,000', '$549,000', '$378,000', '$380,000', '$745,000', '$525,000', '$775,000', '$495,000', '$550,000', '$584,000', '$439,999', '$550,000', '$549,000', '$455,000']
123

In [218]:
print(len(address_name20),len(price_name20),len(beds_name20),len(baths_name20),len(sqft_name20),len(ppsqft_name20))

123 123 123 123 123 123

In [219]:
import pandas as pd
df20=pd.DataFrame({'Address':address_name20,'Price':price_name20,'Beds':beds_name20,'Baths':baths_name20,'Total sqft':sqft_name20,'Price per sqft':ppsqft_name20})
df20

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,563,$542
1,"234 E 100 S Unit B6, Salt Lake City, UT 84111","$305,000",1 bed,1 bath,"2,983",$355
2,"374 N I St E, Salt Lake City, UT 84103","$1,060,000",4 beds,3 baths,697,$501
3,"122 N St #7, Salt Lake City, UT 84103","$349,000",2 beds,1 bath,912,$503
4,"1512 E Claridge Dr S, Salt Lake City, UT 84124","$459,000",2 beds,1 bath,"2,435",$359
...,...,...,...,...,...,...
118,"962 S Lake St, Salt Lake City, UT 84105","$584,000",3 beds,1 bath,"2,272",$194
119,"537 S Montgomery St W, Salt Lake City, UT 84104","$439,999",5 beds,3.5 baths,"2,172",$253
120,"417 N 1400 W, Salt Lake City, UT 84116","$550,000",5 beds,2 baths,"1,875",$293
121,"882 N Catherine St, Salt Lake City, UT 84116","$549,000",6 beds,2 baths,"1,602",$284
122,"620 E 3945 S, Salt Lake City, UT 84107","$455,000",3 beds,2.5 baths,"1,850",$341

In [220]:
df20.to_csv('file20.csv')

In [ ]:
------------New Orleans homes-------------

In [6]:
address_name21=[]
price_name21=[]
beds_name21=[]
baths_name21=[]
sqft_name21=[]
ppsqft_name21=[]

In [7]:
address_name21=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag21 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag21:
        address_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name21)

print(len(address_name21))

[]
0

In [8]:
address_name21

['',
 '4205 07 S Johnson St, New Orleans, LA 70125',
 '23 Idlewood Pl, River Ridge, LA 70123',
 '3604 06 3rd St, New Orleans, LA 70125',
 '1547 49 N Galvez St, New Orleans, LA 70119',
 '1754 Jackson Ave #1754, New Orleans, LA 70113',
 '3544 Timber Wolf Ln, New Orleans, LA 70131',
 '1722 Esplanade Ave, New Orleans, LA 70116',
 '1936-38 Saint Philip St, New Orleans, LA 70116',
 '910-12 12 N Prieur St, New Orleans, LA 70116',
 '914-916 N Prieur St, New Orleans, LA 70116',
 '1900 Saint Philip St, New Orleans, LA 70116',
 '815 Patterson St, New Orleans, LA 70114',
 '1004 Governor Nicholls St Unit G, New Orleans, LA 70116',
 '832 S Clearview Pkwy #434, Harahan, LA 70123',
 '3136 Octavia St, New Orleans, LA 70125',
 '4213 Burgundy St, New Orleans, LA 70117',
 '2209 Marigny St, New Orleans, LA 70117',
 '609 Wendy Ln, River Ridge, LA 70123',
 '5610 New England Dr, New Orleans, LA 70129',
 '722 Cadiz St, New Orleans, LA 70115',
 '6001 Wright Rd, New Orleans, LA 70128',
 '404 Notre Dame St #15, New Orleans, LA 70130',
 '6748 Pontchartrain Blvd, New Orleans, LA 70124',
 '3807 Morris Pl, Jefferson, LA 70121',
 '5850 Brunswick Ct, New Orleans, LA 70131',
 '2641 Ursulines Ave, New Orleans, LA 70119',
 '319 Elmira Ave, New Orleans, LA 70114',
 '315 Elmira Ave, New Orleans, LA 70114',
 '4102 Dauphine St, New Orleans, LA 70117',
 '919 Fourth St, New Orleans, LA 70130',
 '200 Stewart Ave, River Ridge, LA 70123',
 '1917 S Chippewa St, New Orleans, LA 70130',
 '3300 St Charles Ave #2, New Orleans, LA 70130',
 '5701 Franklin Ave, New Orleans, LA 70122',
 '39 Vivian Ct, New Orleans, LA 70131',
 '1925 Fern St, New Orleans, LA 70118',
 '9015 Fig St, New Orleans, LA 70118',
 '4121 Baronne St, New Orleans, LA 70115',
 '7430 Crestmont Rd, New Orleans, LA 70126',
 '5643 Canal Blvd, New Orleans, LA 70124',
 '',
 '4205 07 S Johnson St, New Orleans, LA 70125',
 '23 Idlewood Pl, River Ridge, LA 70123',
 '3604 06 3rd St, New Orleans, LA 70125',
 '1547 49 N Galvez St, New Orleans, LA 70119',
 '1754 Jackson Ave #1754, New Orleans, LA 70113',
 '3544 Timber Wolf Ln, New Orleans, LA 70131',
 '1722 Esplanade Ave, New Orleans, LA 70116',
 '1936-38 Saint Philip St, New Orleans, LA 70116',
 '910-12 12 N Prieur St, New Orleans, LA 70116',
 '914-916 N Prieur St, New Orleans, LA 70116',
 '1900 Saint Philip St, New Orleans, LA 70116',
 '815 Patterson St, New Orleans, LA 70114',
 '1004 Governor Nicholls St Unit G, New Orleans, LA 70116',
 '832 S Clearview Pkwy #434, Harahan, LA 70123',
 '3136 Octavia St, New Orleans, LA 70125',
 '4213 Burgundy St, New Orleans, LA 70117',
 '2209 Marigny St, New Orleans, LA 70117',
 '609 Wendy Ln, River Ridge, LA 70123',
 '5610 New England Dr, New Orleans, LA 70129',
 '722 Cadiz St, New Orleans, LA 70115',
 '6001 Wright Rd, New Orleans, LA 70128',
 '404 Notre Dame St #15, New Orleans, LA 70130',
 '6748 Pontchartrain Blvd, New Orleans, LA 70124',
 '3807 Morris Pl, Jefferson, LA 70121',
 '5850 Brunswick Ct, New Orleans, LA 70131',
 '2641 Ursulines Ave, New Orleans, LA 70119',
 '319 Elmira Ave, New Orleans, LA 70114',
 '315 Elmira Ave, New Orleans, LA 70114',
 '4102 Dauphine St, New Orleans, LA 70117',
 '919 Fourth St, New Orleans, LA 70130',
 '200 Stewart Ave, River Ridge, LA 70123',
 '1917 S Chippewa St, New Orleans, LA 70130',
 '3300 St Charles Ave #2, New Orleans, LA 70130',
 '5701 Franklin Ave, New Orleans, LA 70122',
 '39 Vivian Ct, New Orleans, LA 70131',
 '1925 Fern St, New Orleans, LA 70118',
 '9015 Fig St, New Orleans, LA 70118',
 '4121 Baronne St, New Orleans, LA 70115',
 '7430 Crestmont Rd, New Orleans, LA 70126',
 '5643 Canal Blvd, New Orleans, LA 70124',
 '',
 '4205 07 S Johnson St, New Orleans, LA 70125',
 '23 Idlewood Pl, River Ridge, LA 70123',
 '3604 06 3rd St, New Orleans, LA 70125',
 '1547 49 N Galvez St, New Orleans, LA 70119',
 '1754 Jackson Ave #1754, New Orleans, LA 70113',
 '3544 Timber Wolf Ln, New Orleans, LA 70131',
 '1722 Esplanade Ave, New Orleans, LA 70116',
 '1936-38 Saint Philip St, New Orleans, LA 70116',
 '910-12 12 N Prieur St, New Orleans, LA 70116',
 '914-916 N Prieur St, New Orleans, LA 70116',
 '1900 Saint Philip St, New Orleans, LA 70116',
 '815 Patterson St, New Orleans, LA 70114',
 '1004 Governor Nicholls St Unit G, New Orleans, LA 70116',
 '832 S Clearview Pkwy #434, Harahan, LA 70123',
 '3136 Octavia St, New Orleans, LA 70125',
 '4213 Burgundy St, New Orleans, LA 70117',
 '2209 Marigny St, New Orleans, LA 70117',
 '609 Wendy Ln, River Ridge, LA 70123',
 '5610 New England Dr, New Orleans, LA 70129',
 '722 Cadiz St, New Orleans, LA 70115',
 '6001 Wright Rd, New Orleans, LA 70128',
 '404 Notre Dame St #15, New Orleans, LA 70130',
 '6748 Pontchartrain Blvd, New Orleans, LA 70124',
 '3807 Morris Pl, Jefferson, LA 70121',
 '5850 Brunswick Ct, New Orleans, LA 70131',
 '2641 Ursulines Ave, New Orleans, LA 70119',
 '319 Elmira Ave, New Orleans, LA 70114',
 '315 Elmira Ave, New Orleans, LA 70114',
 '4102 Dauphine St, New Orleans, LA 70117',
 '919 Fourth St, New Orleans, LA 70130',
 '200 Stewart Ave, River Ridge, LA 70123',
 '1917 S Chippewa St, New Orleans, LA 70130',
 '3300 St Charles Ave #2, New Orleans, LA 70130',
 '5701 Franklin Ave, New Orleans, LA 70122',
 '39 Vivian Ct, New Orleans, LA 70131',
 '1925 Fern St, New Orleans, LA 70118',
 '9015 Fig St, New Orleans, LA 70118',
 '4121 Baronne St, New Orleans, LA 70115',
 '7430 Crestmont Rd, New Orleans, LA 70126',
 '5643 Canal Blvd, New Orleans, LA 70124']

In [9]:
print(len(address_name21))

123

In [10]:
price_name21=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag21 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag21:
        price_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name21)

print(len(price_name21))

['', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000', '', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000', '', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000']
123

In [11]:
beds_name21=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag21 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag21:
        beds_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name21)

print(len(price_name21))

['', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000', '', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000', '', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000']
123

In [12]:
baths_name21=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag21 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag21:
        baths_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name21)

print(len(price_name21))

['', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000', '', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000', '', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000']
123

In [13]:
sqft_name21=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag21 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag21:
        sqft_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name21)

print(len(price_name21))

['', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000', '', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000', '', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000']
123

In [14]:
ppsqft_name21=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag21 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag21:
        ppsqft_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name21)

print(len(price_name21))

['', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000', '', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000', '', '$342,000', '$785,000', '$369,000', '$720,000', '$420,000', '$160,000', '$1,400,000', '$378,250', '$378,250', '$358,250', '$435,250', '$1,225,000', '$220,000', '$210,000', '$749,000', '$289,000', '$160,000', '$380,000', '$205,000', '$575,000', '$540,500', '$745,000', '$429,000', '$285,000', '$375,000', '$475,000', '$249,900', '$599,900', '$430,000', '$649,000', '$270,000', '$539,000', '$214,900', '$289,000', '$124,900', '$224,900', '$230,000', '$899,000', '$115,000', '$639,000']
123

In [15]:
print(len(address_name21),len(price_name21),len(beds_name21),len(baths_name21),len(sqft_name21),len(ppsqft_name21))

123 123 123 123 123 123

In [16]:
import pandas as pd
df21=pd.DataFrame({'Address':address_name21,'Price':price_name21,'Beds':beds_name21,'Baths':baths_name21,'Total sqft':sqft_name21,'Price per sqft':ppsqft_name21})
df21

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,"2,035",$168
1,"4205 07 S Johnson St, New Orleans, LA 70125","$342,000",4 beds,2 baths,"3,037",$258
2,"23 Idlewood Pl, River Ridge, LA 70123","$785,000",4 beds,3 baths,"2,623",$141
3,"3604 06 3rd St, New Orleans, LA 70125","$369,000",6 beds,2 baths,"3,552",$203
4,"1547 49 N Galvez St, New Orleans, LA 70119","$720,000",6 beds,4 baths,"1,326",$317
...,...,...,...,...,...,...
118,"1925 Fern St, New Orleans, LA 70118","$224,900",4 beds,,"1,064",$216
119,"9015 Fig St, New Orleans, LA 70118","$230,000",2 beds,,"2,331",$386
120,"4121 Baronne St, New Orleans, LA 70115","$899,000",3 beds,,"1,681",$68
121,"7430 Crestmont Rd, New Orleans, LA 70126","$115,000",3 beds,,"2,000",$320
122,"5643 Canal Blvd, New Orleans, LA 70124","$639,000",4 beds,,"1,853",$202

In [17]:
df21.to_csv('file21.csv')

In [ ]:
-------------Oklahoma City, OK homes--------------

In [18]:
address_name21=[]
price_name21=[]
beds_name21=[]
baths_name21=[]
sqft_name21=[]
ppsqft_name21=[]

In [19]:
address_name21=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag21 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag21:
        address_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name21)

print(len(address_name21))

[]
0

In [20]:
print(len(address_name21))

123

In [21]:
price_name21=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag21 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag21:
        price_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name21)

print(len(price_name21))

NameError: name 'price_name20' is not defined

In [22]:
print(price_name21)

print(len(price_name21))

['', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000', '', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000', '', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000']
123

In [23]:
beds_name21=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag21 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag21:
        beds_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name21)

print(len(price_name21))

['', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000', '', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000', '', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000']
123

In [24]:
baths_name21=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag21 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag21:
        baths_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name21)

print(len(price_name21))

['', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000', '', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000', '', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000']
123

In [25]:
sqft_name21=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag21 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag21:
        sqft_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name21)

print(len(price_name21))

['', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000', '', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000', '', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000']
123

In [26]:
ppsqft_name21=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag21 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag21:
        ppsqft_name21.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name21)

print(len(price_name21))

['', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000', '', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000', '', '$385,000', '$350,000', '$410,000', '$195,000', '$425,000', '$300,000', '$315,000', '$185,000', '$294,900', '$339,990', '$225,000', '$219,900', '$379,900', '$281,802', '$175,000', '$299,900', '$210,658', '$394,500', '$260,000', '$335,900', '$341,450', '$289,900', '$289,900', '$390,750', '$488,000', '$215,000', '$694,900', '$5,200,000', '$349,900', '$269,900', '$449,000', '$739,000', '$399,900', '$325,000', '$154,900', '$360,000', '$290,000', '$230,000', '$325,000', '$285,000']
123

In [27]:
print(len(address_name21),len(price_name21),len(beds_name21),len(baths_name21),len(sqft_name21),len(ppsqft_name21))

123 123 123 123 123 123

In [28]:
import pandas as pd
df22=pd.DataFrame({'Address':address_name21,'Price':price_name21,'Beds':beds_name21,'Baths':baths_name21,'Total sqft':sqft_name21,'Price per sqft':ppsqft_name21})
df22

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,"3,000",$128
1,"2520 Sunshine Ln, Yukon, OK 73099","$385,000",4 beds,2.5 baths,"2,555",$137
2,"4055 Spyglass Dr, Oklahoma City, OK 73120","$350,000",4 beds,3 baths,"2,101",$195
3,"901 NW 188th St, Edmond, OK 73012","$410,000",4 beds,3 baths,"1,229",$159
4,"1741 N Roff Ave, Oklahoma City, OK 73107","$195,000",3 beds,1.5 baths,"3,776",$113
...,...,...,...,...,...,...
118,"2508 NW 129th St, Oklahoma City, OK 73120","$360,000",3 beds,2.5 baths,"1,692",$171
119,"2518 NW 20th St, Oklahoma City, OK 73107","$290,000",— beds,2 baths,"1,663",$138
120,"6109 Westpark Dr, Oklahoma City, OK 73142","$230,000",3 beds,2 baths,"1,854",$175
121,"16108 Petaluma Pl, Edmond, OK 73013","$325,000",3 beds,2 baths,"2,022",$141
122,"6201 Woodcreek Ct, Warr Acres, OK 73122","$285,000",3 beds,2 baths,"1,868",$170

In [29]:
df22.to_csv('file22.csv')

In [ ]:
-------------Open Houses for Sale in Oklahoma City----------

In [36]:
address_name23=[]
price_name23=[]
beds_name23=[]
baths_name23=[]
sqft_name23=[]
ppsqft_name23=[]

In [37]:
address_name23=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag23 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag23:
        address_name23.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name23)

print(len(address_name23))

['', '4633 Prominence Dr, Oklahoma City, OK 73179', '4601 N Linn Ave, Oklahoma City, OK 73112', '2304 Sandpiper Ct, Oklahoma City, OK 73170', '17109 Prestwick Cir, Edmond, OK 73012', '2933 Cashion Pl, Oklahoma City, OK 73112', '9800 S Mckinley Ave, Oklahoma City, OK 73139', '631 NW 22nd St, Oklahoma City, OK 73103', '5716 NW 33rd St, Oklahoma City, OK 73122', '3132 SW 140th St, Oklahoma City, OK 73170', '14005 Canterbury Dr, Edmond, OK 73013', '10028 Velletri Ave, Yukon, OK 73099', '6317 Hyde Park Dr, Oklahoma City, OK 73162', '15208 Bedford Rd, Edmond, OK 73013', '11720 Sundance Mountain Rd, Oklahoma City, OK 73162', '1621 NW 146th Ter, Edmond, OK 73013', '6401 NW 164th St, Edmond, OK 73013', '313 Partridge Run Rd, Yukon, OK 73099', '8209 NW 161st Ter, Edmond, OK 73013', '717 Red River Dr, Yukon, OK 73099', '2708 Kingsley Ln, Oklahoma City, OK 73128', '9824 High Noon Rd, Yukon, OK 73099', '15300 SE 49th St, Choctaw, OK 73020', '1419 NW 14th St, Oklahoma City, OK 73106', '917 NW 19th St, Oklahoma City, OK 73106', '2513 Kathy Ct, Oklahoma City, OK 73120', '1344 Sycamore Cir, Yukon, OK 73099', '5608 NW 154th Ter, Edmond, OK 73013', '18804 Stone Oak Rd, Edmond, OK 73012', '13313 Outdoor Living Dr, Piedmont, OK 73078', '4217 NW 156th Ct, Edmond, OK 73013', '8812 SW 48th St, Oklahoma City, OK 73179', '4444 NW 14th St, Oklahoma City, OK 73107', '7324 NW 148th St, Oklahoma City, OK 73142', '1504 N Harvard Ave, Oklahoma City, OK 73127', '617 NW 163rd St, Edmond, OK 73013', '8901 Acre View Dr, Oklahoma City, OK 73151', '2201 Belleview Dr, Oklahoma City, OK 73112', '3420 Moraine Dr, Yukon, OK 73099', '3205 NW 192nd Ter, Edmond, OK 73012', '9224 NW 85th St, Yukon, OK 73099', '', '4633 Prominence Dr, Oklahoma City, OK 73179', '4601 N Linn Ave, Oklahoma City, OK 73112', '2304 Sandpiper Ct, Oklahoma City, OK 73170', '17109 Prestwick Cir, Edmond, OK 73012', '2933 Cashion Pl, Oklahoma City, OK 73112', '9800 S Mckinley Ave, Oklahoma City, OK 73139', '631 NW 22nd St, Oklahoma City, OK 73103', '5716 NW 33rd St, Oklahoma City, OK 73122', '3132 SW 140th St, Oklahoma City, OK 73170', '14005 Canterbury Dr, Edmond, OK 73013', '10028 Velletri Ave, Yukon, OK 73099', '6317 Hyde Park Dr, Oklahoma City, OK 73162', '15208 Bedford Rd, Edmond, OK 73013', '11720 Sundance Mountain Rd, Oklahoma City, OK 73162', '1621 NW 146th Ter, Edmond, OK 73013', '6401 NW 164th St, Edmond, OK 73013', '313 Partridge Run Rd, Yukon, OK 73099', '8209 NW 161st Ter, Edmond, OK 73013', '717 Red River Dr, Yukon, OK 73099', '2708 Kingsley Ln, Oklahoma City, OK 73128', '9824 High Noon Rd, Yukon, OK 73099', '15300 SE 49th St, Choctaw, OK 73020', '1419 NW 14th St, Oklahoma City, OK 73106', '917 NW 19th St, Oklahoma City, OK 73106', '2513 Kathy Ct, Oklahoma City, OK 73120', '1344 Sycamore Cir, Yukon, OK 73099', '5608 NW 154th Ter, Edmond, OK 73013', '18804 Stone Oak Rd, Edmond, OK 73012', '13313 Outdoor Living Dr, Piedmont, OK 73078', '4217 NW 156th Ct, Edmond, OK 73013', '8812 SW 48th St, Oklahoma City, OK 73179', '4444 NW 14th St, Oklahoma City, OK 73107', '7324 NW 148th St, Oklahoma City, OK 73142', '1504 N Harvard Ave, Oklahoma City, OK 73127', '617 NW 163rd St, Edmond, OK 73013', '8901 Acre View Dr, Oklahoma City, OK 73151', '2201 Belleview Dr, Oklahoma City, OK 73112', '3420 Moraine Dr, Yukon, OK 73099', '3205 NW 192nd Ter, Edmond, OK 73012', '9224 NW 85th St, Yukon, OK 73099', '', '4633 Prominence Dr, Oklahoma City, OK 73179', '4601 N Linn Ave, Oklahoma City, OK 73112', '2304 Sandpiper Ct, Oklahoma City, OK 73170', '17109 Prestwick Cir, Edmond, OK 73012', '2933 Cashion Pl, Oklahoma City, OK 73112', '9800 S Mckinley Ave, Oklahoma City, OK 73139', '631 NW 22nd St, Oklahoma City, OK 73103', '5716 NW 33rd St, Oklahoma City, OK 73122', '3132 SW 140th St, Oklahoma City, OK 73170', '14005 Canterbury Dr, Edmond, OK 73013', '10028 Velletri Ave, Yukon, OK 73099', '6317 Hyde Park Dr, Oklahoma City, OK 73162', '15208 Bedford Rd, Edmond, OK 73013', '11720 Sundance Mountain Rd, Oklahoma City, OK 73162', '1621 NW 146th Ter, Edmond, OK 73013', '6401 NW 164th St, Edmond, OK 73013', '313 Partridge Run Rd, Yukon, OK 73099', '8209 NW 161st Ter, Edmond, OK 73013', '717 Red River Dr, Yukon, OK 73099', '2708 Kingsley Ln, Oklahoma City, OK 73128', '9824 High Noon Rd, Yukon, OK 73099', '15300 SE 49th St, Choctaw, OK 73020', '1419 NW 14th St, Oklahoma City, OK 73106', '917 NW 19th St, Oklahoma City, OK 73106', '2513 Kathy Ct, Oklahoma City, OK 73120', '1344 Sycamore Cir, Yukon, OK 73099', '5608 NW 154th Ter, Edmond, OK 73013', '18804 Stone Oak Rd, Edmond, OK 73012', '13313 Outdoor Living Dr, Piedmont, OK 73078', '4217 NW 156th Ct, Edmond, OK 73013', '8812 SW 48th St, Oklahoma City, OK 73179', '4444 NW 14th St, Oklahoma City, OK 73107', '7324 NW 148th St, Oklahoma City, OK 73142', '1504 N Harvard Ave, Oklahoma City, OK 73127', '617 NW 163rd St, Edmond, OK 73013', '8901 Acre View Dr, Oklahoma City, OK 73151', '2201 Belleview Dr, Oklahoma City, OK 73112', '3420 Moraine Dr, Yukon, OK 73099', '3205 NW 192nd Ter, Edmond, OK 73012', '9224 NW 85th St, Yukon, OK 73099']
123

In [38]:
price_name23=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag23 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag23:
        price_name23.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name23)

print(len(price_name23))

['', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000', '', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000', '', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000']
123

In [39]:
beds_name23=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag23 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag23:
        beds_name23.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name23)

print(len(price_name23))

['', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000', '', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000', '', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000']
123

In [40]:
baths_name23=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag23 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag23:
        baths_name23.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name23)

print(len(price_name23))

['', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000', '', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000', '', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000']
123

In [41]:
sqft_name23=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag23 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag23:
        sqft_name23.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name23)

print(len(price_name23))

['', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000', '', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000', '', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000']
123

In [42]:
ppsqft_name23=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag23 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag23:
        ppsqft_name23.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name23)

print(len(price_name23))

['', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000', '', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000', '', '$267,500', '$175,000', '$424,900', '$449,000', '$325,000', '$265,000', '$499,000', '$221,500', '$450,000', '$350,000', '$538,500', '$420,000', '$416,900', '$485,900', '$230,000', '$1,282,000', '$299,999', '$338,900', '$430,000', '$335,000', '$245,000', '$509,900', '$565,000', '$719,000', '$215,000', '$249,990', '$597,535', '$479,900', '$325,000', '$345,000', '$314,997', '$258,888', '$324,900', '$225,000', '$285,000', '$899,000', '$350,000', '$289,900', '$370,000', '$465,000']
123

In [43]:
print(len(address_name23),len(price_name23),len(beds_name23),len(baths_name23),len(sqft_name23),len(ppsqft_name23))

123 123 123 123 123 123

In [45]:
import pandas as pd
df23=pd.DataFrame({'Address':address_name23,'Price':price_name23,'Beds':beds_name23,'Baths':baths_name23,'Total sqft':sqft_name23,'Price per sqft':ppsqft_name23})
df23

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,"1,347",$199
1,"4633 Prominence Dr, Oklahoma City, OK 73179","$267,500",3 beds,2 baths,"1,094",$160
2,"4601 N Linn Ave, Oklahoma City, OK 73112","$175,000",3 beds,1 bath,"3,216",$132
3,"2304 Sandpiper Ct, Oklahoma City, OK 73170","$424,900",4 beds,2.5 baths,"3,300",$136
4,"17109 Prestwick Cir, Edmond, OK 73012","$449,000",4 beds,2.5 baths,"1,606",$202
...,...,...,...,...,...,...
118,"8901 Acre View Dr, Oklahoma City, OK 73151","$899,000",4 beds,3.5 baths,"1,757",$199
119,"2201 Belleview Dr, Oklahoma City, OK 73112","$350,000",3 beds,2 baths,"2,031",$143
120,"3420 Moraine Dr, Yukon, OK 73099","$289,900",4 beds,2 baths,"2,193",$169
121,"3205 NW 192nd Ter, Edmond, OK 73012","$370,000",4 beds,2.5 baths,"2,333",$199
122,"9224 NW 85th St, Yukon, OK 73099","$465,000",4 beds,2.5 baths,"1,701",$189

In [46]:
df23.to_csv('file23.csv')

In [ ]:
-----------Honolulu open houses----------

In [47]:
address_name24=[]
price_name24=[]
beds_name24=[]
baths_name24=[]
sqft_name24=[]
ppsqft_name24=[]

In [48]:
address_name24=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag24 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag24:
        address_name24.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name24)

print(len(address_name24))

['', '1631 Kapiolani Blvd #3307, Honolulu, HI 96814', '1600 Ala Moana Blvd #1012, Honolulu, HI 96815', '1255 Nuuanu Ave Unit E801, Honolulu, HI 96817', '445 Kaiolu St #1110, Honolulu, HI 96815', '2211 Ala Wai Blvd #1603, Honolulu, HI 96815', '2740 Kuilei St #807, Honolulu, HI 96826', '1025 Kalo Pl #503, Honolulu, HI 96826', '1634 Nuuanu Ave #113, Honolulu, HI 96817', '1556 Piikoi St #1802, Honolulu, HI 96822', '1231 Rycroft St, Honolulu, HI 96814', '168 Queen St #1202, Honolulu, HI 96813', '96 Moaniala Pl, Honolulu, HI 96821', '3137 Lincoln Ave, Honolulu, HI 96816', '400 Hobron Ln #3310, Honolulu, HI 96815', '2754 Kuilei St #1405, Honolulu, HI 96826', '780 Amana St #908, Honolulu, HI 96814', '318 Honono St, Honolulu, HI 96825', '876 Curtis St #2501, Honolulu, HI 96813', '222 Kaiulani Ave #202, Honolulu, HI 96815', '1360 Kaeleku St, Honolulu, HI 96825', '1095 Luapele Dr, Honolulu, HI 96818', '747 Amana St #901, Honolulu, HI 96814', '725 Kapiolani Blvd #806, Honolulu, HI 96813', '3148 Ala Ilima St #902, Honolulu, HI 96818', '520 Lunalilo Home Rd Unit V5401, Honolulu, HI 96825', '629 Keeaumoku St #3907, Honolulu, HI 96814', '1860 Ala Moana Blvd #1405, Honolulu, HI 96815', '3009 Ala Makahala Pl #1116, Honolulu, HI 96818', '168 Queen St #1801, Honolulu, HI 96813', '1448 C Kamehameha Iv Rd, Honolulu, HI 96819', '1448 B Kamehameha Iv Rd, Honolulu, HI 96819', '1720 Ala Moana Blvd Unit 907A, Honolulu, HI 96815', '2440 Kuhio Ave #1101, Honolulu, HI 96815', '1207 Lilo Pl, Honolulu, HI 96822', '1296 Kapiolani Blvd #1202, Honolulu, HI 96814', '2500 Kalakaua Ave #2103, Honolulu, HI 96815', '88 Piikoi St #904, Honolulu, HI 96814', '629 Keeaumoku St #1710, Honolulu, HI 96814', '148 Makaweli St, Honolulu, HI 96825', '2139 Kamehameha Ave, Honolulu, HI 96822', '', '1631 Kapiolani Blvd #3307, Honolulu, HI 96814', '1600 Ala Moana Blvd #1012, Honolulu, HI 96815', '1255 Nuuanu Ave Unit E801, Honolulu, HI 96817', '445 Kaiolu St #1110, Honolulu, HI 96815', '2211 Ala Wai Blvd #1603, Honolulu, HI 96815', '2740 Kuilei St #807, Honolulu, HI 96826', '1025 Kalo Pl #503, Honolulu, HI 96826', '1634 Nuuanu Ave #113, Honolulu, HI 96817', '1556 Piikoi St #1802, Honolulu, HI 96822', '1231 Rycroft St, Honolulu, HI 96814', '168 Queen St #1202, Honolulu, HI 96813', '96 Moaniala Pl, Honolulu, HI 96821', '3137 Lincoln Ave, Honolulu, HI 96816', '400 Hobron Ln #3310, Honolulu, HI 96815', '2754 Kuilei St #1405, Honolulu, HI 96826', '780 Amana St #908, Honolulu, HI 96814', '318 Honono St, Honolulu, HI 96825', '876 Curtis St #2501, Honolulu, HI 96813', '222 Kaiulani Ave #202, Honolulu, HI 96815', '1360 Kaeleku St, Honolulu, HI 96825', '1095 Luapele Dr, Honolulu, HI 96818', '747 Amana St #901, Honolulu, HI 96814', '725 Kapiolani Blvd #806, Honolulu, HI 96813', '3148 Ala Ilima St #902, Honolulu, HI 96818', '520 Lunalilo Home Rd Unit V5401, Honolulu, HI 96825', '629 Keeaumoku St #3907, Honolulu, HI 96814', '1860 Ala Moana Blvd #1405, Honolulu, HI 96815', '3009 Ala Makahala Pl #1116, Honolulu, HI 96818', '168 Queen St #1801, Honolulu, HI 96813', '1448 C Kamehameha Iv Rd, Honolulu, HI 96819', '1448 B Kamehameha Iv Rd, Honolulu, HI 96819', '1720 Ala Moana Blvd Unit 907A, Honolulu, HI 96815', '2440 Kuhio Ave #1101, Honolulu, HI 96815', '1207 Lilo Pl, Honolulu, HI 96822', '1296 Kapiolani Blvd #1202, Honolulu, HI 96814', '2500 Kalakaua Ave #2103, Honolulu, HI 96815', '88 Piikoi St #904, Honolulu, HI 96814', '629 Keeaumoku St #1710, Honolulu, HI 96814', '148 Makaweli St, Honolulu, HI 96825', '2139 Kamehameha Ave, Honolulu, HI 96822', '', '1631 Kapiolani Blvd #3307, Honolulu, HI 96814', '1600 Ala Moana Blvd #1012, Honolulu, HI 96815', '1255 Nuuanu Ave Unit E801, Honolulu, HI 96817', '445 Kaiolu St #1110, Honolulu, HI 96815', '2211 Ala Wai Blvd #1603, Honolulu, HI 96815', '2740 Kuilei St #807, Honolulu, HI 96826', '1025 Kalo Pl #503, Honolulu, HI 96826', '1634 Nuuanu Ave #113, Honolulu, HI 96817', '1556 Piikoi St #1802, Honolulu, HI 96822', '1231 Rycroft St, Honolulu, HI 96814', '168 Queen St #1202, Honolulu, HI 96813', '96 Moaniala Pl, Honolulu, HI 96821', '3137 Lincoln Ave, Honolulu, HI 96816', '400 Hobron Ln #3310, Honolulu, HI 96815', '2754 Kuilei St #1405, Honolulu, HI 96826', '780 Amana St #908, Honolulu, HI 96814', '318 Honono St, Honolulu, HI 96825', '876 Curtis St #2501, Honolulu, HI 96813', '222 Kaiulani Ave #202, Honolulu, HI 96815', '1360 Kaeleku St, Honolulu, HI 96825', '1095 Luapele Dr, Honolulu, HI 96818', '747 Amana St #901, Honolulu, HI 96814', '725 Kapiolani Blvd #806, Honolulu, HI 96813', '3148 Ala Ilima St #902, Honolulu, HI 96818', '520 Lunalilo Home Rd Unit V5401, Honolulu, HI 96825', '629 Keeaumoku St #3907, Honolulu, HI 96814', '1860 Ala Moana Blvd #1405, Honolulu, HI 96815', '3009 Ala Makahala Pl #1116, Honolulu, HI 96818', '168 Queen St #1801, Honolulu, HI 96813', '1448 C Kamehameha Iv Rd, Honolulu, HI 96819', '1448 B Kamehameha Iv Rd, Honolulu, HI 96819', '1720 Ala Moana Blvd Unit 907A, Honolulu, HI 96815', '2440 Kuhio Ave #1101, Honolulu, HI 96815', '1207 Lilo Pl, Honolulu, HI 96822', '1296 Kapiolani Blvd #1202, Honolulu, HI 96814', '2500 Kalakaua Ave #2103, Honolulu, HI 96815', '88 Piikoi St #904, Honolulu, HI 96814', '629 Keeaumoku St #1710, Honolulu, HI 96814', '148 Makaweli St, Honolulu, HI 96825', '2139 Kamehameha Ave, Honolulu, HI 96822']
123

In [49]:
price_name24=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag24 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag24:
        price_name24.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name24)

print(len(price_name24))

['', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000', '', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000', '', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000']
123

In [50]:
beds_name24=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag24 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag24:
        beds_name24.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name24)

print(len(price_name24))

['', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000', '', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000', '', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000']
123

In [51]:
baths_name24=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag24 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag24:
        baths_name24.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name24)

print(len(price_name24))

['', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000', '', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000', '', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000']
123

In [52]:
sqft_name24=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag24 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag24:
        sqft_name24.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name24)

print(len(price_name24))

['', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000', '', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000', '', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000']
123

In [53]:
ppsqft_name24=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag24 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag24:
        ppsqft_name24.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name24)

print(len(price_name24))

['', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000', '', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000', '', '$915,000', '$1,050,000', '$640,000', '$340,000', '$328,000', '$425,000', '$290,000', '$525,000', '$399,999', '$1,200,000', '$749,100', '$3,950,000', '$920,000', '$455,000', '$518,000', '$498,000', '$1,225,000', '$520,000', '$450,000', '$1,390,000', '$1,360,000', '$285,000', '$585,000', '$419,500', '$925,000', '$1,050,000', '$375,000', '$630,000', '$862,800', '$1,150,000', '$1,350,000', '$259,000', '$390,000', '$1,880,000', '$830,000', '$345,000', '$868,000', '$1,079,000', '$2,985,000', '$2,795,000']
123

In [54]:
print(len(address_name24),len(price_name24),len(beds_name24),len(baths_name24),len(sqft_name24),len(ppsqft_name24))

123 123 123 123 123 123

In [55]:
import pandas as pd
df24=pd.DataFrame({'Address':address_name24,'Price':price_name24,'Beds':beds_name24,'Baths':baths_name24,'Total sqft':sqft_name24,'Price per sqft':ppsqft_name24})
df24

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,898,"$1,019"
1,"1631 Kapiolani Blvd #3307, Honolulu, HI 96814","$915,000",2 beds,2 baths,"1,428",$735
2,"1600 Ala Moana Blvd #1012, Honolulu, HI 96815","$1,050,000",2 beds,2 baths,"1,000",$640
3,"1255 Nuuanu Ave Unit E801, Honolulu, HI 96817","$640,000",2 beds,1 bath,456,$746
4,"445 Kaiolu St #1110, Honolulu, HI 96815","$340,000",1 bed,1 bath,413,$794
...,...,...,...,...,...,...
118,"2500 Kalakaua Ave #2103, Honolulu, HI 96815","$345,000",1 bed,1 bath,"1,035",$839
119,"88 Piikoi St #904, Honolulu, HI 96814","$868,000",2 beds,2 baths,916,"$1,178"
120,"629 Keeaumoku St #1710, Honolulu, HI 96814","$1,079,000",2 beds,2 baths,"1,549","$1,927"
121,"148 Makaweli St, Honolulu, HI 96825","$2,985,000",3 beds,2 baths,"3,119",$896
122,"2139 Kamehameha Ave, Honolulu, HI 96822","$2,795,000",3 beds,3 baths,962,$824

In [56]:
df24.to_csv('file24.csv')

In [ ]:
---------Condos for Sale in Baltimore--------

In [57]:
address_name25=[]
price_name25=[]
beds_name25=[]
baths_name25=[]
sqft_name25=[]
ppsqft_name25=[]

In [60]:
address_name25=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag25 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag25:
        address_name25.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name25)

print(len(address_name25))

['', '11 W Biddle St Unit 2B, Baltimore, MD 21201', '100 Harborview Dr #1113, Baltimore, MD 21230', '111 Hamlet Hill Rd #410, Baltimore, MD 21210', '801 Key Hwy #423, Baltimore, MD 21230', '6 W Mount Vernon Pl Unit B1, Baltimore, MD 21201', '2201-F Falls Gable Ln Unit F, Baltimore, MD 21209', '911 S Charles St S #302, Baltimore, MD 21230', '1726 Aliceanna St Unit 304-SB, Baltimore, MD 21231', '11 Suntop Ct Unit T-2, Baltimore, MD 21209', '100 Harborview Dr #614, Baltimore, MD 21230', '2702 Lighthouse Pt E #517, Baltimore, MD 21224', '1120 Saint Paul St #25, Baltimore, MD 21202', '675 President St #2302, Baltimore, MD 21202', '1726 Aliceanna St Unit 307-NB, Baltimore, MD 21231', '1000 Fell St #240, Baltimore, MD 21231', '3000 Stone Cliff Dr #111, Baltimore, MD 21209', '1001 Saint Paul St Unit 3G, Baltimore, MD 21202', '3635 Glengyle Ave Unit 5C, Baltimore, MD 21215', '1211 Light St #105, Baltimore, MD 21230', '4408 Falls Bridge Dr Unit D, Baltimore, MD 21211', '3011 Fallstaff Rd Unit 607A, Baltimore, MD 21209', '6701 Park Heights Ave Unit 4A, Baltimore, MD 21215', '2901 Boston St #209, Baltimore, MD 21224', '6711 Park Heights Ave #305, Baltimore, MD 21215', '250 President St #500, Baltimore, MD 21202', '23 Pierside Dr #409, Baltimore, MD 21230', '2007 Clipper Park Rd #424, Baltimore, MD 21211', '3801 Canterbury Rd #807, Baltimore, MD 21218', '230 Stony Run Ln Unit 4D, Baltimore, MD 21210', '349 Homeland Southway Unit 1D, Baltimore, MD 21212', '100 Harborview Dr #1804, Baltimore, MD 21230', '6606 Park Heights Ave #111, Baltimore, MD 21215', '801 Key Hwy #236, Baltimore, MD 21230', '250 President St #1100, Baltimore, MD 21202', '5 Devon Hill Rd Unit A3, Baltimore, MD 21210', '1200 Steuart St #325, Baltimore, MD 21230', '1 E Chase St #906, Baltimore, MD 21202', '3801 Canterbury Rd #603, Baltimore, MD 21218', '6606 Park Heights Ave #505, Baltimore, MD 21215', '2202 Park Ave #201, Baltimore, MD 21217', '', '11 W Biddle St Unit 2B, Baltimore, MD 21201', '100 Harborview Dr #1113, Baltimore, MD 21230', '111 Hamlet Hill Rd #410, Baltimore, MD 21210', '801 Key Hwy #423, Baltimore, MD 21230', '6 W Mount Vernon Pl Unit B1, Baltimore, MD 21201', '2201-F Falls Gable Ln Unit F, Baltimore, MD 21209', '911 S Charles St S #302, Baltimore, MD 21230', '1726 Aliceanna St Unit 304-SB, Baltimore, MD 21231', '11 Suntop Ct Unit T-2, Baltimore, MD 21209', '100 Harborview Dr #614, Baltimore, MD 21230', '2702 Lighthouse Pt E #517, Baltimore, MD 21224', '1120 Saint Paul St #25, Baltimore, MD 21202', '675 President St #2302, Baltimore, MD 21202', '1726 Aliceanna St Unit 307-NB, Baltimore, MD 21231', '1000 Fell St #240, Baltimore, MD 21231', '3000 Stone Cliff Dr #111, Baltimore, MD 21209', '1001 Saint Paul St Unit 3G, Baltimore, MD 21202', '3635 Glengyle Ave Unit 5C, Baltimore, MD 21215', '1211 Light St #105, Baltimore, MD 21230', '4408 Falls Bridge Dr Unit D, Baltimore, MD 21211', '3011 Fallstaff Rd Unit 607A, Baltimore, MD 21209', '6701 Park Heights Ave Unit 4A, Baltimore, MD 21215', '2901 Boston St #209, Baltimore, MD 21224', '6711 Park Heights Ave #305, Baltimore, MD 21215', '250 President St #500, Baltimore, MD 21202', '23 Pierside Dr #409, Baltimore, MD 21230', '2007 Clipper Park Rd #424, Baltimore, MD 21211', '3801 Canterbury Rd #807, Baltimore, MD 21218', '230 Stony Run Ln Unit 4D, Baltimore, MD 21210', '349 Homeland Southway Unit 1D, Baltimore, MD 21212', '100 Harborview Dr #1804, Baltimore, MD 21230', '6606 Park Heights Ave #111, Baltimore, MD 21215', '801 Key Hwy #236, Baltimore, MD 21230', '250 President St #1100, Baltimore, MD 21202', '5 Devon Hill Rd Unit A3, Baltimore, MD 21210', '1200 Steuart St #325, Baltimore, MD 21230', '1 E Chase St #906, Baltimore, MD 21202', '3801 Canterbury Rd #603, Baltimore, MD 21218', '6606 Park Heights Ave #505, Baltimore, MD 21215', '2202 Park Ave #201, Baltimore, MD 21217', '', '11 W Biddle St Unit 2B, Baltimore, MD 21201', '100 Harborview Dr #1113, Baltimore, MD 21230', '111 Hamlet Hill Rd #410, Baltimore, MD 21210', '801 Key Hwy #423, Baltimore, MD 21230', '6 W Mount Vernon Pl Unit B1, Baltimore, MD 21201', '2201-F Falls Gable Ln Unit F, Baltimore, MD 21209', '911 S Charles St S #302, Baltimore, MD 21230', '1726 Aliceanna St Unit 304-SB, Baltimore, MD 21231', '11 Suntop Ct Unit T-2, Baltimore, MD 21209', '100 Harborview Dr #614, Baltimore, MD 21230', '2702 Lighthouse Pt E #517, Baltimore, MD 21224', '1120 Saint Paul St #25, Baltimore, MD 21202', '675 President St #2302, Baltimore, MD 21202', '1726 Aliceanna St Unit 307-NB, Baltimore, MD 21231', '1000 Fell St #240, Baltimore, MD 21231', '3000 Stone Cliff Dr #111, Baltimore, MD 21209', '1001 Saint Paul St Unit 3G, Baltimore, MD 21202', '3635 Glengyle Ave Unit 5C, Baltimore, MD 21215', '1211 Light St #105, Baltimore, MD 21230', '4408 Falls Bridge Dr Unit D, Baltimore, MD 21211', '3011 Fallstaff Rd Unit 607A, Baltimore, MD 21209', '6701 Park Heights Ave Unit 4A, Baltimore, MD 21215', '2901 Boston St #209, Baltimore, MD 21224', '6711 Park Heights Ave #305, Baltimore, MD 21215', '250 President St #500, Baltimore, MD 21202', '23 Pierside Dr #409, Baltimore, MD 21230', '2007 Clipper Park Rd #424, Baltimore, MD 21211', '3801 Canterbury Rd #807, Baltimore, MD 21218', '230 Stony Run Ln Unit 4D, Baltimore, MD 21210', '349 Homeland Southway Unit 1D, Baltimore, MD 21212', '100 Harborview Dr #1804, Baltimore, MD 21230', '6606 Park Heights Ave #111, Baltimore, MD 21215', '801 Key Hwy #236, Baltimore, MD 21230', '250 President St #1100, Baltimore, MD 21202', '5 Devon Hill Rd Unit A3, Baltimore, MD 21210', '1200 Steuart St #325, Baltimore, MD 21230', '1 E Chase St #906, Baltimore, MD 21202', '3801 Canterbury Rd #603, Baltimore, MD 21218', '6606 Park Heights Ave #505, Baltimore, MD 21215', '2202 Park Ave #201, Baltimore, MD 21217']
123

In [61]:
price_name25=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag25 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag25:
        price_name25.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name25)

print(len(price_name25))

['', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000', '', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000', '', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000']
123

In [62]:
beds_name25=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag25 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag25:
        beds_name25.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name25)

print(len(price_name25))

['', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000', '', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000', '', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000']
123

In [63]:
baths_name25=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag25 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag25:
        baths_name25.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name25)

print(len(price_name25))

['', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000', '', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000', '', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000']
123

In [64]:
sqft_name25=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag25 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag25:
        sqft_name25.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name25)

print(len(price_name25))

['', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000', '', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000', '', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000']
123

In [65]:
ppsqft_name25=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag25 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag25:
        ppsqft_name25.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name25)

print(len(price_name25))

['', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000', '', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000', '', '$156,900', '$350,000', '$170,000', '$499,000', '$320,000', '$245,000', '$239,900', '$349,900', '$142,900', '$400,000', '$249,900', '$145,000', '$335,000', '$250,000', '$205,000', '$860,000', '$90,000', '$175,000', '$188,900', '$80,000', '$229,000', '$329,000', '$575,000', '$139,944', '$499,000', '$199,900', '$378,000', '$275,000', '$425,000', '$179,900', '$385,000', '$115,000', '$639,000', '$350,000', '$655,000', '$319,000', '$135,000', '$335,000', '$120,000', '$155,000']
123

In [66]:
print(len(address_name25),len(price_name25),len(beds_name25),len(baths_name25),len(sqft_name25),len(ppsqft_name25))

123 123 123 123 123 123

In [67]:
import pandas as pd
df25=pd.DataFrame({'Address':address_name25,'Price':price_name25,'Beds':beds_name25,'Baths':baths_name25,'Total sqft':sqft_name25,'Price per sqft':ppsqft_name25})
df25

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,760,$206
1,"11 W Biddle St Unit 2B, Baltimore, MD 21201","$156,900",1 bed,1 bath,"1,355",$258
2,"100 Harborview Dr #1113, Baltimore, MD 21230","$350,000",2 beds,2 baths,961,$177
3,"111 Hamlet Hill Rd #410, Baltimore, MD 21210","$170,000",1 bed,1.5 baths,"2,136",$234
4,"801 Key Hwy #423, Baltimore, MD 21230","$499,000",2 beds,2.5 baths,"1,061",$302
...,...,...,...,...,...,...
118,"1200 Steuart St #325, Baltimore, MD 21230","$319,000",1 bed,1.5 baths,680,$199
119,"1 E Chase St #906, Baltimore, MD 21202","$135,000",1 bed,1 bath,"1,217",$275
120,"3801 Canterbury Rd #603, Baltimore, MD 21218","$335,000",2 beds,2 baths,"1,297",$93
121,"6606 Park Heights Ave #505, Baltimore, MD 21215","$120,000",2 beds,2 baths,"1,236",$125
122,"2202 Park Ave #201, Baltimore, MD 21217","$155,000",3 beds,1.5 baths,"1,340",$253

In [68]:
df25.to_csv('file25.csv')

In [ ]:
------------Condos for Sale Jersey City-------------

In [72]:
address_name26=[]
price_name26=[]
beds_name26=[]
baths_name26=[]
sqft_name26=[]
ppsqft_name26=[]

In [73]:
address_name26=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag26 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag26:
        address_name26.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name26)

print(len(address_name26))

['349 3RD St #1, Jersey City, NJ 07302', '77 HUDSON St #3608, Jersey City, NJ 07302', '104 ZABRISKIE St #1, Jersey City, NJ 07307', '1 2ND St #908, Jersey City, NJ 07302', '232 PAVONIA Ave Unit 323a, Jersey City, NJ 07302', '302 PALISADE Ave #203, Jersey City, NJ 07307', '77 HUDSON St Ph 4904/05, Jersey City, NJ 07302', '386 5TH St #202, Jersey City, NJ 07302', '127 BOORAEM Ave Unit 3L, Jersey City, NJ 07307', '205 10TH St Unit 9V, Jersey City, NJ 07302', '1 GREENE St #411, Jersey City, NJ 07302', '444 JERSEY Ave #13, Jersey City, NJ 07306', '45 RIVER Dr S #1405, Jersey City, NJ 07310', '1 2ND St #707, Jersey City, NJ 07302', '75 PARK Ln S #420, Jersey City, NJ 07310', '236 BOWERS St #3, Jersey City, NJ 07307', '201 LUIS M MARIN Blvd #507, Jersey City, NJ 07302', '25 MCWILLIAMS Pl Ph 507, Jersey City, NJ 07302', '300 Communipaw Ave, Jersey City, NJ 07304', '300 Communipaw Ave #108, Jersey City, NJ 07304-4075', '323 4TH St, Jersey City, NJ 07302', '661 Jersey Ave #2, Jersey City, NJ 07302-5082', '197 VAN HORNE St Unit 3B, Jersey City, NJ 07304', '63 SUSSEX St #5, Jersey City, NJ 07302', '221 LIBERTY Ave Unit A, Jersey City, NJ 07306', '10 PROVOST St #1507, Jersey City, NJ 07302-0000', '200 PATERSON PLANK Rd #405, Union City, NJ 07087', '260 GRIFFITH St #1, Jersey City, NJ 07307', '260 Griffith St, Jersey City, NJ 07307', '323 4TH St #2, Jersey City, NJ 07302', '2600 KENNEDY Blvd Unit 3M, Jersey City, NJ 07306', '240 SHERMAN Ave #1, Jersey City, NJ 07307', '206 FULTON Ave #2, Jersey City, NJ 07305', '1677 KENNEDY Blvd #11, Jersey City, NJ 07305', '49 GRACE St #1, Jersey City, NJ 07307', '49 GRACE St #2, Jersey City, NJ 07307', '25 HUDSON St #308, Jersey City, NJ 07302', '201 LUIS M MARIN Blvd #6010, Jersey City, NJ 07302', '135 NELSON Ave #2, Jersey City, NJ 07307', '135 NELSON Ave #1, Jersey City, NJ 07307', '349 3RD St #1, Jersey City, NJ 07302', '77 HUDSON St #3608, Jersey City, NJ 07302', '104 ZABRISKIE St #1, Jersey City, NJ 07307', '1 2ND St #908, Jersey City, NJ 07302', '232 PAVONIA Ave Unit 323a, Jersey City, NJ 07302', '302 PALISADE Ave #203, Jersey City, NJ 07307', '77 HUDSON St Ph 4904/05, Jersey City, NJ 07302', '386 5TH St #202, Jersey City, NJ 07302', '127 BOORAEM Ave Unit 3L, Jersey City, NJ 07307', '205 10TH St Unit 9V, Jersey City, NJ 07302', '1 GREENE St #411, Jersey City, NJ 07302', '444 JERSEY Ave #13, Jersey City, NJ 07306', '45 RIVER Dr S #1405, Jersey City, NJ 07310', '1 2ND St #707, Jersey City, NJ 07302', '75 PARK Ln S #420, Jersey City, NJ 07310', '236 BOWERS St #3, Jersey City, NJ 07307', '201 LUIS M MARIN Blvd #507, Jersey City, NJ 07302', '25 MCWILLIAMS Pl Ph 507, Jersey City, NJ 07302', '300 Communipaw Ave, Jersey City, NJ 07304', '300 Communipaw Ave #108, Jersey City, NJ 07304-4075', '323 4TH St, Jersey City, NJ 07302', '661 Jersey Ave #2, Jersey City, NJ 07302-5082', '197 VAN HORNE St Unit 3B, Jersey City, NJ 07304', '63 SUSSEX St #5, Jersey City, NJ 07302', '221 LIBERTY Ave Unit A, Jersey City, NJ 07306', '10 PROVOST St #1507, Jersey City, NJ 07302-0000', '200 PATERSON PLANK Rd #405, Union City, NJ 07087', '260 GRIFFITH St #1, Jersey City, NJ 07307', '260 Griffith St, Jersey City, NJ 07307', '323 4TH St #2, Jersey City, NJ 07302', '2600 KENNEDY Blvd Unit 3M, Jersey City, NJ 07306', '240 SHERMAN Ave #1, Jersey City, NJ 07307', '206 FULTON Ave #2, Jersey City, NJ 07305', '1677 KENNEDY Blvd #11, Jersey City, NJ 07305', '49 GRACE St #1, Jersey City, NJ 07307', '49 GRACE St #2, Jersey City, NJ 07307', '25 HUDSON St #308, Jersey City, NJ 07302', '201 LUIS M MARIN Blvd #6010, Jersey City, NJ 07302', '135 NELSON Ave #2, Jersey City, NJ 07307', '135 NELSON Ave #1, Jersey City, NJ 07307', '349 3RD St #1, Jersey City, NJ 07302', '77 HUDSON St #3608, Jersey City, NJ 07302', '104 ZABRISKIE St #1, Jersey City, NJ 07307', '1 2ND St #908, Jersey City, NJ 07302', '232 PAVONIA Ave Unit 323a, Jersey City, NJ 07302', '302 PALISADE Ave #203, Jersey City, NJ 07307', '77 HUDSON St Ph 4904/05, Jersey City, NJ 07302', '386 5TH St #202, Jersey City, NJ 07302', '127 BOORAEM Ave Unit 3L, Jersey City, NJ 07307', '205 10TH St Unit 9V, Jersey City, NJ 07302', '1 GREENE St #411, Jersey City, NJ 07302', '444 JERSEY Ave #13, Jersey City, NJ 07306', '45 RIVER Dr S #1405, Jersey City, NJ 07310', '1 2ND St #707, Jersey City, NJ 07302', '75 PARK Ln S #420, Jersey City, NJ 07310', '236 BOWERS St #3, Jersey City, NJ 07307', '201 LUIS M MARIN Blvd #507, Jersey City, NJ 07302', '25 MCWILLIAMS Pl Ph 507, Jersey City, NJ 07302', '300 Communipaw Ave, Jersey City, NJ 07304', '300 Communipaw Ave #108, Jersey City, NJ 07304-4075', '323 4TH St, Jersey City, NJ 07302', '661 Jersey Ave #2, Jersey City, NJ 07302-5082', '197 VAN HORNE St Unit 3B, Jersey City, NJ 07304', '63 SUSSEX St #5, Jersey City, NJ 07302', '221 LIBERTY Ave Unit A, Jersey City, NJ 07306', '10 PROVOST St #1507, Jersey City, NJ 07302-0000', '200 PATERSON PLANK Rd #405, Union City, NJ 07087', '260 GRIFFITH St #1, Jersey City, NJ 07307', '260 Griffith St, Jersey City, NJ 07307', '323 4TH St #2, Jersey City, NJ 07302', '2600 KENNEDY Blvd Unit 3M, Jersey City, NJ 07306', '240 SHERMAN Ave #1, Jersey City, NJ 07307', '206 FULTON Ave #2, Jersey City, NJ 07305', '1677 KENNEDY Blvd #11, Jersey City, NJ 07305', '49 GRACE St #1, Jersey City, NJ 07307', '49 GRACE St #2, Jersey City, NJ 07307', '25 HUDSON St #308, Jersey City, NJ 07302', '201 LUIS M MARIN Blvd #6010, Jersey City, NJ 07302', '135 NELSON Ave #2, Jersey City, NJ 07307', '135 NELSON Ave #1, Jersey City, NJ 07307']
120

In [74]:
price_name26=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag26 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag26:
        price_name26.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name26)

print(len(price_name26))

['$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000', '$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000', '$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000']
120

In [75]:
beds_name26=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag26 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag26:
        beds_name26.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name26)

print(len(price_name26))

['$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000', '$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000', '$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000']
120

In [76]:
baths_name26=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag26 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag26:
        baths_name26.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name26)

print(len(price_name26))

['$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000', '$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000', '$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000']
120

In [77]:
sqft_name26=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag26 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag26:
        sqft_name26.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name26)

print(len(price_name26))

['$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000', '$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000', '$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000']
120

In [78]:
ppsqft_name26=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag26 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag26:
        ppsqft_name26.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name26)

print(len(price_name26))

['$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000', '$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000', '$1,297,000', '$1,049,000', '$949,000', '$679,000', '$1,390,000', '$789,000', '$6,995,000', '$599,000', '$482,000', '$799,000', '$699,000', '$579,000', '$829,000', '$559,000', '$600,000', '$550,000', '$1,080,000', '$1,250,000', '$449,000', '$449,000', '$1,299,000', '$888,000', '$227,930', '$1,170,000', '$969,999', '$650,000', '$699,000', '$999,000', '$999,000', '$1,197,000', '$220,000', '$995,000', '$749,000', '$269,000', '$1,125,000', '$1,050,000', '$1,590,000', '$799,000', '$799,000', '$849,000']
120

In [89]:
print(len(address_name26),len(price_name26),len(beds_name26),len(baths_name26),len(sqft_name26),len(ppsqft_name26))

120 120 120 120 120 120

In [88]:
del ppsqft_name26[120:123]

In [90]:
import pandas as pd
df26=pd.DataFrame({'Address':address_name26,'Price':price_name26,'Beds':beds_name26,'Baths':baths_name26,'Total sqft':sqft_name26,'Price per sqft':ppsqft_name26})
df26

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"349 3RD St #1, Jersey City, NJ 07302","$1,297,000",3 beds,2 baths,"1,400",$926
1,"77 HUDSON St #3608, Jersey City, NJ 07302","$1,049,000",1 bed,1 bath,930,"$1,128"
2,"104 ZABRISKIE St #1, Jersey City, NJ 07307","$949,000",3 beds,2.5 baths,"1,734",$547
3,"1 2ND St #908, Jersey City, NJ 07302","$679,000",1 bed,1 bath,743,$914
4,"232 PAVONIA Ave Unit 323a, Jersey City, NJ 07302","$1,390,000",2 beds,2 baths,"1,677",$829
...,...,...,...,...,...,...
115,"49 GRACE St #2, Jersey City, NJ 07307","$1,050,000",3 beds,,671,$401
116,"25 HUDSON St #308, Jersey City, NJ 07302","$1,590,000",2 beds,,"1,654",$680
117,"201 LUIS M MARIN Blvd #6010, Jersey City, NJ 0...","$799,000",1 bed,,"1,325",$792
118,"135 NELSON Ave #2, Jersey City, NJ 07307","$799,000",3 beds,,"1,295","$1,228"
119,"135 NELSON Ave #1, Jersey City, NJ 07307","$849,000",3 beds,,961,$831

In [91]:
df26.to_csv('file26.csv')

In [ ]:
---------------Condos for Sale in Indianapolis-----------

In [6]:
address_name27=[]
price_name27=[]
beds_name27=[]
baths_name27=[]
sqft_name27=[]
ppsqft_name27=[]

In [7]:
address_name27=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag27 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag27:
        address_name27.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name27)

print(len(address_name27))

['', '7467 Prairie Lake Dr, Indianapolis, IN 46256', '141 S Meridian St Ste 503, Indianapolis, IN 46225', '877 N East St #103, Indianapolis, IN 46202', '5146 Cobham Way, Indianapolis, IN 46237', '2048 Oak Run South Dr, Indianapolis, IN 46260', '624 E Walnut St #46, Indianapolis, IN 46204', '4000 N Meridian St Unit 15F, Indianapolis, IN 46208', '7604 Castleton Farms Dr N, Indianapolis, IN 46256', '9526 Cedar Springs Dr, Indianapolis, IN 46260', '9331 Doubloon Rd, Indianapolis, IN 46268', '5347 N College Ave #205, Indianapolis, IN 46220', '919 Broadway St Unit D, Indianapolis, IN 46202', '8751 Jaffa Court Dr E #35, Indianapolis, IN 46260', '5755 Spruce Knoll Cir, Indianapolis, IN 46220', '4000 N Meridian St Unit 1G, Indianapolis, IN 46208', '5908 Streamwood Ln, Indianapolis, IN 46237', '4000 N Meridian St Unit 7G, Indianapolis, IN 46208', '5645 Bradston Way, Indianapolis, IN 46237', '490 E 10th St, Indianapolis, IN 46202', '7434 King George Dr Unit D, Indianapolis, IN 46260', '877 N East St #202, Indianapolis, IN 46202', '877 N East St #305, Indianapolis, IN 46202', '2702 N Talbott St, Indianapolis, IN 46205', '6554 Rainer Way Unit A, Indianapolis, IN 46214', '11620 Winding Wood Dr, Indianapolis, IN 46235', '4359 Abby Creek Ln, Indianapolis, IN 46205', '7465 Quincy Ct, Indianapolis, IN 46254', '4000 N Meridian St Unit 2H, Indianapolis, IN 46208', '6454 Park Central Way Unit B, Indianapolis, IN 46260', '855 N East St #206, Indianapolis, IN 46202', '855 N East St #205, Indianapolis, IN 46202', '877 N East St #104, Indianapolis, IN 46202', '4253 Foxglove Trce, Indianapolis, IN 46237', '7724 Eagle Valley Pass, Indianapolis, IN 46214', '2254 Rome Dr, Indianapolis, IN 46228', '855 N East St #106, Indianapolis, IN 46202', '9620 Highgate Cir N, Indianapolis, IN 46250', '2637 Big Bear Ln #77, Indianapolis, IN 46217', '802 N Meridian St N Unit 307, Indianapolis, IN 46204', '4291 Village Parkway Cir W #12, Indianapolis, IN 46254', '', '7467 Prairie Lake Dr, Indianapolis, IN 46256', '141 S Meridian St Ste 503, Indianapolis, IN 46225', '877 N East St #103, Indianapolis, IN 46202', '5146 Cobham Way, Indianapolis, IN 46237', '2048 Oak Run South Dr, Indianapolis, IN 46260', '624 E Walnut St #46, Indianapolis, IN 46204', '4000 N Meridian St Unit 15F, Indianapolis, IN 46208', '7604 Castleton Farms Dr N, Indianapolis, IN 46256', '9526 Cedar Springs Dr, Indianapolis, IN 46260', '9331 Doubloon Rd, Indianapolis, IN 46268', '5347 N College Ave #205, Indianapolis, IN 46220', '919 Broadway St Unit D, Indianapolis, IN 46202', '8751 Jaffa Court Dr E #35, Indianapolis, IN 46260', '5755 Spruce Knoll Cir, Indianapolis, IN 46220', '4000 N Meridian St Unit 1G, Indianapolis, IN 46208', '5908 Streamwood Ln, Indianapolis, IN 46237', '4000 N Meridian St Unit 7G, Indianapolis, IN 46208', '5645 Bradston Way, Indianapolis, IN 46237', '490 E 10th St, Indianapolis, IN 46202', '7434 King George Dr Unit D, Indianapolis, IN 46260', '877 N East St #202, Indianapolis, IN 46202', '877 N East St #305, Indianapolis, IN 46202', '2702 N Talbott St, Indianapolis, IN 46205', '6554 Rainer Way Unit A, Indianapolis, IN 46214', '11620 Winding Wood Dr, Indianapolis, IN 46235', '4359 Abby Creek Ln, Indianapolis, IN 46205', '7465 Quincy Ct, Indianapolis, IN 46254', '4000 N Meridian St Unit 2H, Indianapolis, IN 46208', '6454 Park Central Way Unit B, Indianapolis, IN 46260', '855 N East St #206, Indianapolis, IN 46202', '855 N East St #205, Indianapolis, IN 46202', '877 N East St #104, Indianapolis, IN 46202', '4253 Foxglove Trce, Indianapolis, IN 46237', '7724 Eagle Valley Pass, Indianapolis, IN 46214', '2254 Rome Dr, Indianapolis, IN 46228', '855 N East St #106, Indianapolis, IN 46202', '9620 Highgate Cir N, Indianapolis, IN 46250', '2637 Big Bear Ln #77, Indianapolis, IN 46217', '802 N Meridian St N Unit 307, Indianapolis, IN 46204', '4291 Village Parkway Cir W #12, Indianapolis, IN 46254', '', '7467 Prairie Lake Dr, Indianapolis, IN 46256', '141 S Meridian St Ste 503, Indianapolis, IN 46225', '877 N East St #103, Indianapolis, IN 46202', '5146 Cobham Way, Indianapolis, IN 46237', '2048 Oak Run South Dr, Indianapolis, IN 46260', '624 E Walnut St #46, Indianapolis, IN 46204', '4000 N Meridian St Unit 15F, Indianapolis, IN 46208', '7604 Castleton Farms Dr N, Indianapolis, IN 46256', '9526 Cedar Springs Dr, Indianapolis, IN 46260', '9331 Doubloon Rd, Indianapolis, IN 46268', '5347 N College Ave #205, Indianapolis, IN 46220', '919 Broadway St Unit D, Indianapolis, IN 46202', '8751 Jaffa Court Dr E #35, Indianapolis, IN 46260', '5755 Spruce Knoll Cir, Indianapolis, IN 46220', '4000 N Meridian St Unit 1G, Indianapolis, IN 46208', '5908 Streamwood Ln, Indianapolis, IN 46237', '4000 N Meridian St Unit 7G, Indianapolis, IN 46208', '5645 Bradston Way, Indianapolis, IN 46237', '490 E 10th St, Indianapolis, IN 46202', '7434 King George Dr Unit D, Indianapolis, IN 46260', '877 N East St #202, Indianapolis, IN 46202', '877 N East St #305, Indianapolis, IN 46202', '2702 N Talbott St, Indianapolis, IN 46205', '6554 Rainer Way Unit A, Indianapolis, IN 46214', '11620 Winding Wood Dr, Indianapolis, IN 46235', '4359 Abby Creek Ln, Indianapolis, IN 46205', '7465 Quincy Ct, Indianapolis, IN 46254', '4000 N Meridian St Unit 2H, Indianapolis, IN 46208', '6454 Park Central Way Unit B, Indianapolis, IN 46260', '855 N East St #206, Indianapolis, IN 46202', '855 N East St #205, Indianapolis, IN 46202', '877 N East St #104, Indianapolis, IN 46202', '4253 Foxglove Trce, Indianapolis, IN 46237', '7724 Eagle Valley Pass, Indianapolis, IN 46214', '2254 Rome Dr, Indianapolis, IN 46228', '855 N East St #106, Indianapolis, IN 46202', '9620 Highgate Cir N, Indianapolis, IN 46250', '2637 Big Bear Ln #77, Indianapolis, IN 46217', '802 N Meridian St N Unit 307, Indianapolis, IN 46204', '4291 Village Parkway Cir W #12, Indianapolis, IN 46254']
123

In [8]:
price_name27=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag27 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag27:
        price_name27.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name27)

print(len(price_name27))

['', '$260,000', '$420,000', '$895,000', '$269,900', '$240,000', '$517,000', '$198,500', '$200,000', '$400,000', '$249,900', '$197,500', '$250,000', '$245,000', '$319,000', '$499,500', '$215,500', '$324,900', '$185,000', '$319,900', '$200,000', '$516,100', '$429,400', '$215,000', '$199,500', '$235,000', '$167,700', '$215,000', '$225,000', '$137,000', '$585,500', '$590,900', '$448,200', '$139,000', '$185,000', '$235,000', '$480,000', '$229,499', '$245,000', '$235,000', '$149,900', '', '$260,000', '$420,000', '$895,000', '$269,900', '$240,000', '$517,000', '$198,500', '$200,000', '$400,000', '$249,900', '$197,500', '$250,000', '$245,000', '$319,000', '$499,500', '$215,500', '$324,900', '$185,000', '$319,900', '$200,000', '$516,100', '$429,400', '$215,000', '$199,500', '$235,000', '$167,700', '$215,000', '$225,000', '$137,000', '$585,500', '$590,900', '$448,200', '$139,000', '$185,000', '$235,000', '$480,000', '$229,499', '$245,000', '$235,000', '$149,900', '', '$260,000', '$420,000', '$895,000', '$269,900', '$240,000', '$517,000', '$198,500', '$200,000', '$400,000', '$249,900', '$197,500', '$250,000', '$245,000', '$319,000', '$499,500', '$215,500', '$324,900', '$185,000', '$319,900', '$200,000', '$516,100', '$429,400', '$215,000', '$199,500', '$235,000', '$167,700', '$215,000', '$225,000', '$137,000', '$585,500', '$590,900', '$448,200', '$139,000', '$185,000', '$235,000', '$480,000', '$229,499', '$245,000', '$235,000', '$149,900']
123

In [9]:
beds_name27=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag27 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag27:
        beds_name27.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(beds_name27)
print(len(beds_name27))

['', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '1 bed', '3 beds', '3 beds', '3 beds', '1 bed', '2 beds', '2 beds', '1 bed', '2 beds', '', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '1 bed', '3 beds', '3 beds', '3 beds', '1 bed', '2 beds', '2 beds', '1 bed', '2 beds', '', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '1 bed', '3 beds', '3 beds', '3 beds', '1 bed', '2 beds', '2 beds', '1 bed', '2 beds']
123

In [10]:
baths_name27=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag27 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag27:
        baths_name27.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(baths_name27)

print(len(baths_name27))

['', '2.5 baths', '2 baths', '3 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2.5 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2 baths', '2 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '2 baths', '2 baths', '2 baths', '1.5 baths', '2 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2 baths', '1.5 baths', '2.5 baths', '1 bath', '1.5 baths', '2 baths', '1 bath', '2 baths', '', '2.5 baths', '2 baths', '3 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2.5 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2 baths', '2 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '2 baths', '2 baths', '2 baths', '1.5 baths', '2 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2 baths', '1.5 baths', '2.5 baths', '1 bath', '1.5 baths', '2 baths', '1 bath', '2 baths', '', '2.5 baths', '2 baths', '3 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2.5 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2 baths', '2 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '2 baths', '2 baths', '2 baths', '1.5 baths', '2 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2 baths', '1.5 baths', '2.5 baths', '1 bath', '1.5 baths', '2 baths', '1 bath', '2 baths']
123

In [12]:
baths_name27=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag27 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag27:
        baths_name27.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(baths_name27)

print(len(baths_name27))

['', '2.5 baths', '2 baths', '3 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2.5 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2 baths', '2 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '2 baths', '2 baths', '2 baths', '1.5 baths', '2 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2 baths', '1.5 baths', '2.5 baths', '1 bath', '1.5 baths', '2 baths', '1 bath', '2 baths', '', '2.5 baths', '2 baths', '3 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2.5 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2 baths', '2 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '2 baths', '2 baths', '2 baths', '1.5 baths', '2 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2 baths', '1.5 baths', '2.5 baths', '1 bath', '1.5 baths', '2 baths', '1 bath', '2 baths', '', '2.5 baths', '2 baths', '3 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2.5 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2 baths', '2 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '2 baths', '2 baths', '2 baths', '1.5 baths', '2 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2 baths', '1.5 baths', '2.5 baths', '1 bath', '1.5 baths', '2 baths', '1 bath', '2 baths']
123

In [13]:
sqft_name27=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag27 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag27:
        sqft_name27.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name27)

print(len(price_name27))

['', '$260,000', '$420,000', '$895,000', '$269,900', '$240,000', '$517,000', '$198,500', '$200,000', '$400,000', '$249,900', '$197,500', '$250,000', '$245,000', '$319,000', '$499,500', '$215,500', '$324,900', '$185,000', '$319,900', '$200,000', '$516,100', '$429,400', '$215,000', '$199,500', '$235,000', '$167,700', '$215,000', '$225,000', '$137,000', '$585,500', '$590,900', '$448,200', '$139,000', '$185,000', '$235,000', '$480,000', '$229,499', '$245,000', '$235,000', '$149,900', '', '$260,000', '$420,000', '$895,000', '$269,900', '$240,000', '$517,000', '$198,500', '$200,000', '$400,000', '$249,900', '$197,500', '$250,000', '$245,000', '$319,000', '$499,500', '$215,500', '$324,900', '$185,000', '$319,900', '$200,000', '$516,100', '$429,400', '$215,000', '$199,500', '$235,000', '$167,700', '$215,000', '$225,000', '$137,000', '$585,500', '$590,900', '$448,200', '$139,000', '$185,000', '$235,000', '$480,000', '$229,499', '$245,000', '$235,000', '$149,900', '', '$260,000', '$420,000', '$895,000', '$269,900', '$240,000', '$517,000', '$198,500', '$200,000', '$400,000', '$249,900', '$197,500', '$250,000', '$245,000', '$319,000', '$499,500', '$215,500', '$324,900', '$185,000', '$319,900', '$200,000', '$516,100', '$429,400', '$215,000', '$199,500', '$235,000', '$167,700', '$215,000', '$225,000', '$137,000', '$585,500', '$590,900', '$448,200', '$139,000', '$185,000', '$235,000', '$480,000', '$229,499', '$245,000', '$235,000', '$149,900']
123

In [14]:
ppsqft_name27=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag27 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag27:
        ppsqft_name27.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name27)

print(len(price_name27))

['', '$260,000', '$420,000', '$895,000', '$269,900', '$240,000', '$517,000', '$198,500', '$200,000', '$400,000', '$249,900', '$197,500', '$250,000', '$245,000', '$319,000', '$499,500', '$215,500', '$324,900', '$185,000', '$319,900', '$200,000', '$516,100', '$429,400', '$215,000', '$199,500', '$235,000', '$167,700', '$215,000', '$225,000', '$137,000', '$585,500', '$590,900', '$448,200', '$139,000', '$185,000', '$235,000', '$480,000', '$229,499', '$245,000', '$235,000', '$149,900', '', '$260,000', '$420,000', '$895,000', '$269,900', '$240,000', '$517,000', '$198,500', '$200,000', '$400,000', '$249,900', '$197,500', '$250,000', '$245,000', '$319,000', '$499,500', '$215,500', '$324,900', '$185,000', '$319,900', '$200,000', '$516,100', '$429,400', '$215,000', '$199,500', '$235,000', '$167,700', '$215,000', '$225,000', '$137,000', '$585,500', '$590,900', '$448,200', '$139,000', '$185,000', '$235,000', '$480,000', '$229,499', '$245,000', '$235,000', '$149,900', '', '$260,000', '$420,000', '$895,000', '$269,900', '$240,000', '$517,000', '$198,500', '$200,000', '$400,000', '$249,900', '$197,500', '$250,000', '$245,000', '$319,000', '$499,500', '$215,500', '$324,900', '$185,000', '$319,900', '$200,000', '$516,100', '$429,400', '$215,000', '$199,500', '$235,000', '$167,700', '$215,000', '$225,000', '$137,000', '$585,500', '$590,900', '$448,200', '$139,000', '$185,000', '$235,000', '$480,000', '$229,499', '$245,000', '$235,000', '$149,900']
123

In [15]:
print(len(address_name27),len(price_name27),len(beds_name27),len(baths_name27),len(sqft_name27),len(ppsqft_name27))

123 123 123 123 123 123

In [16]:
import pandas as pd
df27=pd.DataFrame({'Address':address_name27,'Price':price_name27,'Beds':beds_name27,'Baths':baths_name27,'Total sqft':sqft_name27,'Price per sqft':ppsqft_name27})
df27

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,"2,124",$122
1,"7467 Prairie Lake Dr, Indianapolis, IN 46256","$260,000",2 beds,2.5 baths,"2,340",$179
2,"141 S Meridian St Ste 503, Indianapolis, IN 46225","$420,000",2 beds,2 baths,"1,883",$475
3,"877 N East St #103, Indianapolis, IN 46202","$895,000",3 beds,3 baths,"1,654",$163
4,"5146 Cobham Way, Indianapolis, IN 46237","$269,900",2 beds,2 baths,"1,441",$167
...,...,...,...,...,...,...
118,"855 N East St #106, Indianapolis, IN 46202","$480,000",1 bed,1 bath,"1,245",$184
119,"9620 Highgate Cir N, Indianapolis, IN 46250","$229,499",2 beds,1.5 baths,"1,494",$164
120,"2637 Big Bear Ln #77, Indianapolis, IN 46217","$245,000",2 beds,2 baths,934,$252
121,"802 N Meridian St N Unit 307, Indianapolis, IN...","$235,000",1 bed,1 bath,993,$151
122,"4291 Village Parkway Cir W #12, Indianapolis, ...","$149,900",2 beds,2 baths,"1,461",$184

In [17]:
df27.to_csv('file27.csv')

In [ ]:
-----------------Condos for Sale in Milwaukee, WI-------------

In [18]:
address_name28=[]
price_name28=[]
beds_name28=[]
baths_name28=[]
sqft_name28=[]
ppsqft_name28=[]

In [19]:
address_name28=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag28 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag28:
        address_name28.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name28)

print(len(address_name28))

['1028 E Juneau Ave #418, Milwaukee, WI 53202', '6991 W Glenbrook Rd #2, Milwaukee, WI 53223', '11946 W Mill Rd #15, Milwaukee, WI 53225', '545 E Wells St #401, Milwaukee, WI 53202', '9258 N 70th St #1, Milwaukee, WI 53223', '1915 N Water St #107, Milwaukee, WI 53202', '106 W Seeboth St #609, Milwaukee, WI 53204', '106 W Seeboth St #514, Milwaukee, WI 53204', '3243 S 92nd St #100, Milwaukee, WI 53227', '8910 N 95th St Unit M, Milwaukee, WI 53224', '1313 N Franklin Pl #1604, Milwaukee, WI 53202', '3320 N Lake Dr, Milwaukee, WI 53211', '1300 N Prospect Ave #208, Milwaukee, WI 53202', '7841 W Heather Ave, Milwaukee, WI 53223', '1919 N Summit Ave Unit 3A, Milwaukee, WI 53202', '8634 N Servite Dr, Milwaukee, WI 53223', '6266 W Port Ave, Milwaukee, WI 53223', '777 N Prospect Ave Unit South Tier 4, Milwaukee, WI 53202', '8860 N 95th St, Milwaukee, WI 53224', '8027 N 94th St, Milwaukee, WI 53224', '1550 E Royall Pl #509, Milwaukee, WI 53202', '904 E Pearson St #323, Milwaukee, WI 53202', '1541 N Jefferson St #208, Milwaukee, WI 53202', '3243 S 92nd St #204, Milwaukee, WI 53227', '1325 N Van Buren St #303, Milwaukee, WI 53202', '3514 N Maryland Ave, Shorewood, WI 53211', '9174 N 70th St, Milwaukee, WI 53223', '777 N Prospect Ave Unit CTT6, 606, Milwaukee, WI 53202', '601 E Erie St #408, Milwaukee, WI 53202', '1820 N Cape St #202, Milwaukee, WI 53212', '9602 W Bradley Rd, Milwaukee, WI 53224', '9162 N 70th St #2, Milwaukee, WI 53223', '234 E Reservoir Ave #209, Milwaukee, WI 53212', '923 E Kilbourn Ave #2203, Milwaukee, WI 53202', '1830 E Kane Pl #8, Milwaukee, WI 53202', '8118 W Oklahoma Ave #6, West Allis, WI 53219', '8549 N Servite Dr #106, Milwaukee, WI 53223', '8605 N Servite Dr #103, Milwaukee, WI 53223', '1113 N Edison St, Milwaukee, WI 53202', '2121 N Riverboat Rd, Milwaukee, WI 53212', '1028 E Juneau Ave #418, Milwaukee, WI 53202', '6991 W Glenbrook Rd #2, Milwaukee, WI 53223', '11946 W Mill Rd #15, Milwaukee, WI 53225', '545 E Wells St #401, Milwaukee, WI 53202', '9258 N 70th St #1, Milwaukee, WI 53223', '1915 N Water St #107, Milwaukee, WI 53202', '106 W Seeboth St #609, Milwaukee, WI 53204', '106 W Seeboth St #514, Milwaukee, WI 53204', '3243 S 92nd St #100, Milwaukee, WI 53227', '8910 N 95th St Unit M, Milwaukee, WI 53224', '1313 N Franklin Pl #1604, Milwaukee, WI 53202', '3320 N Lake Dr, Milwaukee, WI 53211', '1300 N Prospect Ave #208, Milwaukee, WI 53202', '7841 W Heather Ave, Milwaukee, WI 53223', '1919 N Summit Ave Unit 3A, Milwaukee, WI 53202', '8634 N Servite Dr, Milwaukee, WI 53223', '6266 W Port Ave, Milwaukee, WI 53223', '777 N Prospect Ave Unit South Tier 4, Milwaukee, WI 53202', '8860 N 95th St, Milwaukee, WI 53224', '8027 N 94th St, Milwaukee, WI 53224', '1550 E Royall Pl #509, Milwaukee, WI 53202', '904 E Pearson St #323, Milwaukee, WI 53202', '1541 N Jefferson St #208, Milwaukee, WI 53202', '3243 S 92nd St #204, Milwaukee, WI 53227', '1325 N Van Buren St #303, Milwaukee, WI 53202', '3514 N Maryland Ave, Shorewood, WI 53211', '9174 N 70th St, Milwaukee, WI 53223', '777 N Prospect Ave Unit CTT6, 606, Milwaukee, WI 53202', '601 E Erie St #408, Milwaukee, WI 53202', '1820 N Cape St #202, Milwaukee, WI 53212', '9602 W Bradley Rd, Milwaukee, WI 53224', '9162 N 70th St #2, Milwaukee, WI 53223', '234 E Reservoir Ave #209, Milwaukee, WI 53212', '923 E Kilbourn Ave #2203, Milwaukee, WI 53202', '1830 E Kane Pl #8, Milwaukee, WI 53202', '8118 W Oklahoma Ave #6, West Allis, WI 53219', '8549 N Servite Dr #106, Milwaukee, WI 53223', '8605 N Servite Dr #103, Milwaukee, WI 53223', '1113 N Edison St, Milwaukee, WI 53202', '2121 N Riverboat Rd, Milwaukee, WI 53212', '1028 E Juneau Ave #418, Milwaukee, WI 53202', '6991 W Glenbrook Rd #2, Milwaukee, WI 53223', '11946 W Mill Rd #15, Milwaukee, WI 53225', '545 E Wells St #401, Milwaukee, WI 53202', '9258 N 70th St #1, Milwaukee, WI 53223', '1915 N Water St #107, Milwaukee, WI 53202', '106 W Seeboth St #609, Milwaukee, WI 53204', '106 W Seeboth St #514, Milwaukee, WI 53204', '3243 S 92nd St #100, Milwaukee, WI 53227', '8910 N 95th St Unit M, Milwaukee, WI 53224', '1313 N Franklin Pl #1604, Milwaukee, WI 53202', '3320 N Lake Dr, Milwaukee, WI 53211', '1300 N Prospect Ave #208, Milwaukee, WI 53202', '7841 W Heather Ave, Milwaukee, WI 53223', '1919 N Summit Ave Unit 3A, Milwaukee, WI 53202', '8634 N Servite Dr, Milwaukee, WI 53223', '6266 W Port Ave, Milwaukee, WI 53223', '777 N Prospect Ave Unit South Tier 4, Milwaukee, WI 53202', '8860 N 95th St, Milwaukee, WI 53224', '8027 N 94th St, Milwaukee, WI 53224', '1550 E Royall Pl #509, Milwaukee, WI 53202', '904 E Pearson St #323, Milwaukee, WI 53202', '1541 N Jefferson St #208, Milwaukee, WI 53202', '3243 S 92nd St #204, Milwaukee, WI 53227', '1325 N Van Buren St #303, Milwaukee, WI 53202', '3514 N Maryland Ave, Shorewood, WI 53211', '9174 N 70th St, Milwaukee, WI 53223', '777 N Prospect Ave Unit CTT6, 606, Milwaukee, WI 53202', '601 E Erie St #408, Milwaukee, WI 53202', '1820 N Cape St #202, Milwaukee, WI 53212', '9602 W Bradley Rd, Milwaukee, WI 53224', '9162 N 70th St #2, Milwaukee, WI 53223', '234 E Reservoir Ave #209, Milwaukee, WI 53212', '923 E Kilbourn Ave #2203, Milwaukee, WI 53202', '1830 E Kane Pl #8, Milwaukee, WI 53202', '8118 W Oklahoma Ave #6, West Allis, WI 53219', '8549 N Servite Dr #106, Milwaukee, WI 53223', '8605 N Servite Dr #103, Milwaukee, WI 53223', '1113 N Edison St, Milwaukee, WI 53202', '2121 N Riverboat Rd, Milwaukee, WI 53212']
120

In [20]:
price_name28=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag28 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag28:
        price_name28.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name28)

print(len(price_name28))

['$125,000', '$129,000', '$149,900', '$199,900', '$128,000', '$265,000', '$409,900', '$379,900', '$194,900', '$89,900', '$1,550,000', '$675,000', '$850,000', '$154,900', '$249,900', '$119,900', '$79,900', '$799,900', '$74,900', '$130,000', '$399,000', '$192,000', '$245,000', '$169,900', '$527,900', '$499,000', '$156,000', '$379,900', '$780,000', '$425,000', '$130,000', '$159,900', '$235,000', '$990,000', '$425,000', '$159,900', '$109,900', '$158,500', '$689,000', '$469,800', '$125,000', '$129,000', '$149,900', '$199,900', '$128,000', '$265,000', '$409,900', '$379,900', '$194,900', '$89,900', '$1,550,000', '$675,000', '$850,000', '$154,900', '$249,900', '$119,900', '$79,900', '$799,900', '$74,900', '$130,000', '$399,000', '$192,000', '$245,000', '$169,900', '$527,900', '$499,000', '$156,000', '$379,900', '$780,000', '$425,000', '$130,000', '$159,900', '$235,000', '$990,000', '$425,000', '$159,900', '$109,900', '$158,500', '$689,000', '$469,800', '$125,000', '$129,000', '$149,900', '$199,900', '$128,000', '$265,000', '$409,900', '$379,900', '$194,900', '$89,900', '$1,550,000', '$675,000', '$850,000', '$154,900', '$249,900', '$119,900', '$79,900', '$799,900', '$74,900', '$130,000', '$399,000', '$192,000', '$245,000', '$169,900', '$527,900', '$499,000', '$156,000', '$379,900', '$780,000', '$425,000', '$130,000', '$159,900', '$235,000', '$990,000', '$425,000', '$159,900', '$109,900', '$158,500', '$689,000', '$469,800']
120

In [21]:
beds_name28=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag28 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag28:
        beds_name28.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(beds_name28)

print(len(beds_name28))

['0 beds', '3 beds', '2 beds', '1 bed', '3 beds', '1 bed', '1 bed', '1 bed', '2 beds', '4 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '3 beds', '3 beds', '2 beds', '1 bed', '1 bed', '2 beds', '2 beds', '3 beds', '3 beds', '1 bed', '2 beds', '2 beds', '3 beds', '3 beds', '1 bed', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '0 beds', '3 beds', '2 beds', '1 bed', '3 beds', '1 bed', '1 bed', '1 bed', '2 beds', '4 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '3 beds', '3 beds', '2 beds', '1 bed', '1 bed', '2 beds', '2 beds', '3 beds', '3 beds', '1 bed', '2 beds', '2 beds', '3 beds', '3 beds', '1 bed', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '0 beds', '3 beds', '2 beds', '1 bed', '3 beds', '1 bed', '1 bed', '1 bed', '2 beds', '4 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '3 beds', '3 beds', '2 beds', '1 bed', '1 bed', '2 beds', '2 beds', '3 beds', '3 beds', '1 bed', '2 beds', '2 beds', '3 beds', '3 beds', '1 bed', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds']
120

In [22]:
baths_name28=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag28 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag28:
        baths_name28.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(baths_name28)

print(len(baths_name28))

['1 bath', '2.5 baths', '1.5 baths', '1 bath', '1.5 baths', '1 bath', '1 bath', '1 bath', '2 baths', '1.5 baths', '3 baths', '2.5 baths', '2 baths', '2 baths', '1.5 baths', '1.5 baths', '2 baths', '2 baths', '1.5 baths', '1.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '3.5 baths', '1.5 baths', '1.5 baths', '2 baths', '1.5 baths', '1.5 baths', '2.5 baths', '1 bath', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2.5 baths', '2.5 baths', '1 bath', '2.5 baths', '1.5 baths', '1 bath', '1.5 baths', '1 bath', '1 bath', '1 bath', '2 baths', '1.5 baths', '3 baths', '2.5 baths', '2 baths', '2 baths', '1.5 baths', '1.5 baths', '2 baths', '2 baths', '1.5 baths', '1.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '3.5 baths', '1.5 baths', '1.5 baths', '2 baths', '1.5 baths', '1.5 baths', '2.5 baths', '1 bath', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2.5 baths', '2.5 baths', '1 bath', '2.5 baths', '1.5 baths', '1 bath', '1.5 baths', '1 bath', '1 bath', '1 bath', '2 baths', '1.5 baths', '3 baths', '2.5 baths', '2 baths', '2 baths', '1.5 baths', '1.5 baths', '2 baths', '2 baths', '1.5 baths', '1.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '3.5 baths', '1.5 baths', '1.5 baths', '2 baths', '1.5 baths', '1.5 baths', '2.5 baths', '1 bath', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2.5 baths', '2.5 baths']
120

In [23]:
sqft_name28=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag28 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag28:
        sqft_name28.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name28)

print(len(price_name28))

['$125,000', '$129,000', '$149,900', '$199,900', '$128,000', '$265,000', '$409,900', '$379,900', '$194,900', '$89,900', '$1,550,000', '$675,000', '$850,000', '$154,900', '$249,900', '$119,900', '$79,900', '$799,900', '$74,900', '$130,000', '$399,000', '$192,000', '$245,000', '$169,900', '$527,900', '$499,000', '$156,000', '$379,900', '$780,000', '$425,000', '$130,000', '$159,900', '$235,000', '$990,000', '$425,000', '$159,900', '$109,900', '$158,500', '$689,000', '$469,800', '$125,000', '$129,000', '$149,900', '$199,900', '$128,000', '$265,000', '$409,900', '$379,900', '$194,900', '$89,900', '$1,550,000', '$675,000', '$850,000', '$154,900', '$249,900', '$119,900', '$79,900', '$799,900', '$74,900', '$130,000', '$399,000', '$192,000', '$245,000', '$169,900', '$527,900', '$499,000', '$156,000', '$379,900', '$780,000', '$425,000', '$130,000', '$159,900', '$235,000', '$990,000', '$425,000', '$159,900', '$109,900', '$158,500', '$689,000', '$469,800', '$125,000', '$129,000', '$149,900', '$199,900', '$128,000', '$265,000', '$409,900', '$379,900', '$194,900', '$89,900', '$1,550,000', '$675,000', '$850,000', '$154,900', '$249,900', '$119,900', '$79,900', '$799,900', '$74,900', '$130,000', '$399,000', '$192,000', '$245,000', '$169,900', '$527,900', '$499,000', '$156,000', '$379,900', '$780,000', '$425,000', '$130,000', '$159,900', '$235,000', '$990,000', '$425,000', '$159,900', '$109,900', '$158,500', '$689,000', '$469,800']
120

In [24]:
ppsqft_name28=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag28 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag28:
        ppsqft_name28.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name28)

print(len(price_name28))

['$125,000', '$129,000', '$149,900', '$199,900', '$128,000', '$265,000', '$409,900', '$379,900', '$194,900', '$89,900', '$1,550,000', '$675,000', '$850,000', '$154,900', '$249,900', '$119,900', '$79,900', '$799,900', '$74,900', '$130,000', '$399,000', '$192,000', '$245,000', '$169,900', '$527,900', '$499,000', '$156,000', '$379,900', '$780,000', '$425,000', '$130,000', '$159,900', '$235,000', '$990,000', '$425,000', '$159,900', '$109,900', '$158,500', '$689,000', '$469,800', '$125,000', '$129,000', '$149,900', '$199,900', '$128,000', '$265,000', '$409,900', '$379,900', '$194,900', '$89,900', '$1,550,000', '$675,000', '$850,000', '$154,900', '$249,900', '$119,900', '$79,900', '$799,900', '$74,900', '$130,000', '$399,000', '$192,000', '$245,000', '$169,900', '$527,900', '$499,000', '$156,000', '$379,900', '$780,000', '$425,000', '$130,000', '$159,900', '$235,000', '$990,000', '$425,000', '$159,900', '$109,900', '$158,500', '$689,000', '$469,800', '$125,000', '$129,000', '$149,900', '$199,900', '$128,000', '$265,000', '$409,900', '$379,900', '$194,900', '$89,900', '$1,550,000', '$675,000', '$850,000', '$154,900', '$249,900', '$119,900', '$79,900', '$799,900', '$74,900', '$130,000', '$399,000', '$192,000', '$245,000', '$169,900', '$527,900', '$499,000', '$156,000', '$379,900', '$780,000', '$425,000', '$130,000', '$159,900', '$235,000', '$990,000', '$425,000', '$159,900', '$109,900', '$158,500', '$689,000', '$469,800']
120

In [29]:
print(len(address_name28),len(price_name28),len(beds_name28),len(baths_name28),len(sqft_name28),len(ppsqft_name28))

120 120 120 120 120 120

In [28]:
del ppsqft_name28[120:123]

In [32]:
import pandas as pd
df28=pd.DataFrame({'Address':address_name28,'Price':price_name28,'Beds':beds_name28,'Baths':baths_name28,'Total sqft':sqft_name28,'Price per sqft':ppsqft_name28})
df28

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"1028 E Juneau Ave #418, Milwaukee, WI 53202","$125,000",0 beds,1 bath,325,$385
1,"6991 W Glenbrook Rd #2, Milwaukee, WI 53223","$129,000",3 beds,2.5 baths,"1,553",$83
2,"11946 W Mill Rd #15, Milwaukee, WI 53225","$149,900",2 beds,1.5 baths,"1,056",$142
3,"545 E Wells St #401, Milwaukee, WI 53202","$199,900",1 bed,1 bath,635,$315
4,"9258 N 70th St #1, Milwaukee, WI 53223","$128,000",3 beds,1.5 baths,"1,253",$102
...,...,...,...,...,...,...
115,"8118 W Oklahoma Ave #6, West Allis, WI 53219","$159,900",2 beds,2 baths,"2,600",$381
116,"8549 N Servite Dr #106, Milwaukee, WI 53223","$109,900",2 beds,2 baths,"1,328",$320
117,"8605 N Servite Dr #103, Milwaukee, WI 53223","$158,500",2 beds,2 baths,958,$167
118,"1113 N Edison St, Milwaukee, WI 53202","$689,000",2 beds,2.5 baths,"1,040",$106
119,"2121 N Riverboat Rd, Milwaukee, WI 53212","$469,800",2 beds,2.5 baths,"1,040",$152

In [33]:
df28.to_csv('file28.csv')

In [ ]:
--------------Memphis homes-------------

In [34]:
address_name29=[]
price_name29=[]
beds_name29=[]
baths_name29=[]
sqft_name29=[]
ppsqft_name29=[]

In [35]:
address_name29=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag29 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag29:
        address_name29.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name29)

print(len(address_name29))

['5400 Park Ave #305, Memphis, TN 38119', '2263 Young Ave #204, Memphis, TN 38104', '4771 Audubon View Cir #3005, Memphis, TN 38117', '2195 Poplar Ave #203, Memphis, TN 38104', '1118 Poplar Ave #11, Memphis, TN 38105', '3968 Grahamdale Cir, Memphis, TN 38122', '838 Thistledown Dr #1101, Memphis, TN 38117', '1738 Fox Hunt Ln #1738, Memphis, TN 38134', '6660 Pondside Cir #2, Memphis, TN 38119', '731 Litty Ct #204, Memphis, TN 38103', '232 S Highland St #707, Memphis, TN 38111', '702 Hedgegrove Dr #4201, Memphis, TN 38117', '232 S Highland Ave #103, Memphis, TN 38111', '760 Harbor Bend Rd #106, Memphis, TN 38103', '6746 Quail Hollow Ct #1, Memphis, TN 38120', '66 Monroe Ave #306, Memphis, TN 38103', '475 N Highland St Unit 1B, Memphis, TN 38122', '655 Riverside Dr #203, Memphis, TN 38103', '3981 Grahamdale Cir Unit 3981B, Memphis, TN 38122', '3989 Grahamdale Cir Unit 3989A, Memphis, TN 38122', '3967 Grahamdale Cir Unit 3967B, Memphis, TN 38122', '5718 Quince Rd #1, Memphis, TN 38119', '510 Cityhouse Ct #306, Memphis, TN 38103', '5730 Quince Rd #7, Memphis, TN 38119', '6445 Kirby Trees Dr #6445, Memphis, TN 38115', '335 Cobalt Bay Loop #102, Memphis, TN 38103', '505 Tennessee St #216, Memphis, TN 38103', '95 S Main St #202, Memphis, TN 38103', '615 Denmark St #203, Memphis, TN 38103', '2231 Brewers Lndg #2231, Memphis, TN 38104', '426 N Front St N #106, Memphis, TN 38103-9999', '50 Gayoso Ave #306, Memphis, TN 38103', '3076 St Croix Pl #92, Memphis, TN 38127', '137 E G E Patterson Ave #402, Memphis, TN 38103', '2277 Union Ave #206, Memphis, TN 38104', '5915 Park Ave, Memphis, TN 38119', '655 Riverside Dr #1408, Memphis, TN 38103', '717 Riverside Dr #1203, Memphis, TN 38103', '127 Madison Ave #202, Memphis, TN 38103', '4018 Baronne Way #44, Memphis, TN 38117', '413 S Main St #201, Memphis, TN 38103', '4704 Wild Plum Ct #109, Memphis, TN 38118', '5430 Gatehouse Dr #5430, Bartlett, TN 38134', '2 W G E Patterson Ave #216, Memphis, TN 38103', '475 N Highland St Unit 3H, Memphis, TN 38122', '5273 Chatfield Dr #5273, Memphis, TN 38116', '420 S Front St #102, Memphis, TN 38103', '6738 Quail Hollow Ct #6738, Memphis, TN 38120', '109 N Main St #714, Memphis, TN 38103', '648 Riverside Dr #213, Memphis, TN 38103', '721 Litty Ct #104, Memphis, TN 38103', '505 Tennessee St #401, Memphis, TN 38103', '3224 S Mendenhall Rd Unit 1A, Memphis, TN 38115', '3228 S Mendenhall Rd Apt 4B, Memphis, TN 38115', '109 N Main St #705, Memphis, TN 38103', '3240 S Mendenhall Rd Unit 3A, Memphis, TN 38115', '717 Riverside Dr #501, Memphis, TN 38103', '6774 Enchanted Oak Pl #3, Memphis, TN 38120', '107 Madison Ave #401, Memphis, TN 38103', '3226 S Mendenhall Rd Unit 3A, Memphis, TN 38115', '5217 Flowering Peach Dr #5217, Memphis, TN 38115', '475 N Highland St Unit 1K, Memphis, TN 38122', '4028 Dumaine Way #75, Memphis, TN 38117', '405 S Perkins Rd #150, Memphis, TN 38117', '79 Shoemaker Ct #105, Memphis, TN 38103', '5741 Barfield Cir #22, Memphis, TN 38120', '585 E Parkway Pkwy S #33, Memphis, TN 38104', '380 N Island Dr #301, Memphis, TN 38103', '1639 W Southfield Cir, Memphis, TN 38016', '5879 Park Ave #5879, Memphis, TN 38119', '200 Wagner Pl #1504, Memphis, TN 38103', '717 Riverside Dr #401, Memphis, TN 38103', '208 S Mclean Blvd, Memphis, TN 38104', '109 N Main St #1009, Memphis, TN 38103', '665 Tennessee St #510, Memphis, TN 38103', '3007 Walnut Grove Rd #1, Memphis, TN 38111', '505 Tennessee St Unit RG6, Memphis, TN 38103', '113 Harbor Town Sq #201, Memphis, TN 38103', '408 S Front St #309, Memphis, TN 38103', '591 Lexington Club Ct #202, Memphis, TN 38117', '413 S Main St #201, Memphis, TN 38103', '4704 Wild Plum Ct #109, Memphis, TN 38118', '5430 Gatehouse Dr #5430, Bartlett, TN 38134', '2 W G E Patterson Ave #216, Memphis, TN 38103', '475 N Highland St Unit 3H, Memphis, TN 38122', '5273 Chatfield Dr #5273, Memphis, TN 38116', '420 S Front St #102, Memphis, TN 38103', '6738 Quail Hollow Ct #6738, Memphis, TN 38120', '109 N Main St #714, Memphis, TN 38103', '648 Riverside Dr #213, Memphis, TN 38103', '721 Litty Ct #104, Memphis, TN 38103', '505 Tennessee St #401, Memphis, TN 38103', '3224 S Mendenhall Rd Unit 1A, Memphis, TN 38115', '3228 S Mendenhall Rd Apt 4B, Memphis, TN 38115', '109 N Main St #705, Memphis, TN 38103', '3240 S Mendenhall Rd Unit 3A, Memphis, TN 38115', '717 Riverside Dr #501, Memphis, TN 38103', '6774 Enchanted Oak Pl #3, Memphis, TN 38120', '107 Madison Ave #401, Memphis, TN 38103', '3226 S Mendenhall Rd Unit 3A, Memphis, TN 38115', '5217 Flowering Peach Dr #5217, Memphis, TN 38115', '475 N Highland St Unit 1K, Memphis, TN 38122', '4028 Dumaine Way #75, Memphis, TN 38117', '405 S Perkins Rd #150, Memphis, TN 38117', '79 Shoemaker Ct #105, Memphis, TN 38103', '5741 Barfield Cir #22, Memphis, TN 38120', '585 E Parkway Pkwy S #33, Memphis, TN 38104', '380 N Island Dr #301, Memphis, TN 38103', '1639 W Southfield Cir, Memphis, TN 38016', '5879 Park Ave #5879, Memphis, TN 38119', '200 Wagner Pl #1504, Memphis, TN 38103', '717 Riverside Dr #401, Memphis, TN 38103', '208 S Mclean Blvd, Memphis, TN 38104', '109 N Main St #1009, Memphis, TN 38103', '665 Tennessee St #510, Memphis, TN 38103', '3007 Walnut Grove Rd #1, Memphis, TN 38111', '505 Tennessee St Unit RG6, Memphis, TN 38103', '113 Harbor Town Sq #201, Memphis, TN 38103', '408 S Front St #309, Memphis, TN 38103', '591 Lexington Club Ct #202, Memphis, TN 38117']
120

In [36]:
price_name29=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag29 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag29:
        price_name29.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name29)

print(len(price_name29))

['$290,000', '$79,900', '$99,900', '$275,000', '$155,000', '$140,000', '$395,000', '$107,500', '$220,000', '$235,000', '$200,000', '$259,000', '$60,000', '$44,000', '$116,000', '$42,000', '$419,000', '$129,000', '$465,000', '$50,000', '$50,000', '$175,000', '$1,250,000', '$285,000', '$275,000', '$219,000', '$129,000', '$385,000', '$250,000', '$169,900', '$319,900', '$499,000', '$190,000', '$130,000', '$224,900', '$79,500', '$395,000', '$299,999', '$219,000', '$445,000', '$290,000', '$79,900', '$99,900', '$275,000', '$155,000', '$140,000', '$395,000', '$107,500', '$220,000', '$235,000', '$200,000', '$259,000', '$60,000', '$44,000', '$116,000', '$42,000', '$419,000', '$129,000', '$465,000', '$50,000', '$50,000', '$175,000', '$1,250,000', '$285,000', '$275,000', '$219,000', '$129,000', '$385,000', '$250,000', '$169,900', '$319,900', '$499,000', '$190,000', '$130,000', '$224,900', '$79,500', '$395,000', '$299,999', '$219,000', '$445,000', '$290,000', '$79,900', '$99,900', '$275,000', '$155,000', '$140,000', '$395,000', '$107,500', '$220,000', '$235,000', '$200,000', '$259,000', '$60,000', '$44,000', '$116,000', '$42,000', '$419,000', '$129,000', '$465,000', '$50,000', '$50,000', '$175,000', '$1,250,000', '$285,000', '$275,000', '$219,000', '$129,000', '$385,000', '$250,000', '$169,900', '$319,900', '$499,000', '$190,000', '$130,000', '$224,900', '$79,500', '$395,000', '$299,999', '$219,000', '$445,000']
120

In [37]:
beds_name29=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag29 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag29:
        beds_name29.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(beds_name29)

print(len(beds_name29))

['1 bed', '3 beds', '2 beds', '2 beds', '1 bed', '3 beds', '2 beds', '1 bed', '2 beds', '1 bed', '1 bed', '1 bed', '2 beds', '1 bed', '0 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '4 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '1 bed', '1 bed', '2 beds', '1 bed', '2 beds', '1 bed', '2 beds', '1 bed', '3 beds', '2 beds', '2 beds', '1 bed', '3 beds', '2 beds', '1 bed', '2 beds', '1 bed', '1 bed', '1 bed', '2 beds', '1 bed', '0 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '4 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '1 bed', '1 bed', '2 beds', '1 bed', '2 beds', '1 bed', '2 beds', '1 bed', '3 beds', '2 beds', '2 beds', '1 bed', '3 beds', '2 beds', '1 bed', '2 beds', '1 bed', '1 bed', '1 bed', '2 beds', '1 bed', '0 beds', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '4 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '1 bed', '1 bed', '2 beds', '1 bed', '2 beds', '1 bed', '2 beds']
120

In [38]:
baths_name29=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag29 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag29:
        baths_name29.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(baths_name29)

print(len(baths_name29))

['1 bath', '1.5 baths', '2.5 baths', '1.5 baths', '1 bath', '2.5 baths', '2 baths', '1 bath', '2 baths', '1 bath', '1.5 baths', '1 bath', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '2 baths', '2.5 baths', '2 baths', '1.5 baths', '2 baths', '4 baths', '2 baths', '2.5 baths', '2.5 baths', '1 bath', '2.5 baths', '2 baths', '1.5 baths', '2 baths', '2 baths', '2 baths', '1 bath', '1 bath', '1 bath', '1.5 baths', '2 baths', '1 bath', '2 baths', '1 bath', '1.5 baths', '2.5 baths', '1.5 baths', '1 bath', '2.5 baths', '2 baths', '1 bath', '2 baths', '1 bath', '1.5 baths', '1 bath', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '2 baths', '2.5 baths', '2 baths', '1.5 baths', '2 baths', '4 baths', '2 baths', '2.5 baths', '2.5 baths', '1 bath', '2.5 baths', '2 baths', '1.5 baths', '2 baths', '2 baths', '2 baths', '1 bath', '1 bath', '1 bath', '1.5 baths', '2 baths', '1 bath', '2 baths', '1 bath', '1.5 baths', '2.5 baths', '1.5 baths', '1 bath', '2.5 baths', '2 baths', '1 bath', '2 baths', '1 bath', '1.5 baths', '1 bath', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '2 baths', '2.5 baths', '2 baths', '1.5 baths', '2 baths', '4 baths', '2 baths', '2.5 baths', '2.5 baths', '1 bath', '2.5 baths', '2 baths', '1.5 baths', '2 baths', '2 baths', '2 baths', '1 bath', '1 bath', '1 bath', '1.5 baths', '2 baths', '1 bath', '2 baths']
120

In [39]:
sqft_name29=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag29 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag29:
        sqft_name29.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name22)

print(len(price_name22))

NameError: name 'price_name22' is not defined

In [40]:
ppsqft_name29=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag29 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag29:
        ppsqft_name29.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name29)

print(len(price_name29))

['$290,000', '$79,900', '$99,900', '$275,000', '$155,000', '$140,000', '$395,000', '$107,500', '$220,000', '$235,000', '$200,000', '$259,000', '$60,000', '$44,000', '$116,000', '$42,000', '$419,000', '$129,000', '$465,000', '$50,000', '$50,000', '$175,000', '$1,250,000', '$285,000', '$275,000', '$219,000', '$129,000', '$385,000', '$250,000', '$169,900', '$319,900', '$499,000', '$190,000', '$130,000', '$224,900', '$79,500', '$395,000', '$299,999', '$219,000', '$445,000', '$290,000', '$79,900', '$99,900', '$275,000', '$155,000', '$140,000', '$395,000', '$107,500', '$220,000', '$235,000', '$200,000', '$259,000', '$60,000', '$44,000', '$116,000', '$42,000', '$419,000', '$129,000', '$465,000', '$50,000', '$50,000', '$175,000', '$1,250,000', '$285,000', '$275,000', '$219,000', '$129,000', '$385,000', '$250,000', '$169,900', '$319,900', '$499,000', '$190,000', '$130,000', '$224,900', '$79,500', '$395,000', '$299,999', '$219,000', '$445,000', '$290,000', '$79,900', '$99,900', '$275,000', '$155,000', '$140,000', '$395,000', '$107,500', '$220,000', '$235,000', '$200,000', '$259,000', '$60,000', '$44,000', '$116,000', '$42,000', '$419,000', '$129,000', '$465,000', '$50,000', '$50,000', '$175,000', '$1,250,000', '$285,000', '$275,000', '$219,000', '$129,000', '$385,000', '$250,000', '$169,900', '$319,900', '$499,000', '$190,000', '$130,000', '$224,900', '$79,500', '$395,000', '$299,999', '$219,000', '$445,000']
120

In [44]:
print(len(address_name29),len(price_name29),len(beds_name29),len(baths_name29),len(sqft_name29),len(ppsqft_name29))

120 120 120 120 120 120

In [43]:
del ppsqft_name29[120:123]

In [45]:
import pandas as pd
df29=pd.DataFrame({'Address':address_name29,'Price':price_name29,'Beds':beds_name29,'Baths':baths_name29,'Total sqft':sqft_name29,'Price per sqft':ppsqft_name29})
df29

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,"5400 Park Ave #305, Memphis, TN 38119","$290,000",1 bed,1 bath,—,$242
1,"2263 Young Ave #204, Memphis, TN 38104","$79,900",3 beds,1.5 baths,—,$57
2,"4771 Audubon View Cir #3005, Memphis, TN 38117","$99,900",2 beds,2.5 baths,—,$71
3,"2195 Poplar Ave #203, Memphis, TN 38104","$275,000",2 beds,1.5 baths,—,$229
4,"1118 Poplar Ave #11, Memphis, TN 38105","$155,000",1 bed,1 bath,—,$155
...,...,...,...,...,...,...
115,"3007 Walnut Grove Rd #1, Memphis, TN 38111","$79,500",2 beds,1 bath,—,—
116,"505 Tennessee St Unit RG6, Memphis, TN 38103","$395,000",1 bed,1.5 baths,—,—
117,"113 Harbor Town Sq #201, Memphis, TN 38103","$299,999",2 beds,2 baths,—,—
118,"408 S Front St #309, Memphis, TN 38103","$219,000",1 bed,1 bath,—,$329
119,"591 Lexington Club Ct #202, Memphis, TN 38117","$445,000",2 beds,2 baths,—,$300

In [46]:
df29.to_csv('file29.csv')

In [ ]:
---------------Tucson homes----------

In [55]:
address_name30=[]
price_name30=[]
beds_name30=[]
baths_name30=[]
sqft_name30=[]
ppsqft_name30=[]

In [56]:
address_name30=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag30 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag30:
        address_name30.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name30)

print(len(address_name30))

['', '55 N Cherry Ave #102, Tucson, AZ 85719', '2 Bedroom 2 Bath Plan, Tucson, AZ 85718', '1 Bedroom + Den Plan, Tucson, AZ 85718', '1 Bedroom Plan, Tucson, AZ 85718', '1001 E 17th St #107, Tucson, AZ 85719', '446 N Campbell Ave #1302, Tucson, AZ 85719', '446 N Campbell Ave #1208, Tucson, AZ 85719', '6451 N Tierra De Las Catalinas #66, Tucson, AZ 85718', '6510 N Tierra De Las Catalinas #83, Tucson, AZ 85718', '101 S Players Club Dr #24103, Tucson, AZ 85745', '101 S Players Club #27201 Dr, Tucson, AZ 85745', '2414 E Blue Diamond Dr, Tucson, AZ 85718', '2801 N Columbus Blvd #7, Tucson, AZ 85712', '941 N Euclid Ave #221, Tucson, AZ 85719', '6352 N Barcelona Ln #108, Tucson, AZ 85704', '451 W Yucca Ct #216, Tucson, AZ 85704', '441 W Yucca Ct #209, Tucson, AZ 85704', '6341 N Barcelona Ct #809, Tucson, AZ 85704', '6325 N Barcelona Ln #707, Tucson, AZ 85704', '6325 N Barcelona Ln #708, Tucson, AZ 85704', '6365 N Barcelona Ln #422, Tucson, AZ 85704', '471 W Yucca Ct #321, Tucson, AZ 85704', '6311 N Barcelona Ct #1022, Tucson, AZ 85704', '6331 N Barcelona Ct #914, Tucson, AZ 85704', '6321 N Barcelona Ct #901, Tucson, AZ 85704', '6321 N Barcelona Ct #904, Tucson, AZ 85704', '626 W Roller Coaster Rd, Tucson, AZ 85704', '5901 N Oracle Rd #27, Tucson, AZ 85704', '1200 E River Rd Unit J-122, Tucson, AZ 85718', '1200 E River Rd Unit C-31, Tucson, AZ 85718', '2950 N Alvernon Way #11101, Tucson, AZ 85712', '2950 N Alvernon #14103, Tucson, AZ 85712', '2950 N Alvernon Way #6105, Tucson, AZ 85712', '2875 N Tucson Blvd #7, Tucson, AZ 85716', '2875 N Tucson Blvd Unit 1-2, Tucson, AZ 85716', '7778 E Via Ventana Norte, Tucson, AZ 85750', '2601 W Broadway Blvd Unit E545, Tucson, AZ 85745', '3032 E 6th St #69, Tucson, AZ 85716', '2820 E 6th St #214, Tucson, AZ 85716', '2820 E 6th St #206, Tucson, AZ 85716', '', '55 N Cherry Ave #102, Tucson, AZ 85719', '2 Bedroom 2 Bath Plan, Tucson, AZ 85718', '1 Bedroom + Den Plan, Tucson, AZ 85718', '1 Bedroom Plan, Tucson, AZ 85718', '1001 E 17th St #107, Tucson, AZ 85719', '446 N Campbell Ave #1302, Tucson, AZ 85719', '446 N Campbell Ave #1208, Tucson, AZ 85719', '6451 N Tierra De Las Catalinas #66, Tucson, AZ 85718', '6510 N Tierra De Las Catalinas #83, Tucson, AZ 85718', '101 S Players Club Dr #24103, Tucson, AZ 85745', '101 S Players Club #27201 Dr, Tucson, AZ 85745', '2414 E Blue Diamond Dr, Tucson, AZ 85718', '2801 N Columbus Blvd #7, Tucson, AZ 85712', '941 N Euclid Ave #221, Tucson, AZ 85719', '6352 N Barcelona Ln #108, Tucson, AZ 85704', '451 W Yucca Ct #216, Tucson, AZ 85704', '441 W Yucca Ct #209, Tucson, AZ 85704', '6341 N Barcelona Ct #809, Tucson, AZ 85704', '6325 N Barcelona Ln #707, Tucson, AZ 85704', '6325 N Barcelona Ln #708, Tucson, AZ 85704', '6365 N Barcelona Ln #422, Tucson, AZ 85704', '471 W Yucca Ct #321, Tucson, AZ 85704', '6311 N Barcelona Ct #1022, Tucson, AZ 85704', '6331 N Barcelona Ct #914, Tucson, AZ 85704', '6321 N Barcelona Ct #901, Tucson, AZ 85704', '6321 N Barcelona Ct #904, Tucson, AZ 85704', '626 W Roller Coaster Rd, Tucson, AZ 85704', '5901 N Oracle Rd #27, Tucson, AZ 85704', '1200 E River Rd Unit J-122, Tucson, AZ 85718', '1200 E River Rd Unit C-31, Tucson, AZ 85718', '2950 N Alvernon Way #11101, Tucson, AZ 85712', '2950 N Alvernon #14103, Tucson, AZ 85712', '2950 N Alvernon Way #6105, Tucson, AZ 85712', '2875 N Tucson Blvd #7, Tucson, AZ 85716', '2875 N Tucson Blvd Unit 1-2, Tucson, AZ 85716', '7778 E Via Ventana Norte, Tucson, AZ 85750', '2601 W Broadway Blvd Unit E545, Tucson, AZ 85745', '3032 E 6th St #69, Tucson, AZ 85716', '2820 E 6th St #214, Tucson, AZ 85716', '2820 E 6th St #206, Tucson, AZ 85716', '', '55 N Cherry Ave #102, Tucson, AZ 85719', '2 Bedroom 2 Bath Plan, Tucson, AZ 85718', '1 Bedroom + Den Plan, Tucson, AZ 85718', '1 Bedroom Plan, Tucson, AZ 85718', '1001 E 17th St #107, Tucson, AZ 85719', '446 N Campbell Ave #1302, Tucson, AZ 85719', '446 N Campbell Ave #1208, Tucson, AZ 85719', '6451 N Tierra De Las Catalinas #66, Tucson, AZ 85718', '6510 N Tierra De Las Catalinas #83, Tucson, AZ 85718', '101 S Players Club Dr #24103, Tucson, AZ 85745', '101 S Players Club #27201 Dr, Tucson, AZ 85745', '2414 E Blue Diamond Dr, Tucson, AZ 85718', '2801 N Columbus Blvd #7, Tucson, AZ 85712', '941 N Euclid Ave #221, Tucson, AZ 85719', '6352 N Barcelona Ln #108, Tucson, AZ 85704', '451 W Yucca Ct #216, Tucson, AZ 85704', '441 W Yucca Ct #209, Tucson, AZ 85704', '6341 N Barcelona Ct #809, Tucson, AZ 85704', '6325 N Barcelona Ln #707, Tucson, AZ 85704', '6325 N Barcelona Ln #708, Tucson, AZ 85704', '6365 N Barcelona Ln #422, Tucson, AZ 85704', '471 W Yucca Ct #321, Tucson, AZ 85704', '6311 N Barcelona Ct #1022, Tucson, AZ 85704', '6331 N Barcelona Ct #914, Tucson, AZ 85704', '6321 N Barcelona Ct #901, Tucson, AZ 85704', '6321 N Barcelona Ct #904, Tucson, AZ 85704', '626 W Roller Coaster Rd, Tucson, AZ 85704', '5901 N Oracle Rd #27, Tucson, AZ 85704', '1200 E River Rd Unit J-122, Tucson, AZ 85718', '1200 E River Rd Unit C-31, Tucson, AZ 85718', '2950 N Alvernon Way #11101, Tucson, AZ 85712', '2950 N Alvernon #14103, Tucson, AZ 85712', '2950 N Alvernon Way #6105, Tucson, AZ 85712', '2875 N Tucson Blvd #7, Tucson, AZ 85716', '2875 N Tucson Blvd Unit 1-2, Tucson, AZ 85716', '7778 E Via Ventana Norte, Tucson, AZ 85750', '2601 W Broadway Blvd Unit E545, Tucson, AZ 85745', '3032 E 6th St #69, Tucson, AZ 85716', '2820 E 6th St #214, Tucson, AZ 85716', '2820 E 6th St #206, Tucson, AZ 85716']
123

In [57]:
price_name30=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag30 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag30:
        price_name30.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name30)

print(len(price_name30))

['', '$165,000', '$379,900', '$314,900', '$284,900', '$287,500', '$565,000', '$499,999', '$325,000', '$299,900', '$269,000', '$275,000', '$475,000', '$180,000', '$310,000', '$158,000', '$134,900', '$134,900', '$115,000', '$140,000', '$145,000', '$159,900', '$147,000', '$115,000', '$139,000', '$135,000', '$134,000', '$349,900', '$250,000', '$200,000', '$251,900', '$158,000', '$160,000', '$155,000', '$200,000', '$425,000', '$259,900', '$145,000', '$205,000', '$349,000', '$353,000', '', '$165,000', '$379,900', '$314,900', '$284,900', '$287,500', '$565,000', '$499,999', '$325,000', '$299,900', '$269,000', '$275,000', '$475,000', '$180,000', '$310,000', '$158,000', '$134,900', '$134,900', '$115,000', '$140,000', '$145,000', '$159,900', '$147,000', '$115,000', '$139,000', '$135,000', '$134,000', '$349,900', '$250,000', '$200,000', '$251,900', '$158,000', '$160,000', '$155,000', '$200,000', '$425,000', '$259,900', '$145,000', '$205,000', '$349,000', '$353,000', '', '$165,000', '$379,900', '$314,900', '$284,900', '$287,500', '$565,000', '$499,999', '$325,000', '$299,900', '$269,000', '$275,000', '$475,000', '$180,000', '$310,000', '$158,000', '$134,900', '$134,900', '$115,000', '$140,000', '$145,000', '$159,900', '$147,000', '$115,000', '$139,000', '$135,000', '$134,000', '$349,900', '$250,000', '$200,000', '$251,900', '$158,000', '$160,000', '$155,000', '$200,000', '$425,000', '$259,900', '$145,000', '$205,000', '$349,000', '$353,000']
123

In [66]:
beds_name30=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag30 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag30:
        beds_name30.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(beds_name30)

print(len(beds_name30))

['', '1 bed', '2 beds', '1 bed', '1 bed', '0 beds', '2 beds', '3 beds', '1 bed', '1 bed', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '1 bed', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '4 beds', '2 beds', '1 bed', '1 bed', '2 beds', '2 beds', '', '1 bed', '2 beds', '1 bed', '1 bed', '0 beds', '2 beds', '3 beds', '1 bed', '1 bed', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '1 bed', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '4 beds', '2 beds', '1 bed', '1 bed', '2 beds', '2 beds', '', '1 bed', '2 beds', '1 bed', '1 bed', '0 beds', '2 beds', '3 beds', '1 bed', '1 bed', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '3 beds', '2 beds', '2 beds', '1 bed', '2 beds', '2 beds', '1 bed', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '3 beds', '2 beds', '1 bed', '2 beds', '2 beds', '2 beds', '2 beds', '2 beds', '4 beds', '2 beds', '1 bed', '1 bed', '2 beds', '2 beds']
123

In [68]:
baths_name30=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag30 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag30:
        baths_name30.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(baths_name30)

print(len(baths_name30))

['', '1 bath', '2 baths', '1 bath', '1 bath', '1 bath', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '2.5 baths', '1 bath', '1.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '1 bath', '1.5 baths', '1 bath', '2 baths', '1 bath', '1 bath', '1 bath', '1 bath', '2 baths', '2 baths', '1 bath', '2 baths', '1.5 baths', '1.5 baths', '2 baths', '1.5 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '', '1 bath', '2 baths', '1 bath', '1 bath', '1 bath', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '2.5 baths', '1 bath', '1.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '1 bath', '1.5 baths', '1 bath', '2 baths', '1 bath', '1 bath', '1 bath', '1 bath', '2 baths', '2 baths', '1 bath', '2 baths', '1.5 baths', '1.5 baths', '2 baths', '1.5 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '', '1 bath', '2 baths', '1 bath', '1 bath', '1 bath', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths', '2.5 baths', '1 bath', '1.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '1 bath', '1.5 baths', '1 bath', '2 baths', '1 bath', '1 bath', '1 bath', '1 bath', '2 baths', '2 baths', '1 bath', '2 baths', '1.5 baths', '1.5 baths', '2 baths', '1.5 baths', '2.5 baths', '2 baths', '1 bath', '1 bath', '2 baths', '2 baths']
123

In [64]:
sqft_name30=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag30 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag30:
        sqft_name30.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(sqft_name30)

print(len(sqft_name30))

['579', '1,074', '850', '765', '642', '1,546', '1,166', '913', '938', '1,005', '1,005', '1,811', '816', '1,086', '1,300', '912', '912', '672', '912', '912', '672', '960', '672', '912', '912', '912', '1,515', '1,014', '753', '991', '957', '957', '957', '1,120', '2,592', '1,094', '706', '1,001', '1,454', '1,048', '945', '579', '1,074', '850', '765', '642', '1,546', '1,166', '913', '938', '1,005', '1,005', '1,811', '816', '1,086', '1,300', '912', '912', '672', '912', '912', '672', '960', '672', '912', '912', '912', '1,515', '1,014', '753', '991', '957', '957', '957', '1,120', '2,592', '1,094', '706', '1,001', '1,454', '1,048', '945', '579', '1,074', '850', '765', '642', '1,546', '1,166', '913', '938', '1,005', '1,005', '1,811', '816', '1,086', '1,300', '912', '912', '672', '912', '912', '672', '960', '672', '912', '912', '912', '1,515', '1,014', '753', '991', '957', '957', '957', '1,120', '2,592', '1,094', '706', '1,001', '1,454', '1,048', '945']
123

In [62]:
ppsqft_name30=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag30 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag30:
        ppsqft_name30.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name30)

print(len(price_name30))

['', '$165,000', '$379,900', '$314,900', '$284,900', '$287,500', '$565,000', '$499,999', '$325,000', '$299,900', '$269,000', '$275,000', '$475,000', '$180,000', '$310,000', '$158,000', '$134,900', '$134,900', '$115,000', '$140,000', '$145,000', '$159,900', '$147,000', '$115,000', '$139,000', '$135,000', '$134,000', '$349,900', '$250,000', '$200,000', '$251,900', '$158,000', '$160,000', '$155,000', '$200,000', '$425,000', '$259,900', '$145,000', '$205,000', '$349,000', '$353,000', '', '$165,000', '$379,900', '$314,900', '$284,900', '$287,500', '$565,000', '$499,999', '$325,000', '$299,900', '$269,000', '$275,000', '$475,000', '$180,000', '$310,000', '$158,000', '$134,900', '$134,900', '$115,000', '$140,000', '$145,000', '$159,900', '$147,000', '$115,000', '$139,000', '$135,000', '$134,000', '$349,900', '$250,000', '$200,000', '$251,900', '$158,000', '$160,000', '$155,000', '$200,000', '$425,000', '$259,900', '$145,000', '$205,000', '$349,000', '$353,000', '', '$165,000', '$379,900', '$314,900', '$284,900', '$287,500', '$565,000', '$499,999', '$325,000', '$299,900', '$269,000', '$275,000', '$475,000', '$180,000', '$310,000', '$158,000', '$134,900', '$134,900', '$115,000', '$140,000', '$145,000', '$159,900', '$147,000', '$115,000', '$139,000', '$135,000', '$134,000', '$349,900', '$250,000', '$200,000', '$251,900', '$158,000', '$160,000', '$155,000', '$200,000', '$425,000', '$259,900', '$145,000', '$205,000', '$349,000', '$353,000']
123

In [69]:
print(len(address_name30),len(price_name30),len(beds_name30),len(baths_name30),len(sqft_name30),len(ppsqft_name30))

123 123 123 123 123 123

In [70]:
import pandas as pd
df30=pd.DataFrame({'Address':address_name30,'Price':price_name30,'Beds':beds_name30,'Baths':baths_name30,'Total sqft':sqft_name30,'Price per sqft':ppsqft_name30})
df30

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,579,$285
1,"55 N Cherry Ave #102, Tucson, AZ 85719","$165,000",1 bed,1 bath,"1,074",$354
2,"2 Bedroom 2 Bath Plan, Tucson, AZ 85718","$379,900",2 beds,2 baths,850,$370
3,"1 Bedroom + Den Plan, Tucson, AZ 85718","$314,900",1 bed,1 bath,765,$372
4,"1 Bedroom Plan, Tucson, AZ 85718","$284,900",1 bed,1 bath,642,$448
...,...,...,...,...,...,...
118,"7778 E Via Ventana Norte, Tucson, AZ 85750","$259,900",2 beds,2 baths,706,$205
119,"2601 W Broadway Blvd Unit E545, Tucson, AZ 85745","$145,000",1 bed,1 bath,"1,001",$205
120,"3032 E 6th St #69, Tucson, AZ 85716","$205,000",1 bed,1 bath,"1,454",$240
121,"2820 E 6th St #214, Tucson, AZ 85716","$349,000",2 beds,2 baths,"1,048",$337
122,"2820 E 6th St #206, Tucson, AZ 85716","$353,000",2 beds,2 baths,945,$250

In [71]:
df30.to_csv('file30.csv')

In [ ]:
-------------Anchorage homes ----------

In [198]:
address_name31=[]
price_name31=[]
beds_name31=[]
baths_name31=[]
sqft_nam31=[]
ppsqft_name31=[]

In [76]:
address_name31=[]
## scraping address
start=0
end=3
for page in range(start,end):
    address_tag31 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag31:
        address_name31.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()

print(address_name31)

print(len(address_name31))

['', '7061 Weimer St #3, Anchorage, AK 99502', '5569 Big Bear Way #22, Anchorage, AK 99504', '7005 Fairweather Dr #3, Anchorage, AK 99518', '8101 Peck Ave Unit C22, Anchorage, AK 99504', '8101 Peck Ave Unit C24, Anchorage, AK 99504', '8050 Pioneer Dr #1301, Anchorage, AK 99504', '237 Cook Inlet Loop Unit 2C, Anchorage, AK 99501', '316 Shageluk St, Anchorage, AK 99504', '318 Shageluk St, Anchorage, AK 99504', '6926 Fairweather Dr Unit 2-2-4, Anchorage, AK 99518', '11435 Discovery View Dr #64, Anchorage, AK 99515', '5701 Sapphire Loop, Anchorage, AK 99504', '9371 Blackberry #1, Anchorage, AK 99502', '275 Creekside St #4, Anchorage, AK 99504', '8050 Pioneer Dr #102, Anchorage, AK 99504', '4345 Constellation Dr #16, Anchorage, AK 99517', '2602 Curlew Cir, Anchorage, AK 99502', '10283 Jamestown Dr Unit i-803, Anchorage, AK 99507', '355 Donna Dr #5, Anchorage, AK 99504', '305 Donna Dr #21, Anchorage, AK 99504', '2200 Minerva Way Unit B3, Anchorage, AK 99515', '8101 Peck Ave Unit A1, Anchorage, AK 99504', '4530 Camila Ct Unit D, Anchorage, AK 99508', '3201 Montpelier Ct Unit 09-J, Anchorage, AK 99503', '7141 Weimer Rd #3, Anchorage, AK 99502', '9725 Independence Dr Unit A103, Anchorage, AK 99507', '3102 Willow St Unit C, Anchorage, AK 99517', '1110 Cordova St #3, Anchorage, AK 99501', '333 M St #408, Anchorage, AK 99501', '2447 Duncanshire Pl, Anchorage, AK 99504', '211 McCarrey St Unit I-9B, Anchorage, AK 99508', '376 Skwentna Dr #87, Anchorage, AK 99504', '843 W 11th Ave #109, Anchorage, AK 99501', '3100 Ward Pl #31, Anchorage, AK 99517', '1430 Bridgeway St #9, Anchorage, AK 99501', '6915 Gemini Dr Unit A-2, Anchorage, AK 99504', '282 Crystal Mountain Rd Unit 101S, Girdwood, AK 99587', '2632 Glacier St Unit B7, Anchorage, AK 99508', '604 Ocean Pl #102, Anchorage, AK 99501', '11408 Conquistador Dr Unit C, Eagle River, AK 99577', '', '7061 Weimer St #3, Anchorage, AK 99502', '5569 Big Bear Way #22, Anchorage, AK 99504', '7005 Fairweather Dr #3, Anchorage, AK 99518', '8101 Peck Ave Unit C22, Anchorage, AK 99504', '8101 Peck Ave Unit C24, Anchorage, AK 99504', '8050 Pioneer Dr #1301, Anchorage, AK 99504', '237 Cook Inlet Loop Unit 2C, Anchorage, AK 99501', '316 Shageluk St, Anchorage, AK 99504', '318 Shageluk St, Anchorage, AK 99504', '6926 Fairweather Dr Unit 2-2-4, Anchorage, AK 99518', '11435 Discovery View Dr #64, Anchorage, AK 99515', '5701 Sapphire Loop, Anchorage, AK 99504', '9371 Blackberry #1, Anchorage, AK 99502', '275 Creekside St #4, Anchorage, AK 99504', '8050 Pioneer Dr #102, Anchorage, AK 99504', '4345 Constellation Dr #16, Anchorage, AK 99517', '2602 Curlew Cir, Anchorage, AK 99502', '10283 Jamestown Dr Unit i-803, Anchorage, AK 99507', '355 Donna Dr #5, Anchorage, AK 99504', '305 Donna Dr #21, Anchorage, AK 99504', '2200 Minerva Way Unit B3, Anchorage, AK 99515', '8101 Peck Ave Unit A1, Anchorage, AK 99504', '4530 Camila Ct Unit D, Anchorage, AK 99508', '3201 Montpelier Ct Unit 09-J, Anchorage, AK 99503', '7141 Weimer Rd #3, Anchorage, AK 99502', '9725 Independence Dr Unit A103, Anchorage, AK 99507', '3102 Willow St Unit C, Anchorage, AK 99517', '1110 Cordova St #3, Anchorage, AK 99501', '333 M St #408, Anchorage, AK 99501', '2447 Duncanshire Pl, Anchorage, AK 99504', '211 McCarrey St Unit I-9B, Anchorage, AK 99508', '376 Skwentna Dr #87, Anchorage, AK 99504', '843 W 11th Ave #109, Anchorage, AK 99501', '3100 Ward Pl #31, Anchorage, AK 99517', '1430 Bridgeway St #9, Anchorage, AK 99501', '6915 Gemini Dr Unit A-2, Anchorage, AK 99504', '282 Crystal Mountain Rd Unit 101S, Girdwood, AK 99587', '2632 Glacier St Unit B7, Anchorage, AK 99508', '604 Ocean Pl #102, Anchorage, AK 99501', '11408 Conquistador Dr Unit C, Eagle River, AK 99577', '', '7061 Weimer St #3, Anchorage, AK 99502', '5569 Big Bear Way #22, Anchorage, AK 99504', '7005 Fairweather Dr #3, Anchorage, AK 99518', '8101 Peck Ave Unit C22, Anchorage, AK 99504', '8101 Peck Ave Unit C24, Anchorage, AK 99504', '8050 Pioneer Dr #1301, Anchorage, AK 99504', '237 Cook Inlet Loop Unit 2C, Anchorage, AK 99501', '316 Shageluk St, Anchorage, AK 99504', '318 Shageluk St, Anchorage, AK 99504', '6926 Fairweather Dr Unit 2-2-4, Anchorage, AK 99518', '11435 Discovery View Dr #64, Anchorage, AK 99515', '5701 Sapphire Loop, Anchorage, AK 99504', '9371 Blackberry #1, Anchorage, AK 99502', '275 Creekside St #4, Anchorage, AK 99504', '8050 Pioneer Dr #102, Anchorage, AK 99504', '4345 Constellation Dr #16, Anchorage, AK 99517', '2602 Curlew Cir, Anchorage, AK 99502', '10283 Jamestown Dr Unit i-803, Anchorage, AK 99507', '355 Donna Dr #5, Anchorage, AK 99504', '305 Donna Dr #21, Anchorage, AK 99504', '2200 Minerva Way Unit B3, Anchorage, AK 99515', '8101 Peck Ave Unit A1, Anchorage, AK 99504', '4530 Camila Ct Unit D, Anchorage, AK 99508', '3201 Montpelier Ct Unit 09-J, Anchorage, AK 99503', '7141 Weimer Rd #3, Anchorage, AK 99502', '9725 Independence Dr Unit A103, Anchorage, AK 99507', '3102 Willow St Unit C, Anchorage, AK 99517', '1110 Cordova St #3, Anchorage, AK 99501', '333 M St #408, Anchorage, AK 99501', '2447 Duncanshire Pl, Anchorage, AK 99504', '211 McCarrey St Unit I-9B, Anchorage, AK 99508', '376 Skwentna Dr #87, Anchorage, AK 99504', '843 W 11th Ave #109, Anchorage, AK 99501', '3100 Ward Pl #31, Anchorage, AK 99517', '1430 Bridgeway St #9, Anchorage, AK 99501', '6915 Gemini Dr Unit A-2, Anchorage, AK 99504', '282 Crystal Mountain Rd Unit 101S, Girdwood, AK 99587', '2632 Glacier St Unit B7, Anchorage, AK 99508', '604 Ocean Pl #102, Anchorage, AK 99501', '11408 Conquistador Dr Unit C, Eagle River, AK 99577']
123

In [77]:
price_name31=[]
## scraping price
start=0
end=3
for page in range(start,end):
    price_tag31 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag31:
        price_name31.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name31)

print(len(price_name31))

['', '$75,000', '$449,000', '$329,500', '$189,000', '$189,000', '$279,000', '$379,999', '$437,000', '$435,000', '$334,900', '$595,000', '$329,500', '$189,900', '$275,000', '$280,000', '$270,000', '$595,000', '$158,000', '$169,000', '$160,000', '$129,000', '$189,000', '$295,000', '$229,000', '$115,000', '$139,900', '$339,900', '$285,000', '$460,000', '$312,000', '$130,000', '$428,900', '$142,500', '$159,000', '$485,000', '$329,000', '$495,000', '$149,900', '$779,000', '$349,500', '', '$75,000', '$449,000', '$329,500', '$189,000', '$189,000', '$279,000', '$379,999', '$437,000', '$435,000', '$334,900', '$595,000', '$329,500', '$189,900', '$275,000', '$280,000', '$270,000', '$595,000', '$158,000', '$169,000', '$160,000', '$129,000', '$189,000', '$295,000', '$229,000', '$115,000', '$139,900', '$339,900', '$285,000', '$460,000', '$312,000', '$130,000', '$428,900', '$142,500', '$159,000', '$485,000', '$329,000', '$495,000', '$149,900', '$779,000', '$349,500', '', '$75,000', '$449,000', '$329,500', '$189,000', '$189,000', '$279,000', '$379,999', '$437,000', '$435,000', '$334,900', '$595,000', '$329,500', '$189,900', '$275,000', '$280,000', '$270,000', '$595,000', '$158,000', '$169,000', '$160,000', '$129,000', '$189,000', '$295,000', '$229,000', '$115,000', '$139,900', '$339,900', '$285,000', '$460,000', '$312,000', '$130,000', '$428,900', '$142,500', '$159,000', '$485,000', '$329,000', '$495,000', '$149,900', '$779,000', '$349,500']
123

In [78]:
beds_name31=[]
## scraping beds
start=0
end=3
for page in range(start,end):
    beds_tag31 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag31:
        beds_name31.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(beds_name31)

print(len(beds_name31))

['', '1 bed', '4 beds', '3 beds', '2 beds', '2 beds', '2 beds', '2 beds', '3 beds', '3 beds', '3 beds', '3 beds', '3 beds', '2 beds', '3 beds', '3 beds', '2 beds', '3 beds', '1 bed', '2 beds', '2 beds', '1 bed', '2 beds', '3 beds', '2 beds', '1 bed', '1 bed', '2 beds', '2 beds', '2 beds', '4 beds', '2 beds', '4 beds', '1 bed', '2 beds', '2 beds', '3 beds', '1 bed', '2 beds', '2 beds', '2 beds', '', '1 bed', '4 beds', '3 beds', '2 beds', '2 beds', '2 beds', '2 beds', '3 beds', '3 beds', '3 beds', '3 beds', '3 beds', '2 beds', '3 beds', '3 beds', '2 beds', '3 beds', '1 bed', '2 beds', '2 beds', '1 bed', '2 beds', '3 beds', '2 beds', '1 bed', '1 bed', '2 beds', '2 beds', '2 beds', '4 beds', '2 beds', '4 beds', '1 bed', '2 beds', '2 beds', '3 beds', '1 bed', '2 beds', '2 beds', '2 beds', '', '1 bed', '4 beds', '3 beds', '2 beds', '2 beds', '2 beds', '2 beds', '3 beds', '3 beds', '3 beds', '3 beds', '3 beds', '2 beds', '3 beds', '3 beds', '2 beds', '3 beds', '1 bed', '2 beds', '2 beds', '1 bed', '2 beds', '3 beds', '2 beds', '1 bed', '1 bed', '2 beds', '2 beds', '2 beds', '4 beds', '2 beds', '4 beds', '1 bed', '2 beds', '2 beds', '3 beds', '1 bed', '2 beds', '2 beds', '2 beds']
123

In [79]:
baths_name31=[]
## scraping baths
start=0
end=3
for page in range(start,end):
    baths_tag31 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag31:
        baths_name31.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(baths_name31)

print(len(baths_name31))

['', '1 bath', '3.5 baths', '2 baths', '1.5 baths', '1.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2 baths', '1 bath', '2 baths', '2.5 baths', '2 baths', '2.5 baths', '1 bath', '1 bath', '1 bath', '1 bath', '1.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '2.5 baths', '1 bath', '2.5 baths', '2 baths', '1 bath', '2.5 baths', '1 bath', '1 bath', '2.5 baths', '2.5 baths', '1 bath', '1 bath', '2 baths', '2 baths', '', '1 bath', '3.5 baths', '2 baths', '1.5 baths', '1.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2 baths', '1 bath', '2 baths', '2.5 baths', '2 baths', '2.5 baths', '1 bath', '1 bath', '1 bath', '1 bath', '1.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '2.5 baths', '1 bath', '2.5 baths', '2 baths', '1 bath', '2.5 baths', '1 bath', '1 bath', '2.5 baths', '2.5 baths', '1 bath', '1 bath', '2 baths', '2 baths', '', '1 bath', '3.5 baths', '2 baths', '1.5 baths', '1.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2.5 baths', '2 baths', '1 bath', '2 baths', '2.5 baths', '2 baths', '2.5 baths', '1 bath', '1 bath', '1 bath', '1 bath', '1.5 baths', '2 baths', '1 bath', '1 bath', '1 bath', '2.5 baths', '1 bath', '2.5 baths', '2 baths', '1 bath', '2.5 baths', '1 bath', '1 bath', '2.5 baths', '2.5 baths', '1 bath', '1 bath', '2 baths', '2 baths']
123

In [80]:
sqft_name31=[]
## scraping sqft
start=0
end=3
for page in range(start,end):
    sqft_tag31 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag31:
        sqft_name31.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name31)

print(len(price_name31))

['', '$75,000', '$449,000', '$329,500', '$189,000', '$189,000', '$279,000', '$379,999', '$437,000', '$435,000', '$334,900', '$595,000', '$329,500', '$189,900', '$275,000', '$280,000', '$270,000', '$595,000', '$158,000', '$169,000', '$160,000', '$129,000', '$189,000', '$295,000', '$229,000', '$115,000', '$139,900', '$339,900', '$285,000', '$460,000', '$312,000', '$130,000', '$428,900', '$142,500', '$159,000', '$485,000', '$329,000', '$495,000', '$149,900', '$779,000', '$349,500', '', '$75,000', '$449,000', '$329,500', '$189,000', '$189,000', '$279,000', '$379,999', '$437,000', '$435,000', '$334,900', '$595,000', '$329,500', '$189,900', '$275,000', '$280,000', '$270,000', '$595,000', '$158,000', '$169,000', '$160,000', '$129,000', '$189,000', '$295,000', '$229,000', '$115,000', '$139,900', '$339,900', '$285,000', '$460,000', '$312,000', '$130,000', '$428,900', '$142,500', '$159,000', '$485,000', '$329,000', '$495,000', '$149,900', '$779,000', '$349,500', '', '$75,000', '$449,000', '$329,500', '$189,000', '$189,000', '$279,000', '$379,999', '$437,000', '$435,000', '$334,900', '$595,000', '$329,500', '$189,900', '$275,000', '$280,000', '$270,000', '$595,000', '$158,000', '$169,000', '$160,000', '$129,000', '$189,000', '$295,000', '$229,000', '$115,000', '$139,900', '$339,900', '$285,000', '$460,000', '$312,000', '$130,000', '$428,900', '$142,500', '$159,000', '$485,000', '$329,000', '$495,000', '$149,900', '$779,000', '$349,500']
123

In [81]:
ppsqft_name31=[]
## scraping price per sqft
start=0
end=3
for page in range(start,end):
    ppsqft_tag31 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag31:
        ppsqft_name31.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    first_button.click()
print(price_name31)

print(len(price_name31))

['', '$75,000', '$449,000', '$329,500', '$189,000', '$189,000', '$279,000', '$379,999', '$437,000', '$435,000', '$334,900', '$595,000', '$329,500', '$189,900', '$275,000', '$280,000', '$270,000', '$595,000', '$158,000', '$169,000', '$160,000', '$129,000', '$189,000', '$295,000', '$229,000', '$115,000', '$139,900', '$339,900', '$285,000', '$460,000', '$312,000', '$130,000', '$428,900', '$142,500', '$159,000', '$485,000', '$329,000', '$495,000', '$149,900', '$779,000', '$349,500', '', '$75,000', '$449,000', '$329,500', '$189,000', '$189,000', '$279,000', '$379,999', '$437,000', '$435,000', '$334,900', '$595,000', '$329,500', '$189,900', '$275,000', '$280,000', '$270,000', '$595,000', '$158,000', '$169,000', '$160,000', '$129,000', '$189,000', '$295,000', '$229,000', '$115,000', '$139,900', '$339,900', '$285,000', '$460,000', '$312,000', '$130,000', '$428,900', '$142,500', '$159,000', '$485,000', '$329,000', '$495,000', '$149,900', '$779,000', '$349,500', '', '$75,000', '$449,000', '$329,500', '$189,000', '$189,000', '$279,000', '$379,999', '$437,000', '$435,000', '$334,900', '$595,000', '$329,500', '$189,900', '$275,000', '$280,000', '$270,000', '$595,000', '$158,000', '$169,000', '$160,000', '$129,000', '$189,000', '$295,000', '$229,000', '$115,000', '$139,900', '$339,900', '$285,000', '$460,000', '$312,000', '$130,000', '$428,900', '$142,500', '$159,000', '$485,000', '$329,000', '$495,000', '$149,900', '$779,000', '$349,500']
123

In [82]:
print(len(address_name31),len(price_name31),len(beds_name31),len(baths_name31),len(sqft_name31),len(ppsqft_name31))

123 123 123 123 123 123

In [83]:
import pandas as pd
df31=pd.DataFrame({'Address':address_name31,'Price':price_name31,'Beds':beds_name31,'Baths':baths_name31,'Total sqft':sqft_name31,'Price per sqft':ppsqft_name31})
df31

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,499,$150
1,"7061 Weimer St #3, Anchorage, AK 99502","$75,000",1 bed,1 bath,"2,142",$210
2,"5569 Big Bear Way #22, Anchorage, AK 99504","$449,000",4 beds,3.5 baths,"1,496",$220
3,"7005 Fairweather Dr #3, Anchorage, AK 99518","$329,500",3 beds,2 baths,990,$191
4,"8101 Peck Ave Unit C22, Anchorage, AK 99504","$189,000",2 beds,1.5 baths,990,$191
...,...,...,...,...,...,...
118,"6915 Gemini Dr Unit A-2, Anchorage, AK 99504","$329,000",3 beds,2.5 baths,480,"$1,031"
119,"282 Crystal Mountain Rd Unit 101S, Girdwood, A...","$495,000",1 bed,1 bath,787,$190
120,"2632 Glacier St Unit B7, Anchorage, AK 99508","$149,900",2 beds,1 bath,"1,212",$643
121,"604 Ocean Pl #102, Anchorage, AK 99501","$779,000",2 beds,2 baths,"1,276",$274
122,"11408 Conquistador Dr Unit C, Eagle River, AK ...","$349,500",2 beds,2 baths,"1,276",$242

In [84]:
df31.to_csv('file31.csv')

In [386]:
address_name9=[]
price_name9=[]
beds_name9=[]
baths_name9=[]
sqft_name9=[]
ppsqft_name9=[]

In [387]:
address_name9=[]
## scraping address
start=4
end=6
for page in range(start,end):
    address_tag9 = driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
    for i in address_tag9:
        address_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    #first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
    #first_button.click()

#print(address_name9)

#print(len(address_name9))

In [388]:
first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
first_button.click()

In [389]:
print(address_name9)

print(len(address_name9))

['', '2240 W Berridge Ln, Phoenix, AZ 85015', '3107 S 74th Ln, Phoenix, AZ 85043', '2434 E Cathedral Rock Dr, Phoenix, AZ 85048', '3434 E Baseline Rd #259, Phoenix, AZ 85042', '6502 N Central Ave Unit B103, Phoenix, AZ 85012', '10042 N 25th St, Phoenix, AZ 85028', '303 E South Mountain Ave #60, Phoenix, AZ 85042', '6334 W Latona Rd, Laveen, AZ 85339', '2230 E Belmont Ave, Phoenix, AZ 85020', '1045 E Cloud Rd, Phoenix, AZ 85086', '9020 W Highland Ave #111, Phoenix, AZ 85037', '8050 N 11th Pl, Phoenix, AZ 85020', '2410 N 40th Street St, Phoenix, AZ 85008', '4142 W Wagon Wheel Dr, Phoenix, AZ 85051', '3201 E Nisbet Rd, Phoenix, AZ 85032', '4706 E Piedmont Rd, Phoenix, AZ 85044', '16849 N 38th Ln, Phoenix, AZ 85053', '1326 N Central Ave #413, Phoenix, AZ 85004', '41432 N Bent Creek Way, Phoenix, AZ 85086', '6404 W Prickly Pear Trl, Phoenix, AZ 85083', '3429 E Poinsettia Dr, Phoenix, AZ 85028', '8821 W Albeniz Pl, Tolleson, AZ 85353', '10814 N 16 Ave, Phoenix, AZ 85029', '1542 W Sahuaro Dr, Phoenix, AZ 85029', '2415 E Cochise Rd, Phoenix, AZ 85028', '2929 W Yorkshire Dr #1085, Phoenix, AZ 85027', '1705 W Mackenzie Dr, Phoenix, AZ 85015', '6002 N 42nd Ave, Phoenix, AZ 85019', '1010 E Pierson St, Phoenix, AZ 85014', '38718 N 24th Ave, Phoenix, AZ 85086', '19802 N 32nd St #65, Phoenix, AZ 85050', '3338 E Briarwood Ter, Phoenix, AZ 85048', '35408 N 33rd Dr N, Phoenix, AZ 85086', '7101 N 36th Ave #104, Phoenix, AZ 85051', '115 N 33rd Ave, Phoenix, AZ 85009', '36133 N 24th Ave, Phoenix, AZ 85086', '4850 E Desert Cove Ave #136, Scottsdale, AZ 85254', '6331 E Phoenician Blvd #2, Scottsdale, AZ 85251', '3031 E Cholla St, Phoenix, AZ 85028', '6900 E Princess Dr #1145, Phoenix, AZ 85054', '', '3032 E Darrow St, Phoenix, AZ 85042', '101 N 7th St #241, Phoenix, AZ 85034', '2020 E Vista Dr, Phoenix, AZ 85022', '20401 N 6th Dr #6, Phoenix, AZ 85027', '27413 N 23rd Dr, Phoenix, AZ 85085', '9121 W Kirby Ave, Tolleson, AZ 85353', '323 E Belmont Ave, Phoenix, AZ 85020', '7330 N 44th Dr, Glendale, AZ 85301', '1624 E Campbell Ave #51, Phoenix, AZ 85016', '29606 N Tatum Blvd #106, Cave Creek, AZ 85331', '4901 E Winchcomb Dr, Scottsdale, AZ 85254', '9638 N 12th Ave Unit 1 & 2, Phoenix, AZ 85021', '2816 E Mercer Ln, Phoenix, AZ 85028', '21601 N 43rd Pl, Phoenix, AZ 85050', '3200 N 39th St #29, Phoenix, AZ 85018', '615 W Frier Dr, Phoenix, AZ 85021', '6715 N 12th Pl, Phoenix, AZ 85014', '8214 S 47th Ave, Laveen, AZ 85339', '4044 W Mesquite Ln, Phoenix, AZ 85019', '5104 N 32nd St #410, Phoenix, AZ 85018', '6743 N 9th Dr, Phoenix, AZ 85013', '3737 W Woodridge Dr, Glendale, AZ 85308', '1955 E Clubhouse Dr, Phoenix, AZ 85048', '6502 E Blanche Dr, Scottsdale, AZ 85254', '15229 N 25th Dr #1, Phoenix, AZ 85023', '26326 N 24th Gln, Phoenix, AZ 85085', '6738 N 9th Dr, Phoenix, AZ 85013', '3619 S 9th St, Phoenix, AZ 85040', '4032 N 11th Ave, Phoenix, AZ 85013', '4016 N 13th Ave, Phoenix, AZ 85013', '6205 W Holly St, Phoenix, AZ 85035', '5401 E Van Buren St #1006, Phoenix, AZ 85008', '14634 N 38th Way, Phoenix, AZ 85032', '11009 W Elm St, Phoenix, AZ 85037', '19202 N 47th Ave N, Glendale, AZ 85308', '3605 W Bethany Home Rd #2, Phoenix, AZ 85019', '6602 E Corrine Dr, Scottsdale, AZ 85254', '1219 E Silverwood Dr, Phoenix, AZ 85048', '17818 N 45th Ave, Glendale, AZ 85308', '4029 N 75th Dr, Phoenix, AZ 85033']
82

In [390]:
price_name20=[]
## scraping price
start=4
end=6
for page in range(start,end):
    price_tag20 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
    for i in price_tag20:
        price_name20.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    
print(price_name20)

print(len(price_name20))

['', '$480,000', '$440,000', '$535,000', '$289,950', '$595,000', '$820,000', '$100,000', '$539,995', '$1,575,000', '$1,200,000', '$235,000', '$535,000', '$629,000', '$317,900', '$355,000', '$420,000', '$499,900', '$745,000', '$510,000', '$467,000', '$685,000', '$409,280', '$899,500', '$899,500', '$875,000', '$181,000', '$399,950', '$450,000', '$1,050,000', '$1,250,000', '$105,000', '$685,250', '$650,000', '$194,900', '$365,000', '$3,250,000', '$415,000', '$4,150,000', '$715,900', '$423,500', '', '$360,000', '$424,900', '$519,000', '$278,900', '$579,900', '$410,000', '$1,200,000', '$272,000', '$274,900', '$365,000', '$715,000', '$410,000', '$600,000', '$715,000', '$679,000', '$875,000', '$679,500', '$450,000', '$224,999', '$379,900', '$1,029,715', '$469,999', '$1,100,000', '$979,000', '$375,000', '$682,275', '$997,914', '$490,000', '$539,000', '$539,000', '$350,000', '$284,000', '$559,900', '$449,000', '$425,000', '$219,400', '$1,850,000', '$485,000', '$340,000', '$374,900']
82

In [391]:
first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
first_button.click()

In [392]:
beds_name9=[]
## scraping beds
start=4
end=6
for page in range(start,end):
    beds_tag9 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
    for i in beds_tag9:
        beds_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    
print(beds_name9)

print(len(beds_name9))

['', '4 beds', '3 beds', '4 beds', '2 beds', '2 beds', '3 beds', '2 beds', '5 beds', '3 beds', '4 beds', '2 beds', '4 beds', '3 beds', '3 beds', '2 beds', '2 beds', '3 beds', '2 beds', '3 beds', '3 beds', '4 beds', '4 beds', '— beds', '— beds', '4 beds', '1 bed', '4 beds', '5 beds', '4 beds', '4 beds', '2 beds', '3 beds', '5 beds', '2 beds', '3 beds', '4 beds', '2 beds', '3 beds', '3 beds', '3 beds', '', '3 beds', '2 beds', '3 beds', '2 beds', '3 beds', '4 beds', '4 beds', '2 beds', '3 beds', '2 beds', '3 beds', '5 beds', '3 beds', '3 beds', '3 beds', '4 beds', '3 beds', '4 beds', '3 beds', '1 bed', '3 beds', '3 beds', '4 beds', '3 beds', '4 beds', '4 beds', '4 beds', '3 beds', '3 beds', '5 beds', '3 beds', '2 beds', '3 beds', '4 beds', '3 beds', '3 beds', '4 beds', '3 beds', '3 beds', '4 beds']
82

In [393]:
first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
first_button.click()

In [394]:
baths_name9=[]
## scraping baths
start=4
end=6
for page in range(start,end):
    baths_tag9 = driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
    for i in baths_tag9:
        baths_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    
print(baths_name9)

print(len(baths_name9))

['', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '1 bath', '3 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '1 bath', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '— baths', '— baths', '2 baths', '1 bath', '3 baths', '3 baths', '3 baths', '3.5 baths', '2 baths', '3 baths', '3 baths', '2 baths', '1 bath', '4.5 baths', '2 baths', '3.5 baths', '2 baths', '2 baths', '', '2.5 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '3.5 baths', '1.5 baths', '1.75 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2 baths', '2.5 baths', '3 baths', '2 baths', '2 baths', '1 bath', '1 bath', '2.5 baths', '2 baths', '3 baths', '2 baths', '2 baths', '3.5 baths', '3.5 baths', '1 bath', '2.5 baths', '3 baths', '2 baths', '2 baths', '2 baths', '2.5 baths', '2 baths', '1.5 baths', '4 baths', '2 baths', '2 baths', '2 baths']
82

In [395]:
first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
first_button.click()

In [396]:
table=driver.find_element(By.XPATH,"/html/body/div[1]/div[8]/div[1]/div[2]/div[1]/div[2]/div/div/div/div[2]/div[2]/ul/li[2]/span")
table.click()

In [397]:
sqft_name9=[]
## scraping sqft
start=4
end=6
for page in range(start,end):
    sqft_tag9 = driver.find_elements(By.XPATH,'//td[@class="column column_6 col_sqft"]')
    for i in sqft_tag9:
        sqft_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    
print(sqft_name9)

print(len(sqft_name9))

['1,843', '1,907', '1,817', '944', '1,444', '2,250', '896', '2,689', '2,313', '2,874', '803', '1,900', '1,999', '1,178', '854', '1,195', '1,829', '1,491', '2,082', '1,571', '2,112', '1,633', '—', '—', '2,284', '616', '2,325', '2,339', '2,611', '2,926', '784', '2,371', '2,958', '1,024', '1,531', '5,249', '1,059', '3,325', '1,769', '1,093', '1,762', '1,538', '1,259', '1,261', '863', '2,313', '2,146', '2,472', '908', '1,216', '1,056', '1,657', '—', '1,650', '1,963', '1,942', '2,496', '2,045', '2,270', '1,005', '1,069', '2,695', '1,790', '2,980', '1,994', '1,609', '2,511', '2,625', '825', '2,501', '2,798', '1,209', '995', '1,627', '2,284', '1,358', '1,200', '3,580', '1,448', '1,256', '1,680', '1,762']
82

In [398]:
first_button=driver.find_element(By.XPATH,'//a[@class="bp-Button PageNumbers__page Pagination__button bp-Button__type--ghost bp-Button__size--compact"]')
first_button.click()

In [399]:
ppsqft_name9=[]
## scraping price per sqft
start=4
end=6
for page in range(start,end):
    ppsqft_tag9 = driver.find_elements(By.XPATH,'//td[@class="column column_7 col_ppsqft"]')
    for i in ppsqft_tag9:
        ppsqft_name9.append(i.text)
    next_button=driver.find_element(By.XPATH,'//button[@class="bp-Button PageArrow clickable Pagination__button PageArrow__direction--next bp-Button__type--ghost bp-Button__size--compact bp-Button__icon-only"]')
    next_button.click()
    time.sleep(3)
    
print(ppsqft_name9)

print(len(ppsqft_name9))

['$260', '$231', '$294', '$307', '$412', '$364', '$112', '$201', '$681', '$418', '$293', '$282', '$315', '$270', '$416', '$351', '$273', '$500', '$245', '$297', '$324', '$251', '—', '—', '$383', '$294', '$172', '$192', '$402', '$427', '$134', '$289', '$220', '$190', '$238', '$619', '$392', '$1,248', '$405', '$387', '$293', '$234', '$337', '$412', '$323', '$251', '$191', '$485', '$300', '$226', '$346', '$432', '—', '$364', '$364', '$350', '$351', '$332', '$198', '$224', '$355', '$382', '$263', '$369', '$491', '$233', '$272', '$380', '$594', '$216', '$193', '$289', '$285', '$344', '$197', '$313', '$183', '$517', '$335', '$271', '$223', '$293']
82

In [400]:
print(len(address_name9),len(price_name20),len(beds_name9),len(baths_name9),len(sqft_name9),len(ppsqft_name9))

82 82 82 82 82 82

In [151]:
#del ppsqft_name9[120:123]

In [401]:
import pandas as pd
df51=pd.DataFrame({'Address':address_name9,'Price':price_name20,'Beds':beds_name9,'Baths':baths_name9,'Total sqft':sqft_name9,'Price per sqft':ppsqft_name9})
df51

,Address,Price,Beds,Baths,Total sqft,Price per sqft
0,,,,,"1,843",$260
1,"2240 W Berridge Ln, Phoenix, AZ 85015","$480,000",4 beds,2 baths,"1,907",$231
2,"3107 S 74th Ln, Phoenix, AZ 85043","$440,000",3 beds,2 baths,"1,817",$294
3,"2434 E Cathedral Rock Dr, Phoenix, AZ 85048","$535,000",4 beds,2 baths,944,$307
4,"3434 E Baseline Rd #259, Phoenix, AZ 85042","$289,950",2 beds,2 baths,"1,444",$412
...,...,...,...,...,...,...
77,"3605 W Bethany Home Rd #2, Phoenix, AZ 85019","$219,400",3 beds,1.5 baths,"3,580",$517
78,"6602 E Corrine Dr, Scottsdale, AZ 85254","$1,850,000",4 beds,4 baths,"1,448",$335
79,"1219 E Silverwood Dr, Phoenix, AZ 85048","$485,000",3 beds,2 baths,"1,256",$271
80,"17818 N 45th Ave, Glendale, AZ 85308","$340,000",3 beds,2 baths,"1,680",$223
81,"4029 N 75th Dr, Phoenix, AZ 85033","$374,900",4 beds,2 baths,"1,762",$293

In [402]:
df51.to_csv('file51.csv')

In [14]:
import pandas as pd
df=pd.read_csv("C:/Users/Kirti/Flip robo/1 capstone data/real_estate_data.csv",encoding='latin1')

In [15]:
df

,Srno,Address,buy total price,buy total price(inr),Unnamed: 4,Baths,Carpet Area,Price per sqft,Property Type,Balcony,City,Status,car parking,Type of ownership,Facing,Booking amount,BHK Type,Year Built,floor,Furnishing Status
0,1,"1813 24th Ave Unit A, Seattle, WA 98122","5,35,000","4,44,69,200",2,2,889,602,Home,1,"Seattle, WA",ready,yes,individual,east,1000,1,2008,3,Semi furnished
1,2,"9518 Interlake Ave N, Seattle, WA 98103","8,50,000","7,06,52,000",3,2,"1,225",694,Home,1,"Seattle, WA",ready,yes,individual,east,1000,1,2008,3,Semi furnished
2,3,"1817 24th Ave Unit A, Seattle, WA 98122","7,80,000","6,48,33,600",3,3,"1,470",531,Home,1,"Seattle, WA",ready,yes,individual,east,1000,1,2008,3,Semi furnished
3,4,"2206 28th Ave W, Seattle, WA 98199","4,25,000","3,53,26,000",3,1,958,583,Home,1,"Seattle, WA",ready,yes,individual,east,1000,1,2008,3,Semi furnished
4,5,"912 Martin Luther King Jr Way S, Seattle, WA 9...","4,88,500","4,06,04,120",2,1,729,760,Home,1,"Seattle, WA",ready,yes,individual,east,1000,1,2008,3,Semi furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3166,3167,"3605 W Bethany Home Rd #2, Phoenix, AZ 85019","2,19,400","1,82,36,528",3,1.5,"3,580",517,home,2,NaN,ready,no,individual,east,5550,2,2015,6,fully furnished
3167,3168,"6602 E Corrine Dr, Scottsdale, AZ 85254","18,50,000","15,37,72,000",4,4,"1,448",335,home,2,NaN,ready,no,individual,east,5551,2,2015,6,fully furnished
3168,3169,"1219 E Silverwood Dr, Phoenix, AZ 85048","4,85,000","4,03,13,200",3,2,"1,256",271,home,2,NaN,ready,no,individual,east,5552,2,2015,6,fully furnished
3169,3170,"17818 N 45th Ave, Glendale, AZ 85308","3,40,000","2,82,60,800",3,2,"1,680",223,home,2,NaN,ready,no,individual,east,5553,2,2015,6,fully furnished
3170,3171,"4029 N 75th Dr, Phoenix, AZ 85033","3,74,900","3,11,61,688",4,2,"1,762",293,home,1,NaN,ready,no,individual,east,5554,2,2015,6,fully furnished

In [16]:
df.tail(5)

,Srno,Address,buy total price,buy total price(inr),Unnamed: 4,Baths,Carpet Area,Price per sqft,Property Type,Balcony,City,Status,car parking,Type of ownership,Facing,Booking amount,BHK Type,Year Built,floor,Furnishing Status
3166,3167,"3605 W Bethany Home Rd #2, Phoenix, AZ 85019","2,19,400","1,82,36,528",3,1.5,"3,580",517,home,2,NaN,ready,no,individual,east,5550,2,2015,6,fully furnished
3167,3168,"6602 E Corrine Dr, Scottsdale, AZ 85254","18,50,000","15,37,72,000",4,4,"1,448",335,home,2,NaN,ready,no,individual,east,5551,2,2015,6,fully furnished
3168,3169,"1219 E Silverwood Dr, Phoenix, AZ 85048","4,85,000","4,03,13,200",3,2,"1,256",271,home,2,NaN,ready,no,individual,east,5552,2,2015,6,fully furnished
3169,3170,"17818 N 45th Ave, Glendale, AZ 85308","3,40,000","2,82,60,800",3,2,"1,680",223,home,2,NaN,ready,no,individual,east,5553,2,2015,6,fully furnished
3170,3171,"4029 N 75th Dr, Phoenix, AZ 85033","3,74,900","3,11,61,688",4,2,"1,762",293,home,1,NaN,ready,no,individual,east,5554,2,2015,6,fully furnished